<div class="sidenav">
	<a href='/portal/inventory' class="sidenav-element{% if portal_inventory %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-tasks"></span></p>
			<p>Inventory</p>
		</div>
	</a><!--
	--><a href='/portal/product' class="sidenav-element{% if portal_product %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-th-large"></span></p>
			<p>Products</p>
		</div>
	</a><!--
	--><a href='/portal/purchases' class="sidenav-element{% if portal_purchases %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-usd"></span><span class="label label-danger">1</span></p>
			<p>Purchases</p>
		</div>
	</a><!--
	--><a href='/portal/questions' class="sidenav-element{% if portal_questions %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-question-sign"></span></p>
			<p>Questions</p>
		</div>
	</a><!--
	--><a href='/portal/reviews' class="sidenav-element{% if portal_reviews %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-edit"></span></p>
			<p>Reviews</p>
		</div>
	</a><!--
	--><a href='/portal/promotions' class="sidenav-element{% if portal_promotions %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-gift"></span></p>
			<p>Promotions</p>
		</div>
	</a><!--
	--><a href='/portal/analytics' class="sidenav-element{% if portal_analytics %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-stats"></span></p>
			<p>Analytics</p>
		</div>
	</a><!--
	--><a href='/portal/account' class="sidenav-element{% if portal_account %} active{% endif %}">
		<div>
			<p class="glyph"><span class="glyphicon glyphicon-cog"></span></p>
			<p>Account</p>
		</div>
	</a>
</div>

