{% extends 'sellerportal/base.html' %}
{% load dollars %}
{% block seller_css %}
<style>

#listing-table td {
	vertical-align:top;
}
</style>
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/plugins/jquery.tablesorter.min.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
  $("#listing-table").tablesorter();
  $('.tooltip-p').tooltip({
    delay: { show: 100, hide: 100}
  });

});
</script>
{% endblock %}
{% block content %}
<div class="intro-box-container">
	<div class="intro-box">
		<div class="intro-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -280px 0' ></div>
		<h3 class="page-title">Your Sales<div class="gradient"></div></h3>
		<div class="links">

		</div>
	</div>
</div>
<div class="table-responseive listing-table-container">
	<table id="listing-table" class="table table-striped tablesorter">
		<thead>
			<th><p>Status</p></th>
			<th><p>Order Details</p></th>
			<th><p>Buyer</p></th>
			<th><p>Order Total</p></th>
			<th class="center"><p>Details / Update</p></th>
		</thead>
		<tbody>
					<tr>
						<td>
							<strong style="color:orange">Pending Shipment</strong>
						</td>
						<td>
							<p><strong>Order ID:</strong> #9221-231</p>
							<p><strong>Date:</strong> May 20, 2013 at 2:33PM</p>
						</td>
						<td>
							<p><strong>ID:</strong> 2033-4324</p>
							<p>Dr. Eric Kates, Colts Neck Equine</p>
						</td>
						<td class="bold">
							$30.53
						</td>
						<td class="center">
							<a href="/portal/purchase/1" class="edit button button-rounded button-flat button-flat-royal button-tiny">Details & Update</a>
						</td>
					</tr>
					<tr>
						<td>
							<strong style="color:#36b961">Complete</strong>
						</td>
						<td>
							<p><strong>Order ID:</strong> #9221-232</p>
							<p><strong>Date:</strong> May 23, 2013 at 2:33PM</p>
						</td>
						<td>
							<p><strong>ID:</strong> 2033-4324</p>
							<p>Dr. William Boyrsed, Midvalley Equine</p>
						</td>
						<td class="bold">
							$184.32
						</td>
						<td class="center">
							<a href="/portal/purchase/1" class="edit button button-rounded button-flat button-flat-royal button-tiny">Details & Update</a>
						</td>
					</tr>
		</tbody>
	</table>
</div>
{% endblock %}