{% extends 'account/sign/sign_base.html' %}
{% block sign_css %}
<style>
.newaccount-header {
	text-align: center;
	margin-bottom: 35px;
}
.signup-info .feature {
	margin: 0px 10px 60px 10px;
	padding: 10px;
	border-right: 3px solid #ddd;
}
.signup-info .feature .testimonial {
	font-size: 13px;
	color: #333;
	font-weight:normal;
	text-align: right;
}
.signup-info .feature.one {
	border-right-color: #f78b26;
}
.signup-info .feature.two {
	border-right-color: #fa5559;
}
.signup-info .feature.three {
	border-right-color: #00a885;
}
.signup-info .feature.four {
	border-right-color: #6bc5ea;
}
.signup-info .feature h6 {
	font-weight: bold;
	text-align: right;
	color: #333;
	font-size: 13px;
}
.checkboxes .checkbox {
	width: 49%;
	display:inline-block;
	vertical-align: bottom;
}
/*Progress Bar */
.progress-meter {
	border:1px solid transparent;
	position:relative;
}
.progress-meter .step-container {
	width: 25%;
	float: left;
}
.progress-meter .step {
	margin: 5px;
	color: #666;
	padding: 3px;
	text-align: center;
	border-radius: 3px;
	background: #eee;
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%, #DDDDDD 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%, #DDDDDD 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.8, #EEEEEE), color-stop(1, #DDDDDD));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%, #DDDDDD 100%); 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 80%, #DDDDDD 100%);
	border:1px solid #ddd;
	opacity: .3;
}
.progress-meter .step.active {
	opacity: 1;
}
.progress-meter .step:not(.active) span {
	display:none;
}
.progress-meter .step span {
	color: #27AE60;
}
</style>
{% endblock %}

{% block sign_js %}
<script>
$(document).ready(function(){
	$("#newaccountform").formValidator();
});
</script>
{% endblock %}
{% block sign_content %}
<form id="newaccountform" class="form" action='/newaccountform' method="POST">{% csrf_token %}
	<div class="signupdiv row">
		<div class="progress-meter">
			<div class="step-container">
				<div class="step active">
					<span class="glyphicon glyphicon-ok"></span> 1. Basic Details
				</div>
			</div>
			<div class="step-container">
				<div class="step">
					<span class="glyphicon glyphicon-ok"></span> 2. Contact Information
				</div>
			</div>
			<div class="step-container">
				<div class="step">
					<span class="glyphicon glyphicon-ok"></span> 3. Paperwork
				</div>
			</div>
			<div class="step-container">
				<div class="step">
					<span class="glyphicon glyphicon-ok"></span> 4. Terms of Use
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-12 newaccount-header">
			<h3>Welcome To VetCove!</h3>
			<h4>We just need a couple pieces of information</h4>
		</div>
		<div class="col-md-8 signup-form">
			<div class="form-group status-group">
				<p>Primary Practitioner Name<span class="error">Required</span></p>
				<input data-type="text" data-required="true" name="primary_practitioner" class="form-control" type="text" placeholder="Practitioner Name">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="form-group status-group">
				<p>Clinic Name<span class="error">Required</span></p>
				<input data-type="text" data-required="true" name="clinic_name" class="form-control" type="text" placeholder="Clinic Name">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="form-group status-group">
				<p>Clinic Website URL (if applicable)</p>
				<input data-type="text" data-required="false" name="url" class="form-control" type="text" placeholder="Clinic Website URL">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<!-- <div class="form-group status-group">
				<p>Clinic Address (Street Address, P.O. Box)<span class="error">Required</span></p>
				<input data-type="text" data-required="true" name="address_one" class="form-control" type="text" placeholder="Street Address, P.O. Box, Company Name, C/O">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="form-group status-group">
				<p>Clinic Address (Apartment, Suite, Unit, Building, Floor, etc.)</p>
				<input data-type="text" data-required="false" name="address_two" class="form-control" type="text" placeholder="Apartment, Suite, Unit, Building, Floor, etc.">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="form-group status-group">
					<p>City<span class="error">Required</span></p>
					<input data-type="text" data-required="true" name="city" class="form-control" type="text" placeholder="City">
					<div class="status">
						<span class="glyphicon glyphicon-ok"></span>
						<span class="glyphicon glyphicon-remove"></span>
					</div>
				</div>
			<div class="inline">
				<div class="form-group status-group first-group">
					<p>State<span class="error">Required</span></p>
					<select name="state" class="form-control">
						<option>New Jersey</option>
						<option>New York</option>
						<option>Kentucky</option>
					</select>
				</div><div class="form-group status-group">
					<p>Zipccode / Postal Code<span class="error">Required</span></p>
					<input data-type="text" data-required="true" name="zipcode" class="form-control" type="text" placeholder="Zipcode">
					<div class="status">
						<span class="glyphicon glyphicon-ok"></span>
						<span class="glyphicon glyphicon-remove"></span>
					</div>
				</div>
			</div>
			<div class="form-group status-group">
				<p>Phone Number<span class="error">Required</span></p>
				<input data-type="phonenumber" data-required="true" name="phonenumber" class="form-control" type="text" placeholder="Phone Number">
				<div class="status">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div> -->
			<div class="form-group status-group">
				<p>Type of Organization</p>
				<select name="organization_type" class="form-control">
					<option>Individual</option>
					<option>LLC</option>
					<option>Personal</option>
					<option>Sole-Proprietor</option>
					<option>Non-Profit</option>
					<option>Corporation</option>
					<option>Partnership</option>
				</select>
			</div>
			<div class="form-group status-group">
				<p>Group Purchasing Organizations (Check all that apply, we verify with the GPOs)</p>
				<div class="checkboxes">
					{% for gpo in gpos %}
					<div class="checkbox">
						<label>
							<input name="gpo_{{gpo.name}}" type="checkbox">{{gpo.name}}
						</label>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="form-group status-group">
				<p>Practice Type (check all that apply)</p>
				<div class="checkboxes">
					<div class="checkbox">
						<label>
							<input name="large_animal" type="checkbox">Large Animal
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="small_animal" type="checkbox">Small Animal
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="equine" type="checkbox">Equine
						</label>
					</div>
				</div>
			</div>
			<!-- <div class="form-group status-group">
				<p>Terms and Conditions</p>
				<label>
					<input data-type="checkbox" data-required="true" name="terms" type="checkbox" checked> I agree to the <a href='#' target="_blank">terms and conditions</a>
				</label>
			</div> -->
		</div>
		<div class="col-md-4 signup-info">
			<div class="feature one">
				<h6>Helpful Tip #23</h6>
				<p class="testimonial">
					VetCove can be used to both buy AND sell used equipment directly from veterinarians
				</p>
			</div>
			<div class="feature two">
				<h6>Helpful Tip #42</h6>
				<p class="testimonial">
					You can ship orders directly to clients in one click 
				</p>
			</div>
			<div class="feature three">
				<h6>Helpful Tip #58</h6>
				<p class="testimonial">
					VetCove aggregates blood suppliers so you can order blood tests right online
				</p>
			</div>
			<!-- <div class="feature four">
				<p class="testimonial">VetCove is so easy to use on any device, so I can place an order right from my iPad or phone</p>
				<h6>Dr. Carl Nagle | Colts Neck Equine</h6>
			</div> -->
		</div>
	</div>
	<div class="signup-progress">
		<div class="back form-error">
			<p>There are still incomplete fields on this form</p>
		</div>
		<div class="next">
			<button class="button button-primary button-rounded">Complete Sign Up</button>
		</div>
	</div>
</form>
{% endblock %}