{% extends 'base/base.html' %}
{% block css %}
<style>
/* General Sign Formatting */
body {
	margin: 0;
	padding: 0;
	background: #fafafa;
	background-image: -moz-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-image: -ms-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-image: -moz-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-image: -o-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E8F4FC), color-stop(0.5, #F5F2FF), color-stop(1, #F2FAF0));
	background-image: -webkit-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-image: linear-gradient(to right, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);
	background-attachment: fixed;
}
#sign-container {
	margin: 40px auto 40px auto;
	max-width: 800px;
}
#sign-container .logodiv {
	text-align: center;
	margin-bottom: 30px;
}
#sign-container .logodiv a img{
	max-width: 230px;
}
.topcolor {
	background: #5ecadf;
	height: 5px;
	border:1px solid #aaa;
	border-bottom: none;
}
.sign-container {
	background: white;
	border:1px solid #ccc;
	border-top: none;
}
.sign-container h3 {
	font-weight: 400;
	margin-bottom: 5px;
}
.sign-container h4 {
	font-size: 13px;
	margin-top: 0;
}
.sign-container h4 a:hover {
	text-decoration: underline;
}
/* Sign Progress Bar (on bottom) */
.sign-progress {
	background: #eee;
	background-image: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
	height: 70px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position:relative;
}
.sign-progress .next {
	position:absolute;
	right: 20px;
	top: 15px;
}
.sign-progress .previous {
	position:absolute;
	left: 20px;
	top: 15px;
}
.sign-progress .form-error {
	position:absolute;
	left: 30px;
	top: 20px;
	display:none;
}
.sign-progress .form-error p {
	color: red;
	font-weight: 800;
}
/* Password Forget */
.sign-container .forgotpassword {
	font-size: 12px;
	text-align: right;
	margin-top: -10px;
}
.sign-container .forgotpassword a:hover {
	text-decoration: underline;
}

/*Two Column Formatting */
.sign-container .sign-form {
	border-right:1px solid #eee;
	padding-bottom: 25px;
}
.sign-info {
	padding-top: 25px;
	text-align: center;
}
.sign-info .feature {
	margin-bottom: 40px;
}
.sign-info .feature h5 {
	font-size: 40px;
}
.sign-info .feature h6 {
	font-weight: 200;
	color: #777;
	font-size: 13px;
}
.sign-info .feature img {
	width: 160px;
	max-width: 100%;
}
.sign-info p {
	text-align: center;
	color: #888;
	font-size: 15px;
	font-weight: 200;
}
.sign-info .feature .feature-explain {
	font-size: 12px;
	font-weight: normal;
}

/* Specific Form Formatting */

</style>
{% block sign_css %}{% endblock %}
{% endblock %}

{% block body_content %}
<div id="sign-container">
	<div class="logodiv">
		<a href='/'><img src="{{STATIC_URL}}img/logo/paw_logo.png" alt='VetCove'></a>
	</div>
	<div class="topcolor"></div>
	{% block sign_content %}
	
	{% endblock %}
</div>
{% endblock %}

{% block main_js %}{% endblock %}
{% block js %}
<script src="{{STATIC_URL}}js/basic/form.js" type="text/javascript" ></script>
{% block sign_js %}{% endblock %}
{% endblock %}
