{% extends 'item/item_base.html' %}
{% block headertitle %}<title>VetCove | Item Details</title>{% endblock%}
{% block customcss %}
<style>
/*Quality Box */
.qualitybox {
	padding-bottom: 20px;
	margin-top: 15px;
}
.qualitybox .qualitydescription {
	background: #f4f4f4;
	border:2px solid #ddd;
	border-radius: 6px;
	width: 96%;
	color: #555;
	margin: 0 auto;
	font-size: 12px;
	font-weight: 200;
	padding: 5px 10px;
	position: relative;
	z-index: 0;
}
.qualitybox .qualitydescription p {
	font-size: 12px;
}
.qualitybox .qualitydescription span {
	font-weight: bold;
}
.qualitybox .downarrow {
	width: 30px;
	background-image: url("{{STATIC_URL}}img/uparrow.png");
	height: 14px;
	margin-left: 0%;
	margin-bottom: -2px;
	position: relative;
	z-index: 10;
	
}
.qualitybox .selectors {
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

.qualitybox .selectors div {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}
.qualitybox .selectors .qualitynumber p {
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	margin: 0 0%;
	color: #333;
	font-weight: 200;
	font-size: 13px;
}
.qualitybox .right-rounded {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.qualitybox .left-rounded {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
@media (max-width: 768px) {
	.qualitybox .selectors div {
		display:block;
	}
	.qualitybox .selectors .qualitynumber {
		padding-bottom: 5px;
	}
	.qualitybox .selectors .qualitynumber p {
		line-height: 40px;
		border-bottom: 1px solid #aaa;

	}
}
.quality-active {
	background: #00B5E5;
	background-image: -ms-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -moz-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -o-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00B5E5), color-stop(1, #008DB2));
	background-image: -webkit-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: linear-gradient(to bottom, #00B5E5 0%, #008DB2 100%);
}
.qualitybox .selectors .quality-active p {
	color: #fff;
}
.qualitybox .selectors   {
	background: #ddd;
	margin: 0 18px;
	border-radius: 4px;
}

.qualitybox .selectors .qualitynumber {
	height: 40px;
	border-left:2px solid #bbb;
}
.qualitybox .selectors .noborder {
	border:none;
}
.qualitybox .selectors .qualitynumber:hover {
	cursor: pointer;
	opacity: 1;
}

.formcontent .entry {	
	padding: 0 20px;
	margin: 30px 0 30px 0;
}
.formcontent textarea {
	height: 100px;
	resize: vertical;
}
.formcontent .entry p {
	padding: 0px;
	margin-bottom: 3px;
	font-size: 12px;
}
#qualitytitle {
	margin-top: 30px;
	margin-left: 20px;
}
.entry h5 span {
	font-weight: 200;
	font-size: 12px;
}
@media (max-width: 768px) {	
	.qualitybox .selectors div {
		width: 100%;
		line-height: 20px;
	}
	.qualitybox .downarrow {
		display: none;
	}
	.qualitybox .qualitydescription {
		margin: 15px auto;
	}
	.formcontent textarea {
		min-height: 160px;
	}
	

}
</style>
{% endblock %}

{% block customjs %}
<script>
	$(document).ready(function() {
		qualityNumberClick($("#quality_{{item.conditionquality}}"));
		qualityChange({{item.conditionquality}});
	});
	var currentvalue = 0;
	$(".qualitybox select").css("opacity",".4");
	var q1 = "<span>Parts Only / Not Working</span><p>Items that are not functional as-is, and require manufacturer or third-party refurbishment before they can be used by another practitioner.  These items can be intended as fix-up items by the buyer, or may be used for parts toward other items of the same model.  Please describe the debilitating defect(s) in as much detail as possible for prospective buyers.</p>";
	var q2 = "<span>Functional with Defects</span><p> A used item that has seen heavy use (for its age), or comes with moderate cosmetic or performance-related damage.  The item should be functional and fully able to perform its intended purpose, but may suffer from some (inaccuracy, software lag, decreased readability), or decrease in performance ( decrease in performance due to normal wear and tear).  The item must still be usable to other practitioners as is without the need for immediate repair or refurbishing.  Please describe all defects in detail. </p>";
	var q3 = "<span>Used Fully Functional</span><p>A used item that has seen very light use. It should be fully functional and free of any defects whatsoever, and should show little-to-no cosmetic signs of wear and tear.  The item may be missing original packaging or accessories, but should function exactly the same as a brand new item.  Most Very Good items that see regular use are less than one year old.  About 20% of all used items fall into the Very Good category.</p>";
	var q4 = "<span>Used Like New</span><p>A new, unused item with absolutely no signs of wear. The item may have the manufacturer's seal broken, or the packaging may show slight signs of wear, but the item itself should have never been used except in some cases for light testing (or demonstration)  purposes.  The item may be a factory second or a new, unused item with missing accessories or packaging. See the seller's listing for full details and description of any imperfections.</p>";
	var q5 = "<span>Brand New</span><p>A brand-new, unused, unopened, undamaged item in its original manufacturer's packaging.  Packaging should be the same as it would be received directly from the manufacturer or supplier, and sealed by the original manufacturer without any signs of tampering.  If you are not the original manufacturer or a certified supplier, please be sure to describe your acquisition of the item.</p>";
	$(".qualitydescription p").html(q4);
	var qualitydict = {"1":q1,"2":q2,"3":q3,"4":q4,"5":q5};
	
	$(".qualitynumber").click(function() {
		qualityNumberClick($(this));
	});
	
	var qualityNumberClick = function qualityNumberClick(handle_) {
		var element = $(handle_).children('p');
		var handle = $(handle_)
		$(".qualitynumber").removeClass('quality-active');
		handle.addClass("quality-active");
		var value = $(handle).attr('id').split("_")[1];
		if (currentvalue != value) {
			currentvalue = value;
			$("#conditionquality").val(currentvalue);
			//Move the arrow
			var margintomove = "";
			if (value == 1) {margintomove = '12%'};
			if (value == 2) {margintomove = '36%'};
			if (value == 3) {margintomove = '60%'};
			if (value == 4) {margintomove = '84%'};
			$(".downarrow").animate({"margin-left":margintomove},400);
			$(".qualitydescription p").fadeOut('fast',function() {
				$(".qualitydescription p").html(qualitydict[value]);
				$(".qualitydescription p").fadeIn();
			});
		}	
	}
	
	var submittable = false;
	var validateInputs = function validateInputs() {
		submittable = true;
		return submittable;
	};

</script>
{% endblock %}
{% block formcontent %}
<div class="formcontent row">
	<input id="conditionquality" type="hidden" name="conditionquality" value="{{item.conditionquality}}">
	{% if not item.conditiontype == 'new' %}
	<h5 id="qualitytitle">Choose Your Item Condition</h5>
	<div class="qualitybox">
		<div class="selectors row">
			<div id="quality_1" class="qualitynumber noborder left-rounded quality1 col-md-3 col-sm-3 col-xs-12"><p>Parts Only / Not Working</p></div>
			<div id="quality_2" class="qualitynumber quality2 col-md-3 col-sm-3 col-xs-12"><p>Functional with Defects</p></div>
			<div id="quality_3" class="qualitynumber quality3 col-md-3 col-sm-3 col-xs-12"><p>Used Fully Functional</p></div>
			<div id="quality_4" class="qualitynumber quality4 right-rounded col-md-3 col-sm-3 col-xs-12"><p>Used Like New</p></div>
		</div>
		<div class='clear'></div>
		<div class="downarrow"></div>
		<div class="qualitydescription">
			<p></p>
		</div>
	</div>
	<div class="entry conditionentry">
		<h5>Describe Item Condition and Item History <span>Include any defects, imperfections, cosmetic blemishes, missing accessories, etc.</span></h5>
		<textarea id="inputconditiondescription" name="conditiondescription" type="text" class="form-control" placeholder="">{{item.conditiondescription}}</textarea>
	</div>
	{% endif %}
	<div class="entry">
		<h5>Model Features and Specifications <span>Please describe the item/model you’re selling.  Feel free to copy and paste information provided by the manufacturer.</span></h5>
		<textarea id="inputproductdescription" name="productdescription" type="text" class="form-control" placeholder="">{{item.productdescription}}</textarea>
	</div>
	<div class="entry">
		<h5>Service Contract / Warranty</h5>
		<div class="radio">
		  <label>
			<input type="radio" name="contract" class="contract" value="warranty" {% if item.contract == 'transferwarranty' %}checked{% endif %}>
			This item includes a transferrable warranty
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="contract" class="contract" value="servicecontract" {% if item.contract == 'transferservicecontract' %}checked{% endif %}>
			This item includes a transferrable service contract
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="contract" class="contract" value="none" {% if item.contract == 'none' %}checked{% endif %}>
			There is no service contract or warranty associated with this product
		  </label>
		</div>
		<div class="contractdescription-container">
			<p>If applicable, please describe detailed terms, end dates, requirements for transfer, and/or costs the buyer may incur.</p>
			<textarea id="inputcontractdescription" name="contractdescription" type="text" class="form-control" placeholder="">{{item.contractdescription}}</textarea>
		</div>
	</div>
	<div class="entry">
		<h5>What's Included? <span>Please describe what items are included in your sale, such as accessories, spare parts, manuals/documentation, packaging, etc.</span></h5>
		<textarea id="inputwhatsincluded" name="whatsincluded" type="text" class="form-control" placeholder="">{{item.whatsincluded}}</textarea>
	</div>
	
</div>
{% endblock %}

{% block nextpage %}/list/photos/{{item.id}}{% endblock%}

{% block previouspage %}/list/describe/{{item.id}}{% endblock%}

{% block detailactive %}active{% endblock%}

{% block formaction %}/savedetails{% endblock%}

{% block backdescription %}Describe It{% endblock%}
