{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | List</title>{% endblock%}

{% block headercss %}
<link href="{{STATIC_URL}}css/item/item.css" rel="stylesheet" type="text/css" />
<style>
h5 span {
	color: #999;
	font-weight: 200;
	font-size: 13px;
}
.listcontainer {
	max-width: 1000px;
	margin: 10px auto;
	position:relative;
	padding-top: 20px;
}
.servermessage {
	position: fixed;
	text-align: center;
	z-index: 9999;
	min-width: 200px;
	margin-left: -100px;
	background: #D7EFD7;
	border:1px solid #8AD493;
	color: #37A342;
	top: 75px;
	font-weight: 200; 
	left: 50%;
	right: 50%;
	display: none;
}
.saved {
	background: #D7EFD7;
	border:1px solid #8AD493;
	color: #37A342;
}
.errorsaving {
	background: #EFDBD9;
	border:1px solid #EF655B;
	color: #EF1111;
}
.listbox {
	padding: 0px;
}
.listbox .listbar {
	border-bottom:1px solid #ddd;
	padding: 5px 10px;
	background: #e1e1e1;
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -o-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FBFBFB), color-stop(1, #E1E1E1));
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #E1E1E1 100%);
}
.listbox .liststep {
	text-align: center;
	padding: 0px;
}
@media(min-width:767px) {
	.listbox .liststep {
		width: 20%;
	}
}
.listbox .liststep a {
	border:1px solid #ddd;
	background: white;
	display: block;
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	opacity: .5;
	color: #444;
	box-shadow: inset 0 0 1px #666;
	font-weight: 200;
	font-size: 13px;
}
.listbox .liststep .active {
	opacity: 1;
	color: white;
	background: #008DB2;
	background-image: linear-gradient(to bottom, #00B5E5 0%, #008DB2 100%);
	background-image: -ms-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -moz-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -o-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -webkit-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: linear-gradient(to bottom, #00B5E5 0%, #008DB2 100%);
}
.listbox .liststep span {
	margin-right: 5px;
	font-size: 15px;
	background: #eee;
	color: #00B5E5;
}
.listbox .listnav {
	margin: 30px 35px;
}
.listbox .listnav a {
	font-size: 13px;
	float: right;
}
.listbox .listnav a:hover {
	cursor: pointer;
}
.listbox .listnav .backbutton {
	float: left;
}
.listbox .listnav .saveandcontinue {
	margin-left: 10px;
}
.formcontent {
	text-align: left;
	padding: 0 20px;
}
.formcolumn {
	padding: 30px 30px 20px 30px;
}
.formcontent .radio-inline {
	padding-top: 5px;
	height: 35px;
}
.listcontainer .topnav {
	text-align: left;
}
.returntolisting {
	float: right;
}
.formerror {
	border:1px solid red;
	box-shadow: 0 0 2px red;
}
.header_error {
	color: red;
}
.entry h5 {
	margin-bottom: 3px;
	margin-top: 15px;
}
.pre-text {
	color: #888;
}
.helper-text {
	font-weight: 200;
	font-size: 13px;
}

.question-mark {
	background: none repeat scroll 0 0 #eee;
    border: 1px solid #DDDDDD;
    border-radius: 9px;
    color: #999;
    font-size: 10px;
    height: 18px;
    margin-left: 5px;
    outline: medium none;
    text-align: center;
    width: 18px;
}
@media (max-width: 768px) {	
	.formcolumn {
		padding: 0 10px 10px 10px;
	}
	.listbox .listnav a {
		display: block;
		float: none;
		margin: 15px 0;
	}
	.listbox .listnav .backbutton {
		float: none;
	}
	.listbox .listnav .saveandcontinue {
		margin-left: 0;
	}

}
#list-summary {
	margin: 30px 30px 15px 30px;
	padding-bottom: 15px;
	border-bottom:1px solid #ddd;
}
</style>
{% block customcss %}{% endblock %}
{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/ajaxform.js" type="text/javascript" ></script>
<script>

var nextstep = "{% block nextpage %}{% endblock%}";
var complete = false;
$(document).ready(function() {
	$('.saveandcontinue').click(function() {
		$("#submitcode").val(600);
		$("#listform").submit();
	});
	$('.saveandstay').click(function() {
		$("#submitcode").val(700);
		$("#listform").submit();
	});
	$('#listform').ajaxForm(function(e) {
		//Codes 700: saved, stay on page
		//Codes 600: saved, move to next page
		//Codes 500: Error saving product
		if (e == 700) {
			$(".saved").fadeIn('fast');
			setTimeout(function() {
				  $(".saved").fadeOut('slow');
			}, 2000);
		} else if (e == 600) {
			if (validateInputs()) {
				window.location.href = nextstep;
			} else {
				$(".errorsaving").text("Incomplete Fields");
				$(".errorsaving").fadeIn('fast');
				setTimeout(function() {
					  $(".errorsaving").fadeOut('slow');
				}, 2000);
			}	
		} else {
			$(".errorsaving").text("Error Saving");
			$(".errorsaving").fadeIn('fast');
			setTimeout(function() {
				  $(".errorsaving").fadeOut('slow');
			}, 2000);
		}
		$("input").blur(function() {
			validateInputs();
		});
		$("textarea").blur(function() {
			validateInputs();
		});
		$("select").change(function() {
			validateInputs();
		});
  	}); 
});

var removeError = function removeError(handle) {
	$(handle).removeClass("formerror")
	var header = $(handle).parent().children('h5');
	$(header).removeClass("header_error")
}
var addError = function addError(handle) {
	if (!($(handle).hasClass("formerror"))) {
		$(handle).addClass("formerror");
	}
	var header = $(handle).parent().children('h5');
	if (!($(header).hasClass("header_error"))) {
		$(header).addClass("header_error");
	}	submittable = false;
}
</script>
{% block customjs %}{% endblock %}
{% endblock %}
{% block content %}
<div class="saved servermessage">&#x2713; Saved</div>
<div class="errorsaving servermessage">&#x2717; Error Saving</div>
<div class="listcontainer">
	{% if item.liststatus != 'incomplete' %}
	<p class="topnav">{% block topnav %}<a class="tolisteditems button button-tiny" href="/account/listings/all">&#8592; Return To Listed Items</a><a class="returntolisting button button-tiny" href="/item/{{item.id}}/details">View Listing</a>{% endblock %}</p>
	{% endif %}
	<div class="covebox listbox">
		<div class="listbar">
			<div class="col-md-2 col-sm-2 col-xs-6 liststep">
				<a class="{% block describeactive %}{% endblock%}" href="/list/describe/{{item.id}}"><span class="badge">1</span>Describe It</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 liststep">
				<a class="{% block detailactive %}{% endblock%}" {%if item.liststage > 1 %}href="/list/details/{{item.id}}"{% endif %}><span class="badge">2</span>Details</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 liststep">
				<a class="{% block photosactive %}{% endblock%}" {%if item.liststage > 2 %}href="/list/photos/{{item.id}}"{% endif %}><span class="badge">3</span>Photos</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 liststep">
				<a class="{% block logisticsactive %}{% endblock%}" {%if item.liststage > 3 %}href="/list/logistics/{{item.id}}"{% endif %}><span class="badge">4</span>Logistics</a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 liststep">
				<a class="{% block previewactive %}{% endblock%}" {%if item.liststage > 4 %}href="/list/preview/{{item.id}}"{% endif %}><span class="badge">5</span>Preview</a>
			</div>
			<div class="clear"></div>
		</div>
		{% if preview %}
			{% if item.liststatus != 'sold' and item.liststatus != 'disabled' and item.liststatus != 'deleted' %}
			<h3 id="list-summary">Listing Summary</h3>
			<!-- <div class="listnav">
				<a href="/list/logistics/{{item.id}}" class="backbutton button button-rounded">Back to Logistics</a>
				<form action="/list/activate/{{item.id}}" method="POST">
					<button class="saveandcontinue button button-rounded button-highlight">
						{% csrf_token%}
						{% if item.liststatus == 'active' %}
							View Your Listing
						{% elif item.liststatus == "incomplete" %}
							List Your Item
						{% elif item.liststatus == "unsold" %}
							Reactivate Listing
						{% endif %}
					</button>
				</form>
				<a class="viewpreview button button-rounded">Preview Listing</a>
				<div class="clear"></div>
			</div> -->
			{% endif %}
		{% endif %}
		<div class="listcontent">
		{% block photocontent %}
			<form id="listform" method="POST" action="{% block formaction %}{% endblock %}/{{item.id}}">
				{% csrf_token %}
				<input id="submitcode" name="submitcode" value="600" type="hidden"/>
				{% block formcontent %}{% endblock %}
				<div class="clear"></div>
			</form>
		{% endblock %}
		</div>
		<div class="listnav">
			{% block hidebackbutton %}<a href="{% block previouspage %}{% endblock %}" class="backbutton button button-rounded">Back to {% block backdescription %}previous page{% endblock%}</a>{% endblock%}
			{% block continuebutton %}<a class="saveandcontinue button button-rounded button-action">Save and Continue</a>{% endblock %}
			{% block hidesave %}<a class="saveandstay button button-rounded">Save</a>{% endblock %}
			<div class="clear"></div>
		</div>
		
	</div>
</div>

{% endblock %}


