{% extends 'item/item_base.html' %}
{% block headertitle %}<title>VetCove | Item Logistics</title>{% endblock%}
{% block customcss %}
<style>
.formcontent {
	margin: 10px 15px 10px 15px;
}
.entry {
	margin: 35px 0;
}
.entry h5 {
	margin-bottom: 20px;
}
.radio {
}
.radio span {
	color: #aaa;
	font-weight: 200;
}
.pricecontainer {
	background: #f4f4f4;
	padding: 15px;
	max-width: 500px;
	border:1px solid #ddd;
	margin-bottom: 10px;
	
}
.listprice span {
	float: left;
	width: 13px;
	margin-top: 10px;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
	color: #555;
	
}
.listprice input {
	float: left;
	padding-left: 10px;
	width: 150px;
	font-weight: bold;
	letter-spacing: .3px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.listprice p {
	clear: both;
	font-size: 12px;
	padding-top: 3px;
	padding-left: 0px;
}
.offline-viewing span {
	color: #777;
	display:block;
	padding-bottom: 10px;
}
.promo-entry p {
	font-size: 12px;
	color: #777;
}
.promo-entry h6 {
	font-size: 13px;
} 
.promo-entry img {
	display: none;
	margin-left: 5px;
}
.promo-entry input {
	display: inline-block;
}
.promo-entry .current-code {
	font-weight: 400;
	font-size: 12px;
	color: #777;
}
.promo-entry .current-code span{
	font-weight: bold;
	color: green;
	display:inline-block;
}
.promo-entry .current-code .promo_message {
	color: #777;
	font-weight: 400;
}
#promocode {
	max-width: 200px;
}
#charity_name {
	max-width: 400px;
}
{% if not item.charity %}
#charity_name {
	display:none;
}
{% endif %}
</style>
{% endblock %}
{% block customjs %}
<script src="{{STATIC_URL}}js/jquery.formatCurrency-1.4.0.min.js"></script> 
<script>
$(document).ready(function() {
	$('.inputprice').blur(function() {
		$(this).html(null);
		$(this).formatCurrency({ colorize: true, negativeFormat: '-%s%n', roundToDecimalPlace: 2 });
	})
	.keyup(function(e) {
		var e = window.event || e;
		var keyUnicode = e.charCode || e.keyCode;
		if (e !== undefined) {
			switch (keyUnicode) {
				case 16: break; // Shift
				case 17: break; // Ctrl
				case 18: break; // Alt
				case 27: this.value = ''; break; // Esc: clear entry
				case 35: break; // End
				case 36: break; // Home
				case 37: break; // cursor left
				case 38: break; // cursor up
				case 39: break; // cursor right
				case 40: break; // cursor down
				case 78: break; // N (Opera 9.63+ maps the "." from the number key section to the "N" key too!) (See: http://unixpapa.com/js/key.html search for ". Del")
				case 110: break; // . number block (Opera 9.63+ maps the "." from the number block to the "N" key (78) !!!)
				case 190: break; // .
				default: $(this).formatCurrency({ colorize: true, negativeFormat: '-%s%n', roundToDecimalPlace: -1, eventOnDecimalsEntered: true });
			}
		}
	})
	$('#promo-check').click(function() {
		$(".promo-entry img").css('display','inline-block');
		$.post( "/promocode/{{item.id}}",{
			promocode:$("#promocode").val()
		}, function(e) {
			$(".promo-entry img").css('display','none');
			if (e['status'] == 201) {
				$("#code-explain").text("Promo Code Successfully Added!");
				$("#current-code").text(e['code']);
				$(".promo_message").text("("+e['message']+")")
				$("#code-explain").css('color','green');
			} else {
				$("#code-explain").text(e['message']);
				$("#code-explain").css('color','red');
			}
		}).fail(function() {
		alert( "error" );
		});
	})
	$('#charity').click(function () {
	    if ($("#charity").is(":checked")) {
	    	$("#charity_name").css('display','block');
	    } else {
	    	$("#charity_name").css('display','none');
	    }
	});
});

var submittable = false;
var validateInputs = function validateInputs() {
	submittable = true;
    if ($("#inputlistprice").val().length > 2 && parseInt($("#inputlistprice").asNumber()) > 0.5) {
    	removeError($("#inputlistprice"));
    } else {
    	addError($("#inputlistprice"));
    }
    if ($("#inputmsrpprice").val().length > 2 && parseInt($("#inputmsrpprice").asNumber()) > 0.5) {
    	removeError($("#inputmsrpprice"));
    } else {
    	addError($("#inputmsrpprice"));
    }
    return submittable;
};

</script>
{% endblock %}
{% load zipcodify %}
{% block formcontent %}
<div class="formcontent row">
	<div class="entry">
		<h5>Shipping Options</h5>
		<div class="radio">
		  <label>
			<input type="radio" name="shippingincluded" class="shippingncluded" value="True" {% if item.shippingincluded %}checked{% endif %}>
			I will arrange and pay for shipping to anywhere in the continental United States <span>( * recommended )</span>
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="shippingincluded" class="shippingincluded" value="False" {% if not item.shippingincluded %}checked{% endif %}>
			This item is only available for pick-up at {% if item.user.city %}{{item.user.city}}, {{item.user.state}}{% else %}{{item.user.zipcode|zipcodify}}{% endif %}
		  </label>
		</div>
	</div>
	<div class="entry offline-viewing">
		<h5>Sale Type: Offline or Online</h5>
		<div class="radio">
		  {% if item.conditiontype == 'new' %}
		  	<p>Sorry, offline viewing is only available for used and refurbished items</p>
		  {% else %}
		  <label>
			<input type="radio" name="offlineviewing" name="offlineviewing" class="offlineviewing" value="False" {% if not item.offlineviewing %}checked{% endif %}>
			Online: Item can only be purchased online directly through Vetcove <span>*Recommended for items $499 or less.  Buyers can “buy now” instantly through the VetCove website.  Buyers cannot view your contact information and are not permitted to contact you directly or view the item in person.</span>
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="offlineviewing" name="offlineviewing" class="offlineviewing" value="True" {% if item.offlineviewing %}checked{% endif %}>
			Offline: Buyers can contact me to view and/or purchase the item in person<span>*Recommended for items $500 or more.  Buyers can contact you directly to arrange for viewing and/or purchase.  Sales can be made online through VetCove or outside of VetCove.  Instant “buy now” through VetCove website is not available when choosing this option.</span>
		  </label>
		</div>
		{% endif %}
	</div>
	
	{%load dollars %}
	<div class="entry">
		<h5>Price</h5>
		<div class="pricecontainer">
			<div class="listprice">
				<h6>MSRP / New Price</h6>
				<input id="inputmsrpprice" type="text" name="inputmsrpprice" step="1" class="form-control inputprice" placeholder="" value="{% if item.msrp_price %}{{item.msrp_price|dollars}}{% endif %}" />
				<p>Please enter the MSRP of the item when new, or if not available, your best guess.  This is only used to provide buyers with perspective.</p>
			</div>
		</div>
		<div class="pricecontainer">
			<div class="listprice">
				<h6>Your Listing Price</h6>
				<input id="inputlistprice" type="text" name="inputlistprice" step="1" class="form-control inputprice" placeholder="" value="{% if item.price %}{{item.price|dollars}}{% endif %}" />
				<p>Please enter the amount you’d like to sell your item for, inclusive of shipping costs if applicable. This can be modified later</p>
			</div>
		</div>
	</div>
	<div class="entry promo-entry">
		<h5>Promotional Code</h5>
		{% if item.commission_paid %}
		<p>You have already paid the commission for this item. 
			{% if item.promo_code %}
				You used promo code {{item.promo_code.code}} ({{item.promo_code.details}})
			{% endif %}
		</p>
		{% else %}
		<p>If you have a promotion code, please enter it below. Only one promotion code can be used per listing.</p>
		<h6 class="current-code">Current Promotion Code: <span id="current-code">{% if item.promo_code %}{{item.promo_code.code}}{% else %}None{% endif %}</span> <span class="promo_message">
			{% if item.promo_code %}({{item.promo_code.promo_text}}){% endif %}</span></h6>
		<input id="promocode" name="promocode" class="form-control" value="{% if item.promo_code %}{{item.promo_code.code}}{% endif %}" />
		<a id="promo-check" class="button button-rounded button-primary">Use This Promo Code</a>
		<img src="{{STATIC_URL}}img/ajax-loader.gif"/>
		<h6 id="code-explain"></h6>
		{% endif %}
	</div>
	<div class="entry">
		<h5>VetCove 1+1 Program</h5>
		<div class="checkbox">
		  <label>
			<input id="charity" type="checkbox" name="charity" {% if item.charity %}checked{% endif %}>
			I would like to participate in the <a target="_blank" href="/giveback">1+1 Program</a>, where I donate 1% of the sale to my charity and VetCove matches the 1% (only available if the purchase is made online)
		  </label>
		</div>
		<select id="charity_name" class="form-control" name="charity_name">
			{% for char in charities %}
				<option value="{{char}}" {% if item.charity_name == char %}selected{% endif %}>{{char}}</option>
			{% endfor %}
		</select>
	</div>
</div>

{% endblock %}

{% block nextpage %}/list/preview/{{item.id}}{% endblock%}

{% block logisticsactive %}active{% endblock%}

{% block previouspage %}/list/photos/{{item.id}}{% endblock%}

{% block backdescription %}Photos{% endblock%}

{% block formaction %}/savelogistics{% endblock%}