{% extends 'account/pages/browse/base.html' %}

{% block headertitle %}VetCove Dashboard{% endblock %}

{% block browse_css %}
<style>
.split-row {
	padding: 0;
}
.split-row .d-row {
	float: left;
	padding: 15px 15px 50px 15px;
	position:relative;
	text-align: center;
}
.split-row .more-link {
	position:absolute;
	bottom: 15px;
	right: 15px;
	font-size: 13px;
}
.split-row .more-link:hover {
	text-decoration: underline;
}
.split-row h3 {
	font-weight: 200;
	font-size: 18px;
	color: #555;
	margin: 0;
}
.split-row .subtext {
	font-size: 12px;
	font-weight: 200;
	letter-spacing: .2px;
	color: #777;
}
.credits {
	width: 40%;
	border-right:1px solid #eee;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.credits .goal {
	width: 50%;
	text-align: center;
	float: left;
	margin: 30px 0 15px 0;
}
.credits .goal p {
	color: #555;
	font-size: 13px;
	margin-bottom: 3px;
}
.credits .goal h6 {
	margin: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 2px 5px;
	color: #888;
	display:inline-block;
}
.reviews {
	width: 60%;
	float: left;
	border-left: none;
	overflow: hidden;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.review {
	margin: 40px 10px;
}
.review .product-preview-box-container {
	width: 33.3%;
	float: left;
	margin: 0px;
	text-align:center;
}
.review .product-preview-box-container .button {
	display:inline-block;
	margin-bottom: 10px;
}
.review .product-preview-box-container .button:hover {
	background: #d6d6d6;
}

/* E-Row */
.small-split-row {
	margin: 20px 0;
}
.split-one {
	width: 50%;
	border-right:1px solid #eee;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.split-two {
	width: 50%;
	border-left:none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* Recent Orders */
.second-table {
	text-align: center;
	padding: 10px 20px;
	font-size: 13px;
	border-bottom:1px solid #d6d6d6;
	color: #333;
}
.second-table th {
	text-align: center;
}
/*Listing */
.nolisting {
	display:none;
}
.nolisting p {
	margin: 30px 20px 20px 20px;
	font-size: 13px;
	color: #666;
}
.listing {
	margin-top: 25px;
}
.listing .image-td {
	width: 100px;
	text-align: center;
}
.listing table {
	margin: 0 auto;
}
.listing table td {
	vertical-align: top;
	padding-bottom: 20px;
}
.listing .image-td img {
	max-width: 100px;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 0 2px #eee;
	border:1px solid #eee;
	max-height: 60px;
}
.listing .info-td {
	padding-left: 10px;
	text-align: left;
}
.listing .info-td a {
	font-size: 14px;
	color: #333;
}
.listing .info-td p {
	font-size: 12px;
	color: #777;
	margin: 2px 0 0 0;
}
</style>
{% endblock %}
{% block browse_js %}
<script src="{{STATIC_URL}}js/plugins/jquery.knob.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
	$(".dial").knob({
		thickness:.15,
		angleOffset:-100,
		angleArc:200,
		readOnly:true,
		width: 100,
		height:60,
		fgColor:'#6ac3e8',
		'draw' : function () { 
			if ($(this.$).attr('data-type')=='dollar') {
				$(this.i).val(this.cv+"%");
			} else {
	       		$(this.i).val(this.cv + '/'+$(this.$).attr('data-max'));
	       	}
	      }
	});
	$('.dial').css('font-size','16px')
	$(".reviews").css('height',$('.credits').css('height'));
	var max = 0
	$.each($('.small-split'),function(index,value){
		console.log(value);
		max = Math.max(max,parseInt($(value).css('height')));
	});
	$(".small-split").css('height',max);
});
</script>
{% endblock %}
{% block browse_content %}
	<div class="split-row">
		<div class="credits d-row vetbox">
			<h3>Credit Goals For May</h3>
			<p class="subtext">You have 13 days left to reach these goals. <a href='/account/credits'>Learn More</a></p>
			<div class="goal">
				<input type="text" class="dial" value="2" data-max="8" data-type="ratio">
				<p>Write 8 Reviews</p>
				<h6>50 Credits</h6>
			</div>
			<div class="goal">
				<input type="text" class="dial" value="60" data-max="100" data-type="dollar">
				<p>Spend $1,200 on VetCove</p>
				<h6>200 Credits</h6>
			</div>
			<div class="goal">
				<input type="text" class="dial" value="0" data-max="2" data-type="ratio">
				<p>Refer 2 Clinics</p>
				<h6>400 Credits</h6>
			</div>
			<div class="goal">
				<input type="text" class="dial" value="2" data-max="3" data-type="ratio">
				<p>Buy 3 A&G Products</p>
				<h6>300 Credits</h6>
			</div>
			<div class="clear"></div>
			<a class="more-link" href="/account/credits">View and Redeem Credits &rarr;</a>
		</div>
		<div class="reviews d-row vetbox">
			<h3>Review Products</h3>
			<p class="subtext">Reviewing products can help you reach your credit goals.</p>
			<div class="review">
				<div class="product-preview-box-container first">
					<a href='#'>
				  		<div class="product-preview-box">
				  			<div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/placeholder_pics/1.gif")'>
				  			</div>
				  			<div class="product-preview-info">
				  				<p class="title">Potomavac Bacterin Stocked</p>
				  				<div class="ratings">
				  					<div class="star blackstar star{{rating}}"></div><span>(8)</span>
				  				</div>
				  				<button class="button button-rounded button-tiny button-flat">Review This Product</button>
				  			</div>
				  		</div>
				  	</a>
				</div>
				<div class="product-preview-box-container">
					<a href='#'>
				  		<div class="product-preview-box">
				  			<div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/placeholder_pics/1.gif")'>
				  			</div>
				  			<div class="product-preview-info">
				  				<p class="title">Potomavac Bacterin Stocked</p>
				  				<div class="ratings">
				  					<div class="star blackstar star{{rating}}"></div><span>(8)</span>
				  				</div>
				  				<button class="button button-rounded button-tiny button-flat">Review This Product</button>
				  			</div>
				  		</div>
				  	</a>
				</div>
				<div class="product-preview-box-container last">
					<a href='#'>
				  		<div class="product-preview-box">
				  			<div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/placeholder_pics/1.gif")'>
				  			</div>
				  			<div class="product-preview-info">
				  				<p class="title">Potomavac Bacterin Stocked</p>
				  				<div class="ratings">
				  					<div class="star blackstar star{{rating}}"></div><span>(8)</span>
				  				</div>
				  				<button class="button button-rounded button-tiny button-flat">Review This Product</button>
				  			</div>
				  		</div>
				  	</a>
				</div>
			</div>
			<a class="more-link" href="/account/credits">View all Reviews &rarr;</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="split-row small-split-row">
		<div class="split-one small-split d-row vetbox">
			<h3>Buying: Recent Order History</h3>
			<p class="subtext">Your Recently Ordered Items</p>
			<a href='#'>
				<table class="table table-striped second-table">
					<thead>
						<th>Date</th>
						<th>Amount</th>
						<th>Status</th>
					</thead>
					<tbody>
						<tr>
							<td>Sept 14</td>
							<td>$242.92</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>Sept 11</td>
							<td>$2,322.92</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>Sept 6</td>
							<td>$42.92</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>Sept 3</td>
							<td>$89.92</td>
							<td>Completed</td>
						</tr>
						<tr>
							<td>Sept 1</td>
							<td>$242.92</td>
							<td>Completed</td>
						</tr>
					</tbody>
				</table>
			</a>
			<a class="more-link" href="/account/credits">View all Recent Orders &rarr;</a>
		</div>
		<div class="split-two small-split d-row vetbox">
			<h3>Selling: VetCove Marketplace</h3>
			<p class="subtext">Your Most Recent Equipment Listings and Status</p>
			<div class="nolisting">
				<p>You have not yet listed any equipment on the VetCove marketplace. VetCove marketplace is a service to help veterinarians connect and sell used equipment to one another. <strong>Your first item is 100% commission free!</strong></p>
				<a href='#' class="button button-rounded button-flat-primary">How To List Equipment</a>
			</div>
			<div class="listing">
				<table>
					<tr>
						<td class="image-td"><img src="{{STATIC_URL}}img/placeholder_pics/1.gif"></td>
				  		<td class="info-td">
				  			<a>Ultrasound XP400 with Extra Probes</a>
				  			<p>Questions: 0 | Views: 21 | Saves: 2 </p>
				  			<p>This item was listed on September 14th, 2014 </p>
				  		</td>
					</tr>
					<tr>
						<td class="image-td"><img src="{{STATIC_URL}}img/placeholder_pics/2.gif"></td>
				  		<td class="info-td">
				  			<a>Ultrasound XP400 with Extra Probes (lightly used)</a>
				  			<p>Questions: 0 | Views: 21 | Saves: 2 </p>
				  			<p>This item was listed on September 14th, 2014 </p>
				  		</td>
					</tr>
					<tr>
						<td class="image-td"><img src="{{STATIC_URL}}img/placeholder_pics/3.gif"></td>
				  		<td class="info-td">
				  			<a>Ultrasound XP400 with Extra Probes</a>
				  			<p>Questions: 0 | Views: 21 | Saves: 2 </p>
				  			<p>This item was listed on September 14th, 2014 </p>
				  		</td>
					</tr>
				</table>
			</div>
			<a class="more-link" href="/account/credits">Mange All Marketplace Listings &rarr;</a>
		</div>
		<div class="clear"></div>
	</div>
	{% for key,values in product_rows.items %}
		{% include 'account/pages/browse/productrow-base.html' with row_title=key %}
	{% endfor %}
{% endblock %}