/**********************************/
/******Page Layout ****************/
/**********************************/

#noresults {
	background-image:url("{{STATIC_URL}}img/transparency/whitetransparency.png");
	text-align:center;
	padding: 20px;
}
#noresults img {
	width: 250px;
}
.noluck {
	font-weight: 200;
	font-size: 23px;
}
.filter-row {
	width: 20%;
}
.result-row {
	padding: 0 15px 0 0;
	width: 80%;
}
/**********************************/
/******Results Nav Bar ************/
/**********************************/
.resultsnav {
	padding-top: 5px;
}
.resultsnav p {
	display: inline-block;
	font-weight: 200;
	font-size: 12px;
	padding-left: 10px;
}
#sortby {
	float: right;
}
#sortby p {
	float: left;
	line-height: 40px;
	font-size: 12px;
	padding-right: 8px;
	margin-bottom: 0px;
	font-weight: 200;
}
#sortby select {
	width: 180px;
	height: 30px;
	margin: 5px 15px 0 0;
	float: left;
	font-size: 13px;
	line-height: 28px;
	padding: 4px;
	background: #f4f4f4;
}
#numberofresults {
	line-height: 30px;
	height: 30px;
	margin-top: 5px;
	padding: 0 15px;
	font-weight: bold;
	border-right:1px solid #ddd;
	display: inline-block;
}
#searchquery {
	display:inline-block;
	font-weight: 200;
	margin-left: 10px;
	font-size: 12px;
}
#related-results {
	margin: 5px 15px;
	border-top:1px solid #eee;
	padding: 5px 0;
	font-weight: 200;
	font-size: 13px;
}
#related-results a {
	padding: 0 1px;
}
#related-results a:hover {
	text-decoration: underline;
}
#related-results a span {
	color: #aaa;
	font-size: 12px;
}
.viewtype {
	display:inline-block;
	padding: 0 4px 0 0px;
	border-right: 1px solid #ddd;
}
.viewtype-item {
	display:inline-block;
	padding: 6px 7px 6px 7px;
	margin: 0 5px;
	font-weight: 200;
	font-size: 13px;
	border-radius: 2px;
	border:1px solid transparent;
}
.viewtype-item span {
	font-size: 16px;
	vertical-align: top;
}
.viewtype-item-2 {
	border-left: none;

}
.viewtype-item.active {
	background: #eee;
	border:1px solid #ccc;
}
.viewtype-item:not(.active):hover{
	background: #f2f2f2;
	cursor:pointer;
	border:1px solid #ddd;
}

/**********************************/
/******Results Body ***************/
/**********************************/


.showmorebutton {
	text-align: center;
	font-size: 13px;
	border-radius: 3px;
	margin: 5px 0 25px 0;
	display: none;
	padding: 10px;
	color: #428BCA;	
	height: 45px;
	transition: color .2s, background .1s;
}
.showmorebutton p {
	padding: 0;
	margin: 0;
}
.showmorebutton:hover {
	box-shadow: 0 0 4px #999;
	background: #f4f4f4;
	cursor: pointer;
	color: black;
}
.showmorebutton img {
	display: none;
	margin: 0 auto;
}

/**********************************/
/*****Filter Box ******************/
/**********************************/

/*******General *******/
.filterbox{
	box-shadow: 0 0 4px #ccc;
}
.filter-category {
	padding: 10px 10px 20px 10px;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #fff;
}

.filter-category h2 {
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	font-size: 14px;
	color: #008DB2;
	text-shadow: 0 0 2px #fff;
	font-weight: bold;
}

/*******Checkbox Formatting *******/

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
.wrapper {
	width: 500px;
	margin: 50px auto;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #fff;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .2), 0px 1px 0px 0px rgba(255, 255, 255, .3);
}

.radio label:before {
	border-radius: 8px;
}
.checkbox {
	padding: 0;
	margin: 0;
	margin-left: 2px;
}
.checkbox label {
	display: block;
	margin-right: 0;
}
.checkbox label span {
	float:right;
}
.checkbox label:hover {
	background: #f2f2f2;
}
.checkbox label:before {
    border-radius: 3px;
    border:1px solid #aaa;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #555;
    font-size: 25px;
    text-align: center;
    line-height: 14px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #555;
	text-align: center;
    line-height: 15px;
}

/*****End of checkbox formatting ******/

/* Category Filtering */

.filter-category .main-category {
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 0 8px;
	color: #444;
	display:block;
}
.filter-category .sub-category {
	font-size: 13px;
	margin: 0 0 0 16px;
	color: #444;
	display:block;
}
.filter-category a:hover{
	text-decoration: underline;
}
.filter-departments span {
	float: right;
}
/*******Distance Filter *********/

#milecategory h2 {	
	margin-bottom: 15px;
}
#milecategory select {
	margin-left: 0px;
	max-width: 130px;
	height: 30px;
	display: inline-block;
	padding: 3px 4px;
	background: #fcfcfc;
}
#milecategory p {
	display: inline-block;
	padding-left: 7px;
	color: #777;
	font-size: 12px;
}
#milecategory input {
	margin-left: 0px;
	margin-top: 3px;
	background: #fcfcfc;
	max-width: 170px;
	text-align: center;
}
.notopborder {
	border-top: none;
}
/******* Rating Filter *******/

.filter-rating label span {
	float:none;
	color: #999;
}
.filter-rating label .count {
	float: right;
	color: #333;
}
/******* Price Filter *******/

#price-slider-container {
	margin-right: 15px;
	margin-left: 15px;
}
#price-slider-container #lowprice {
	float: left;
	margin-left: -5px;
}
#price-slider-container #highprice {
	float: right;
	margin-right -5px;
}

 .ui-slider-range {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFBFBF), color-stop(1, #919191));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #BFBFBF 0%, #919191 100%);
}	

/******Light Gradient *************/
#price-range {
width:100%;
height:10px;
background:#aaa;
position:relative;
margin:0;
padding: 0;
}
 
#price-range  .ui-slider-handle {
width:24px;
height:24px;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
border: none;
background:url("../../img/slider/slider-button.png");
}
#price-range  .ui-slider-handle:hover {	
	cursor:pointer;
	background:url("../../img/slider/slider-button-dark.png");
}
#price-range .ui-widget-header {
background:url("../../img/slider/fill.png") no-repeat left;
height:8px;
left:1px;
top:0px;
position:absolute;
}
 
#price-range a {
outline:none;
-moz-outline-style:none;
}

/**********************************/
/*****Result Item *****************/
/**********************************/
#resultsbody {
	box-shadow: none;
	border: none;
}
.resultitem {
	padding: 5px;
	padding-bottom: 20px;
	margin: 5px 0 10px 0;
}
.resultitem .row {
	margin-left: 0px;
	margin-right: 0px;
}
.resultitem:hover {
	box-shadow: 0 0 4px #999;
}
.resultitem:active {
	outline: none;
}
/* Main text div */
.resultitem .textdiv {
	padding: 0;
	margin: 0;
	padding: 0 10px;
	border-left:1px solid #eee;
}
.resultitem .textdiv .manufacturer {
	font-size: 12px;
	font-weight: 200;
	margin-bottom: 0;
	margin-top: 10px;
}
.resultitem .textdiv .itemname {
	font-size: 18px;
	min-height: 18px;
	margin-bottom: 3px;
	margin-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.resultitem .textdiv .itemname a {
	color: #333;
}
.resultitem .textdiv .itemname a:hover {
	cursor:pointer;
	color: #000;
	text-decoration:underline;
}

.resultitem .textdiv .reviews .rating {
	display:inline-block;
	border-left:1px solid #eee;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 12px;
}

.greatdeal {
	color: #DB7700;
	font-weight: bold;
	line-height: 30px;
}
.availableoptions p{
	font-size: 13px;
}
.options {
	padding: 5px 10px;
}
.options .buying-options {
	margin-bottom: 3px;
	display:none;
}
.options .align-right {
	padding-left: 12px;
}
.buytable {
	width: 100%;
}
.buytable td {
	vertical-align: top;
	padding-top: 0px;
}
.buytable tr {
	border-bottom:1px solid #ddd;
}
.buytable tr.noborderbottom {
	border-bottom:none;
}
.buytable .quantity {
	width: 240px;
	text-align: right;
	padding-top: 5px;
	margin: 0;
}
.buytable .description {
	font-size: 12px;
	padding-top: 8px;
}
.buytable .price {
	font-size: 14px;
	padding-top: 6px;
	font-weight: bold;
	color: #357d3f;
}
.buytable .price span {
	text-decoration: line-through;
	font-size: 12px;
	font-weight: normal;
	color: #b24a54;
}





.resulttag {
	min-height: 20px;
}
.resulttag p {
	display:inline-block;
	padding: 4px 8px;
	font-size: 10px;
	letter-spacing: .2px;
	font-weight: 400;
	text-shadow: 0 1px 1px #fff;
	margin: 5px 0;
	border-radius: 5px;
	background: #C2DAED;
	color: #3F7DB0;
	line-height: 10px;
	text-transform: uppercase;
}
.resulttag p:hover{
	cursor:default;
}
.resulttag .result-red {
	background: #fdeaec;
	color: #b24a54;
}
.resulttag .result-darkgreen {
	background: #C0E0BC;
	color: #5D9157;
}
.resulttag .result-purple {
	background: #EED8F2;
	color: #7F2691;
}
.resulttag .verified {
	background: #F2D577;
	color: #8F6511;
}
.resulttag .result-lightgreen {
	background: #EDEFB3;
	color: #6F8C12;
}
.resulttag .result-orange {
	background: #FFE9C4;
	color: #B3852B;
}
.resulttag .buyonline {
	background: #E6F5F3;
	color: #1062DE;
}
.resulttag .result-lightred {
	background: #F2C9CF;
	color: #B52639;
}


/* Price Div */

.resultitem .pricediv {
	margin-left: 0px;
	padding-top: 35px;
	text-align: center;
}
.resultitem .pricediv a, .resultitem .pricediv button {
	width: 80px;
	padding-left: 0px;
	padding-right: 0px;
}
.resultitem .pricediv button {
	margin-top: 10px;
}
.resultitem .pricediv p {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: black;
	margin-bottom: 0px;
	margin-top: 0;
}
.resultitem .pricediv .msrp_price {
	color: #999;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 200;
	padding-bottom: 15px;
}
/*Image Div */

.resultitem .imgdiv {
	text-align: center;
	border:1px solid transparent;
}
.resultitem .imgdiv img {
	max-width:100%;
	max-height: 165px;
	margin-top: 15px;
}

/* Button Div */
.resultitem .buttondiv {
	margin-top: 20px;
}
.resultitem .buttondiv button {
	box-shadow: none;
	height: auto;
	margin-bottom: 5px;
}
.resultitem .infobutton {
	margin-right: 5px;
}
.resultitem .infobutton:hover {
	cursor:pointer;
}
.resultitem .infobutton.active {
	border-bottom: 1px solid #fff;
	padding-bottom:5px;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: white;
	position: relative;
	z-index: 199;
}
.activeinfo:hover {
	background: #fff;
}

/* Preview elements */
.previewdiv {
	padding: 20px 10px 0 10px;
	margin: -1px 10px 0 10px;
	z-index: 0;
	border-top: 1px solid #ddd;
}
.previewdiv .thin {
	font-size: 12px;
	text-align: center;
	color: #999;
}
.previewdiv .review {
	padding: 0;
	height: 180px;
	overflow: hidden;
	position:relative;
}
.previewdiv .whitefade {
	position:absolute;
	bottom: 0;
	z-index: 10000;
	height: 30px;
	width: 100%;
	background-image:url("../../img/gradients/whitefade.png");
	background-repeat:repeat-x;
}
.previewdiv .review-one {
	padding-right: 15px;
}
.previewdiv .review-two {
	padding-left: 15px;
}
.previewdiv .review .helpful {
	display:inline-block;
	border-left:1px solid #ddd;
	margin-left: 5px;
	padding-left: 5px;
	font-weight: 200;
	font-size: 14px;
	letter-spacing: .25px;
	color: #444;
}
.previewdiv .review .reviewer {
	margin: 3px 0 7px 0;
	font-weight: bold;
}
.previewdiv .review .reviewer span {
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
}
.previewdiv .review .review-text {
	font-size: 13px;
}
.morediv {
	clear: both;
	margin-top: 10px;
	height: 30px;
}
.morediv a {
	text-align: left;
	display: block;
	float: left;
	margin-left: 0px;
	margin-top: 5px;
}
.morediv a:hover {
	text-decoration: underline;
}
.morediv .closebutton {
	float: right;
	margin-right: 0px;
}
.previewdiv {
	display: none;
}

/**********************************/
/*****Loading Overlay ************/
/**********************************/

#loadingoverlay {
	position:absolute;
	z-index: 9998;
	display: none;
	width: 98.5%;
	height: 98%;
	background-image: url("../../img/whitetransparency.png");
}
#loaderdiv {
	width: 350px;
	height: 160px;
	margin: 0 auto;
	padding-top: 10px;
	z-index: 9999;
	margin-top: 170px;
	background-image: url("../../img/blacktransparency.png");
	border-radius: 6px;
	text-align: center;
}
#loaderdiv h3 {
	margin-top: 40px;
	margin-bottom: 20px;
	color: white;
	font-size: 18px;
}
#removeform {
	display: none;
}
.mobile-select {
	display: none;
}
/**********************************/
/*****Mobile Alterations **********/
/**********************************/
.sortbyfilters {
	display: none;
}
.sortbyfilters:hover {
	text-decoration: underline;
	cursor: pointer;
}
@media(max-width: 767px) {
	.sidecontent-title {
		font-size: 16px;
	}
	.sortbyfilters {
		display: block;
		float: right;
		font-size: 16px;
		font-weight: 400;
		margin-right: 10px;
	}
	.filter-category {
		display: none;
	}
	.resultsbox {
		margin-left: 10px;
		margin-right: 10px;
	}
	.resultitem {
		padding: 0;
	}
	.resultitem .pricediv {
		margin-top: 0px;
		padding: 10px 15px;
		min-height: 50px;
	}
	.resultitem .pricediv p {
		float: left;
	}
	.resultitem .pricediv a {
		float: right;
	}
	.mobile-select {
		margin-top: 20px;
	}
	.resultitem .textdiv .itemname, .resultitem .textdiv h6, .resultitem .textdiv .buttondiv {
		text-align: center;
	}
	.resultitem .textdiv {
		padding: 0 20px;
	}
	.mobile-select {
		display:block;
		border-top: 1px solid #ddd;
	}
	.pricediv {
		background: #f2f2f2;
		border-bottom:1px solid #ddd;
	}
	.msrp_price {
		margin-left: 10px;
		margin-top: 5px;
	}
	.resultitem .infobutton {
		padding-left: 5px;
		padding-right: 5px;
	}
	
}
	
