/** Feature Blocks **/

.featuredcontainer {
	padding: 30px 0 60px 0;
}
.featured {	
	min-height: 400px;
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
}
.featured h2 {
	margin-left: 20px;
	color: #bbb;
	text-shadow: 0 0 1px #ddd;
	opacity: .4;
}
.featured .itemcontainer {
	margin-top: 10px;
}

.featured .itemcontainer a:hover {
	text-decoration: none;
	display: block;
}


.item {
	height: 500px;
	box-shadow: 0 0 10px #ccc;
	width: 300px;
	background: white;
	border:1px solid #ddd;
	border-radius: 4px;
	transition: box-shadow .2s;
	margin: 10px auto;
} 
.itemheader {
	text-align: left;
	height: 65px;
	margin-bottom: 20px;
	background: #f9f9f9;
	border-bottom:1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.itemheader p {
	padding: 10px;
	font-size: 18px;
	color: #777;
	font-weight: 200;
}
.itemheader span {
	background: #E09B06;
	text-shadow: 1px 1px 1px #999;
	color: white;
	border-radius: 20px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;
}


/***Column 1,2 formatting*******/

.itemcontent select {
	width: 90%;
	margin: 10px auto;
}
.itemcontent textarea {
	width:90%;
	margin: 10px auto 10px auto;
	height: 330px;
	font-size: 13px;
	line-height: 17px;
	resize:vertical;
}	
.itemcontent .textareadescriber {
	font-size: 13px;
	color: #888;
	line-height: 16px;
	padding-bottom: 3px;
	width: 89%;
	margin: 0 auto;
}
.picturelabel {
	padding-top: 15px;
}
.itemview {
	height: 150px;
	width: 90%;
	margin: 10px auto 10px auto;
	border:2px dotted #ddd;
	overflow: scroll;
}
.itemview p {
	font-size: 13px;
	font-weight: 200;
	color: #999;
	text-align: center;
	padding: 30px;

}

/* Column 3 */

.qualitybox {
	width: 266px;
	margin: 0 auto;
	height: 150px;
/* 	background: #f4f4f4; */
}
.qualitybox .qualitydescription {
	height: 100px;
	background: #f4f4f4;
	border:2px solid #ddd;
	border-radius: 6px;
	width: 100%;
	color: #555;
	font-weight: 200;
	padding: 5px 10px;
}
.qualitybox .qualitydescription span {
	font-weight: bold;
}
.qualitybox .downarrow {
	width: 30px;
	background-image: url("../img/downarrow.png");
	height: 14px;
	margin-left: 140px;
	margin-top: -2px;
	
}
.qualitybox .selectors .qualitynumber {
	width: 26px;
	height: 26px;
	border-radius: 13px;
	line-height: 26px;
	text-align: center;
	color: white;
	font-weight: 200;
	float: left;
	margin: 3px 9px;
	opacity: .3;
}
.qualitybox .selectors .quality1 {background: #169E21;}
.qualitybox .selectors .quality2 {background: #169E56;}
.qualitybox .selectors .quality3 {background: #169E7E;}
.qualitybox .selectors .quality4 {background: #169E9E; opacity:1;}
.qualitybox .selectors .quality5 {background: #16759E;}
.qualitybox .selectors .quality6 {background: #165A9E;}

.qualitybox .selectors .qualitynumber:hover {
	cursor: pointer;
	opacity: 1;
}
#postitem {
	margin: 0 auto;
	display: block;
}

.pricing {
	height: 160px;
	width: 90%;
	padding: 20px 0 15px 0;
	margin: 20px auto;
	background: #f4f4f4;
	border:1px dotted #ddd;
	text-align: center;
}
.suggestedprice h4 {
	color: green;
	font-size: 24px;
	font-weight: 200;
	line-height: 28px;
	padding: 0;
	margin: 0;
}
.suggestedprice p, .listprice p {
	color: #777;
	font-size: 12px;
	font-weight: 200;
}
.listprice {
	padding-top: 15px;
}
.listprice input {
	width: 70%;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
}

/* Error Message */

.errormessage {
	max-width: 964px;
	margin: 0 auto;
	background: #222;
	height: 50px;
	border-radius: 6px;
	color: #FCC2C2;
	border:3px solid #fcc2c2;
	text-align: center;
	font-weight: bold;
	display: table;
	overflow: hidden;
	display: none;
}
.errormessage p{
  display: table-cell; 
  vertical-align: middle; 
  width: 960px;
  text-align: center; 
}

/********************/
/** File Uploader ***/
/********************/
#fileupload {
	width: 100%;
	height: 40px;
}
#currentimages p {
	font-size: 15px;
	font-weight: 200;
	color: #999;
	text-align: center;
	padding: 20px;
	margin-top: 60px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 20px 0 15px 15px;
}
.fileinput-button {
	background: #888;
	border:1px solid #ddd;
	transition: background .3s;
}
.fileinput-button:hover {
	background: #666;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
#imageloadercontainer {
	float: right;
	margin: 22px;
}
#imgloader {
	display: none;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.imagepreview {
	max-width: 90px;
	max-height: 90px;
	float: left;
	margin: 5px;
	border:1px solid #eee;
}