{% extends 'account/pages/browse/base.html' %}

{% block headertitle %}VetCove Dashboard{% endblock %}

{% block browse_css %}
<style>
.side-layout {
  display: table;
  width: 100%;
}
.side-layout-col {
  display: table-cell;
  vertical-align: top;
}
.side-layout .mainbar-container {
	background: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.side-layout-col.sidebar-container {
	width: 250px;
	border-left:1px solid #ddd;
	background: #fafafa;
	box-shadow: 0 0 10px rgba(0,0,0,.1) inset;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.explanation {
	margin: 40px 30px 25px 30px;
	padding-bottom: 25px;
	border-bottom:1px solid #eaeaea;
	font-weight: normal;
	font-size: 13px;
}
.goal-container {
	margin: 40px 30px 50px 30px;
	border-bottom:1px solid #eaeaea;
	padding-bottom: 40px;
	position:relative;
}
.goal-description {
	margin-bottom: 15px;
}
.goal-description h3 {
	font-size: 15px;
	color: #555;
	margin-bottom: 0;
}
.goal-description p {
	color: #777;
	font-size: 12px;
	margin: 0 100px 0 0;
}
.goal-description .prize {
	float: right;
	position:absolute;
	top: 0;
	right: 0;
	text-align: center;
	background: #edf8eb;
	border: 1px solid #61a256;
	border-radius: 3px;
	padding: 0px 5px;
}
.goal-description .prize h4 {
	margin: 0;
	font-size: 15px;
	color: #37762c;
}
.goal-description .prize p {
	color: #666;
	font-size: 10px;
	letter-spacing: .3px;
	font-weight: 200;
	margin: 0;
}
.goal-container .progress {
	margin-bottom: 0px;
	margin-top: -5px;
	height: 15px;

}
.goal-container .progress .progress-bar {
	background: #5ecadf;}
.goal-container .progress .progress-bar-orange {
	background: #f78b26;
}
.goal-container .progress .progress-bar-purple {
	background: #b161c2;
}
.goal-container .progress .progress-bar-green {
	background: #0aab89;
}
.progress-meter {
	display:inline-block;
	width: 200px;
	margin-left:-100px;
	margin-bottom: -10px;
	text-align: center;
}
.progress-text {
	display:inline-block;
	position:relative;
}
.progress-text .status {
	background: #333;
	color: white;
	border-radius: 3px;
	font-weight: 200;
	font-size: 11px;
	letter-spacing: .2px;
	padding:2px 5px;
	margin: 0;
	position:relative;
	z-index: 1;
}
.progress-text .down-arrow {
	position:relative;
	z-index: 0;
	color: #333;
	vertical-align: top;
	line-height: 12px;
	height: 12px;
	margin-top: -6px;
	margin-bottom: 0px;
}
.tickmarks {
	border:1px solid green;
	position
}
.tickmarks .arrow {
	color:red;
	margin: -6px 0 0 0;
}
/*Stats */
.side-layout-col.sidebar-container {
	padding-bottom: 40px;
	padding-top: 15px;
}
.stats {
	padding: 20px 0 30px 0;
	margin: 0 10px;
	border-bottom:1px solid #eee;
	text-align: center;
	overflow: auto;
}
.stats .stat {
	padding: 0px 0 10px 0;
}
.stats .stat .number {
	font-size: 35px;
	font-weight: bold;
	color: #555;
	letter-spacing: 1px;
	line-height: 38px;
	margin-bottom: 0;
}
.stats .stat .description {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}
.fact {
	text-align: center;
	padding: 5px;
	margin: 0 10px;
	border-bottom:1px solid #eaeaea;
}
.fact p {
	margin-bottom: 0px;
	font-size: 13px;
	color: #888;
}
</style>
{% block rewards_css %}{% endblock %}
{% endblock %}
{% block browse_js %}
{% block rewards_js %}{% endblock %}
{% endblock %}
{% block browse_content %}
<div class="intro-box-container">
	<div class="intro-box">
		<div class="intro-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -112px 0' ></div>
		<h3 class="page-title">{% block title %}Rewards{% endblock %}<div class="gradient"></div></h3>
		<div class="links">
			<a {% if browse_rewards_rewards %}class="active"{% endif %} href='/rewards'>Monthly Rewards</a> | <a {% if browse_rewards_store %}class="active"{% endif %} href='/rewards/store'>Redeem Your Credits</a> | <a {% if browse_rewards_history %}class="active"{% endif %} href='/rewards/history'>Rewards History</a>
		</div>
	</div>
</div>
<div class="side-layout vetbox">
    <div class="side-layout-col mainbar-container">
    	<div class="mainbar">
    		{% block rewards %}
			{% endblock %}
    	</div>
    </div>
    <div class="side-layout-col sidebar-container">
    	<div class="sidebar">
    		<div class="stats">
	    		<div class="stat">
	    			<p class="number">320</p>
	    			<p class="description">Current Credit Balance</p>
	    		</div>
	    		<a href='/rewards/store' class="button button-rounded button-flat-primary"> Redeem Your Credits</a>
	    	</div>
	    	<div class="fact">
	    		<p>1,240 Lifetime Credits Earned</p>
	    	</div>
	    	<div class="fact">
	    		<p>8 Total Goals Reached</p>
	    	</div>
	    	<div class="fact">
	    		<p>16% of Goals Achieved</p>
	    	</div>
		</div>
    </div>
</div>
{% endblock %}