{% extends 'account/sign/newaccount/newaccount_base.html' %}

{% block headertitle %}New Account | Details{% endblock %}
{% block newaccount_action %}/form/newaccount/details{% endblock %}
{% block newaccount_previous %}{% endblock %}
{% block newaccount_next %}<button class="button button-primary button-rounded">Save and Continue</button>{% endblock %}
{% block newaccount_content %}
	<div class="col-md-12 newaccount-header">
		<h3>Clinic Details</h3>
		<h4>Please provide some clinic details</h4>
	</div>
	<div class="sign-form">
		<div class="form-group status-group">
			<p>Legal Entity Name<span class="error">Required</span></p>
			<input data-type="text" data-required="true" name="name" class="form-control input" type="text" placeholder="Clinic Name" value="{% if clinic.name %}{{clinic.name}}{% endif %}">
			<div class="status">
				<span class="glyphicon glyphicon-ok"></span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="form-group status-group">
			<p>Type of Organization <span class="error">Required</span></p>
			<select name="organization_type" class="form-control" data-required="true" data-type="select">
				<option value=''>Select Organization Type. . . </option>
				<option {% if clinic.organization_type == 'Individual' %}selected{% endif %}>Individual</option>
				<option {% if clinic.organization_type == 'LLC' %}selected{% endif %}>LLC</option>
				<option {% if clinic.organization_type == 'Personal' %}selected{% endif %}>Personal</option>
				<option {% if clinic.organization_type == 'Sole-Proprietor' %}selected{% endif %}>Sole-Proprietor</option>
				<option {% if clinic.organization_type == 'Non-Profit' %}selected{% endif %}>Non-Profit</option>
				<option {% if clinic.organization_type == 'Corporation' %}selected{% endif %}>Corporation</option>
				<option {% if clinic.organization_type == 'Partnership' %}selected{% endif %}>Partnership</option>
				<option {% if clinic.organization_type == 'Other' %}selected{% endif %}>Other</option>
			</select>
		</div>
		<div class="form-group status-group">
			<p>Clinic Website URL (if applicable)</p>
			<input data-type="text" data-required="false" name="website" class="form-control input" type="text" placeholder="Clinic Website URL" value="{% if clinic.website %}{{clinic.website}}{% endif %}">
			<div class="status">
				<span class="glyphicon glyphicon-ok"></span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="form-group status-group">
			<p>Phone Number</p>
			<input data-type="text" data-required="true" name="phonenumber" class="form-control input" type="text" placeholder="Phone Number" value="{% if clinic.phonenumber %}{{clinic.phonenumber}}{% endif %}">
			<div class="status">
				<span class="glyphicon glyphicon-ok"></span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="inline">
			<div class="form-group status-group first-group">
				<p>Number of Vets in Practice <span class="error">Required</span></p>
				<select name="number_of_vets" class="form-control" data-required="true" data-type="select">
					<option value=''>Select Number of Vets. . . </option>
					{% for i in size_range %}
						<option {% if clinic.number_of_vets == i %}selected{% endif %} value='{{i}}'>{{i}} veterinarians</option>
					{% endfor %}
				</select>
			</div><div class="form-group status-group first-group">
				<p>Total Practice Size <span class="error">Required</span></p>
				<select name="practice_size" class="form-control" data-required="true" data-type="select">
					<option value=''>Select Practice Size. . . </option>
					{% for i in size_range %}
						<option {% if clinic.practice_size == i %}selected{% endif %} value='{{i}}'>{{i}} people</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group status-group">
			<p>Practice Type (check all that apply)</p>
			<div class="checkboxes">
				<div class="checkbox">
					<label>
						<input name="large" type="checkbox">Large Animal
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input name="small" type="checkbox">Small Animal
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input name="mixed" type="checkbox">Equine
					</label>
				</div>
			</div>
		</div>
		<div class="form-group status-group">
			<p>Group Purchasing Organizations (Check all that apply, we verify with the GPOs)</p>
			<div class="checkboxes">
				{% for gpo in gpos %}
				<div class="checkbox">
					<label>
						<input name="gpo_{{gpo.name}}" type="checkbox">{{gpo.name}}
					</label>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}