{% extends 'account/sign/newaccount/newaccount_base.html' %}

{% block headertitle %}New Account | Verification and Tax Exemption{% endblock %}
{% block newaccount_action %}/form/newaccount/verification{% endblock %}
{% block newaccount_previous %}<a href='/newaccount/address' class="button button-rounded">Back to Address</a>{% endblock %}
{% block newaccount_next %}<button class="button button-primary button-rounded">Save and Continue</button>{% endblock %}
{% block newaccount_action %}/form/newaccount/info{% endblock %}
{% block newaccount_content %}
<div class="col-md-12 newaccount-header">
	<h3>Welcome To VetCove!</h3>
	<h4>We need to confirm some clinic information before you can begin</h4>
</div>
<div class="sign-form">
	<div class="form-error alert alert-danger">
		<p>There are still incomplete fields on this form</p>
	</div>
	<div class="form-group status-group">
		<p>Legal Entity Name<span class="error">Required</span></p>
		<input data-type="text" data-required="true" name="clinic_name" class="form-control input" type="text" placeholder="Clinic Name">
		<div class="status">
			<span class="glyphicon glyphicon-ok"></span>
			<span class="glyphicon glyphicon-remove"></span>
		</div>
	</div>
	<div class="form-group status-group">
		<p>Primary Practitioner Name<span class="error">Required</span></p>
		<input data-type="text" data-required="true" name="primary_practitioner" class="form-control input" type="text" placeholder="Practitioner Name">
		<div class="status">
			<span class="glyphicon glyphicon-ok"></span>
			<span class="glyphicon glyphicon-remove"></span>
		</div>
	</div>
	<div class="inline">
		<div class="form-group status-group first-group">
			<p>Veterinary License No.<span class="error">Required</span></p>
			<input data-type="text" data-required="true" name="license" class="form-control input" type="text" placeholder="License No.">
			<div class="status">
				<span class="glyphicon glyphicon-ok"></span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div><div class="form-group status-group">
			<p>State<span class="error">Required</span></p>
			<select data-type="text" name="state" data-required="true" class="form-control">
				<option value="">Select a state. . . </option>
				<option>New Jersey</option>
				<option>New York</option>
				<option>Kentucky</option>
			</select>
			<div class="status">
				<span class="glyphicon glyphicon-ok"></span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
	</div>
	<div class="form-group status-group">
		<p>Copy of Veterinary License (we accept PNG and JPG images)<span class="error">Required</span></p>
		<div class="license">
			<input data-type="file" type="file" name="license_file">
			<div class="file-input">
				<img class="loader" src='{{STATIC_URL}}img/loaders/ajax-loader.gif' alt="Uploading. . .">
				<div class="file-image">
					<img src='http://placehold.it/100x100' alt="License Image">
					<p class="delete">Delete</p>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input name="large_animal" type="checkbox">OR I'd rather submit a copy by fax to (732) 123-4567
				</label>
			</div>
		</div>
	</div>
	<div class="form-group status-group">
		<p>Tax Exemption or Resale Certificate Number (if applicable)<span class="error">Required</span></p>
		<input data-type="text" name="primary_practitioner" class="form-control input" type="text" placeholder="Exemption/Certificate Number">
		<div class="status">
			<span class="glyphicon glyphicon-ok"></span>
			<span class="glyphicon glyphicon-remove"></span>
		</div>
		<p class="help-text">You will also need to fax a copy of your exemption/certificate to (732) 123-4567</p>
	</div>
</div>
{% endblock %}