{% extends 'account/sign/sign_base.html' %}
{% block headertitle %}New Account{% endblock %}
{% block sign_css %}
<style>
.sign-container {
	padding: 20px;
	text-align: center;
}
.sign-container h3 {
	margin: 0;
	padding: 5px 10px 15px 10px;
	color: #333;
}
.sign-container p {
	font-size: 13px;
}
.sign-container .forms {
	margin-top: 20px;
	padding-top: 20px;
	border-top:1px solid #ddd;
}
.sign-container .forms .file {
	font-size: 16px;
	font-weight: bold;
}
.sign-container .forms .file span {
	color: #4ccd76;
}
</style>
{% endblock %}

{% block sign_js %}

{% endblock %}
{% block sign_content %}
<div class="sign-container">
	<h3>
		{% if license or sales %}
		Action required to complete your application!
		{% else %} 
		Your application is pending our review!
		{% endif %} 
	</h3>
	<p>
		{% if license or sales %}
		You still need to fax us the following information (listed below).
		{% else %} 
		Thank you submitting your application.
		{% endif %}
		We will review your application and confirm your provided credentials, <strong>typically responding by the end of the business day</strong>. If you have any additional questions,
		you can reach us directly at xxx xxx-xxxx.
	</p>
	<div class="forms">
		<p>You chose to submit your veterinary license and sales exemption forms via fax. Please fax the following forms to (xxx) xxx-xxxx:</p>
		{% if license %}
		<p class="file"><span class="glyphicon glyphicon-asterisk"></span> Copy of Veterinary License for {{clinic.practitioner_name}} (#{{clinic.license_no}})</p>
		{% endif %}
		{% if sales %}
		<p class="file"><span class="glyphicon glyphicon-asterisk"></span> Sales and/or Resale Exemption Certificate for #{{clinic.sales_no}} </p>
		{% endif %}
	</div>
</div>

{% endblock %}