{% load phonenumber %}
{% load dollars %}
{% load zipcodify %}
<div class="maincontent-container covebox history-item">
	{% if sellhistory %}
		<div class="shipping-overlay" id="shipping-overlay-{{pitem.id}}">
			<div class="row shippingrow">
		
				<form method="POST" action="/account/purchaseshippinginfo/{{pitem.id}}" id="shipping-form-{{pitem.id}}" class="shipping-form">
					{% csrf_token %}
					<p> Please describe shipping details, including shipping company and tracking number. If there was a problem,
					please inform your seller and mark as not yet shipped</p>
					<textarea name="shipping-details" class="buymessage form-control" placeholder="Shipping details i.e. shipping company and tracking number">{{pitem.seller_message}}</textarea> 
					<button value="shipped" name="submit" class="button button-tiny button-action button-rounded" name="submit" value="submit">Submit and Mark Item as Shipped</button>
					<button value="not_shipped" name="submit" class="button button-tiny button-caution button-rounded" name="submit" value="submit">Submit and Mark Item as Not Yet Shipped</button>
					<a data-shipping="#shipping-overlay-{{pitem.id}}" class="shipping-cancel button button-tiny button-rounded" name="submit" value="submit">Cancel</a>
				</form>
			</div>
		</div>
	{% endif %}

	<div class="order-overview row">
		<div class="col-md-4 col-sm-4 col-xs-12 order-details-container">
			<h4 class="order-details">Order Placed</h4>
			<p class="order-date">{{pitem.purchase_date|date:"F jS, Y"}}</p>
			<p class="order-number">Order #: <span>00000{{pitem.cartitem.id}}</span></p>
			<div class="order-info">
				<p class="order-info-header">Shipping Address</p>
				<p>{{pitem.cartitem.checkout.shipping_address.name}}</p>
				<p>{{pitem.cartitem.checkout.shipping_address.address_one}}</p>
				{% if pitem.cartitem.checkout.shipping_address.address_two %}<p>{{pitem.cartitem.checkout.shipping_address.address_two}}</p>{% endif %}
				<p>{{pitem.cartitem.checkout.shipping_address.city}}, {{pitem.cartitem.checkout.shipping_address.state}} {{pitem.cartitem.checkout.shipping_address.zipcode|zipcodify}}</p>
				<p>{{pitem.cartitem.checkout.shipping_address.phonenumber}}</p>
			</div>
			{% if buyhistory %}
			<div class="order-info">
				<p class="order-info-header">Payment</p>
				{% if pitem.cartitem.checkout.payment.balancedcard %}
				<p>{{pitem.cartitem.checkout.payment.balancedcard.brand}}</p>
				<p>* * * * * * * * {{pitem.cartitem.checkout.payment.balancedcard.last_four}}</p>
				<p>Expires: {{pitem.cartitem.checkout.payment.balancedcard.expiration_month}}/{{pitem.cartitem.checkout.payment.balancedcard.expiration_year}}</p>
				{% elif pitem.cartitem.checkout.payment.balancedbankaccount %}
				<p>{{pitem.cartitem.checkout.payment.balancedbankaccount.name}}</p>
				<p>{{pitem.cartitem.checkout.payment.balancedbankaccount.bank_name}}</p>
				<p>{{pitem.cartitem.checkout.payment.balancedbankaccount.account_number}}</p>
				{% endif %}
			
			</div>
			{% endif %}
			<p class="order-price">Total Price: <span>{{pitem.total|dollars}}</span>
			<p class="order-quantity">Quantity: <span>{{pitem.cartitem.quantity}}{% if pitem.cartitem.quantity > 1 %}(at {{pitem.cartitem.price|dollars}} each){% endif %}</span>
			<p class="order-number">Payout Status: 
				<span>
					{% if pitem.item_sent and pitem.payout.bankpayout %}
						Paid - Bank Account Credited
					{% elif pitem.paid_out and pitem.payout.checkpayout %}
						Paid - Check Mailed
					{% elif pitem.item_sent %}
						Payout Pending (14 day wait period)
					{% else %}
						Waiting until Shipped
					{% endif %}
				</span>
			</p>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<p class="order-status">Status: 
				<span>
				{% if pitem.shipping_included %}
					{% if pitem.item_sent %}
						Shipped 
					{% else %}
						Waiting to be Shipped
					{% endif %}
				{% else %}
					Ready for Pick-Up
				{% endif %}
				</span>
			</p>
			{% if buyhistory %}
			<p class="order-next"><span>Waiting for seller to provide shipping information</span></p>
			{% else %}
			<a class="shipping-button shipping-show button button-tiny button-action button-rounded " data-shipping="#shipping-overlay-{{pitem.id}}">Edit Shipping Status</a>
			{% endif %}
			<div class="order-item row">
				<div class="col-md-4 col-sm-4 col-xs-12 order-image">
					<img src="{% if pitem.cartitem.item.mainimage %}{{pitem.cartitem.item.mainimage.photo_small.url}}{% else %}{{STATIC_URL}}img/noimage_300x400.jpg{% endif %}" alt="{{pitem.cartitem.item.name}}"/>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 order-description">
					<p class="order-name"><a href='/item/{{pitem.cartitem.item.id}}/details'>{{pitem.item_name}} (Condition: {{pitem.cartitem.item.get_conditionquality_display}})</a></p>
					<p class="order-seller">Seller Information</p>
					<p class="order-seller-info">{{pitem.seller.name}}</p>
					<p class="order-seller-info">{{pitem.seller.email}}</p>
					<p class="order-seller-info">{{pitem.seller.company}}</p>
					<p class="order-seller-info">{{pitem.seller.phonenumber|phonenumber}}</p>
				</div>
			</div>
			<div class="row">
				<p class="order-seller-message">Shipping Information: <span>{% if pitem.seller_message %}{{pitem.seller_message}}{% else %} The seller has not provided any shipping details{% endif %}</span>{% if sellhistory%}<a class="shipping-show" data-shipping="#shipping-overlay-{{pitem.id}}">edit shipping</a>{% endif %}</p>
				{% if buyhistory %}
				<p id="seller-message-current-{{pitem.id}}" class="seller-message-current order-seller-message">
					Your Message for Seller: 
					<span>
						{% if pitem.buyer_message %}
							{{pitem.buyer_message}} <span data-message-current="#seller-message-current-{{pitem.id}}" data-form="#seller-message-form-{{pitem.id}}" class="edit-message seller-message-button">edit</span>
						{% else %} 
							You have not yet provided any additional information<span data-message-current="#seller-message-current-{{pitem.id}}" data-form="#seller-message-form-{{pitem.id}}" class="edit-message seller-message-button">add message</span>
						{% endif %}
					</span>
				</p>
				{% else %}
				<p class="order-seller-message">Buyer Message: <span>{% if pitem.buyer_message %}{{pitem.buyer_message}}{% else %}The buyer has not provided any additional shipping details{% endif %}</span></p>
				{% endif %}
				
				{% if buyhistory %}
				<form method="POST" action="/purchasesellermessage/{{pitem.id}}" id="seller-message-form-{{pitem.id}}" class="seller-message-form">
					{% csrf_token %}
					<p> Additional Information for Seller <span>(i.e. special delivery instructions, any shipping delays)</span></p>
					<textarea name="buyer-message" class="buymessage form-control">{{pitem.buyer_message}}</textarea> 
					<button class="button button-tiny button-primary button-rounded" name="submit" value="submit">Send Message</button>
					<a data-message-current="#seller-message-current-{{pitem.id}}" data-form="#seller-message-form-{{pitem.id}}" class="seller-message-cancel button button-rounded button-tiny">Cancel</a>
				</form>
				{% endif %}

			</div>
		</div>
	</div>
	{% if buyhistory %}
	<div class="row order-actions">
		<a href="/account/reportproblem/{{pitem.id}}" class="button button-rounded button-tiny">Report A Problem</button>
		<a data-message-current="#seller-message-current-{{pitem.id}}" data-form="#seller-message-form-{{pitem.id}}" class="seller-message-button button button-rounded button-tiny">Send Seller Shipping Instructions</a>
	</div>
	{% endif %}

</div>