{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | File Report</title>{% endblock%}
{% block buyhistory %}active{% endblock %}
{% block jsblock %}
<script>
</script>
{% endblock %}
{% block maintitle %}File a Report for {{pitem.cartitem.item.name}}{% endblock %}
{% block headersubcss %}
<style>
.report-container {
	padding: 0 20px;
}
.report-step {
	margin-top: 25px;
	margin-bottom: 45px;
}
.report-step h3 {
	font-size: 18px;
	font-weight: 400;
	border-bottom:1px solid #eee;
	padding-bottom: 10px;
}
h3 span {
	font-weight: 800;
}

.seller-contact {
	background: #f2f2f2;
	border-radius: 4px;
	border:1px solid #ddd;
	padding: 10px 40px;
	display:inline-block;
}
.seller-contact .report-seller {
	font-weight: 800;
}
.seller-contact .report-seller-info {
	font-weight: 200;
	margin: 3px 0;
}
.report-form textarea{
	resize:vertical;
	min-height: 100px;
}
.report-form .input-short {
	max-width: 300px;
}
.report-form .input-element {
	margin-bottom: 15px;
}
/*If report submitted */
.report-submitted {
	padding: 20px;
}
</style>
{% endblock %}

{% block maincontent %}
{% load phonenumber %}
{% if not pitem.report %}
<div class="covebox report-container">
	<div class="report-step">
		<h3><span>Action 1:</span> Resolve directly with the seller</h3>
		<p>VetCove is committed to ensuring that every transaction that takes place through our site goes smoothly.  We strive to create mutually beneficial transactions between trusted partners that result in getting quality equipment into the hands of those who need it.  Try as we may, sometimes items do not arrive as a buyer expects.  For those situations, we’ve created the Buyer Protection Program to ensure that buyers find total satisfaction when using VetCove.</p>
		<p>When an item arrives materially different than it was described on the site, such that it materially affects the value and/or functionality of the unit, we will facilitate a resolution for you to return the item at the seller’s expense for a full refund.  We require that buyers try to resolve a dispute directly with a seller first.  Please use the contact information below to contact the seller directly</p>
		<div class="seller-contact">
			<p class="report-seller">Seller Information</p>
			<p class="report-seller-info">{{pitem.seller.name}}</p>
			<p class="report-seller-info">{{pitem.seller.email}}</p>
			<p class="report-seller-info">{{pitem.seller.phonenumber|phonenumber}}</p>
		</div>
	</div>
	<div class="report-step">
		<h3><span>Action 2:</span> Filing a Report</h3>
		<p>If you are still unable to resolve the disagreement after five business days, you may submit a dispute to the VetCove Resolution team. To submit a request for resolution, please choose a reason for your report, and provide as many details as possible in the box below.  Please note that VetCove Buyer Protection only applies to financial transactions that take place through VetCove.  VetCove has limited authority to resolve disputes that took place between businesses in person and/or outside of our system</p>
		<form action="/account/reportproblemform/{{pitem.id}}" class="report-form" method="POST">
			{% csrf_token %}
			<div class="input-element">
				<label>Reason for Report</label>
				<div class="radio">
				  <label>
					<input type="radio" name="reason" value="not_received" checked> 
					I did not receive my order items
				  </label>
				</div>
				<div class="radio">
				  <label>
					<input type="radio" name="reason" value="received_late"> 
					I received the items late
				  </label>
				</div>
				<div class="radio">
				  <label>
					<input type="radio" name="reason" value="different"> 
					The items were different from described
				  </label>
				</div>
				<div class="radio">
				  <label>
					<input type="radio" name="reason" value="wrong"> 
					I received the wrong item
				  </label>
				</div>
			</div>
			<div class="input-element">
				<label>Additional Details</label>
				<textarea required class="form-control" name="details"></textarea>
			</div>
			<button class="button button-action button-rounded" name="submit" value="submit">Submit Dispute Form</button>
		</form>
	</div>
</div>
{% else %}
<div class="covebox report-submitted">
	<p> We have received your report and we will be in contact with you shortly. Please
	allow up to 48 hours from the time the report is submitted until you hear back from us.</p>
	
	<p>Reason: 
		<span>
		{% if pitem.report.reason == 'not_received' %}
			I did not receive my order items
		{% elif pitem.report.reason == 'received_late' %}
			I received the items late
		{% elif pitem.report.reason == 'different' %}
			The items were different from described
		{% elif pitem.report.reason == 'wrong' %}
			I received the wrong item
		{% endif %}
		</span>
	</p>
	<p>Details: <span>{{pitem.report.details}}</span></p>
	<a href="/account/buyhistory">&larr; Return to Purchase History</a>
</div>
{% endif %}
{% endblock %}