{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Wish List</title>{% endblock%}
{% block wishlist %}active{% endblock %}

{% block jsblock %}
{% endblock %}
{% block maintitle %}Wish List{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/search.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/profileitem.css" rel="stylesheet" type="text/css" />
<style>
</style>
{% endblock %}
{% block maincontent %}
	{% if items %}
			{% include 'search/productsearchitem.html' %}
	{% else %}
	<div class="maincontent-container covebox">
		<p class="nolistings" style="display:block">There are no items on your wishlist</p>
	</div>
	{% endif %}
  		
{% endblock %}