<p>Dear {{email_name}},</p>
<p>Thank you for selling on VetCove!  We hope you’re enjoying your experience with our service.</p>
<p>We’re pleased to inform you that that your item has been paid for by the buyer, and payment is ready for you.  However, our records show that you do not have a payment method set up to receive payment.  To choose a preferred method of payment, please go to your VetCove account by clicking the below link.</p>
<p><span>
  <a href="http://www.vetcove.com/account/payment">Account and Payment Preferences</a>
</span></p>
<p>VetCove cannot pay you for any sold items until a payout method is selected. You can either 
be paid through a direct deposit into a bank account, or we can mail a check to you. We attached
the items you have sold below that have not currently been paid out.</p>
<p>If you are having trouble entering a payout method, don't hesitate to get in contact with us.</p>
<p>Warmest regards,</p>
<p>Alex and The VetCove Team</p>