{% extends 'email_templates/email_foundation.html' %}

{% block textblock %}
<p>Thank you for selling on VetCove!  We hope you’re enjoying your experience with our service.</p>
<p>We are pleased to inform you that that your item has been paid for by the buyer, and payment is ready for you.  However, we were unable to successfully credit your bank account (account {{bank_account.balancedbankaccount.account_number}}). We attached
the items you have sold below that have not currently been paid out.</p>
{% endblock %}

{% block secondtextblock %}
<p>You can either be paid through a direct deposit into a bank account, or we can mail a check to you.</p>
<p>Follow the link below to update your payment information. If you are having trouble entering a payout method, don't hesitate to get in contact with us.</p>
{% endblock %}