{% extends 'sellerportal/base.html' %}

{% block seller_css %}
<style>
.content {
	margin: 20px 0;
}
.back-arrow {
	margin-left: 20px;
	padding-top: 30px;
}
.back-arrow:hover {
	text-decoration: underline;
}
/* Main Header Bar */
.mainbar {
	margin: 5px 15px 15px 15px;
	padding: 20px 10px;
	position:relative;
}
.mainbar table {
	margin-right: 380px;
}
.mainbar td {
	vertical-align: top;
}
.mainbar img {
	max-width: 80px;
	max-height: 100px;
	border:2px solid #eee;
}
.mainbar .title {
	padding-left:20px;
}
.mainbar .title .star {
	margin-bottom: 6px;
}
.mainbar .title p {
	margin-bottom: 3px;
	font-size: 13px;
}
.mainbar .title h3 {
	margin-top: 0px;
}
.mainbar .title a {
	color: #333;
}
.mainbar .title a:hover {
	text-decoration: underline;
}
.mainbar .stats {
	position:absolute;
	top: 12px;
	right: 15px;
}
.mainbar .stat {
	display:inline-block;
	text-align: center;
	margin: 0 20px;
}
.mainbar .stat .completebar {
	margin: 0 auto;
}
.mainbar .stat h6 {
	font-size: 45px;
	font-weight: 200;
	margin-bottom: 4px;
}
.mainbar .stat p {
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
}
.mainbar .buttons{
	display:none;
	position:absolute;
	right: 20px;
	bottom: 20px;
}
/* Product Content  */
.row-container {
	margin: 0 15px 40px 15px;
}
.product-content-container {
	border-top: none;
}
.product-content {
	padding: 40px 20px;
	max-width: 1100px;
	margin: 0 auto;
	font-size: 13px;
}
.product-content .change-div {
	display:none;
}
.product-content .edit {
	width: 100px;
	text-align: right;
}
.product-content .edit a.button {
	padding-left: 10px;
	padding-right: 10px;
}
.product-content .edit a.button:hover {
	cursor:pointer;
}
.product-content table td {
	vertical-align: top;
}
.product-content .type {
	width: 220px;
	padding-right: 20px;
	font-weight: bold;
}
.product-content .type p {
	margin-bottom: 4px;
}
.product-content .type .description {
	font-weight:normal;
	font-size: 12px;
	color: #888;
}
.product-content-tr {
	border-bottom:1px solid #eee;
} 
.product-content-tr td {
	padding: 10px 0;
}
.product-content .image {
	display:inline-block;
	margin-bottom: 3px;
}
.product-content .none {
	font-style:italic;
	color: #bbb;
}
/*Items Table */
.items-table {
	margin: 0;
}
.items-table.table thead tr th {
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 4px;
	font-weight: normal;
}
}
.edit {
	margin-bottom: 30px;
	border-top:none;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.edit h2 {
	font-size: 16px;
	color: #444;
	margin-top: 0px;
	padding: 5px;
	margin-bottom: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #d6d6d6;
	background: #eaeaea;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E4E4E4 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E4E4E4 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E4E4E4 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E4E4E4));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E4E4E4 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E4E4E4 100%);
}
/*Analytics Container */
.analytics-content {
	padding: 20px 20px 30px 20px
}
.analytic-stat h5 {
	font-size: 42px;
	margin-bottom: 3px;
	color: #4ab0d2;
}
.analytic-stat p {
	text-transform: uppercase;
	color: #aaa;
	font-size: 14px;
}
.analytics-content .visualization {
	margin-bottom: 20px;
}
.visual-container h3{
	font-size: 16px;
	color: #333;
	margin: 20px 0px 10px 0px;
	padding-bottom:10px;
	border-bottom:1px solid #eaeaea;
}
.chartdiv {
	width: 100%;
	min-height: 350px;
	border:1px solid #eaeaea;
	box-shadow: 0 0 20px rgba(0,0,0,.1) inset;
	border-radius: 3px;
}
#map {
	margin: 20px 10px;
}
.usmap-legend {
	margin: 20px 10px;
}
.usmap-legend img{
	max-width: 100%;
}
#competition-table .active td {
	background: #92d5eb;
}
#competition-table a {
	color: #333;
}
#competition-table a:hover {
	text-decoration:underline;
}
</style>
{% block product_css %}{% endblock %}
{% endblock %}

{% block js %}
{% block product_js %}{% endblock %}

{% endblock %}
{% block content %}
<a class="back-arrow" href='/portal/product'>&#171; Return To Your Products Home</a></span>

<div class="vetbox mainbar row">
	<table>
		<tr>
			<td>
				<img src="{{STATIC_URL}}img/placeholder_pics/search/5.jpg">
			</td>
			<td class="title">
				<a href='/product/{{product.name}}'><h3>Phenylbutazone Apple Flavor Paste</h3></a>
				<div class="star star45"></div>
				<p><strong>Last Updated:</strong> May 1st, 2014</p>
			</td>
		</tr>
	</table>
	<div class="stats">
		<div class="stat">
			<h6>{{product.views}}</h6>
			<p>Page Views</p>
		</div>
		<div class="stat">
			<h6>{{product.purchases}}</h6>
			<p>Purchases</p>
		</div>
		<div class="stat">
			<div class="completebar completebar-large completebar5-large"></div>
			<p>Listing Quality</p>
		</div>
	</div>
	<div class="buttons">
		<button class="button button-flat button-rounded">Save</button>
		<button class="button button-flat-primary button-rounded">Save and Preview</button>
	</div>
	<div class="clear"></div>
</div>

<div class="tabs vetbox">
	<a href="/portal/product/{{product.id}}/edit">
		<div class="tab{% if portal_products_edit %} active{% endif %}">
			Product Information
		</div>
	</a>
	<a href="/portal/product/{{product.id}}/analytics">
		<div class="tab{% if portal_products_analytics %} active{% endif %}">
			Analytics
		</div>
	</a>
	<a href="/portal/product/{{product.id}}/promotions">
		<div class="tab noborder{% if portal_products_promotions %} active{% endif %}">
			Promotions
		</div>
	</a>
	<div class="clear"></div>
</div>
<div class="row-container">
	{% block product_content %}
	{% endblock %}

</div>
{% endblock %}








