{% extends 'sellerportal/product/base.html' %}
{% block headertitle %}Details | {{product.displayname}}{% endblock %}
{% block product_css %}

{% endblock %}

{% block product_js %}

{% endblock %}

{% block product_content %}
<div class="vetbox product-content-container">
	<div class="product-content">
		<table>
			<tr class="product-content-tr">
				<td class="type">
					<p>Product Name</p>
				</td>
				<td class="">
					<div class="value">
						<p>Phenylbutazone Oral Paste, 1gm/5ml</p>
					</div>
					<div class="change-div">
						<input type="text" class="form-control shortinput required">
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Category</p>
				</td>
				<td class="">
					<div class="value">
						<p>Anti-Inflammatories</p>
					</div>
					<div class="change-div">
						<input type="text" class="form-control shortinput required">
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Quick Description</p>
					<p class="description">Phenylbutazone may be prescribed for inflammation, pain, and lameness</p>
				</td>
				<td class="">
					<div class="value">
						<p>A once a day oral tablet, administered by the owner at home that works directly at the origin of the canine mast cell tumor to lead to long term tumor control. </p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Items</p>
					<p class="description">Items are the different sizes/lengths, and types of products offered by the manufacturer</p>
				</td>
				<td class="">
					<div class="value">
						<table class="table items-table">
							<thead>
								<tr>
									<th>Manufacturer ID #</th>
									<th>Size/Length/Type (i.e. 50ml bottle, 12" rounded, etc.)</th>
									<th>MSRP</th>
								</tr>
							</thead>
							<tr>
								<td class="">
									#93m29Ds
								</td>
								<td class="">
									1gm/5ml
								</td>
								<td class="">
									$23.49
								</td>
							</tr>
						</table>
					</div>
				<!-- 	<button class="button button-tiny button-rounded">Add Another Item</button> -->
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Images</p>
					<p class="description">Images can include product images and relevant graphs, charts, and relevant iamges</p> 
				</td>
				<td class="">
					<div class="value">
						<div class="image">
							<img src="{{STATIC_URL}}img/placeholder_pics/search/5.jpg">
						</div>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Detailed Description</p>
					<p class="description">A detailed description of the product</p>
				</td>
				<td class="">
					<div class="value">
						<p>Phenylbutazone is a nonsteroidal anti-inflammatory drug (NSAID) and cylooxygenase inhibitor. It is a potent pain reliever, antipyretic and anti-inflammatory. In the horse, it is used commonly for lameness, resulting from soft-tissue injury, muscle soreness, bone and joint problems, and laminitis. NSAIDs work by inhibiting the body's production of prostaglandins, thromboxane and other inflammatory mediators. Some of these actions may be dose-dependent. Phenylbutazone may be given intravenously or orally; pain relief and fever reduction usually starts within one to two hours. </p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Features</p>
					<p class="description">A list of the top product features</p>
				</td>
				<td class="">
					<div class="value">
						<p>No features provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Usage</p>
					<p class="description">How should this product be used and/or administered</p>
				</td>
				<td class="">
					<div class="value">
						<p class="none">No usage provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Specs</p>
					<p class="description">How should this product be used and/or administered</p>
				</td>
				<td class="">
					<div class="value">
						<p class="none">No specifications provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
