{% extends 'sellerportal/product/base.html' %}
{% block headertitle %}Details | {{product.displayname}}{% endblock %}
{% block product_css %}

{% endblock %}

{% block product_js %}

{% endblock %}

{% block product_content %}
<div class="vetbox product-content-container">
	<div class="product-content">
		<table>
			<tr class="product-content-tr">
				<td class="type">
					<p>Product Name</p>
				</td>
				<td class="">
					<div class="value">
						<p>Equizone Phenylbutazone Powder</p>
					</div>
					<div class="change-div">
						<input type="text" class="form-control shortinput required">
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Category</p>
				</td>
				<td class="">
					<div class="value">
						<p>NSAID Pharmacueticals</p>
					</div>
					<div class="change-div">
						<input type="text" class="form-control shortinput required">
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Quick Description</p>
					<p class="description">A quick, two sentence description of the product</p>
				</td>
				<td class="">
					<div class="value">
						<p>A once a day oral tablet, administered by the owner at home that works directly at the origin of the canine mast cell tumor to lead to long term tumor control. </p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Items</p>
					<p class="description">Items are the different sizes/lengths, and types of products offered by the manufacturer</p>
				</td>
				<td class="">
					<div class="value">
						<table class="table items-table">
							<thead>
								<tr>
									<th>Manufacturer ID #</th>
									<th>Size/Length/Type (i.e. 50ml bottle, 12" rounded, etc.)</th>
									<th>MSRP</th>
								</tr>
							</thead>
							<tr>
								<td class="">
									#93m29Ds
								</td>
								<td class="">
									50ml, Curved
								</td>
								<td class="">
									$23.49
								</td>
							</tr>
						</table>
					</div>
				<!-- 	<button class="button button-tiny button-rounded">Add Another Item</button> -->
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Images</p>
					<p class="description">Images can include product images and relevant graphs, charts, and relevant iamges</p> 
				</td>
				<td class="">
					<div class="value">
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
						<div class="image">
							<img src="http://placehold.it/130x130">
						</div>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Detailed Description</p>
					<p class="description">A detailed description of the product</p>
				</td>
				<td class="">
					<div class="value">
						<p>A once a day oral tablet, administered by the owner at home that works directly at the origin of the canine mast cell tumor to lead to long term tumor control. </p>
						<p>A once a day oral tablet, administered by the owner at home that works directly at the origin of the canine mast cell tumor to lead to long term tumor control. </p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Features</p>
					<p class="description">A list of the top product features</p>
				</td>
				<td class="">
					<div class="value">
						<p>No features provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Usage</p>
					<p class="description">How should this product be used and/or administered</p>
				</td>
				<td class="">
					<div class="value">
						<p class="none">No features provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
			<tr class="product-content-tr">
				<td class="type">
					<p>Specs</p>
					<p class="description">How should this product be used and/or administered</p>
				</td>
				<td class="">
					<div class="value">
						<p class="none">No features provided</p>
					</div>
					<div class="change-div">
						<textarea class="form-control required"></textarea>
					</div>
				</td>
				<td class="edit">
					<a class="button button-tiny button-rounded"><span class="glyphicon glyphicon-pencil"></span> edit</a>
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
