
/*************************/
/****Cart Item Formatting */
/*************************/
.cart-item {
	padding:20px 20px 20px 20px;
	border-bottom:1px solid #eaeaea;
}
.cart-item div {
	padding: 0;
}
.cart-item .item-actions {
	margin-top: 5px;
}
.cart-item .item-information {
	padding: 0;
	position:relative;
}
.cart-item .item-information form {
	display:inline-block;
}
.cart-item .item-information button {
	border: 1px solid #ddd;
	background: none;
	margin-right: 5px;
	padding: 1px 5px;
	font-size: 12px;
	font-weight: 200;
	color: #888;
	font-weight: 200;
	transition: background .2s;
}
.cart-item .item-information button:hover {
	text-decoration: none;
	background: #eee;
}
.cart-item .item-information .item-name {
	font-weight: bold;
	font-size: 15px;
}
.cart-item .item-information .item-name:hover {
	text-decoration: underline;
}
.cart-item .item-information p {
	margin: 0;
	padding-bottom: 3px;
	font-size: 12px;
	font-weight: 200;
}

.cart-item .item-information span a {
	font-size: 13px;
	color: #555;
}
.cart-item .item-information .quantity-form  {
	display:inline-block;
	margin-left: 10px;
}
.cart-item .item-information .item-quantity {
	display:inline-block;
}
.cart-item .item-image {
	max-width: 100%;
	padding: 0px 20px 20px 0px;
}
.cart-item .item-image img {
	max-width: 100%;
	border:1px solid #ddd;
}
.cart-item .item-price {
	text-align: right;
}
.cart-item .item-price .unit-price {
	font-size: 13px;
	margin-top: 0px;
	font-weight: 200;
	margin-bottom: 2px;

}
.cart-item .item-price .msrp-price {
	text-decoration:line-through;
	color: #eb4a4a;
	font-size: 12px;
	font-weight: 200;
	margin: 0;
}
.cart-item .item-price .final-price {
	font-weight:bold;
	font-size: 15px;
}
.cart-item .delete-item:hover,.move-to-saved:hover {
	cursor:pointer;
	text-decoration: underline;
}

.cart-item .otherbuyers {
	color: #aaa;
	font-weight: 200;
}
.cart-item .item-actions {
	display: block;
}

.noitems p {
	padding-top: 25px;
	text-align: center;
	font-weight: 200;
	font-size: 15px;
	color: #999;
	font-weight: 200;
}