.product-row {
	margin-top: 0px;
}
.product-row a:hover {
	text-decoration: none;
}
.product-row .row-title {
	font-size: 16px;
	color: #666;
	margin: 10px 5px 5px 5px;
}
.products {
	margin-bottom: 10px;
}
.product-row .row-title a {
	color: #009cc3;
	padding-top: 4px;
	float: right;
	font-size: 12px;
	letter-spacing: .2px;
}
.product-row .row-title a:hover {
	text-decoration: underline;
}
.product-preview-box-container {
	padding: 0px;
	float: left;
	width: 20%;
	border:1px solid #dadada;
	border-right:none;
	background: #fff;
	position:relative;
}
.product-preview-box-container.first {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.product-preview-box-container.last {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-right:1px solid #dadada;
}
.product-preview-box-container a{
	display:block;
}
.product-preview-box {
	overflow:hidden;
}
.product-preview-box-container a:hover{
	box-shadow: 0 0 12px rgba(0,0,0,.1) inset;
	background: #fff;
	text-decoration:none;
}
.product-preview-image {
	background:none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center;
	height: 130px;
	margin: 15px 15px 15px 15px;
}
.product-preview-info {
	border-top:1px solid #eee;
	margin: 0 10px;
}
.product-preview-info p {
	padding: 5px 5px 0px 5px;
	margin: 0;
	font-weight:normal;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-preview-box .title:hover{
	text-decoration: underline;
}
.product-preview-info .ratings span{
	color: #999;
	font-weight: 200;
	font-size: 12px;
	margin: 0 5px;
	vertical-align: top;
}
.product-preview-info .ratings .star{
	margin-left: 3px;
	margin-bottom: 2px;
	display:inline-block;
}

.product-preview-info .price {
	font-weight: bold;
	margin-bottom: 6px;
	letter-spacing: .3px;
	margin-right: 5px;
	margin-left: 5px;
	color: #3cab47;
	font-size: 14px;
	text-decoration: none;
}
.product-preview-info .price span{
	font-weight: 200;
	margin-left: 5px;
	color: #aaa;
	font-size: 11px;
	text-decoration:line-through;
}