{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Buyer Messages</title>{% endblock%}


{% block maintitle %}Buyer Messages for {{item.name}}{% endblock %}
{% block headersubcss %}
<style>
.messagebox-container {
	margin: 15px 0;
}
.messagebox-container .row {
	padding: 10px 0;
}

.messagebox-container h4 {
	margin: 0px;
	padding: 5px 20px;
	font-size: 14px;
	color: #666;
}
.messagebox-container h4 span {
	float: right;
}
.messagebox {
	padding: 20px;
}
.messagebox .row {
	padding: 0;
}
.messagebox h6 {
	font-weight: 800;
}
.messagebox p {
	font-weight: 200;
}
.messagebox form {
	margin-top: 5px;
}
.authorization-box {
	font-size: 12px;
	margin-top: 5px;
}
.authorization-box p span {
	font-weight: 800;
}
.messagebox-button {
}
.navbox {
	margin-bottom: 15px;
	padding: 5px;
}

</style>
{% endblock %}

{% block accountnav %}
<div class="covebox navbox">
<a href="/account/listings/active">&larr; Return to Listings</a>
</div>
{% endblock %}

{% block maincontent %}

{% if item.sellermessage_set.all %}
	{% for message in item.sellermessage_set.all%}
		<div class="covebox messagebox-container">
			<h4 class="sidecontent-title">Buyer Message<span>Sent on {{message.date_sent}}</span></h4>
			<div class="row messagebox">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<h6>Name</h6>
							<p>{{message.name}}</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<h6>Email</h6>
							<p>{{message.email}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<h6>Phone</h6>
							<p>{{message.phone}}</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<h6>Reason</h6>
							<p>{{message.reason}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h6>Message</h6>
							<p>{{message.message}}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 authorization-box">
					{% if message.authorizedBuyer %}
						<p>Authorized: <span>You have authorized this buyer to pay for this item online through VetCove</span></p>
						<p>You should only authorize a buyer to pay online once you mutually agree to engage in the transaction, and would like VetCove to handle the payment processing.  Since seller fees have already been paid to VetCove, 100% of the total will be passed through to you once payment has been completed.</p>
						<form method="POST" action="/deauthorizebuyer/{{message.buyer.id}}/{{item.id}}">
							{% csrf_token %}
							<button value="submit" name="submit" class="messagebox-button button button-tiny button-rounded button-caution">Remove Authorization</button>
						</form>
					{% else %}
						<p>Not Yet Authorized: <span> You have not yet authorized this buyer to pay for this item online through VetCove.</span></p>
						<p>You are free to complete the transaction with the buyer outside of VetCove by check, cash, or credit if you wish.  If you would like to authorize this buyer to pay you directly through VetCove, please click the button below.  You should only authorize a buyer to pay online once you mutually agree to engage in the transaction, and would like VetCove to handle the payment processing.  Since seller fees have already been paid to VetCove, you will NOT be assessed any
						commission fees for letting a potential buyer pay for this item through VetCove.</p>
						<form method="POST" action="/authorizebuyer/{{message.buyer.id}}/{{item.id}}">
							{% csrf_token %}
							<button value="submit" name="submit" class="messagebox-button button button-tiny button-rounded button-action">Authorize to Buy Online</button>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
<div class="covebox">
	<p class="nolistings">There are currently no messages for the {{item.name}}</p>
</div> 
{% endif %}

{% endblock %}