{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Payout History</title>{% endblock%}
{% block payouthistory %}active{% endblock %}

{% block jsblock %}
{% endblock %}
{% block maintitle %}Payout History{% endblock %}
{% block headersubcss %}
<style>
table td p {
	margin: 0 3px;
}
.questions {
	text-align: center;
	font-weight: 200;
	font-size: 12px;
}
.payouttable {
	border-bottom:1px solid #ddd;
	margin-bottom: 10px;
}
.payouttable p {
	font-size: 12px;
}
.payouttable .totals {
	text-align: right;
	min-width: 200px;
}
.payouttable .totals span{
	width: 70px;
	display:inline-block;
}
.payouttable .item-details {
	border-bottom:1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.payouttable .align-right {
	text-align: right;
}
.payouttable th {
	font-weight: bold;
}
</style>
{% endblock %}
{% block maincontent %}
{% load dollars %}
{% load zipcodify %}
{% load phonenumber %}
{% if user.basicuser.payout_set.all %}
<div class="covebox">
	<table class=" payouttable table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Details</th>
				<th>Items</th>
				<th class="align-right">Cost Breakdown</th>
			</tr>
		</thead>
		<tbody>
			{% for payout in user.basicuser.payout_set.all reversed %}
				<tr>
					<td><p>{{payout.date|date:"M d, Y" }}</p></td>
					<td>
						<p><strong>{% if payout.checkpayout %}Check By Mail{% else %}Bank Account{% endif %}</strong></p>
						{% if payout.checkpayout %}
							<p>{{payout.checkpayout.address.address.name}}</p>
							<p>{{payout.checkpayout.address.address.address_one}}</p>
							{% if payout.checkpayout.address.address.address_two %}<p>{{payout.checkpayout.address.address.address_two}}</p>{% endif %}
							<p>{{payout.checkpayout.address.address.city}}, {{payout.checkpayout.address.address.state}} {{payout.checkpayout.address.address.zipcode|zipcodify}}</p>
							<p>{{payout.checkpayout.address.address.phonenumber|phonenumber}}</p>
						{% else %}
							<p>{{payout.bankpayout.bank_account.name}}</p>
							<p>{{payout.bankpayout.bank_account.bank_name}}</p>
							<p>{{payout.bankpayout.bank_account.account_number}}</p>
						{% endif %}
					</td>
					<td>
						{% for pi in  payout.purchaseditem_set.all %}
							<p>{{pi.item_name}}<p>
							<p {% if not forloop.last %}class="item-details"{% endif %}>{{pi.quantity}} at {{pi.unit_price|dollars}} each: <strong>{{pi.total|dollars}}</strong></p>
						{% endfor %}
					</td>
					<td class="totals">
						<p>Subtotal: <span>{{payout.subtotal|dollars}}</span></p>
						<p>Commission: <span>-{{payout.total_commission|dollars}}</span></p>
						{% if payout.total_charity %}<p>Charity: <span>-{{payout.total_charity|dollars}}</span></p>{% endif %}
						<p>Processing Fee: <span>-{{payout.cc_fee|dollars}}</span></p>
						<p><strong>Payout Total: <span>{{payout.amount|dollars}}</span></strong></p>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
	<p class="questions">Questions about your payouts? Send us <a href="/contact"> a message</a> and let us know</p>
</div>
{% else %}
<div class="maincontent-container covebox">
	<p class="nolistings" style="display:block">You do not have any payouts</p>
</div>
{% endif %}
  		
{% endblock %}