{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Selling History</title>{% endblock%}
{% block sellhistory %}active{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$(".shipping-button").click(function() {
		var form_handle = $(this).attr('data-shipping');
		$(form_handle).css('display','block');
	});
	$(".shipping-cancel").click(function() {
		var form_handle = $(this).attr('data-shipping');
		$(form_handle).css('display','none');
	});
});
</script>
{% endblock %}
{% block maintitle %}Selling History{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/history-item.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block maincontent %}
{% if user.basicuser.purchaseditemseller.all %}
	{% for pitem in user.basicuser.purchaseditemseller.all reversed %}
		{% include 'account/buying/history_base.html' %}
	{% endfor %}
{% else %}
<div class="maincontent-container covebox">
	<p class="nolistings" style="display:block">You have not yet sold any items</p>
</div>
{% endif %}
  		
{% endblock %}