{% extends 'base.html' %}
{% load dollars %}
{% load multiply %}
{% block headertitle %}<title>VetCove | Admin</title>{% endblock%}

{% block headercss %}
<style>
header {
	border-bottom:1px solid #ddd;
	max-width: 1000px;
	margin: 20px auto 0px auto;
	text-align: center;
	padding-bottom: 15px;
}
header img {
	max-width: 140px;
	margin-bottom: 20px;
}
.admin-nav a {
	padding: 0 10px;
}
.admin-totals {
	max-width: 1000px;
	margin: 20px auto;
}
.admin-views {
	border-top:1px solid white;
	text-align: center;
	max-width: 1000px;
	margin: 0px auto;
	padding: 20px 0;
}
.admin-body {
	margin: 0 20px 0 20px;
	max-width: 1600px;
}
.admin-log {
	padding: 5px 20px 20px 20px;
	margin-bottom: 20px;
}
.admin-log h3 {
	padding-bottom: 10px;
}
.admin-table {
	width: 100%;
	border:1px solid #ddd;
}
.admin-table tr {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.admin-table td {
	padding: 5px;	
}
.admin-table thead tr td {
	background: #eee;
	font-weight: bold;
}	
.admin-totals .stat {
	padding: 5px;
	text-align: center;
	background: #f3f3f3;
	border-radius: 6px;
	border:3px solid #ddd;
	margin-bottom: 15px;
}
.admin-totals .stat h1 {
	font-weight: 200;
}
.check-action {
	min-width: 140px;
}
.received-action {
	min-width: 200px;
}
</style>
{% endblock %}

{% block header %}
<header>
<a href="/"><img src="{{STATIC_URL}}img/logo_new.png" alt="VetCove"/></a>
<div class="admin-nav">
	<a href="/">Return to Main Site</a> &#183;
	<a href="/admin">Admin Portal</a> &#183;
	<a href="/logout" class="">Logout</a>
</div>
</header>
<div class="admin-views">
	<a class="button button-rounded button-primary button-royal" href="/staff/overview/dashboard">Dashboard</a>
	<a class="button button-rounded button-primary" href="/staff/overview/purchaseditem">Online Purchases</a>
	<a class="button button-rounded button-primary" href="/staff/overview/bankpayout">Bank Payouts</a>
	<a class="button button-rounded button-primary" href="/staff/overview/commission">Offline Commissions</a>
	<a class="button button-rounded button-primary" href="/staff/overview/checkpayout">Check Payouts</a>
</div>

{% if dashboard %}
<div class="admin-totals row">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{amount_sold|dollars}}</h1>
			<p>Total Amount Sold</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{tobepaidout|dollars}}</h1>
			<p>To Be Paid Out</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{total_paidout|dollars}}</h1>
			<p>Total Paid Out</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{offline_commission_revenue|dollars}}</h1>
			<p>Offline Commission Revenue</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{online_commission_revenue|dollars}}</h1>
			<p>Online Commission Revenue</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{total_commission_revenue|dollars}}</h1>
			<p>Total Commission Revenue</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="stat">
			<h1>{{items_sold}}</h1>
			<p>Items Sold</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="stat">
			<h1>{{checkouts}}</h1>
			<p>Checkouts</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="stat">
			<h1>{{users}}</h1>
			<p>Users</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="stat">
			<h1>{{active_items}}</h1>
			<p>Active Items</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{total_revenue|dollars}}</h1>
			<p>Total Revenue</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="stat">
			<h1>{{total_charity|dollars}}</h1>
			<p>Total Charity Amount</p>
		</div>
	</div>
</div>

{% endif %}
<div class="admin-body">
	{% if purchaseditems %}
	<div class="admin-log covebox">
		<h3>Online Sales History</h3>
		<table class="admin-table">
			<thead>
				<tr>
					<td>Purchase Date</td>
					<td>Item Name</td>
					<td>Seller</td>
					<td>Buyer</td>
					<td>Quantity</td>
					<td>Total</td>
					<td>Seller Paid?</td>
				</tr>
			</thead>
			<tbody>
				{% for pi in purchaseditems %}
					<tr>
						<td>{{pi.purchase_date}}</td>
						<td>{{pi.cartitem.item.name}}</td>
						<td>{{pi.seller.name}}</td>
						<td>{{pi.buyer.name}}</td>
						<td>{{pi.quantity}}</td>
						<td>{{pi.total|dollars}}</td>
						<td>{{pi.paid_out}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
	{% if bankpayout %}
	<div class="admin-log covebox">
		<h3>Online Bank Payout History</h3>
		<table class="admin-table">
			<thead>
				<tr>
					<td>Payment Date</td>
					<td>Seller</td>
					<td>Items</td>
					<td>Commission</td>
					<td>CC Fee</td>
					<td>Charity Fee</td>
					<td>Total Paid Out</td>
				</tr>
			</thead>
			<tbody>
				{% for bp in bankpayout %}
					<tr>
						<td>{{bp.date}}</td>
						<td>{{bp.user.name}}</td>
						<td>{% for pi in bp.purchaseditem_set.all %}
							{{pi.cartitem.item.name}} ({{pi.cartitem.quantity}})
							{% if not forloop.last %}, {% endif %}
						{% endfor %}</td>
						<td>{{bp.total_commission|dollars}}</td>
						<td>{{bp.cc_fee|dollars}}</td>
						<td>{{bp.total_charity|dollars}}</td>
						<td>{{bp.amount|dollars}}</td>
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
	{% if commission %}
	<div class="admin-log covebox">
		<h3>Offline Commission Payments</h3>
		<table class="admin-table">
			<thead>
				<tr>
					<td>Payment Date</td>
					<td>Item</td>
					<td>Seller</td>
					<td>Promo Code</td>
					<td>Item Price</td>
					<td>Commission</td>
				</tr>
			</thead>
			<tbody>
				{% for co in commission %}
					<tr>
						<td>{{co.date}}</td>
						<td>{{co.item.name}}</td>
						<td>{{co.item.user.name}}</td>
						<td>{{co.item.promo_code}}</td>
						<td>{{co.item.price|dollars}}</td>
						<td>{{co.amount|dollars}}</td>
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
	{% if checkpayout %}
	<div class="admin-log covebox">
		<h3>Check Payout History</h3>
		<table class="admin-table">
			<thead>
				<tr>
					<td>Payment Date</td>
					<td>Seller</td>
					<td>Items</td>
					<td>Commission</td>
					<td>CC Fee</td>
					<td>Charity Fee</td>
					<td>Total Paid Out</td>
					<td>Check Mailed</td>
					<td>Take Action</td>
				</tr>
			</thead>
			<tbody>
				{% for cp in checkpayout %}
					<tr>
						<td>{{cp.date}}</td>
						<td>{{cp.user.name}}</td>
						<td>{% for pi in cp.purchaseditem_set.all %}
							{{pi.cartitem.item.name}} ({{pi.cartitem.quantity}})
							{% if not forloop.last %}, {% endif %}
						{% endfor %}</td>
						<td>{{cp.total_commission|dollars}}</td>
						<td>{{cp.cc_fee|dollars}}</td>
						<td>{{cp.total_charity|dollars}}</td>
						<td>{{cp.amount|dollars}}</td>
						<td>{{cp.sent}}</td>
						<td class="check-action">
							{% if not cp.sent %}
							<button data-val="unsent" data-cpid="{{cp.id}}" class="button-tiny button button-rounded button-action">Mark as Sent</button>
							{% else %}
							<button data-val="sent" data-cpid="{{cp.id}}" class="button-tiny button button-rounded">Mark as Not Sent</button>
							
							{% endif %}
						
						</td>
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}

	

</div>
{% endblock %}

{% block content %}

{% endblock %}
{% block footer %}{% endblock %}
{% block js %}{% endblock %}
{% block jsblock %}
<script>
$(document).ready(function() {
	$(".check-action button").click(function() {
		var handle = $(this);
		handle.prop('disabled',true);
		$.ajax({
			type: "POST",
			url: "/staff/markassent",
			data: {'cp_id':$(this).attr('data-cpid'),'cp_val':$(this).attr('data-val')},
			success: function(data) {
				$(handle).prop('disabled',false);
				if (data['status'] == 201) {
					console.log(data['sent']);
					if (data['sent']) {
						$(handle).attr('data-val','sent');
						$(handle).removeClass('button-action');
						$(handle).text('Mark as Not Sent');
					} else {
						$(handle).attr('data-val','unsent');
						$(handle).addClass('button-action');
						$(handle).text('Mark as Sent');
					}
					$(handle).parent().prev().text(data['sent']);
				}		
			},
			dataType: 'json'
		});
	});

});
</script>
{% endblock %}
