{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Buyer Protection</title>{% endblock%}
{% block headercss %}

<style>

.maincontainer {
	background: #fff;
	border:1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 4px #ccc;
	max-width: 1000px;
	margin: 50px auto
}
.maincontainer h3 {
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.question {
	margin: 40px 40px;
}
.question h4 {
	font-weight: 800;
	font-size: 15px;
	color: #333;
}
.question p {
	font-weight: 200;
}
@media(max-width:1000px) {
	.maincontainer {
		margin-left: 10px;
		margin-right: 10px;
	}
}
</style>
{% endblock%}


{% block content %}
<div class="maincontainer">
	<h3>Buyer Protection Program</h3>
	<div class="question">
		<p><strong>Please Note: This program only applies to items where the user pays for the item through VetCove</strong> The buyer protection program is intended to help buyers feel more comfortable purchasing items through VetCove. In order to ensure
		that our sellers faithfully list the condition and associated information of a product, we (explain how the program works)</p>
	</div>
	<div class="question">
		<h4>I purchased a product that is defective. What should I do?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>There is a dispute between the seller and buyer. How does VetCove decide who is right?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>Is the seller charged for the buyer protection program?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>

	
	
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}