{% extends 'base/base.html' %}
{% block headertitle %}VetCove | Categories{% endblock%}
{% block css %}

<style>

.content {
	background: #eee;
	margin: 0;
	padding: 40px 0;
}
.topcontainer {
	background: #fff;
	border:1px solid #c6c6c6;
}
.topcontainer h3 {
	display: block;
	padding: 20px;
	font-weight: 200;
	margin: 0;
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #DDDDDD));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #DDDDDD 100%);
}
.category-container {
	padding: 20px;
}
.category-container h5 {
	margin:40px 0 20px 0;
	padding-bottom: 10px;
	border-bottom:1px solid #eee;
}

.category-container .sublink-container {
	margin: 2px 0;
}
.category-container .sublink  span {
	color: #bbb;
}
.category-container .sublink span a {
	color: #555;
}
.category-container .sublink a:hover {
	text-decoration: underline;
	color: #009cc3;
}
.recent-searches h3 {
	font-weight: 200;
	border-bottom:1px solid #ddd;
	font-size: 18px;
	padding-bottom: 10px;
}
.recent-searches div {
	margin: 5px 0;
}
.recent-searches a {
	color: #777;
	font-size: 13px;
}
.recent-searches a:hover {
	text-decoration: underline;
	color: #009cc3;
}
@media (max-width: 768px) {	
	.category-container {
		padding: 10px;
	}
	.category-container a {
		font-size: 17px;
		padding: 5px 0;
	}
	.category-container h5 a {
		font-size: 20px;
	}
}

</style>
{% endblock%}


{% block content %}
<div class="row">
	<div class="col-md-10 col-sm-12">
		<div class="vetbox topcontainer">
			<h3>All Categories</h3>
			<div class="category-container row">
				{% for cat in categories %}
				<h5><a href="/productsearch/veterinary/{{cat.name}}/all">{{cat.displayname}} ({{cat.totalunits}})</a></h5>
				<div class="row">
					{% for subcat in cat.subcat %}
						<div class="col-md-4 col-sm-4">
							<div class="sublink">
								<span><a href='#' class="sublink">{{subcat.displayname}}</a> ({{subcat.totalunits}})</span>
							</div>
						</div>
					{% endfor %}
				</div>
				{% if forloop.counter|divisibleby:"3" %}
				<div class="clear"></div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="recent-searches">
			<h3>Recent Searches</h3>
			<div>
				<a href='#'>Ultrasound Cleaners</a>
			</div>
			<div>
				<a href='#'>Ultrasound Cleaners</a>
			</div>
			<div>
				<a href='#'>Ultrasound Cleaners</a>
			</div>
			<div>
				<a href='#'>Ultrasound Cleaners</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}