{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | FAQ</title>{% endblock%}
{% block headercss %}

<style>

.maincontainer {
	background: #fff;
	border:1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 4px #ccc;
	max-width: 1000px;
	margin: 50px auto
}
.maincontainer h3 {
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.maincontainer h5 {
	display: block;
	font-size: 26px;
	padding-left: 40px;
	font-weight: 500;
	margin-bottom: 0;
}
.question {
	margin: 40px 40px;
}
.question h4 {
	font-weight: 800;
	font-size: 15px;
	color: #333;
}
.question p {
	font-weight: 200;
}

</style>
{% endblock%}


{% block content %}
<div class="maincontainer">
	<h3>Frequently Asked Questions</h3>
	<h5> Selling Items on VetCove</h5>
	<div class="question">
		<h4>I have many products to list. How long does it take to list a product on VetCove?</h4>
		<p>Listing a product takes as little as two minutes.  If others have listed the same product before, many details will be completed for you.  We do recommend providing detailed descriptions of the product’s condition, history, and warranty to improve buyer confidence and get your item sold faster.</p>
	</div>
	<div class="question">
		<h4>When a buyer is ready to buy, can I complete the transaction in person?</h4>
		<p>Yes, absolutely.  In fact, we encourage it.  Deals can be completed in person by check or by cash after the buyer thoroughly examines the product.  In these cases commission will be assessed by credit card rather than deducted from the money received from the buyer.  When you list a product, you can choose whether or not you’d like buyers to be able to contact you directly to view the product and complete the transaction in person instead of through the website.</p>
	</div>
	<div class="question">
		<h4>Who is responsible for shipping the product to the buyer?</h4>
		<p>We’ll help you price your product, using information like the item’s MSRP, age, projected useful life, condition, and warranty information.  You are free to use any listing price you see fit based on your own knowledge of the product.</p>
	</div>
	<div class="question">
		<h4>How do I know how to price my used device or instrument?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>Do I need detailed warranty information about the product I’m selling?</h4>
		<p>For expensive items, buyers will generally pay more for an item that includes warranty information.  If the warranty or service contract is current and transferrable to a buyer, indicating this in the listing will help the item sell quicker.  If a warranty or service contract can be acquired on the item after the sale, it will be useful to mention this as well to alert buyers that they can do so after they buy.  Some savvy sellers get new warranties or service contracts on items before they list to ensure their items sell for the highest prices.  Items that cannot get a new service contract after a sale, or when the warranty status is not known, are sold “as is.”</p>
	</div>
	<div class="question">
		<h4> What if the buyer wants to return the product or is displeased with it?</h4>
		<p>All of our sellers are protected by the VetCove Seller Protection guarantee.  Except in cases where we determine a product was inaccurately described or misrepresented, buyers will have five business days to return the product to you in its original condition at the buyer’s own expense.</p>
	</div>
	<h5>Buying Items on VetCove</h5>
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}