{% extends 'base.html' %}
{% load dollars %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/product/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/product/top-product.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css" />

{% endblock%}


{% block content %}
<div class="hero-background">
	<div class="herobg">
		<div class="intro-container">
			<div class="new_intro">
				<div class="row new_intro_pic">
					<div class="col-md-7 col-sm-7 col-xs-12">
						<h1>You strive to keep each animal happy and healthy</h1>
						<h1>We power the equipment marketplace to help you 
						get there</h1>
					</div>
				</div>
				<div class="bg-row">
				</div>
				<div class="row">
					<a href='/shop'><div class="col-md-6 col-sm-6 col-xs-12 new_intro_explain explain_buy">
						<h2> Buy Equipment</h2>
						<p> The largest selection of new and preowned</p>
						<img src="{{STATIC_URL}}img/arrow_circle.png" alt=""/>
					</div></a>
					<a href='/listintro'><div class="col-md-6 col-sm-6 col-xs-12 new_intro_explain explain_sell">
						<h2>Sell Equipment</h2> 
						<p>Free listings that reach thousands of veterinarians</p> 
						<img src="{{STATIC_URL}}img/arrow_circle.png" alt=""/>
					</div></a>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% include 'product/top-product.html' %}

<div class="featuredcontainer">
	<div class="row featured">
	  <h2> Featured Equipment For Sale</h2>
	  	{%for item in featured %}
	    <div class="col-sm-6 col-md-4 col-xs-12 product-box">
			<a href="/item/{{item.id}}/details"><div class="item">
				<div class="itemname">{{item.name}}{{item.name}}</div>
				<div class="itemsoldby">{{item.get_conditionquality_display}}</div>
				<div class="itemimage">
					<div class="verticalaligner">
						<img src="{%if item.mainimage %}{{item.mainimage.photo_medium.url}}{% else %}{{STATIC_URL}}img/noimage.jpg{% endif %}" alt="{{item.name}}"/>		
					</div>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">{{item.price|dollars}}</p>
						<p class="pricelabel">{{item.msrp_price|dollars}}</p>
					</div>
				</div>
			</div></a>
	  	</div>	
	  	{% endfor %}
	</div>
</div>

{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$(".intro").animate({
		paddingLeft: '10px',
		opacity: 1
		}, 1000, function() {
	});
	$(".buybutton").click(function() {
		if (!($(this).hasClass("bbactive"))) {
			$(this).addClass("bbactive");
		}
		$(".categories").fadeIn();
	});
	$(".new_intro_explain").hover(function() {
		$($(this).children('img')).attr('src',"{{STATIC_URL}}img/arrow_circle_filled.png");
	},function() {
		$($(this).children('img')).attr('src',"{{STATIC_URL}}img/arrow_circle.png");
	});
	$("#closecategories").click(function() {
		$(".buybutton").removeClass("bbactive");
		$(".categories").css("display","none");
	});

});
</script>
{% endblock %}