{% extends 'base/base.html' %}

{% block css %}
<style>
.content {
	margin: 0;
}
.hero {
	min-height: 400px;
	background: #555;
	background-image: url("{{STATIC_URL}}img/dog_walk.jpg");
	overflow: auto;
	text-align: center;
	border-bottom:1px solid #fff;
}
.hero h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 200;
	text-shadow: 0 0 2px #333;
	margin-top: 100px;
	padding-bottom: 10px;
	letter-spacing: .25px;
} 
.hero h2 {
	color: #eee;
	text-shadow: 0 0 2px #333;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 19px;
	margin-bottom: 45px;
}
.hero a {
	font-size: 18px;
	padding: 10px 40px;
	height: auto;
	margin: 0 5px;
}
.hero .button-container {
	background-image: url("{{STATIC_URL}}img/blacktransparency_2.png");
	padding: 5px 0px;
	margin: 0 5px;
	display:inline-block;
	border-radius: 4px;
}
.explainer {
	padding: 50px 0 70px 0;
	max-width: 1000px;
	margin: 0 auto;
}
.explainer .textcol {
	padding: 30px;
}
.explainer .row {
	border-bottom:1px solid #dadada;
	border-top:1px solid #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.explainer .row.noborder-top {border-top:none;}
.explainer .row.noborder-bottom {border-bottom:none;}

.explainer div h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom:3px solid #333;
	padding-bottom: 20px;
}
.explainer img {
	max-width: 100%;
}
.explainer div div {
	padding: 10px;
}
.testimonial-container {
	border-top:1px solid #ddd;
	background-image:url("{{STATIC_URL}}img/whitetransparency2.png");
}
.testimonial {
	border-top:1px solid white;
	padding: 60px 0;
}
.testimonial img {
	width: 130px;
	margin: 0 auto;
	display:inline-block;
}
.testimonial div {
	margin-bottom: 20px;
}
.testimonial div table td {
	vertical-align: top;
}
.testimonial div table h4 {
	margin: 10px 10px 10px 10px;
	font-size: 14px;
	font-weight: 600;
}
.testimonial div table p {
	font-weight: 200;
	margin: 0 10px;
	font-style: italic;
}
</style>
{% endblock %}


{% block js %}

{% endblock %}



{% block content %}
<div class="hero">
	<h1>When suppliers compete, you win</h1>
	<h2>Use VetCove's easy online portal to save up to 90% on top veterinary pharmaceuticals and equipment</h2>
	<div class="button-container"><a class="button button-flat-primary button-rounded" href="/shop">What is VetCove?</a></div>
	<div class="button-container"><a class="button button-flat button-rounded" href="/login">Join (It's Free)</a></div>
</div>

<div class="explainer">
	<div class="row noborder-top">
		<div class="col-md-4 col-sm-6 textcol">
			<div>
				<h3><strong>*NEW*</strong> VetCove SaveRates</h3>
				<p>SaveRates are especially low prices that VetCove negotiates directly with the suppliers. The supplier will be shown after you complete the purchase. By allowing our partners to maintain their anonymity, VetCove can get you discounts that are significantly below published prices.</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-push-6 textcol">
			<div>
				<h3>Dead Simple Ordering</h3>
				<p>Lightning fast search across all our suppliers, one click reordering, and product suggestions based on order history. Even place an order directly from your phone through our mobile website.</p>
			</div>
		</div>
		<div class="col-md-6 col-md-pull-6 col-sm-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 textcol">
			<div>
				<h3>Overstock Specials</h3>
				<p>We let you take advantage of supplier's excess inventory and short date items to save up to 90% off the item's retail price.</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-push-6 textcol">
			<div>
				<h3>Product Questions</h3>
				<p>Manufacturer and distributor reps are available on our system to answer any product usage questions. View commonly asked questions and how other partner veterinarians are using these items. </p>
			</div>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 textcol">
			<div>
				<h3>Market Trends</h3>
				<p>Discover what other veterinarians are ordering and using. See which products are gaining or losing popularity, and what alternatives veterinarians are using for each product.</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-push-6 textcol">
			<div>
				<h3>Product Questions</h3>
				<p>Manufacturer and distributor reps are available on our system to answer any product usage questions. View commonly asked questions and how other partner veterinarians are using these items. </p>
			</div>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
	<div class="row noborder-bottom">
		<div class="col-md-6 textcol">
			<div>
				<h3>Streamline Order Management</h3>
				<p>We automatically charge your preferred payment method, and provide an invoice across all our suppliers. No more managing invoices or payments.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<img src='{{STATIC_URL}}test/pagerip.png'/>
			</div>
		</div>
	</div>
</div>

<div class="testimonial-container">
	<div class="testimonial row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<table><tr>
				<td><img src=""/></td>
				<td>
					<h4>President, VSG</h4>
					<p>"In the life of a busy vet, there is no better resource to buy used equipment and pharamaceuticals. It saves veterinarians time, money, and aggravation."</p>
				</td>
			</tr></table>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<table><tr>
				<td><img src=""/></td>
				<td>
					<h4>Owner, Colts Neck Equine</h4>
					<p>"Our practive used to make dozens of phone calls a week to price shop and check availability. We can now make our daily orders in under 60 seconds!"</p>
				</td>
			</tr></table>
		</div>
	</div>

</div>
{% endblock %}
