{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Information</title>{% endblock%}
{% block headercss %}

<style>
.maincontainer-container {
	max-width: 1060px;
	margin: 0 auto;
}
.maincontainer {
	margin: 30px;
	box-shadow: none;
}
.section-container {	
	margin-bottom: 20px;
}
.section-container h3 {
	font-weight: 200;
	padding: 15px 20px;
	margin: 0;
}
.section-container h5 {
	line-height: 30px;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 20px;
	color: #444;
}
/* Questions */
.question {
	margin: 40px 20px;
}
.question h4 {
	font-weight: 800;
	font-size: 15px;
	color: #333;
}
.question p {
	font-weight: normal;
	font-size 12px;
	line-height: 22px;
	margin-top: 10px;
}
.sub-question {
	margin-left: 15px;
	margin-top: 15px;
}
.sub-question h4 {
	font-size: 15px;
	font-weight: 800;
	color: #333;
}

/*Navigation */
.navigation-row {
	padding-left: 0px;
	padding-right: 0px;
}
.content-row {
	padding-right: 0px;
}
.navigation-row a {
	display:block;
	line-height: 25px;
	padding: 10px;
	background: #f6f6f6;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	color: #555;
}
.navigation-row a:hover {
	background: #eee;
}
.navigation-row .top-nav {
	border-top: 1px solid transparent;
}
.navigation-row .active, .navigation-row .active:hover {
	background: #00B5E5;
	background-image: -ms-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -moz-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -o-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00B5E5), color-stop(1, #008DB2));
	background-image: -webkit-linear-gradient(top, #00B5E5 0%, #008DB2 100%);
	background-image: linear-gradient(to bottom, #00B5E5 0%, #008DB2 100%);
	color: white;
}
</style>
{% block infocss %}{% endblock %}
{% endblock%}


{% block content %}
<div class="maincontainer-container">
	<div class="maincontainer row">
		<div class="col-md-2 col-sm-2 col-xs-12 navigation-row">
			<div class="covebox">
				<a class="{% if about %}active{% endif%} top-nav" href="/about">About</a>
				<a class="{% if faq %}active{% endif%}" href="/faq">FAQ</a>
				<a class="{% if commission %}active{% endif%}" href="/commission">Fees and Pricing</a>
				<a class="{% if pvp %}active{% endif%}" href="/pvp">Verification Program</a>
				<a class="{% if buyerprotect %}active{% endif%}" href="/buyerprotect">Buyer Protection</a>
				<a class="{% if tos %}active{% endif%}" href="/tos">Terms of Service</a>
				<a class="{% if privacypolicy %}active{% endif%}" href="/privacypolicy">Privacy Policy</a>
				<a href="/categories">Item Directory</a>
			</div>
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12 content-row">
			{% block info_block %}
			
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}