{% extends 'general/info_base.html' %}
{% block headertitle %}VetCove | SVP{% endblock%}
{% block css_block %}
<style>
	.mainbar .infobox {
		padding: 20px;
	}
	.infobox .question {
		margin: 20px 0px 40px 0;
	}
</style>
{% endblock %}


{% block info_content %}
<div class="vetbox headerbox">
	<h3>Seller Verification Program</h3>
</div>
<div class="vetbox infobox">

	<div class="question">
		<p>The VetCove team will certify sellers in order to preserve the trust of all parties in the VetCove community. </p>
	</div>
	<div class="question">
		<h4>What does it mean to a VetCove Certified Seller?</h4>
		<p>Verified sellers on VetCove are marked with the “VetCove Certified” logo on all of their listing, both in search results and on their product listing pages.  Certified sellers have been vetted by the VetCove team as trusted selling parties.  Verified sellers are more likely to have their products sold.  Additionally, verified sellers have no restrictions or limits on number of listings or the maximum value of their listings.</p>
		<p>Certifiable sellers come in many forms, and could include the following:</p>
		<ul>
			<li>Veterinarians, members of veterinary practices, or representatives of veterinary hospitals licensed to practice in any of the 50 U.S. states.</li>
			<li>Manufacturers of name-brand veterinary equipment of all kinds sold in the U.S.</li>
			<li> Manufacturers of name-brand veterinary supplies, from tools to disposable supplies, sold in the U.S.</li>
			<li>Known equipment suppliers and distributors to veterinarians, veterinary practices, and veterinary hospitals.</li>
			<li>Known third-party refurbishers and recertifiers with a trustworthy track record of U.S. resales. </li>
		</ul>
	</div>
	<div class="question">
		<h4>How can my practice or company become a VetCove certified seller?</h4>
		<p> When you list a product, you decide whether or not you will provide shipping for the product.  If you will provide shipping, you will be responsible for packaging the product(s) and arranging for the shipping service at your expense.  If you do not wish to provide shipping, buyers may still pick up the product in person, or may arrange to have the product shipped to them at their own expense.  Keep in mind that providing the option to ship to a buyer allows you to reach many more buyers, and may increase the value your product can be sold for.  You may specify the shipping details and considerations with text.</p>
		<ul>
			<li><strong>By Phone:</strong>  In general, the best way to get certified is to speak with a member of the VetCove seller verification team.  To speak with the team, please send an e-mail to getverified@vetcove.com .  The team will schedule a time to speak with you about your background, organization, and plans for using the site.  The team may ask for things such as veterinary license information, your company website, additional contact information, Tax ID/EIN, and other information about the structure and operations of your business.  When you begin to list items on VetCove, you may be contacted directly by the VetCove, sometimes as soon as you have one item listed for sale on the website.  If questions are answered the satisfaction of the VetCove team, you will be provided with VetCove verification status.</li>
			<li><strong>By Volume:</strong> If you have not spoken with the VetCove team, you can become automatically verified with a successful track record of selling on VetCove.  In order to qualify, you must complete a total of five (5) successful transactions with positive feedback, or sell a total of $25,000 in total sales with positive feedback.  To further validate the verification, the VetCove seller verification team may reach out to you by phone or e-mail asking for additional information.</li>
			<li><strong>Organization Membership:</strong> Veterinarians and businesses that are members of large, trusted, national veterinary organizations may qualify for automatic VetCove Seller Verification.  These organizations include VSG, AAEP, and many others.</li>
		</ul>
	</div>
	<div class="question"> 
		<p>If you have any questions about the seller verification process, please contact getverified@vetcove.com for more information.</p>
	</div>
{% endblock %}

{% block jsblock %}

{% endblock %}