/*******************/
/** Global Styles **/
/*******************/
#sidr {
	display:none;
}
.clear {
	clear:both;
}
body {
	background: #eaeaea;
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
}
a {
	color: #009cc3;
}
a,a:hover, a:focus,a:active,a:after, a:visited{
	outline: none;
}
a:visited,a:active,a:after,a:link {
	text-decoration:none;
}
input::-moz-focus-inner { 
  border: 0; 
}
.body-container {
	max-width: 1300px;
	min-width: 900px;
	position: relative;
	margin: 0 auto;
	box-shadow: 0 0px 8px #333;
	background: #f1f1f1;
	/*background-image: -moz-linear-gradient(left, #E3F3FC 0%, #F2FFF5 100%, #FCFCED 75%, #FDF5FF 100%);*/
	/*background-image: -moz-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);*/
	/*background-image: -moz-linear-gradient(left, #E3F3FC 0%, #F2FFF5 100%);*/
}
.box-shadow {
	box-shadow: 0 0 12px rgba(0,0,0,.1) inset;
}
.content {
	margin: 20px 0 40px 0;
}
.centered {
	text-align: center;
}
.col-12-10 {
	width: 10%;
	float: left;
}
.vetbox {
	border:1px solid #dadada;
	background:#fff;
	border-radius:4px;
}
.whitebox {
	background: #fff;
}
.row {
	margin: 0;
}
.button:hover, .button:focus, .button:active {
	text-decoration: none;
}

/*******************/
/***** Header ******/
/*******************/

.header {
	box-shadow: 0 1px 2px #eee;
	position:relative;
}
.header .mainheader {
	background: #f1f1f1;
	padding-bottom: 5px;
}
.header .mainheader .mainheader-div {
	margin: 0;
	padding: 0;
	vertical-align: top;
	display:inline-block;
}
/* Left Header */
.header .mainheader .left-header {
	position: relative;
	width: 10%;
}
.header .mainheader .left-header div{
	display:inline-block;
}
.header .mainheader .left-header .header-logo {
	vertical-align: top;
}
.header .mainheader .left-header .header-logo img {
	max-height: 40px;
	margin-bottom: 8px;
	margin-left: 24px;
	margin-top:10px;
}

/*Selectioins */
.selections {
	position:absolute;
	width: 60%;
	max-width: 610px;
	top: 0;
	right: 0;
	margin: 0px 20px 0px 20px;
}
.col12-8 {
	width: 20%;
	float: left;
}
.selections a {
	overflow:hidden;
	display:block;
	height: 53px;
	position:relative;
	border:1px solid #dadada;
	border-right: none;
	border-top:none;
	background: #fff;
	transition-duration: 0.5s, 0.5s, 100ms;
    transition-property: transform, left, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.selections a:hover {
	box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.5) inset;
}
.selections a.active {
	background: -moz-linear-gradient(center top , #5A5A5A 0px, rgba(255, 255, 255, 0.5) 10%) repeat scroll 0 0%, -moz-linear-gradient(center top , rgba(122, 122, 122, 0.7) 40%, rgba(255, 255, 255, 0.5) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 5px 10px -1px rgba(90, 90, 90, 0.5) inset, 2px 35px 65px 5px rgba(235, 235, 235, 0.5) inset;
}
.selections a.first {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 0px;
}
.selections a.last {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 0px;
	border-right:1px solid #dadada;
}
.selections .item {
	position:absolute;
	text-align: center;
	width: 100%;

}
.selections .item .item-image {
	margin: 0 auto;
	height: 26px;
	background-size: 126px 26px;
	width: 21px;
	margin-top: 5px;
	opacity: 1;
}
.selections .item p {
	color: #777;
	margin-top: 1px;
	width: 100%;
	font-weight: bolder;
	text-align: center;
	font-size: 11px;
}
/*Dynamic Row */

.dynamic-row {
	width: 100%;
	padding: 0 20px;
	background: #555;
	border-bottom:1px solid #eee;
	background-image:-moz-linear-gradient(center bottom , #555555 0px, #666666 40%, #6f6f6f 60%, #999999 100%);
	display:table;
}
.dynamic-row .element {
	width: auto;
	display:table-cell;
	vertical-align:middle;
	border-right:1px solid #999;
}
.dynamic-row .element-relative {
	position:relative;
}
.dynamic-row .element .bar {
	margin-top: 4px;
	padding: 4px 5px 8px 5px;

	display:block;
	color: #fff;
	font-weight: 200;
	letter-spacing: .8px;
}
.dynamic-row .element .bar:hover {
	cursor:pointer;
}
.dynamic-row .element .bar.active {
	background: white;
	color: #333;
}
.dynamic-row .element.noborder {
	border-right:none;
}
.dynamic-row .element .bar.inlined-bar {
	height: auto;
	padding-bottom: 0px;
}
.dynamic-row .element .two-row p{
	font-size: 12px;
	margin: 0;
	padding: 4px 2px 2px 2px;
	vertical-align: middle;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
.dynamic-row .element .two-row .label {
	vertical-align: none;
	font-size: 11px;
	border:1px solid #afafaf;
	padding:0 4px;
	border-radius: 4px;
	background: #46ae4d;
	font-weight: normal;
}
.dynamic-row .two-row .glyphicon {
	font-size: 15px;
	margin-top: -4px;
	position:relative;
	vertical-align: middle;
	z-index: 0;
	opacity: .75;
}
.dynamic-row .element .two-row p .caret {
	border-color: #ffffff rgba(0, 0, 0, 0) -moz-use-text-color;
}
.dynamic-row .element .bar.active .two-row .caret {
	border-color: #333 rgba(0, 0, 0, 0) -moz-use-text-color;
}
.dynamic-row .fixed {
	text-align:center;
}
.dynamic-row .fixed .two-row {
	padding: 0 10px;
}
.dynamic-row .variable {
	width: 100%;
	padding: 2px;
}
.dynamic-row .fixed .inlined {
	display:inline-block;
	text-align: left;
}
.dynamic-row .fixed .inlined .browse {
	line-height: 10px;
	font-size: 10px;
	margin: 0;
}
.dynamic-row .fixed .inlined p {
	padding: 0;
}
.dynamic-row #search-table {
	width: 100%;
}
.dynamic-row #search-table input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0px;
}
.dynamic-row #search-table .button-td {
	width: 50px;
}
.dynamic-row #search-table .button-td button {
	width: 50px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -3px;
	box-shadow: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0px;
}


/* General Dropdown Functionality */
.subheader {
	display:none;
}

.dropdown-box {
	padding: 5px 0;
	position:absolute;
	background: #fff;
	z-index: 99;
	min-width: 220px;
	max-width: 900px;
	left: -1px;
	border:1px solid #bbb;
	border-top: none;
	display:none;
}
.dropdown-box .balance {
	text-align: left;
	font-size: 13px;
	padding: 3px 10px 5px 10px;
	margin-bottom: 5px;
	border-bottom:1px solid #eee;
}
.dropdown-box.account-dropdown {
	right: -1px;
	left:auto;
}

/*Dropdowns */
.dropdown-box .divider {
	border-top:1px solid #ddd;
	margin-top: 3px;
	margin-bottom: 3px;
}
.dropdown-box a:not(.button) {
	color: #555;
	display:block;
	font-size: 13px;
	padding: 3px 10px;
	text-align: left;
}
.dropdown-box a:not(.button):hover {
	color: #000;
	background: #eee;
}
.dropdown-box .button {
	display:block;
	margin: 7px;
}

/*Cart and Wishlist Dropdown */
.product-dropdown {
	min-width: 320px;
	text-align: left;
}
.product-item {
	padding: 5px;
}
.product-item:hover {
	background: #eee;
}
.product-item-image {
	width: 60px;
}
.product-item-image img {
	max-width: 100%;
}
.product-item-name {
	font-weight: 200;
	font-size: 11px;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	margin: 0 0 1px 0;
}
.product-item-details {
	margin: 0;
	color: #666;
	padding-left: 5px;
	font-weight: 200;
	font-size: 11px;
}
.product-item-info {
	width: 210px;
}
.product-item-div {
	display:inline-block;
	vertical-align: top;
}
.newcustomer {
	font-size: 12px;
}
.dropdown-box .newcustomer a {
	display:inline-block;
	font-size: 12px;
	padding: 0;
	color: #009cc3;
}
.dropdown-box .newcustomer a:hover {
	background: none;
	text-decoration: underline;
	color: #007b9a;
}

/*Categories */

.custom-dropdown .category-box {
	left: -1px;
	right: 7px;
	width: 620px;
}
.category-box .category-menu {
	width: 40%;
	float: left;
	border-right:1px solid #ddd;
}
.category-box .category-menu a {
	display:block;
	color: #333;
	padding: 4px 10px;
	margin: 0;
	height: auto;
	line-height: 20px;
	text-align: left;
	font-size: 13px;
}
.category-box .category-menu .full-directory {
	border-top:1px solid #ddd;
	font-weight: 600;
}
.category-box .category-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.category-box .category-menu a {
	border:none;
	color: #555;
	padding: 3px 5px;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0px;
}
.category-box .category-menu a span {
	float: right;
	font-size: 20px;
	color: #aaa;
}
.category-box .category-menu a:hover span {
	color: #009cc3;
}
.category-box .category-menu a.activate span {
	color: #009cc3;
}
.category-box .category-menu a:hover{
	background: none;
	color: #009cc3;
	text-decoration: none;
	cursor:pointer;
}
.category-box .category-menu .category-menu-item.activate {
	color: #009cc3;
}
.category-box .category-content {
	width: 60%;
	float:left;
}
.category-box .category-content a {
	font-size: 12px;
	padding: 4px 2px;
}
.category-box .category-info {
	display:none;
	position: relative;
	text-align: left;
	padding: 10px 20px;
}
.category-box .category-info h1 {
	font-size: 22px;
	margin: 0;
	border-bottom:1px solid #aad7e2;
	margin-bottom: 5px;
	padding: 0;
	padding-bottom: 5px;
	color: #009cc3;
}
.category-info ul {
 /* height: 330px;*/
  list-style-type: none;
  padding-left: 0;
}
.category-info li {
  width: 30%;
  height: 30px;
  color: #333;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}
.category-info li a {
	display:block;
	height: 100%;
	color: #333;
}
.category-info li a:hover {
	color: #009cc3;
}

/*Third header */
.thirdheader {
	padding: 0px 0;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #fff;
	display:none;
}
.thirdheader a {
	padding: 5px 0;
	font-size:12px;
	color: #555;
	text-shadow: 0 0 1px #fff;
	font-weight: 200;
	display:block;
	font-weight: 200;
	letter-spacing: 1px;
	transition-duration: 0.5s, 0.5s, 100ms;
    transition-property: transform, left, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.thirdheader a:hover {
	color: #000;
	box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;
}
.thirdheader a{
	border-right:1px solid #ccc;
	border-left:1px solid #eee;
}
.thirdheader .main {
	font-weight: bold;
	padding: 3px 0;
	font-size:12px;
	color: #000;
	display:block;
	letter-spacing: .5px;
	border-right: none;
}
.thirdheader .norightborder {
	border-right: none;
}
.thirdheader .noleftborder {
	border-left: none;
}
/*Mobile */
#simple-menu {
	display:none;
}
#mobile-searchbar input {
	border:1px solid #ccc;
	box-shadow: none;
	height: 45px;
}
#mobile-searchbar .search-cancel {
	color: #9DA6AE;
	font-size: 28px;
	float: right;
	margin-top: -45px;
	padding: 0px 15px;
	line-height: 45px;
	position: relative;
	z-index: 999;
	display:none;
}
#mobile-searchbar .search-cancel:hover {
	cursor:pointer;
}
#sidr-searchresults {
	margin-top: 10px;
}
#sidr-searchresults a {
	font-size: 16px;
	color: #eee;
	font-weight: 200;
	letter-spacing: .25px;
	display: block;
	padding: 10px 20px;
}
#sidr-searchresults a:active {
	background: #ccc;
}

/* Autosuggest */
#autosuggest {
	position: absolute;
	background: white;
	z-index: 90;
	min-width: 400px;
	width: 92%;
	width: calc(100% - 50px);
	left: 1px;
	box-shadow: 0 3px 7px #bbb;
	text-align: left;

}
#autosuggest a {
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	border: none;
}
#autosuggest a:hover {
	text-decoration: none;
	background: #eee;
	outline: none;
}
#autosuggest a:active {
	background: #ddd;
}
#autosuggest .section {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding-left: 12px;
	font-weight: 700;
	color: #444;
	border-bottom:1px solid #ddd;
	background: #f6f6f6;
}
#autosuggest .textitem {
	height: 30px;
	padding-left: 12px;
	line-height: 30px;
	border-bottom:1px solid #eee;
	color: #444;
	font-size: 13px;
	transition: background: .15s;
}

#autosuggest .matchingtext {
	font-weight: 800;
}
#autosuggest .industry {
	color: #aaa;
}
#autosuggest .productitem {
	height: 50px;
	padding: 0 5px 5px 5px;
	border-bottom:1px solid #eee;
}
#autosuggest .productitem img {
	max-width: 60px;
	max-height: 45px;
	border-radius: 3px;
	box-shadow: 0 0 3px #fff;
	float: right;
	margin-top: 2px;
}

#autosuggest .producttext {
	float: left;
	width: 260px;
	margin-right: 10px;
	margin-left: 7px;
	padding: 0;
}
#autosuggest .producttext p {
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;
	line-height: 17px;
}
#autosuggest .producttext .displaytext {
	margin-top: 8px;
}
#autosuggest .producttext .productsubtext {
	font-size: 11px;
	color: #666;
}
#autosuggest .activesearchoption {
	background: #eee;
}
#autosuggest {
	display: none;
}
#search-exit {
	color: #777;
	position: absolute;
	padding: 2px 10px;
	font-size: 23px;
	top: 2px;
	right: 55px;
	display:none;
}
#search-exit:hover {
	color: #333;
	cursor:pointer;
}

.content {
	overflow: auto;
}

/* Footer */
.footer {
	background: #444;
	background-image: -moz-linear-gradient(top, #666666 0%, #333333 100%);
	padding-bottom: 20px;
	border-top:1px solid #aaa;
	text-align: center;
}
.footer #footer-shadow {
	opacity: .3;
	max-width: 100%;
	margin: 0 auto;
}
.footer .row {
	margin: 0;
	text-align: left;
}
.footer .row div {
	padding: 0px 10px 0 40px;
}
.footer .row ul {
	list-style-type: none;
	padding-left: 0px;
	font-size: 13px;
}
.footer .row h3 {
	font-weight: 800;
	font-size: 16px;
	color: #fff;
	letter-spacing: .5px;
}
.footer .row ul li {
	margin: 2px 0;
}
.footer .row ul li a {
	color: #eee;
	font-weight: 200;
	letter-spacing: .5px;
}
.footer .row ul li a:hover {
	text-decoration: underline
}
.footer .copyright-row {
	color: #999;
	margin-top: 25px;
	text-align: center;
	font-size: 12px;
}
.footer .copyright-row a {
	color: #999;
}
.footer .copyright-row a:hover {
	text-decoration: underline;
}
.footer .row .contact-col {
	text-align:right;
	color: #eee;
	padding-right: 40px;
}
.footer .copyright-row p {
	margin-top: 15px;
}
.footer .row .socialcontainer {
	margin-top: 30px;
	text-align: right;
	padding: 0;
}
.footer .socialcontainer a {
	display:inline-block;
}
.footer .socialcontainer a .social-slide {
	background-size: 40px 80px;
	padding: 0;
}
.footer .twitter-hover {
    background-image: url("../../img/socialicons/twitter-hover.png");
}
.footer .facebook-hover {
    background-image: url("../../img/socialicons/facebook-hover.png");
}
.footer .linkedin-hover {
    background-image: url("../../img/socialicons/linkedin-hover.png");
}
.footer .angellist-hover {
    background-image: url("../../img/socialicons/angellist-hover.png");
}
.footer .social-slide {
    float: left;
    height: 40px;
    margin-left: 5px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.footer .social-slide:hover {
    background-position: 0 -40px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

/**********************************/
/******  Stars  *******************/
/**********************************/
.star {
	height: 16px;
	width: 85px;
	overflow: hidden;
	background-size: 170px 16px;
	background-image: url("../../img/misc/blackstars.png");
}

.star45 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-size: 186px 16px;
	background-position: -17px 0;
}
.star35 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-size: 186px 16px;
	background-position: -34px 0;
}
.star25 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-size: 186px 16px;
	background-position: -51px 0;
}
.star15 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-size: 186px 16px;
	background-position: -68px 0;
}
.star5 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-size: 186px 16px;
	background-position: -85px 0;
}
.star40 {
	background-position: -17px 0;
}
.star30 {
	background-position: -34px 0;
}
.star20 {
	background-position: -51px 0;
}
.star10 {
	background-position: -68px 0;
}
.star0 {
	background-position: -85px 0;
}
/**********************************/
/******  Top Colors **************/
/**********************************/
.topcolor {
	height: 5px;
	opacity: .5;
	border-bottom:1px solid #888;
}
.topcolorred {
	background: #fa5559;
}
.topcolorblue {
	background: #6bc5ea;
}
.topcolorgreen {
	background: #0aab89;
}
.topcolororange {
	background: #f78b26;
}
.topcolorpurple {
	background: #b161c2;
}
.topcolorlime {
	background: #abcf2f;
}
/**********************************/
/** Percent Complete Bars *********/
/**********************************/
.completebar {
	background-image:url("../../img/misc/seller/completebars.png");
	background-size: 150px 36px;
	width: 30px;
	height: 36px;
}
.completebar-large {
	width: 60px;
	height: 72px;
	background-size: 300px 72px;
}
.completebar2-large {
	background-position: -60px 0;
}
.completebar3-large {
	background-position: -120px 0;
}
.completebar4-large {
	background-position: -180px 0;
}
.completebar5-large {
	background-position: -240px 0;
}

.completebar2 {
	background-position: -30px 0;
}
.completebar3 {
	background-position: 60px 0;
}
.completebar4 {
	background-position: -90px 0;
}
.completebar5 {
	background-position: -120px 0;
}
/**********************************/
/******  TableCell  ***************/
/**********************************/
table, tr { height: 100%; }
.tablecell{
	margin-top: -10px;
    margin-left: -10px;
    display:table;
    width: calc(100% + 20px);
    border-collapse:separate;
    border-spacing:10px;
    height: 100%;
}
.tablecell-content {
	position:relative;
	height: 100%;
}
.tablecell tr {
	height: 100%;
}
.tablecell-col {
	display:table-cell;
	height: 100%;
}
.tablecell-6 {
	width: 50%;
}
.tablecell-5 {
	width: 41.66%;
}
.tablecell-45 {
	width: 37.5%;
}
.tablecell-4 {
	width: 33.33%;
}
.tablecell-3 {
	width: 25%;
}
.tablecell-2 {
	width: 16.66%;
}

/**********************************/
/******  SideBar Layout  **********/
/**********************************/
.side-layout {
  display: table;
  width: 100%;
}
.side-layout-col {
  display: table-cell;
  vertical-align: top;
}
.side-layout .mainbar-container {
	background: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.side-layout-col.sidebar-container {
	width: 250px;
	border-left:1px solid #ddd;
	background: #fafafa;
	box-shadow: 0 0 10px rgba(0,0,0,.1) inset;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/**********************************/
/******  Back to Top **************/
/**********************************/
.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 0px;
	text-decoration: none;
	color: #fff;
	background-image:url("../../img/transparency/blacktransparency.png");
	font-size: 12px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 1em;
	display: none;
}

.back-to-top:hover {	
	background-color: #333;
}	