/*******************/
/** Global Styles **/
/*******************/
#sidr {
	display:none;
}
.clear {
	clear:both;
}
body {
	background: #eaeaea;
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
}
a {
	color: #009cc3;
}
a,a:hover, a:focus,a:active,a:after, a:visited{
	outline: none;
}
a:visited,a:active,a:after,a:link {
	text-decoration:none;
}
input::-moz-focus-inner { 
  border: 0; 
}
.body-container {
	max-width: 1300px;
	position: relative;
	margin: 0 auto;
	box-shadow: 0 0px 8px #333;
	background: #f1f1f1;
	/*background-image: -moz-linear-gradient(left, #E3F3FC 0%, #F2FFF5 100%, #FCFCED 75%, #FDF5FF 100%);*/
	/*background-image: -moz-linear-gradient(left, #E8F4FC 0%, #F5F2FF 50%, #F2FAF0 100%);*/
	/*background-image: -moz-linear-gradient(left, #E3F3FC 0%, #F2FFF5 100%);*/

}
.content {
	margin: 20px 0 40px 0;
}
.centered {
	text-align: center;
}
.col-12-10 {
	width: 10%;
	float: left;
}
.vetbox {
	border:1px solid #dadada;
	background:#fff;
	border-radius:4px;
}
.whitebox {
	background: #fff;
}
.row {
	margin: 0;
}
.button:hover, .button:focus, .button:active {
	text-decoration: none;
}

/*******************/
/***** Header ******/
/*******************/

.header {
	box-shadow: 0 1px 2px #eee;
}
.header .mainheader {
	background: #fff;
	padding-bottom: 5px;
}
.header .mainheader .mainheader-div {
	margin: 0;
	padding: 0;
	vertical-align: top;
	display:inline-block;
}
/* Left Header */
.header .mainheader .left-header {
	position: relative;
	width: 10%;
}
.header .mainheader .left-header div{
	display:inline-block;
}
.header .mainheader .left-header .header-logo {
	vertical-align: top;
}
.header .mainheader .left-header .header-logo img {
	max-height: 40px;
	margin-left: 14px;
	margin-top: 8px;
}

/* Right Header */
.header .mainheader .right-header {
	padding-bottom: 3px;
	float: right;
	margin-right: 10px;
}

.header .mainheader .right-header ul {
	list-style-type: none;
	font-size: 12px;
	font-weight: 200;
	margin: 0;
	padding: 5px 10px;
	border:1px solid #eaeaea;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top: none;
	background-image: -moz-linear-gradient(top, #fafafa 0%, #EEEEEE 100%);
}
.header .mainheader .right-header a:not(.button) {
	letter-spacing: .7px;
	font-size: 12px;
	padding: 3px 5px;
	color: #444;
	border:1px solid transparent;
	transition: background .2s, color .2s;
}
.header .mainheader .right-header a:not(.button):hover {
	text-decoration: none;
	background: #eaeaea;
	border:1px solid #ddd;
	color: #000;
}
.header .mainheader .right-header a:focus {
	text-decoration: none;
}
.header .mainheader .dropdown-menu {
	right: 0;
	left: auto;
	min-width: 80px;
}
.header .mainheader .right-header .dropdown-menu li{
	display:block;
}
.header .mainheader .right-header .dropdown-menu li a {
	padding: 0px 5px;
	text-transform: none;
}
.header .mainheader .right-header .dropdown-menu li a:not(.button):hover {
	background: #eee;
}
.header .mainheader .right-header .caret {
	border-color: #7B858F rgba(123, 133, 143, 0) -moz-use-text-color;
}
.header .mainheader .right-header li {
	display: inline-block;
}
.header .mainheader .right-header span {
	line-height: 1.4;
    padding: 2px 5px;
    margin-left: 3px;
    margin-top:10px;
    vertical-align: top;
    font-size: 11px;
}

/* Cart Styling */

.shoppingcart-image img {
	width: 20px;
	margin-left: -7px;
	display:inline-block;
}

.header .cart-image-container {
padding: 0;
}
.header .cart-image {
	width: 100%;
	padding: 0;
}
.header .cart-price {
	color: #888;
	font-weight: 200;
}
.header .cart-price span {
	font-weight: 400;
}
.header .viewcart {
	margin: 5px;
	color: white;
}
.header .dropdown-menu .cart-dropdown-item {
	padding: 10px;
	width: 400px;
	border-bottom:1px solid #ddd;
}
.header  .dropdown-menu > li > .cart-dropdown-item:not(.button):hover {
	background: #fafafa;
	color: #333;
}
.header .dropdown-menu > li > .viewcart:hover {
}
.header .navbar-nav > .cart-dropdown > .dropdown-menu {
	padding: 0;
}
.header .cart-information p {
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.header .dropdown-menu .cart-dropdown .row div {
	padding: 5px;
}

/*Notification Styling */
.notification-count {
	background: none repeat scroll 0 0 #5ecadf;
	border-radius: 8px;
	border:1px solid #ddd;
	color: #333;
	text-shadow: 0 0 1px #fff;
	display: inline-block;
	line-height: 15px;
	font-size: 10px;
	font-weight: 800;
	height: 17px;
	text-align: center;
	vertical-align: top;
	min-width: 17px;
	padding: 0 3px;
	margin-top: 5px;
}
.notification-count.red-count {
	background: #e8d84f;
}
.notification-count.green-count {
	background: #7bdff3;
}

/*************/
/* Subheader */
/*************/

/* Searchbar */

.header .searchbar #searchform input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #F1F5F7;
}
.header .searchbar #searchform button {
	padding-left: 10px;
	background: #eee;
	margin-left: -3px;
	height: 40px;
	padding-right: 10px;
	box-shadow: none;
	color: #777;
}
.header .searchbar {
	width:50%;
	position:relative;
	padding: 0 5px;
	float: left;
}
.header .searchbar table {
	width: 100%;
	position: relative;
}
.header .searchbar .searchinput-td {
}
.header .searchbar .searchbutton-td {
	width: 50px;
}
.header .searchbar #searchform input {
	height: 40px;
	border-radius: 0px;
}
.header .searchbar .searchbutton-td button {
	width: 50px;
}

/*General Subheader */
.header .subheader {
	margin: 0px;
	padding: 5px 5px 0 5px;
	text-align: center;
	background: #666;
	background-image:-moz-linear-gradient(center bottom , #555555 0px, #666666 40%, #6f6f6f 60%, #999999 100%);
}
.header .subheader .subheader-option {
	display: block;
	color: #eee;
	border:1px solid transparent;
	border-radius: 2px;
	line-height: 42px;
	height: 42px;
	margin: 0 1px 5px 1px;
	overflow: hidden;
}
.header .subheader div .subheader-option:hover {
	cursor:pointer;
	text-decoration: none;
}
.header .subheader div .subheader-option:not(.active):not(.categories):hover {
	color: #fff;
}
.header .subheader .subheader-option p {
	display: block;
	font-weight: 200;
	font-size: 12px;
	margin: 0;
	letter-spacing: .8px;
}


/* General Dropdown Functionality */
.custom-dropdown {
	position: relative;
}
.custom-dropdown .dropdown-box {
	padding: 3px 0;
	position:absolute;
	background: #fff;
	z-index: 99;
	width: auto;
	min-width: 200px;
	max-width: 900px;
	display:none;
	right: 0;
	border:1px solid #bbb;
	border-top: none;
}
.header .subheader .custom-dropdown .subheader-option.active {
	background: white;
	height: 47px;
	color: #333;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-decoration:none;
	border:none;
}

/*Dropdowns */
.custom-dropdown .dropdown-box .divider {
	border-top:1px solid #ddd;
	margin-top: 3px;
	margin-bottom: 3px;
}
.custom-dropdown .dropdown-box a:not(.button) {
	display:block;
	font-size: 13px;
	color: #333;
	padding: 5px 10px;
	text-align: left;
}
.custom-dropdown .dropdown-box a:not(.button):hover {
	background: #eee;
	color: #000;
}
.custom-dropdown .dropdown-box .button {
	display:block;
	margin: 7px;
}

/*Cart and Wishlist Dropdown */
.custom-dropdown .product-dropdown {
	width: 310px;
	text-align: left;
}
.product-item {
	padding: 5px;
}
.product-item:hover {
	background: #eee;
}
.product-item-image {
	width: 80px;
}
.product-item-image img {
	max-width: 100%;
}
.product-item-name {
	font-weight: 200;
	font-size: 13px;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	margin: 0 0 3px 0;
}
.product-item-details {
	margin: 0;
	color: #666;
	padding-left: 5px;
	font-weight: 200;
	font-size: 11px;
}
.product-item-info {
	width: 210px;
}
.product-item-div {
	display:inline-block;
	vertical-align: top;
}
.newcustomer {
	font-size: 12px;
}
.custom-dropdown .dropdown-box .newcustomer a {
	display:inline-block;
	font-size: 12px;
	padding: 0;
	color: #009cc3;
}
.custom-dropdown .dropdown-box .newcustomer a:hover {
	background: none;
	text-decoration: underline;
	color: #007b9a;
}
/*Categories div */
.header .subheader .category-div {
	margin-bottom: 0px;
}
.header .subheader .subheader-option.two-rows {
	padding-top: 2px;
	line-height: 17px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.header .subheader .categories {
	border-radius: 2px;
	border:1px solid #666;
	background: #444;
	background-image:-moz-linear-gradient(center bottom , #444 0px, #555 40%, #5f5f5f 60%, #888 100%);

}
.header .subheader .subheader-option.account {
	text-align: left;
	padding-left: 13px;
}
.header .subheader .subheader-option.account .account-name {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.header .subheader-option .caret {
	border-color: #ffffff rgba(0, 0, 0, 0) -moz-use-text-color;
}
.header .subheader-option.active .caret {
	border-color: #333 rgba(0, 0, 0, 0) -moz-use-text-color;
}

/*Categories */


.custom-dropdown .category-box {
	left: 0px;
	right: 7px;
	width: 700px;
}
.category-box .category-menu {
	width: 20%;
	float: left;
	border-right:1px solid #ddd;
}
.header .subheader .category-box .category-menu a {
	display:block;
	color: #333;
	padding: 4px 10px;
	margin: 0;
	height: auto;
	line-height: 20px;
	text-align: left;
	font-size: 13px;
}
.header .subheader .category-box .category-menu .full-directory {
	border-top:1px solid #ddd;
	font-weight: 600;
}
.header .subheader .category-box .category-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.header .subheader .category-box .category-menu a span {
	float: right;
	font-size: 20px;
	color: #aaa;
}
.header .subheader .category-box .category-menu a:hover span {
	color: #009cc3;
}
.header .subheader .category-box .category-menu a.activate span {
	color: #009cc3;
}
.header .subheader div .category-box .category-menu a:hover{
	background: none;
	color: #009cc3;
	text-decoration: none;
	cursor:pointer;
}
.header .subheader .category-box .category-menu .category-menu-item.activate {
	color: #009cc3;
}
.category-box .category-content {
	width: 80%;
	float:left;
}
.category-box .category-info {
	display:none;
	position: relative;
	text-align: left;
	padding: 10px 20px;
}
.category-box .category-info h1 {
	font-size: 22px;
	margin: 0;
	border-bottom:1px solid #aad7e2;
	margin-bottom: 5px;
	padding: 0;
	padding-bottom: 5px;
	color: #009cc3;
}


.category-info ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 330px;
  list-style-type: none;
  padding-left: 0;
}
.category-info li {
  width: 30%;
  height: 30px;
  color: #333;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}
.category-info li a {
	display:block;
	height: 100%;
	color: #333;
}
.category-info li a:hover {
	color: #009cc3;
}

/*Third header */
.thirdheader {
	padding: 0px 0;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #fff;
	display:none;
}
.thirdheader a {
	padding: 5px 0;
	font-size:12px;
	color: #555;
	text-shadow: 0 0 1px #fff;
	font-weight: 200;
	display:block;
	font-weight: 200;
	letter-spacing: 1px;
	transition-duration: 0.5s, 0.5s, 100ms;
    transition-property: transform, left, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.thirdheader a:hover {
	color: #000;
	box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;
}
.thirdheader a{
	border-right:1px solid #ccc;
	border-left:1px solid #eee;
}
.thirdheader .main {
	font-weight: bold;
	padding: 3px 0;
	font-size:12px;
	color: #000;
	display:block;
	letter-spacing: .5px;
	border-right: none;
}
.thirdheader .norightborder {
	border-right: none;
}
.thirdheader .noleftborder {
	border-left: none;
}
/*Mobile */
#simple-menu {
	display:none;
}
#mobile-searchbar input {
	border:1px solid #ccc;
	box-shadow: none;
	height: 45px;
}
#mobile-searchbar .search-cancel {
	color: #9DA6AE;
	font-size: 28px;
	float: right;
	margin-top: -45px;
	padding: 0px 15px;
	line-height: 45px;
	position: relative;
	z-index: 999;
	display:none;
}
#mobile-searchbar .search-cancel:hover {
	cursor:pointer;
}
#sidr-searchresults {
	margin-top: 10px;
}
#sidr-searchresults a {
	font-size: 16px;
	color: #eee;
	font-weight: 200;
	letter-spacing: .25px;
	display: block;
	padding: 10px 20px;
}
#sidr-searchresults a:active {
	background: #ccc;
}

/* Autosuggest */
#autosuggest {
	position: absolute;
	background: white;
	z-index: 90;
	width: 96%;
	left: 7px;
	box-shadow: 0 3px 7px #bbb;
	text-align: left;

}
#autosuggest a {
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	border: none;
}
#autosuggest a:hover {
	text-decoration: none;
	background: #eee;
	outline: none;
}
#autosuggest a:active {
	background: #ddd;
}
#autosuggest .section {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding-left: 12px;
	font-weight: 700;
	color: #444;
	border-bottom:1px solid #ddd;
	background: #f6f6f6;
}
#autosuggest .textitem {
	height: 30px;
	padding-left: 12px;
	line-height: 30px;
	border-bottom:1px solid #eee;
	color: #444;
	font-size: 13px;
	transition: background: .15s;
}

#autosuggest .matchingtext {
	font-weight: 800;
}
#autosuggest .industry {
	color: #aaa;
}
#autosuggest .productitem {
	height: 50px;
	padding: 0 5px 5px 5px;
	border-bottom:1px solid #eee;
}
#autosuggest .productitem img {
	max-width: 60px;
	max-height: 45px;
	border-radius: 3px;
	box-shadow: 0 0 3px #fff;
	float: right;
	margin-top: 2px;
}

#autosuggest .producttext {
	float: left;
	width: 260px;
	margin-right: 10px;
	margin-left: 7px;
	padding: 0;
}
#autosuggest .producttext p {
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;
	line-height: 17px;
}
#autosuggest .producttext .displaytext {
	margin-top: 8px;
}
#autosuggest .producttext .productsubtext {
	font-size: 11px;
	color: #666;
}
#autosuggest .activesearchoption {
	background: #eee;
}
#autosuggest {
	display: none;
}
#search-exit {
	color: #777;
	position: absolute;
	padding: 2px 10px;
	font-size: 23px;
	top: 2px;
	right: 55px;
	display:none;
}
#search-exit:hover {
	color: #333;
	cursor:pointer;
}

.content {
	overflow: auto;
}

/* Footer */
.footer {
	background: #444;
	background-image: -moz-linear-gradient(top, #666666 0%, #333333 100%);
	padding-bottom: 20px;
	border-top:1px solid #eee;
}
.footer #footer-shadow {
	opacity: .3;
	max-width: 100%;
	margin: 0 auto;
}
.footer .row {
	margin: 0;
}
.footer .row div {
	padding: 0px 20px 0px 30px;
}
.footer .row ul {
	list-style-type: none;
	padding-left: 0px;
	font-size: 14px;
}
.footer .row h3 {
	font-weight: 800;
	font-size: 16px;
	color: #fff;
	letter-spacing: .5px;
}
.footer .row ul li a {
	color: #eee;
	display: block;
	padding: 3px 0;
	font-weight: 200;
	letter-spacing: .5px;
}
.footer .row ul li a:hover {
	text-decoration: underline
}
.footer .copyright-row {
	color: #ddd;
	text-align: center;
	font-size: 12px;
}
.footer .copyright-row p {
	margin-top: 15px;
}
.footer .socialcontainer {
	margin-top: 30px;
	text-align: center;
}
.footer .socialcontainer a {
	display:inline-block;
}
.footer .twitter-hover {
    background-image: url("../../img/socialicons/twitter-hover.png");
}
.footer .facebook-hover {
    background-image: url("../../img/socialicons/facebook-hover.png");
}
.footer .linkedin-hover {
    background-image: url("../../img/socialicons/linkedin-hover.png");
}
.footer .angellist-hover {
    background-image: url("../../img/socialicons/angellist-hover.png");
}
.footer .social-slide {
    float: left;
    height: 48px;
    margin-right: 15px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    width: 48px;
}
.footer .social-slide:hover {
    background-position: 0 -48px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}


/* Base Responsiveness */
@media (max-width: 767px) {	
	.header .mainheader {
		border-bottom:1px solid #d6d6d6;
	}
	.header .mainheader .right-header {
		display:none;
	}
	.header .subheader {
		display:none;
	}
	.header .mainheader .left-header .header-logo {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: -35px;
		display: block;
	} 
	.header .mainheader .left-header .header-logo img {
		margin: 6px 0 0 0;
		width: 120px;
	}
	.header .header-logo a {
		margin: 0 auto;
		display:inline-block;
		text-align: center;
		margin-top: -50px;
	}
	.header .left-header {
		width: 100%;
	}
	#simple-menu {
		display: inline-block;
	}
	.footer .row div {
		padding: 5px 10px 5px 10px;
	}
}

/**********************************/
/******  Stars  *******************/
/**********************************/
.star {
	height: 16px;
	width: 85px;
	overflow: hidden;
	background-image: url("../../img/misc/blackstars.png");
}
.goldstar {
	background-image: url("../../img/misc/goldstars.png");
}

.star45 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-position: -17px 0;
}
.star35 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-position: -34px 0;
}
.star25 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-position: -51px 0;
}
.star15 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-position: -68px 0;
}
.star5 {
	background-image: url("../../img/misc/blackstars_half.png");
	background-position: -85px 0;
}
.star40 {
	background-position: -17px 0;
}
.star30 {
	background-position: -34px 0;
}
.star20 {
	background-position: -51px 0;
}
.star10 {
	background-position: -68px 0;
}
.star0 {
	background-position: -85px 0;
}
/**********************************/
/******  Top Colors **************/
/**********************************/
.topcolor {
	height: 5px;
	opacity: .5;
	border-bottom:1px solid #888;
}
.topcolorred {
	background: #fa5559;
}
.topcolorblue {
	background: #6bc5ea;
}
.topcolorgreen {
	background: #0aab89;
}
.topcolororange {
	background: #f78b26;
}
.topcolorpurple {
	background: #b161c2;
}
.topcolorlime {
	background: #abcf2f;
}

/**********************************/
/******  Back to Top **************/
/**********************************/
.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 0px;
	text-decoration: none;
	color: #fff;
	background-image:url("../../img/transparency/blacktransparency.png");
	font-size: 12px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 1em;
	display: none;
}

.back-to-top:hover {	
	background-color: #333;
}	