{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | List Your Item</title>{% endblock%}

{% block headercss %}
<style>
.addcontainer {
	max-width: 1000px;
	margin: 40px auto;
	padding-bottom: 40px;
	box-shadow: 0 0 4px #aaa;
	background: white;
	background-repeat: no-repeat;
}
.addbg {
	background-image: url("{{STATIC_URL}}img/top_light_gradient.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
}
.addcontainer h2 {
	color: white;
	font-size: 56px;
	font-weight: 200;
	text-align: center;
	text-shadow: 0 0 2px #555;
	padding-top: 40px;
}
.addcontainer h3 {
	color: white;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 0 2px #444;
	font-weight: 200;
}
.addcontainer h4 {
	font-size: 40px;
	color: #29B0D9;
	text-align: center;
	font-weight: 200;
	text-shadow: 0 0 2px #ddd;
}
#addform {
	margin: 50px 60px;
	text-align: center;
}
#addform .col-input {
	width: 40%;
	float: left;
	padding: 0 5px;
}
#addform button {
	width: 20%;
	margin-top: 1px;
	box-shadow: 0 0 10px #fff;
	border-radius: 3px;
	height: 39px;
}
#addform select {
	text-align: left;
	height: 40px;
	padding-top: 10px;
}

.addbox {
	border:2px solid #29B0D9;
	margin: 40px 60px;
	padding-top: 15px;
	background: white;
	text-align: center;
}
.addbox .stepsrow {
	margin-top: 35px;
}
.addbox div p {
	display:inline-block;
	vertical-align: top;
	width: 30px;
	color: white;
	background: #29B0D9;
	text-align: center;
	line-height: 27px;
	font-size: 20px;
	font-weight: 800;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #29B0D9;
}
.addbox .step {
	display:inline-block;
	width: 200px;
	margin-bottom: 15px;
}
.addbox .step {
	padding-left: 5px;
}
.addbox .step h5 {
	margin-top: 0px;
	font-size: 16px;
	color: #333;
	text-align: left;
}
.addbox .step h6 {
	color: #666;
	font-weight: 200;
	text-align: left;
	line-height: 19px;
}
.moreinforow {
	padding: 0 60px;
}
.moreinforow .questionbox {
	padding-right: 10px;
	margin-bottom: 40px;
}
.moreinforow h5 {
	font-size: 23px;
	font-weight: 200;
	color: #333;
	text-shadow: 0 0 1px #ccc;
	margin-bottom: 30px;
}

.moreinforow .questionbox h6{
	font-weight: 800;
	font-size: 15px;
	color: #2397BA;
}
.moreinforow .questionbox p {
	color: #555;
	font-size: 13px;
	text-shadow: 0 0 1px #ccc;
	font-weight: 200;
}
.vetcovediv {
	border-left:1px solid #eee;
	padding-left: 30px;
}
.error {
	box-shadow: 0 0 10px red;
	border:1px solid red;
}

</style>
{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/chosen.jquery.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/typeahead.min.js" type="text/javascript" ></script>
<script>
$(document).ready(function() {
	$("#addform").submit(function() {
		subcategory = $("#subcategory-select").val();
   		$(this).attr('action', '/listproduct/'+subcategory);
		submit = true;
		if ($("#category-select").val() == "Null") {
			submit = false;
			if (!($("#category-select").hasClass('error'))) {
				$("#category-select").addClass("error");
			}
		} else {
			$("#category-select").removeClass("error");
		}
		if ($("#subcategory-select").val() == "Null") {
			submit = false;
			if (!($("#subcategory-select").hasClass('error'))) {
				$("#subcategory-select").addClass("error");
			}
		} else {
			$("#subcategory-select").removeClass("error");
		}
		if (submit) {
			return true;
		} else {
			return false;
		}
	});
	$("#category-select").change(function() {
		retrieveCategories($("#category-select").val());
	});
	$("#category-select").blur(function() {
		if ($("#category-select").val() == "Null") {
			if (!($("#category-select").hasClass('error'))) {
				$("#category-select").addClass("error");
			}
		} else {
			$("#category-select").removeClass("error");
		}
	});
	$("#subcategory-select").blur(function() {
		if ($("#subcategory-select").val() == "Null") {
			if (!($("#subcategory-select").hasClass('error'))) {
				$("#subcategory-select").addClass("error");
			}
		} else {
			$("#subcategory-select").removeClass("error");
		}
	});
});


var retrieveCategories = function(cat) {
	if (cat != 'Null') {
		$.ajax({
			url: '/getsubcategories',
			type: 'GET',
			data: {'category':cat},
			cache: true,
			dataType: 'json',
			success: function(response){	
				$("#subcategory-select").empty();
				$("#subcategory-select").append("<option value='Null'>Item. . .</option>");
				$.each(response,function(index,value) {
					$("#subcategory-select").append("<option value='"+index+"'>"+value+"</option>");
				});
			}
		});
	}
}


</script>
{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="addcontainer">
	<div class="addbg">
		<h2> What are you selling? </h2>
		<h3>VetCove is the safest and most secure way to sell veterinary equipment</h3>
		<form id="addform" action="/listproduct" method="POST">
			  {% csrf_token %}
				<div class="col-input">
					<select id="category-select" name="category" class="form-control">
						<option value="Null">Category. . .</option>
						{% for cat in categories %}
						<option value="{{cat.name}}">{{cat.displayname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-input">
					<select id="subcategory-select" name="subcategory" class="form-control">
						<option value="Null">Item. . .</option>
					</select>
				</div>
				<div class="col-submit">
					<button type="submit" class="button button-highlight">Get Started</button>
				</div>
				<div class="clear"></div>
		</form>
		<div class="addbox">
			<h4>Here's How It Works</h4>
			<div class="row stepsrow">
				<div class="col-md-4">
					<p>1</p>
					<div class="step">
						<h5>Describe your product and add photos</h5>
						<h6>Let buyers know the product's specs, how you acquired it, and it current condition. You can include warranty information and photos so that buyers are confident in what they'll receive</h6>
					</div>
				</div>
				<div class="col-md-4">
					<p>2</p>
					<div class="step">
						<h5>Choose pricing and shipping options</h5>
						<h6>Choose a starting list price, and how you'd like to arrange the deal with buyers. You have the option of letting buyers view and pick up the item in person, or can arrange for shipping to the buyer's address</h6>
					</div>
				</div>
				<div class="col-md-4">
					<p>3</p>
					<div class="step">
						<h5>List it live and get it sold fast!</h5>
						<h6>Your instrument or accessory will remain live on Vetcove for 90 days, reaching thousands of veterinarians and their trusted partners. It's the fastest, most trusted, and most secure way to sell veterinary devices</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row moreinforow">
			<div class="col-md-6">
				<h5>Frequently Asked Questions</h5>
				<div class="questionbox">
					<h6>I have many products to list. How long does it take to list a product on Vetbay?</h6>
					<p>Listing a product takes as little as two minutes. If others have listed the same product before, many details will be completed for you. We do recommend providing detailed descriptions of the product's condition, history, and warranty to improve buyer confidence</p>
				</div>
				<div class="questionbox">
					<h6>When a buyer is ready to buy, can I complete the transaction in person?</h6>
					<p>Yes, absolutely. In fact, we encourage it. Deals can be completed in person by check or by cash after the buyer thoroughly examines the product. In these cases, commission will be assessed by credit card rather than deducted from the money received by the buyer.</p>
				</div>
				<a href="/faq">Sell all FAQs &#8594;</a>
			</div>
			<div class="col-md-6 vetcovediv">
				<h5>The VetCove Difference</h5>
				<div class="questionbox">
					<h6>Exclusive to US doctors, suppliers, and manufacturers</h6>
					<p>Listing a product takes as little as two minutes. If others have listed the same product before, many details will be completed for you. We do recommend providing detailed descriptions of the product's condition, history, and warranty to improve buyer confidence</p>
				</div>
				<div class="questionbox">
					<h6>Safe, Secure, and Trustworthy</h6>
					<p>Yes, absolutely. In fact, we encourage it. Deals can be completed in person by check or by cash after the buyer thoroughly examines the product. In these cases, commission will be assessed by credit card rather than deducted from the money received by the buyer.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

