{% extends 'base/base.html' %}
{% load dollars %}{% load zipcodify %}
{% block css %}
<style>
.content {
	margin: 0;
	background: #fbfbfb;
	padding: 10px 20px 30px 20px;
}
.vetbox {
	background: #fff;
	box-shadow:none;
}
.padding {
	padding: 20px;
}
.product-box {
	margin-top: 10px;
	margin-bottom: 20px;
}
.product-box h3 {
	font-size: 18px;
	color: #333;
	margin:0px;
	margin-bottom: 15px;
}
/*********************/
/****** TopBar *******/
/*********************/
.topbar {
	padding: 5px 5px 5px 5px
}
.topbar a:hover {
	text-decoration: underline;
}
.topbar div {
	display:inline-block;
	margin: 0;
	font-weight: 200;
	font-size: 13px;
}
.topbar .breadcrumbs {
	float:right;
}
/*********************/
/**** Container ******/
/*********************/
.product-container.row .subrow {
	padding: 0;
}
.product-container .leftrow .vetbox {
	margin-right: 10px;
}
.product-header {
	padding-bottom: 10px;
	border-bottom:1px solid #eee;
}
.product-header p {
	font-size: 14px;
	font-weight: 200;
	margin: 0px;
}
.product-header #review-count {
	font-size: 12px;
	font-weight: normal;
}
.product-header h5 {
	margin: 0;
	font-size: 23px;
}
.product-header span {
	float:right;
	vertical-align: bottom;
}
.product-header .topstar {
	margin-top: 3px;
}
.product-overview {
	margin: 20px 0px 10px 0px;
	padding:;
}
.product-overview img {
	max-width: 100%;
	border-radius: 2px;
	border:2px solid #ddd;
}
.product-overview .product-overview-div {
	padding: 0;
}
.product-overview-details {
	margin-left: 20px;
}
.product-overview-details div {
	margin-bottom: 10px;
}
.product-overview-details  h4 {
	font-size: 14px;
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 2px;
}
.product-overview-details p {
	font-size: 13px;
}
.product-overview-details .option-container .option {
	display:inline-block;
	padding: 5px 10px;
	background: #eee;
	border:1px solid #ccc;
	opacity: .5;
	margin-bottom: 3px;
}
.product-overview-details .option-container .option:hover {
	cursor:pointer;
	opacity: 1;
}
.product-overview-details .option-container .option.active {
	background: #d5e8f6;
	border:1px solid #9abed7;
	opacity: 1;
}
.product-overview-details .option-container .option.nostock {
	background: #d5e8f6;
	border:1px solid red;
	opacity: 1;
}
.product-description {
	margin: 20px 0px 0 0;
	padding-top: 10px;
	border-top:1px solid #eee;
	font-size: 13px;
}
.quantity-box {
	display: inline-block;
	margin-bottom: 15px;
}
.shipping-box {
	float:right;
	display:inline-block;
}
.buy-option {
	border-radius: 2px;
	background: #f3f3f3;
	border:1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}
.buy-option.saverate {
	background: #e8f7ec;
	border:1px solid #a8d3b1;
	margin-bottom: 20px;
}
.buy-option table{
	width: 100%;
	font-weight: 200;
	font-size: 13px;
}
.buy-option .button-td {
	text-align: right;
}
.buy-option .logo-td {
	text-align: left;
}
.buy-option .price-td {
	width: 80px;
	font-weight: bold;
}
#original-price {
	font-style:line-through;
	font-size: 20px;
}
.sales_chart {
	padding: 20px 0;
}
.sales_chart p {
	text-align: center;
	font-weight: 200;
}

.carousel .related-item-container {
	width: 33%;
	display:inline-block;
	white-space-collapsing:discard;
}
.carousel .related-item-container .related-item {
	margin: 10px;
	background: #fff;
	height: 160px;
	position:relative;
	border:1px solid #ddd;
}
.carousel .related-item .image {
	width: 100%;
	max-height: 100%;
	position:absolute;
	z-index: 1;
}
.carousel .related-item-info {
	position:absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	background-image: url("{{STATIC_URL}}img/bwgradient.png");
	background-size: auto 100%;
	text-align: left;
}
.carousel .related-item-info p {
	padding: 20px 5px 0 5px;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	color: white;
	text-shadow: 0 0 2px #000;

}
.carousel .related-item-info .secondrow {
	text-align: left;
}
.carousel .related-item-info div div {
	text-align: left;
	margin-left: 3px;
	display:inline-block;
}
.carousel .related-item-info div .price {
	float:right;
	margin-right: 3px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 0 1px #000;
}
.carousel-inner .item {
	padding: 20px 30px 10px 30px;
}
.carousel-control {
	width: 30px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	color: #333;
	top: 43%;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
.carousel-control.left span {
	left: 0;
}
.carousel-control.right span {
	right: 0;
}

/** Reviews **/
#ratings .review {
	border-bottom:1px solid #eaeaea;
	padding: 20px 0px;

}
#ratings .review .star {
	display:inline-block;
	vertical-align:top;
	margin-top: 2px;
}
#ratings .review .helpful {
    border-left: 1px solid #DDDDDD;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.25px;
    margin-left: 5px;
    padding-left: 5px;
}
#ratings .review  .reviewer {
    font-weight: bold;
    margin: 3px 0 7px;
}
#ratings .review .reviewer span {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: normal;
}
#ratings .review  .review-text {
    font-size: 13px;
}
#ratings .review .review-grade button {
	border:1px solid #ddd;
}
#ratings .review .review-grade button:hover {
	background: #d6d6d6;
}



/* Review Box Formatting */
.review-box-td {
	width: 220px;
}
.review-box {
	padding-right: 20px;
	padding-bottom: 20px;
	border-right:1px solid #eaeaea;
}

.review-box table {
	width: 100%;
}
.review-box h6{
	margin-top: 0px;
}
.review-box table p {
	font-size: 11px;
	margin: 0;
}
.review-box .progress {
	width: 117px;
	height: 10px;
	margin: 0 5px;
	border-radius: 0px;
	border:1px solid #ccc;
}

/*Review Bar */
.review-bar {
	width: 100%;
	margin-bottom:10px;
	padding-bottom:30px;
	border-bottom:1px solid #eaeaea;
}
.review-bar .new-review {
	text-align: center;
}
.review-bar td {
	vertical-align: top;
}
.review-bar .new-review h6 {
	font-size: 14px;
	margin-bottom: 5px;
}
.review-bar .new-review p {
	color: #888;
	font-size: 12px;
}
.review-bar .new-review a:hover{
	text-decoration: underline;
}
</style>
{% endblock %}


{% block js %}
<script src="{{STATIC_URL}}js/chart.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/raty/jquery.raty.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
	$('#raty').raty({
	    size      : 24,
	    starOff   : 'star-off.png',
	    starOn    : 'star-on.png',
	    starHalf      : 'star-half.png',
	    target : '#raty-score',
	    hints: ['I hate it', "I don't like it", "It's okay", 'I like it', 'I love it'],
	    path: '{{ STATIC_URL }}js/raty',
	    click: function(score, evt) {
		    alert('ID: ' + $(this).attr('id') + "\nscore: " + score + "\nevent: " + evt);
		  }
	});
	//$('#raty').raty('score', 0); 
	drawChart();
	$('.carousel').carousel({
		interval:false,
	});

});
var counter;
$(window).resize(function() {
    clearTimeout(counter);
    counter = setTimeout(drawChart, 500);
    
});
function drawChart() {
	console.log("here")
	var parent = $("#sales_chart_parent");
	parent.empty();
	parent.append('<canvas id="sales_chart" height="220px"></canvas>');
	var width = $("#sales_chart").parent().width();
	$("#sales_chart").attr("width",width+"px");
	var ctx = $("#sales_chart").get(0).getContext("2d");
	var data = {
		labels : ["Apr","May","Jun","Jul","Aug","Sep","Oct"],
		datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				data : [2,0,0,6,1,0,3]
			}
		]
	}
	var myNewChart = new Chart(ctx).Bar(data,{
		animation:false
		// scaleOverlay:true,	
		// scaleOverride : true,
		// scaleSteps : 10,
		// scaleStepWidth : 1,
		// scaleStartValue : -4,
	});
}
</script>
{% endblock %}


{% block content %}
<div class="topbar">
	<div><a href='#'>&larr; Return to Anti-Inflammatory Search</a></div>
	<div class="breadcrumbs"><a href='#ratings'>Food and Supplies</a> / <a href='#'>Dog Food</a> / <a href='#'>Purina</a></div>
</div>

<div class="product-container row">
	<div class="leftrow subrow col-md-9">
		<div class="vetbox product-box">
			<div class="topcolor topcolorblue"></div>
			<div class="padding">
				<div class="product-header">
					<p>Zoetis<span id="review-count">0 Reviews | <a href='#'>Write a Review</a></span></p>
					<h5>Salix Solution 95% Pure (w/ Phenyallinine)<span><div class="topstar star star4"></div></span></h5>
				</div>

				<div class="product-overview row">
					<div class="col-md-5 product-overview-div">
						<img src="{{STATIC_URL}}img/noimage/noimage_300x400.jpg">
					</div>
					<div class="col-md-7 product-overview-div">
						<div class="product-overview-details">
							<div>
								<h4>Original Price</h4>
								<p id="original-price">$241.32</p>
							</div>
							<div>
								<h4>Item Size: <span>100ml Vial</span></h4>
								<div class="option-container">
									<div class="option active">100ml Vial Brand Label</div>
									<div class="option">200ml Vial Brand Label</div>
									<div class="option">200ml Vial Generic</div>
								</div>
							</div>
							<div>
								<h4>Item ID</h4>
								<p>SKU: 48384391, Manufacturer ID: #33293CDE</p>
							</div>
							<div>
								<h4>Main Ingredient</h4>
								<p>100% Flucatrasine</p>
							</div>

						</div>
					</div>
				</div>
				<div class="product-description">
					<p>FufroJect (Furosemide) Injection is an effective diuretic-saluretic for use in the treatment of acute noninflammatory tissue edema in dogs and horses, and for use in the treatment of edema (pulmonary congestion, ascites) associated with cardiac insufficiency in the dog. In cases of edema involving cardiac insufficiency, the continued use of heart stimulants such as digitalis or its glycosides is indicated.</p>
				</div>
			</div>
		</div>

		
		<div class="vetbox product-box">
			<div class="topcolor topcolororange"></div>
			<div class="padding">
				<h3>Questions</h3>
				<p>Cool</p>
			</div>
		</div>
		<div class="vetbox product-box" id="ratings">
			<div class="topcolor topcolorred"></div>
			<div class="padding">
				<h3>Reviews</h3>
				<table class="review-bar">
					<tr>
						<td class='review-box-td'>
							<div class="review-box">
								<h6>Rating Breakdown (2.3 Average)</h6>
								<table class="rating-table">
									<tr>
										<td><p>5 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
											</div>
										</td>
										<td><p>999</p></td>
									</tr>
									<tr>
										<td><p>4 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
											</div>
										</td>
										<td><p>2</p></td>
									</tr>
									<tr>
										<td><p>3 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
											</div>
										</td>
										<td><p>2</p></td>
									</tr>
									<tr>
										<td><p>2 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
											</div>
										</td>
										<td><p>2</p></td>
									</tr>
									<tr>
										<td><p>1 Star</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
											</div>
										</td>
										<td><p>2</p></td>
									</tr>
								</table>
							</div>
						</td>
						<td>
							<div class="new-review">
								<h6>Has your practice used this product? Write a Review!</h6>
								<p>Write reviews and earn sweet prizes for your clinic. <a href="/">View Rewards</a></p>
								<button class="newreview button button-rounded button-flat-primary">Review This Product</button>
							</div>
						</td>
					</tr>
				</table>
				<div class="review">
					<div class="star star45"></div>
					<div class="helpful">
						<strong>12</strong> people found this review helpful
					</div>
					<div class="reviewer">
						Office Manager in Central New Jersey <span> on May 14, 2014</span>
					</div>
					<div class="review-text">
						<p>We've had a lot of success with this product on equine horses. This is our first option when we need a bute powder, and it is reasonably priced for the quantity you are given. All 5 veterinarians in our practice use Equizone on a daily basis</p>
					</div>
					<div class="review-grade">
						<form>
							<span> Was this review helpful to you?
								<button class="button button-flat button-tiny button-rounded">Yes</button>
								<button class="button button-flat button-tiny button-rounded">No</button>
							</span>
						</form>
					</div>
				</div>

				<div class="review">
					<div class="star star45"></div>
					<div class="helpful">
						<strong>12</strong> people found this review helpful
					</div>
					<div class="reviewer">
						Office Manager in Central New Jersey <span> on May 14, 2014</span>
					</div>
					<div class="review-text">
						<p>We've had a lot of success with this product on equine horses. This is our first option when we need a bute powder, and it is reasonably priced for the quantity you are given. All 5 veterinarians in our practice use Equizone on a daily basis</p>
					</div>
					<div class="review-grade">
						<form>
							<span> Was this review helpful to you?
								<button class="button button-flat button-tiny button-rounded">Yes</button>
								<button class="button button-flat button-tiny button-rounded">No</button>
							</span>
						</form>
					</div>
				</div>

				<div class="review">
					<div class="star star45"></div>
					<div class="helpful">
						<strong>12</strong> people found this review helpful
					</div>
					<div class="reviewer">
						Office Manager in Central New Jersey <span> on May 14, 2014</span>
					</div>
					<div class="review-text">
						<p>We've had a lot of success with this product on equine horses. This is our first option when we need a bute powder, and it is reasonably priced for the quantity you are given. All 5 veterinarians in our practice use Equizone on a daily basis</p>
					</div>
					<div class="review-grade">
						<form>
							<span> Was this review helpful to you?
								<button class="button button-flat button-tiny button-rounded">Yes</button>
								<button class="button button-flat button-tiny button-rounded">No</button>
							</span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rightrow subrow col-md-3">
		<div class="vetbox product-box">
			<div class="topcolor topcolorgreen"></div>
			<div class="padding">
				<h3>Buying Options</h3>
				<div class="quantity-box">
					<span>Quantity:
						<select>
							<option>1</option>
						</select>
					</span>
				</div>
				<div class="shipping-box">
						<span>Shipping:
							<select>
								<option>2 Day Shipping</option>
								<option>Next Day Shipping</option>
							</select>
						</span>
					</div>
				<div class="buy-option saverate">
					<table>
						<tr>
							<td class="price-td">$124.23</td>
							<td class="logo-td">VetCove SaveRate</td>
							<td class="button-td"><button class="button button-tiny button-action button-rounded">Add to Cart</button></td>
						</tr>
					</table>
				</div>
				<div class="buy-option">
					<table>
						<tr>
							<td class="price-td">$124.23</td>
							<td class="logo-td">Henry Schein</td>
							<td class="button-td"><button class="button button-tiny button-action button-rounded">Add to Cart</button></td>
						</tr>
					</table>
				</div>
				<div class="buy-option">
					<table>
						<tr>
							<td class="price-td">$124.23</td>
							<td class="logo-td">Penn Vet</td>
							<td class="button-td"><button class="button button-tiny button-action button-rounded">Add to Cart</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
