{% extends 'base.html' %}
{% block headertitle %}<title>{{item.name}}</title>{% endblock%}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/product.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css" media="screen" />
<style>
#saveloader {
	display: none;
}
</style>
{% endblock%}


{% block content %}

{% block productmain %}

{% endblock %}
{%endblock %}
{% block jsblock %}
<script src="{{STATIC_URL}}js/jquery.zoom.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/jquery.tinycarousel.js" type="text/javascript" ></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script>

var loggedIn = {% if user.is_authenticated %}true{% else %}false{% endif %};
$(document).ready(function(){
	 $('#slider-code').tinycarousel({ 
	 	display: 2,
	 	duration: 500
	 });
	$(".thumbnail-container img").click(function() {
		$("#ex1").css("background-image",'url('+$(this).attr("data-original")+')');
		console.log($("#mainimage").css("width"));
	});
	$(".backbutton").click(function() {
		if (document.referrer.split('/').indexOf('productsearch') >= 0) {
			history.back();
		} else {
			window.location = "/productsearch/veterinary/{{item.subcategory.maincategory.name}}/{{item.subcategory.name}}"
		}
	
	});
});
$(document).ready(function() {
	//Save Button Functionality
	$('#save').click(function() {
		if ($(this).text() == 'Save') {
			var data = {'action':'save','id':{{item.id}}};
			var action = 'save';
		} else {
			var data = {'action':'delete','id':{{item.id}}};
			var action = 'delete'
		}
		$(this).html('<img class="saveloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>');
		savebutton = $(this);
		savebutton.prop("disabled",true);
		$.ajax({
            type : "POST",
            data : data,
            url : "/saveitem",
            success : function(data) {
            	if (data['status'] != '400'){
					savebutton.css('display','inline-block');
					if (action == "save") {
						savebutton.html("Saved");
						savebutton.addClass("button-royal");
					} else {
						savebutton.html("Save");
						savebutton.removeClass("button-royal");
					}
					savebutton.prop("disabled",false);
				} else {
					window.location.href = data['redirect'];
				}
            }, 
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error saving product");
            }
        });
	});
	
	//Contact Seller Button
	$("#contactseller").click(function() {
		if (loggedIn) {
			$("#buynowcontainer").fadeIn('fast').css('display', 'table');
		} else {
			window.location.href= "/login?next=/item/{{item.id}}/details&action=contactseller";
		}
	});
	 $('#buynowcontainer').click(function (e) {
    		if (e.target.id == 'buynowbackalign') {
    			$('#buynowcontainer').fadeOut();
    		}
  	});
  	$(".closecontactseller").click(function() {
  		$('#buynowcontainer').fadeOut();
  	});
  	$('#messageseller').ajaxForm(function(e) {
		$("#contactbox").css('display','none');
		$("#successbox").fadeIn();
  	}); 
  	
  	//Ask Question
  	$(".askquestion").click(function() {
  		if (loggedIn) {
			$(this).addClass("askquestionactive");
			$("#newquestion").css('display','block');
		} else {
			window.location.href= "/login?next=/item/{{item.id}}/details&action=question";
		}
	});
	$(".askquestioncancel").click(function() {
		$(".askquestion").removeClass("askquestionactive");
		$("#newquestion").css('display','none');
	});
	//Ask Question
  	$(".deletequestion").click(function() {
  		var handle = $(this);
  		$.ajax({
            type : "POST",
            data : {'questionid':$(this).attr("data_questionid")},
            url : "/deletequestion",
            success : function(data) {
            	if (data == 400) {
            		$(handle.parent().parent()).remove();
            	}
            }, 
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error saving product");
            }
        });
	});
	$(".askquestioncancel").click(function() {
		$(".askquestion").removeClass("askquestionactive");
		$("#newquestion").css('display','none');
	});
});
</script>
{% block lightbox %}
{% endblock %}
{% endblock %}