{% load dollars %}
{% load phonenumber %}
{% load condition_quality %}
{% load zipcodify %}
{% if not preview and item.offlineviewing %}
<div id="buynowcontainer">
	<div id="buynowbackalign">
		<div class="buynowbox">
			<div id="contactbox">
				<h4>Contact Seller</h4>
				<p>If you're ready to schedule an in-person viewing of the product or buy it online through VetCove, use this form to contact the seller to arrange for next steps.  To inquire for specific additional information from the seller, we suggest you <a class="underline closecontactseller">ask a question</a> instead</p>
				<form action="/messageseller/{{item.item_handle.id}}" method="POST" id="messageseller">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label>Name</label>
							<input type="text" class="form-control" name="contact-name" value="{{user.basicuser.name}}">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label>Email</label>
							<input required type="email" class="form-control" name="contact-email" value="{{user.basicuser.email}}">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label>Phone</label>
							<input required type="text" id="phonenumber" class="form-control" name="contact-phone" value="{% if user.basicuser.phonenumber %}{{user.basicuser.phonenumber|phonenumber}}{% endif %}">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label> Reason for Contact</label>
							<div class="radio-container">
								<label>
								  <input type="radio" name="contact-reason" value="view" checked> I'd like to view this item in person
								</label>
							  </div>
							  <div class="radio-container">
								<label>
								  <input type="radio" name="contact-reason" value="buy"> I'd like to buy this item through VetCove
								</label>
							  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label>Message For Seller</label>
							<textarea required class="form-control" name="contact-message"></textarea>
						</div>
					</div>
					<input type="hidden" value="{{item.item_handle.user.id}}" name="seller">
					<button value="submit" class="button button-rounded button-primary">Contact Seller</button>
					<a class="button button-rounded closecontactseller">Cancel</a>
				</form>
			</div>
			<div id="successbox">
				<div class="contact-success">
					<img src="{{STATIC_URL}}img/checkmark.png"/>
					<h5>We have notified the seller of your intent, and provided him or her with your contact information.  If the seller is interested in having you schedule a viewing or purchase the item based on the information provided, you will be notified by e-mail and/or phone.  If you have intent to purchase this item, but the seller does not respond or notifies you that the item is no longer available, please let us know immediately by e-mailing info@vetcove.com</h5>
				</div>
				<div class="contact-error">
					<img class="contact-xmark" src="{{STATIC_URL}}img/xmark.png"/>
					<h5>Oops! We are currently experiencing some difficulties processing your message. Please log back in and try again</h5>
				</div>
				<button class="button button-rounded closecontactseller">Return to Product</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="product-container">
	<div class="row topbarcontainer">
		<div class="topbar covebox">
			{% if not preview %}
			<div class="topnavigation row">
				<p class="col-md-4 col-sm-4 col-xs-12 backbutton-container"><a class="backbutton">&#8592; View all {{item.item_handle.subcategory.displayname}}</a></p>
				<p class="col-md-8 col-sm-8 col-xs-12 breadcrumbs"><a href="/">Home</a> / <a href="/productsearch/{{industry.name}}/{{item.item_handle.subcategory.maincategory.name}}/all">{{item.item_handle.subcategory.maincategory.displayname}}</a> / <a href="/productsearch/{{industry.name}}/{{item.item_handle.subcategory.maincategory.name}}/{{item.item_handle.subcategory.name}}">{{item.item_handle.subcategory.displayname}}</a> / {{item.item_handle.name}}</p>
				<div class="clear"></div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<h2>{% if item.name %}{{ item.name }}{% else %}VetCove Item{% endif %}</h2>
				</div>
				<div class="listdate col-md-5 col-sm-5 col-xs-12">
					<p>This item was listed on <span>{{item.item_handle.creation_date}}</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row product">
	<div class="col-xs-12 col-sm-4 col-md-4 col-md-push-8 col-sm-push-8 sideproductcontainer">
		<div class="sideproduct actionbox">
			<h2>Buy This Item</h2>  
			<h3>{{item.item_handle.price|dollars}}</h3>
			<p class="original-price">{{item.item_handle.msrp_price|dollars}}</p>
			<p> Quantity Available: {{item.item_handle.quantity}}</p>
			{% if item.shippingincluded %}
			<p class="action-information">This item includes FREE domestic shipping</p>
			{% else %}
			<p class="action-information">This item is available for local pick-up only. Please make sure you are
				willing to travel to
				{% if item.user.city and item.user.state %}
					{{item.item_handle.user.city}}, {{item.item_handle.user.state}}
				{% else %}
					{{item.item_handle.user.zipcode|zipcodify}} 
				{% endif %}
				to pick up this item.</p>
			{% endif %}
			{% if not preview %}
			<div class="actionbuttons">
				{% if item.liststatus == 'active' and user.basicuser != item.user %}
					{% if item.offlineviewing and not authorized %}
						<a id="contactseller" class="button button-rounded button-primary">Contact Seller</a>
					{% else %}
						{% if isinshoppingcart %}
							<a href="/cart" class="button button-rounded">Edit Cart (Already In Cart)</a>
						{% else %}
							<form action="/addtocart/{{item.item_handle.id}}" method="POST">
								{% csrf_token %}
								<button name="submit" value="submit" id="buynow" class="button button-rounded button-action">Add To Cart</button>
							</form>
						{% endif %}
					{% endif %}
				{% elif item.liststatus == 'sold' %}
					<p class="item-sold error-format">Already Purchased</p>
				{% elif item.liststatus == 'unsold' %}
					<a href="/account/listings/inactive" class="button button-caution button-rounded">Item is Inactive</a>
				{% endif %}
				<div class="wishlist-div">
					{% if item.liststatus == 'active' %}
						<div class="savebutton">
							{% if user.basicuser == item.user %}
								<a href="/list/describe/{{item.item_handle.id}}" class="editaction button button-rounded button-highlight">Edit Listing</a>
							{% else %}
								<img id="saveloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>
								{% if saved %}
									<button id="save" class="button button-rounded button-royal">Added to Wishlist</button>
								{% else %}
									<button id="save" class="watchlist button button-rounded">Add to Wishlist</button>
								{% endif %}
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			{% if item.item_type == 'usedequipment' %}
			{% if item.item_handle.offlineviewing %}
			<p class="offline-explain">* This item is available to be viewed offline. You must contact the seller to organize a time to view this item.</p>
			{% endif %}
			{% endif %}
		</div>
		{% if item.charity %}
		<div class="sideproduct row" id="giveback">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<img class="giveback_img" src="{{STATIC_URL}}img/giveback_80x75.png"/>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-12">
				<p>2% of all proceeds go to the {{item.item_handle.charity_name}} through our <a target="_blank" href="/giveback">1+1 program</a></p>
			</div>
		</div>
		{% endif %}
		<div class="sideproduct" id="buyerprotect">
			<img class="buyerbadge" src="{{STATIC_URL}}img/vetcoveprotected.png"/> 	
			<h3>Buy With Confidence</h3>
			<h4>We've got you covered</h4>
			<div class="clear"></div>
			<p>Every product on our system, regardless of warranty, comes with a 5 day product guarantee. If the product does not meet the specifications and condition described, you will be eligible for a full refund. <a href="/buyerprotect" target="_blank">View All Details</a></p>
		</div>
		<div class="sideproduct" id="productspecs">
			<h2>Seller Information</h2>
			<p><span>Type</span>{% if item.user.businesstype %}{{item.item_handle.user.businesstype | title}}{% else %}None Specified{% endif %}</p>
			<p><span>Location</span>{% if item.user.city %}{{item.item_handle.user.city}}, {{item.item_handle.user.state}}{% else %}Zipcode: {{item.item_handle.user.zipcode|zipcodify}}{%endif %}</p>
		</div>
		<div class="sideproduct" id="productspecs">
			<h2>Product Information</h2>
			<p><span>Device Category</span>{{item.item_handle.subcategory}}</p>
			<p><span>Manufacturer</span>{{item.item_handle.manufacturer}}</p>	
			<p><span>Original Owner</span>{{item.item_handle.originalowner|yesno:"Yes,No"}}</p>
			<p><span>Service Contract</span>{{item.item_handle.get_contract_display}}</p>
			{% if item.modelyear %}<p><span>Model Year</span>{{item.item_handle.modelyear}}</p>{% endif %}
			<p><span>Shipping Included</span>{{item.item_handle.shippingincluded|yesno:"Included,Not Included"}}</p>
			<p><span>Condition</span>{{item.item_handle.get_conditionquality_display}}</p>	
		</div>
	  </div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-md-pull-4 col-sm-pull-4 mainproductcontainer">
		{%if item.image_set.all %}
		<div class="mainproduct imageproduct">
			<div class="mainproduct-header">
				<div id="zoomcontainer">
					<div class='mainimage-div' id="ex1" style="background-image:url('{{item.item_handle.mainimage.photo.url}}')">
					</div>
					<div class="thumbnails">
						{% for img in item.image_set.all %}
							<div class="thumbnail-container"><img src="{{img.photo_small.url}}" data-original="{{img.photo.url}}"/></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	
		<div class="mainproduct productdetails">
			<h2> Product Description</h2>
			{% if item.productdescription %}
			<p> {{item.item_handle.productdescription}}</p>
			{% else %}
			<p> There currently is no description for this item</p>
			{% endif %}
		</div>
		<div class="mainproduct productdetails" id="features">
			<h2> Product Condition</h2>
			<p class="condition-quality">{{item.item_handle.get_conditionquality_display}}</p>
			{% if not preview %}
			<button type="button" class="popover-class" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="{{item.item_handle.conditionquality|condition_quality}}">
			  ?
			</button>
			{% endif %}
			<p id="productfeatures">{{item.item_handle.conditiondescription}}</p>
		</div>
		{% if item.whatsincluded %}
		<div class="mainproduct productdetails" id="features">
			<h2>What's Included</h2>
			<p id="productfeatures">{{item.item_handle.whatsincluded}}</p>
		</div>
		{% endif %}
		{% if item.contract != 'none' or item.contractdescription %}
		<div class="mainproduct productdetails" id="features">
			<h2>Warranty / Service Contract Details</h2>
			<p id="productfeatures"><strong>{{item.item_handle.get_contract_display}}</strong></p>
			<p id="productfeatures">{{item.item_handle.contractdescription}}</p>
		</div>
		{% endif %}
		<div class="mainproduct productdetails questionbox" id="features">
			<h2> Top Buyer Questions</h2>
			{% if item.liststatus == "active" %}
				{% if user.basicuser == item.user %}
					<a href="/account/sellerquestions" class="button button-rounded button-tiny">Answer Questions</a>
				{% else %}
					<a class="button button-rounded button-tiny askquestion">Ask a question</a>
				{% endif %}
				<form id="newquestion" method="post" action="/askquestion">
					{% csrf_token %}
					<textarea name="question" class="form-control" placeholder="We will contact the seller when a question is asked. Please do not put any peronsably indentifiable information in the question, per our terms of service."></textarea>
					<input type="hidden" name="itemid" value="{{item.item_handle.id}}">
					<input type="hidden" name="redirect" value="/item/{{item.item_handle.id}}/details">
					<button class="button button-rounded button-tiny button-primary">Submit Question</button>
					<a class="button button-rounded button-tiny askquestioncancel">Cancel</a>
				</form>
			{% endif %}
			{% if item.question_set.all %}
				{% for question in item.question_set.all reversed %}
					<div class="question">
						<h5>{{question.question}} <span> asked {{question.dateasked}}</span> {% if question.buyer == user.basicuser and not question.answer %}<span class="deletequestion" data_questionid="{{question.id}}">Delete</span>{% endif %}</h5>
						{% if question.answer %}
							<p class="answer">{{question.answer}}</p>
						{% else %}
							<p id="notyetanswered">The seller has not yet answered this question</p>
						{%endif %}
					</div>
				{% endfor %}
			{% else %}
				<p id="noquestions">There have been no questions asked</p>
			{% endif %}
		</div>
		{% if not preview and related %}
		<div class="mainproduct productdetails">
			<h2>Customer Who Viewed This Item Also Viewed</h2>
			<ul id="carouselrelated" class="elastislide-list">
			{% for itm in related %}
				<li>
					<a href='/item/{{itm.id}}/details'>
						<div class="related-container">
							<h3>{{itm.name}}</h3>
							<img src="{%if itm.mainimage %}{{itm.mainimage.photo_medium.url}}{% else %}{{STATIC_URL}}img/noimage.jpg{% endif %}" alt="{{item.item_handle.name}}"/>
							<p>{{itm.price|dollars}} <span>({{itm.msrp_price|dollars}})</span></p>
						</div>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	  </div>
	</div>
</div>