<div class="product-preview-box-container">
	<a href='#'>
  		<div class="product-preview-box">
  			<div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/large_background/horse_dark.png")'>
  			</div>
  			<div class="product-preview-info">
  				<p class="title">{{name}}</p>
  				<div class="ratings">
  					<div class="star blackstar star{{rating}}"></div><span>(3)</span>
  				</div>
  				<div class="price">
  					$17.31<span>$14.22</span>
  				</div>
  			</div>
  		</div>
  	</a>
</div>