{% extends 'base/base.html' %}
{% load dollars %}{% load zipcodify %}{% load rating %}
{% block css %}
<link href='{{STATIC_URL}}css/basic/tags.css' rel='stylesheet' type='text/css' />
<link href="{{STATIC_URL}}css/basic/productpreview.css" rel="stylesheet" type="text/css" />
<style>
.content {
	margin: 0;
	padding: 10px 20px 30px 20px;
}
.padding {
	padding: 20px;
}
.product-box {
	margin-top: 5px;
	padding: 0px;
	margin-bottom: 20px;
}
.product-box h3 {
	font-size: 18px;
	color: #333;
	margin:0px;
	margin-bottom: 15px;
}
.product-info {
	padding: 15px;
}
.product-cart-container {
	border-left:1px solid #d6d6d6;
	box-shadow: 5px 0 15px rgba(0,0,0,.10) inset;
}
/*********************/
/****** TopBar *******/
/*********************/
.topbar {
	padding: 5px 5px 0px 5px;
}
.topbar a {
	color: #333;
}
.topbar a:hover {
	text-decoration: underline;
}
.topbar div {
	display:inline-block;
	margin: 0;
	font-size: 12px;
}
.topbar .breadcrumbs {
	float:right;
}
/*********************/
/**** Container ******/
/*********************/

.product-header {
	padding: 10px 20px;
	border-bottom:1px solid #dadada;
}
.product-header p {
	font-size: 14px;
	font-weight: 200;
	margin: 0px;
}
.product-header #review-count {
	font-size: 12px;
	font-weight: normal;
}
.product-header h5 {
	margin: 0;
	font-size: 23px;
}
.product-header span {
	float:right;
	vertical-align: bottom;
}
.product-header .topstar {
	margin-top: 3px;
}

.product-image-container {
	width: 50%;
	float: left;
	margin-top: 20px;

}
.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 70%; /* forces 1:2 aspect ratio */
}
.product-image-container .slider-nav {
	position:absolute;
	z-index: 9;
	background-image:url("{{STATIC_URL}}img/transparency/blacktransparency_2.png");
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 20px;
	line-height: 80px;
	text-align: center;
	color: #eee;
	opacity: .3;
}
.product-image-container .slider-nav:hover {
	opacity: 1;
	cursor:pointer;
}
.product-image-container .left-slider {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	left:0;
}
.product-image-container .right-slider {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	right:0;
}
.img-container {
    position: absolute;
    border:1px solid #dadada;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset;
    border-radius: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
	padding: 10px;
    vertical-align: middle;
    display: inline-block;
    max-width:100%;
    max-height: 100%;
}
.img-thumbnails {
	text-align: center;
	margin-top: 25px;
}
.thumbnail {
	padding: 2px;
	display:inline-block;
	vertical-align: top;
	margin: 0 3px 5px 3px;
}
.thumbnail.active {
	border-color: #4ab0d2;
	background: #e5f2f6;
}
.thumbnail:not(.active):hover {
	border-color: #aaa;
	cursor:pointer;
}
.thumbnail img {
	max-height: 40px;
	max-width: 40px;
}
.product-overview {
	width: 49%;
	padding-left: 20px;
	float: left;
	margin-top: 20px;
}
.product-overview h4 {
	font-size: 13px;
	font-weight: bolder;
	margin: 15px 0 5px 0
}
.product-overview p {
	font-size: 13px;
}
.product-overview .success {
	font-size: 18px;
	color: green;
	font-weight: bold;
}
.product-overview .sizes table {
	border:1px solid #d6d6d6;
	margin: 15px 0;
	width: 100%;
	font-size: 13px;
}
.product-overview .sizes table thead {
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #eee 100%);
	border-bottom:2px solid #ddd;
}
.product-overview .sizes table tbody {
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #f6f6f6 100%);
}
.product-overview .sizes table th{
	padding: 1px 5px;
	color: #333;
	font-size: 12px;
}
.product-overview .sizes table tr{
	border-bottom:1px solid #ddd;
}
.product-overview .sizes table tr.activse{
	background: #ebf6fa;
}
.product-overview .sizes table td{
	padding: 3px 5px;
	background: none;
}
.product-overview .sizes table .msrp{
	color: #777;
	text-decoration: line-through;
}
.product-overview .sizes table .price{
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}
.product-overview .sizes table td label {
	font-weight:normal;
}
.product-overview .sizes table td label:hover {
	cursor:pointer;
}
.product-overview .sizes table td label input {
	outline:none;
}
.product-cart {
	padding: 15px 10%;
	width: 100%;
	margin-top: 20px;
}
.product-cart h4 {
	font-size: 12px;
	font-weight: bolder;
}
.product-cart p {
	font-size: 12px;
	color: #666;
	margin-bottom: 0;
}
.product-cart a {
	font-size: 12px;
}
.product-cart .option {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.product-cart .select-box {
	display:inline-block;
	padding: 3px 8px;
	border:1px solid #d6d6d6;
}
.product-cart .select-box.active {
	border:1px solid blue;
}
.product-cart .address {
	margin-top: 5px;
}
.product-cart .address p {
	margin-bottom: 2px;
}
.product-cart .buy {
	padding: 10px 0 20px 0;
}
.product-cart .buy .button {
	width: 100%;
	max-width: 180px;
}
.product-cart .noborder {
	border:none;
}
.product-cart .price {

}
.product-cart .price h5 {
	color: green;
	font-weight: bolder;
	font-size: 22px;
}
.product-cart .price h5 {
	margin: 0;
}
.product-cart .price p {
	color: green;
	font-weight: bold;
}
.product-cart td {
	color: #777;
	font-size: 12px;
}
.product-cart .list-price {
	text-decoration: line-through;
}
/** Reviews **/
#ratings .review {
	border-bottom:1px solid #eaeaea;
	padding: 20px 0px;

}
#ratings .review .star {
	display:inline-block;
	vertical-align:top;
	margin-top: 2px;
}
#ratings .review .helpful {
    border-left: 1px solid #DDDDDD;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.25px;
    margin-left: 5px;
    padding-left: 5px;
}
#ratings .review  .reviewer {
    font-weight: bold;
    margin: 3px 0 7px;
}
#ratings .review .reviewer span {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: normal;
}
#ratings .review  .review-text {
    font-size: 13px;
}
#ratings .review .review-grade button {
	border:1px solid #ddd;
}
#ratings .review .review-grade button:hover {
	background: #d6d6d6;
}



/* Review Box Formatting */
.review-box-td {
	width: 220px;
}
.review-box {
	padding-right: 20px;
	padding-bottom: 20px;
	border-right:1px solid #eaeaea;
}

.review-box table {
	width: 100%;
}
.review-box h6{
	margin-top: 0px;
}
.review-box table p {
	font-size: 11px;
	margin: 0;
}
.review-box .progress {
	width: 117px;
	height: 10px;
	margin: 0 5px;
	margin-top: 3px;
	border-radius: 0px;
	border:1px solid #ccc;
}
/*More information */
.more-information {
	padding: 0;
}
.more-information-box {
	padding: 15px;
	margin:10px 0 30px 0;
}
.more-information h3 {
	margin: 0 0 20px 0;
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	font-size: 20px;
	font-weight: normal;
	color: #333;
}
.related {
	padding: 0 25px 0 45px;
	margin-top: 10px;

}
.related h4 {
	font-size: 15px;
	color: #555;
	margin-top: 0px;
	font-weight: normal;
	line-height: 20px;
	border-bottom:1px solid #d6d6d6;
}
.related .product-preview-box-container {
	width: 100%;
	border:none;
	margin-bottom: 10px;
	text-align:center;
	box-shadow: 0 0 12px rgba(0,0,0,.1) inset;
}
/*Review Bar */
.review-bar {
	width: 100%;
	margin-bottom:10px;
	padding-bottom:30px;
	border-bottom:1px solid #eaeaea;
}
.review-bar .new-review {
	text-align: center;
}
.review-bar td {
	vertical-align: top;
}
.review-bar .new-review h6 {
	font-size: 14px;
	margin-bottom: 5px;
}
.review-bar .new-review p {
	color: #888;
	font-size: 12px;
}
.review-bar .new-review a:not(.button):hover{
	text-decoration: underline;
}
/*Quantity Box Formatting */
.quantity-box {
  overflow: auto;
}
.quantity-box div {
  float: left;
}
.quantity-box .quantity-change {
  font-size: 12px;
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
  border-radius: 3px;
  border:1px solid #ccc;
  line-height: 24px;
  height: 24px;
  margin: 0px 0;
  padding: 0 4px;
}
.quantity-box .quantity-plus {
  color: #2b7f3f;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.quantity-box .quantity-minus {
  color: #a83030;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.quantity-box .quantity-change:hover {
  cursor:pointer;
  background:#eee;
}
.quantity-box .quantity-change:active {
  background: #ccc;
}
.quantity-box input {
  width: 55px;
  background: #f9f9f9;
  border-right: none;
  border-left:none;
  text-align: center;
  border-radius: 0px;
  margin: 0px 0px 0px 0;
  float: left;
  padding: 2px;
  height: 24px;
}
.page-zoom {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: white;
	display:none;
}
.page-zoom .carousel {
	height: 100%;
}
.page-zoom .item img {
	text-align: center;
	margin: 0 auto;
}
.page-zoom .exit {
	font-size: 40px;
	position:absolute;
	padding: 10px;
	z-index: 9999;
	top: 10px;
	left: 20px;
	color: #777;
}
.page-zoom .exit:hover {
	color: #000;
	cursor:pointer;
}
.page-zoom .carousel-control {
	background: none;
	color: #444;
	position:absolute;
	height: 120px;
	background-image:url("{{STATIC_URL}}img/transparency/blacktransparency_2.png");
	top: 50%;
	margin-top: -60px;
	width: 40px;
	text-align: center;
	color: #eee;
}
.page-zoom .carousel .carousel-control span {
	text-align: left;
	position:relative;
	left: 0;
	top: 0;
	right: 0;
	line-height: 120px;
}
.vertical-block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.vertical-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  max-height: 80%;
}
.centered img {
	max-width: 100%;
	max-height: 100%;
}
.fullscreen-carousel {
	background: none;
}
/*Details */
.details-menu {
	padding: 0;
}
.details-row .detail-option {
	color: #777;
	font-size: 14px;
	padding: 3px 5px;
	margin: 3px 0;
	border-radius: 3px;
	font-weight: bold;
}
.details-row .detail-option.active {
	background: #4ab0d2;
	box-shadow: 0 0 3px rgba(0,0,0,.2) inset;
	color: #fff;
}
.details-row .detail-option:not(.active):hover{
	color: #000;
	cursor:pointer;
}
.details-row .detail-option span {
	float:right;
	margin-top: 2px;
	font-size: 13px;
	display:none;
}
.details-row .detail-option.active span {
	display:block;
}
.details-div:not(.active) {
	display:none;
}
.details-div h4 {
	margin-top: 0px;
}
/*Questions */
.questions h3 span {
	float:right;
	font-size: 12px;
	margin-top:8px;
}
.question {
	border-bottom:1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.question.noborder {
	border-bottom:none;
}
.question a{
	margin-left: 20px;
}
.question h5 {
	font-size: 15px;
	margin-bottom: 3px;
}
.question p {
	font-size: 11px;
	color: #999;
}
.answer {
	margin-left: 20px;
	margin-bottom: 20px;
}
.answer p {
	font-size: 13px;
	color: #333;
	margin-bottom: 3px;
}
.answer .from {
	color: #999;
	font-size: 11px;
}
.answer .from span {
	color: green;
	font-weight: bold;
}
.answer .from a {
	margin-left: 0;
}
</style>
{% endblock %}


{% block js %}
<script src="{{STATIC_URL}}js/raty/jquery.raty.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
	$(".product-cart").css('height',Math.max(parseInt($('.product-info').css('height')),parseInt($('.product-cart').css('height'))));
	$('.main-image').click(function(){
		//Action goes here
	});
	$('.quantity-box .quantity-change').click(function() {
    var input = $(this).parent().children('input')
    if ($(this).hasClass('quantity-minus')) {
      input.val(Math.max(1,input.val()-1))
    } else {
      input.val(parseInt(input.val())+1)
    }
  });
	//Information Tag Tooltips
  $('.tags p').tooltip({
    delay: { show: 300, hide: 10 }
  });

  //Vertical Centering of the carousel images
  $('.page-zoom .exit').click(function(){
  	enableScrolling();
  	$('.page-zoom').fadeOut('fast');
  });
  $('.main-image').click(function(){
  	$('.page-zoom').fadeIn('fast',function(){
  		disableScrolling();
  	});
  });

  carouselCenter();
  $(window).resize(function() {
    carouselCenter();
   });

  function enableScrolling() {
  	$('html, body').css({
    	'overflow': 'auto',
    	'height': 'auto'
	});
  }
  function disableScrolling() {
  	$('html, body').css({
    	'overflow': 'hidden',
    	'height': '100%'
	});
  }
  //Centers images vertically on window resize
  function carouselCenter(){
  	height = $(window).height();
    $.each($('.fullscreen-carousel'),function(index,value){
    	$(value).css('height',height);
    });
  }

  //Description tabs
  $(".detail-option").click(function(){
  	$(".detail-option").removeClass('active');
  	$(this).addClass('active');
  	handle = $(this);
  	$(".details-div").css('display','none')
  	$($(handle).attr('data-ref')).fadeIn('fast');
  })

});
</script>
{% endblock %}


{% block content %}
<div class="page-zoom">
	<div id="carousel" class="carousel slide" data-ride="carousel">
	  <div class="exit">
	  	<span class="glyphicon glyphicon-remove"></span>
	  </div>
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	  	<div class="item active">
	      	<div class="fullscreen-carousel vertical-block" style="">
			    <div class="centered">
			        <img src="{{STATIC_URL}}img/placeholder_pics/product/1.jpg" alt="...">
			    </div>
			</div>
	    </div>
	    <div class="item">
	      	<div class="fullscreen-carousel vertical-block" style="">
			    <div class="centered">
			        <img src="{{STATIC_URL}}img/placeholder_pics/product/2.jpg" alt="...">
			    </div>
			</div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
</div>

<div class="topbar">
	<div><a href='#'>&larr; Return to Anti-Inflammatories Search</a></div>
	<div class="breadcrumbs"><a href='#ratings'>Pharmaceuticals</a> / <a href='#'>Anti-Inflammatories</a></div>
</div>

<div class="product-container">
	<div class="vetbox product-box row">
		<div class="product-header col-md-12">
			<p>A&G Pharmacueticals<span id="review-count">2 Reviews | <a href='#'>Write a Review</a></span></p>
			<h5>Equizone Phenylbutazone Powder<span><div class="topstar star star40"></div></span></h5>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 product-info">
			<div class="product-image-container">
				<div class="responsive-container">
				    <div class="dummy"></div>
				    <div class="left-slider slider-nav">
				    	<span class="glyphicon glyphicon-chevron-left"></span>
				    </div>
				     <div class="right-slider slider-nav">
				    	<span class="glyphicon glyphicon-chevron-right"></span>
				    </div>
				    <div class="img-container main-image">
				        <img src="{{STATIC_URL}}img/placeholder_pics/search/11.gif">
				    </div>
				</div>
				<div class="img-thumbnails">
					<div class="thumbnail active">
			    		<img src="{{STATIC_URL}}img/placeholder_pics/search/11.gif">
			    	</div>
			    	<div class="thumbnail">
			    		<img src="{{STATIC_URL}}img/placeholder_pics/product/1.jpg">
			    	</div>
			    	<div class="thumbnail">
			    		<img src="{{STATIC_URL}}img/placeholder_pics/product/2.jpg">
			    	</div>
			    	<div class="thumbnail">
			    		<img src="{{STATIC_URL}}img/placeholder_pics/product/3.jpg">
			    	</div>
			    </div>
			</div>
			<div class="product-overview">
				<div class="tags">
					{% if product %}<p data-toggle="tooltip" title="This item is in stock" class='result-darkgreen'><span class="glyphicon glyphicon-ok"></span> In Stock</p>{% endif %} 
					{% if not product %}<p data-toggle="tooltip" title="This item is currently out of stock" class='result-red'><span class="glyphicon glyphicon-remove-sign"></span> Out of Stock</p>{% endif %} 
					{% if not product %}<p data-toggle="tooltip" title="The item is currently 50% off retail price" class='result-lightgreen'><span class="glyphicon glyphicon-tag"></span> Promotion</p>{% endif %} 
					{% if not product %}<p><data-toggle="tooltip" title="This item is currently on backorder"  class='result-green'><span class="glyphicon glyphicon-warning-sign"></span> Backorder</p>{% endif %} 
					{% if not product %}<p data-toggle="tooltip" title="This item is shipped directly from the manufacturer" class='result-orange'><span class=" glyphicon glyphicon-plane"></span> Drop Shipped</p>{% endif %} 
					{% if not product %}<p data-toggle="tooltip" title="Additional Information is required to order this item" class='result-blue'><span class="glyphicon glyphicon-earphone"></span> More Info Req'd</p>{% endif %} 
					{% if not product %}<p data-toggle="tooltip" title="You last ordered this item on Sept 14, 2013" class='result-purple'><span class="glyphicon glyphicon-shopping-cart"></span> Ordered Before</p>{% endif %} 
					{% if not product %}<p class='result-lightred'><span class="glyphicon glyphicon-ban-circle"></span> Indefinite BackOrder</p>{% endif %} 
				</div>
				<div>
					<div class="sizes">
						<form>
							<table class="">
								<thead>
									<th>Option</th>
									<th>Manufacturer ID</th>
									<th>MSRP</th>
									<th class="price">Price</th>
								</thead>
								<tbody>
									<tr class="active">
										<td><label>
												<input name="item" type="radio" checked>
												1.1lb Jar
											</label>
										</td>
										<td>29DIS329</td>
										<td class="msrp">$14.94</td>
										<td class="price">$11.29</td>
									</tr>
									<tr>
										<td><label>
												<input name="item" type="radio">
												2.2lb Jar
											</label>
										</td>
										<td>29ISS330</td>
										<td class="msrp">$22.92</td>
										<td class="price">$18.34</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<div>
					<p><strong>Manufacturer ID: </strong>28JB2B22</p>
				</div>
				<div>
					<p><strong>Description: </strong>Equizone 100  was the  FIRST FDA approved phenylbutazone powder on the market.  A  palatable bute ( citrus flavored) powder approved for oral use in horses by the FDA.  Equizone 100 and Equizone 50 are  both made from all natural sweetners, no artificial sweetners added.</p>
				</div>

			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 product-cart-container">
			<div class="product-cart">
				<div class="option price">
					<h5>$11.29</h5>
					<table>
						<tr>
							<td>List Price:</td>
							<td class="list-price">$14.94</td>
						</tr>
						<tr>
							<td>You Save:</td>
							<td>$3.65 (25%)</td>
						</tr>
					</table>
					<p>+ 20 Instant Credits</p>
				</div>
				<div class="option">
					<h4>Shipping Address</h4>
					<select>
						<option>Main Office</option>
						<option>George Green</option>
						<option>Add New Address. . .</option>
					</select>
					<div class="address">
						<p>2 Norfolk Terrace</p>
						<p>Cambridge, MA 02139</p>
					</div>
				</div>
				<div class="option">
					<h4>Quantity</h4>
					<div class="quantity-box float">
						<div class="quantity-minus quantity-change"><span class="glyphicon glyphicon-minus"></span></div>
						<input type="number" class="form-control" value="1" min="1">
						<div class="quantity-plus quantity-change"><span class="glyphicon glyphicon-plus"></span></div>
					</div>
				</div>
				<div class="option buy">
					<button class="button button-rounded button-action">Add to Cart</button>
				</div>
				<div class="option">
					<a href='#'><span class='glyphicon glyphicon-star'></span> Add To Saved List</a>
				</div>
				<div class="option noborder">
					<a href='#'><span class='glyphicon glyphicon-th'></span> View Popular Alternatives</a> 
				</div>
				<!-- <div class="option noborder">
					<h4>Free Shipping</h4>
					<p>This item ships for free within 24 hours. It is expected to arrive tomorrow.</p>
				</div> -->
			</div>
		</div>
	</div>

	<div class="row information-container">
		<div class="col-lg-9 col-md-9 col-sm-9 more-information">
			<div class="vetbox more-information-box">
				<h3>Product Details</h3>
				<div class="row details-row">
					<div class="col-md-2 details-menu">
						<div class="detail-option active" data-ref="#details-1">
							Description<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="detail-option" data-ref="#details-2">
							FDA Approved<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="detail-option" data-ref="#details-3">
							Highlights<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="detail-option" data-ref="#details-5">
							Comparison<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="detail-option" data-ref="#details-4">
							Usage<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="detail-option" data-ref="#details-4">
							Specifications<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
					</div>
					<div class="col-md-10">
						<div id="details-1" class="details-div active">
							<h4>Description</h4>
							<p>Equizone 100  was the  FIRST FDA approved phenylbutazone powder on the market.  A  palatable bute ( citrus flavored) powder approved for oral use in horses by the FDA.  Equizone 100 and Equizone 50 are  both made from all natural sweetners, no artificial sweetners added.</p>
						</div>
						<div id="details-2" class="details-div">
							<h4>FDA Approval</h4>
							<p>Dear Veterinarian:</p>
							
							<p>As you know, phenylbutazone is a non-steroidal anti-inflammatory drug commonly used for the relief of inflammatory conditions associated with the musculoskeletal system in horses.  There are 48 actively-marketed phenylbutazone products that are approved by the U.S. Food and Drug Administration (FDA) for use in horses (please refer to the complete product list below).  These products are available in multiple dosage forms, including oral tablets, boluses, pastes, and powders; and solutions for intravenous injection.  Two of the approved powders are flavored for use in feed.</p>
							<p>Each FDA-approved animal drug goes through a rigorous evaluation process, and prior to approval, is clinically tested for safety and effectiveness in the target animal species.  In addition, the FDA thoroughly inspects and evaluates the adequacy of the manufacturing process to ensure that the product’s indentity, strength, quality, and purity are preserved.  The FDA continues to monitor the product’s quality and safety after it is approved.</p>
							<p>In prescribing an FDA-approved phenylbutazone product, you are providing your clients and their horses with a drug that has demonstrated safety and effectiveness in horses and whose manufacturing process met the FDA’s standards for quality, purity, and potency.</p>
							<p>The numerous FDA-approved phenylbutazone products for horses, available in multiple dosage forms and two flavors, greatly reduce the need for compounding.  In very limited cases when you have specific patients that require phenylbutazone in a strength or dosage form that is not available among the approved products, phenylbutazone can only be legally compounded by using an FDA-approved phenylbutazone product as the starting material.  Phenylbutazone should not be compounded from bulk.  An animal drug that is compounded from bulk drug ingredients is not FDA-approved, and therefore, the safety and effectiveness of the compounded drug, as well as the adequacy of the manufacturing process, have not been evaluated.</p>
							<p>The requirements for legal animal drug compounding can be found in Title 21, Code of Federal Regulations, Section 530.13.</p>
							<p>At the FDA’s Center for Veterinary Medicine (CVM), we are committed to promoting and protecting animal health by ensuring that safe and effective products are available  for veterinary use.</p>
						</div>
						<div id="details-3" class="details-div">
							<h4>Highlights</h4>
							
						</div>
						<div id="details-4" class="details-div">
							<h4>Usage</h4>
							
						</div>
					</div>
				</div>
			</div>
			<div class="vetbox more-information-box" id="ratings">
				<h3>Ratings and Reviews</h3>
				<table class="review-bar">
					<tr>
						<td class='review-box-td'>
							<div class="review-box">
								<h6>Rating Breakdown (2.3 Average)</h6>
								<table class="rating-table">
									<tr>
										<td><p>5 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
											</div>
										</td>
										<td><p>1</p></td>
									</tr>
									<tr>
										<td><p>4 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
											</div>
										</td>
										<td><p>1</p></td>
									</tr>
									<tr>
										<td><p>3 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
											</div>
										</td>
										<td><p>0</p></td>
									</tr>
									<tr>
										<td><p>2 Stars</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
											</div>
										</td>
										<td><p>0</p></td>
									</tr>
									<tr>
										<td><p>1 Star</p></td>
										<td>
											<div class="progress">
										  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
											</div>
										</td>
										<td><p>0</p></td>
									</tr>
								</table>
							</div>
						</td>
						<td>
							<div class="new-review">
								<h6>Has your practice used this product? Write a Review!</h6>
								<p>Write reviews and earn sweet prizes for your clinic. <a href="/rewards/store">View Rewards</a></p>
								<a href='/account/reviews/writereview/1' class="newreview button button-rounded button-flat-primary">Review This Product</a>
							</div>
						</td>
					</tr>
				</table>
				<div class="review">
					<div class="star star40"></div>
					<div class="helpful">
						<strong>12</strong> people found this review helpful
					</div>
					<div class="reviewer">
						Veterinarian in Central New Jersey <span> on May 14, 2014</span>
					</div>
					<div class="review-text">
						<p>We have been using Equizone for about 6 months our 4 veterinarian practice.  It seems to be very palatable as the clients are requesting it for their more finicky horses.   It only comes in one size and a smaller size would probably allow us to sell more and increase margins.</p>
					</div>
					<div class="review-grade">
						<form>
							<span> Was this review helpful to you?
								<button class="button button-flat button-tiny button-rounded">Yes</button>
								<button class="button button-flat button-tiny button-rounded">No</button>
							</span>
						</form>
					</div>
				</div>
				<div class="review">
					<div class="star star50"></div>
					<div class="helpful">
						<strong>3</strong> people found this review helpful
					</div>
					<div class="reviewer">
						Veterinarian in Pennslyvania<span> on May 20, 2014</span>
					</div>
					<div class="review-text">
						<p>Equizone is the only oral equine bute that horses seem to eat.  In our practice we recommend mixing it with molasses first so it does not sift to the bottom of the feed bucket.</p>
					</div>
					<div class="review-grade">
						<form>
							<span> Was this review helpful to you?
								<button class="button button-flat button-tiny button-rounded">Yes</button>
								<button class="button button-flat button-tiny button-rounded">No</button>
							</span>
						</form>
					</div>
				</div>
			</div>
			<div class="vetbox more-information-box questions">
				<h3>Questions
					<span>
						<a href="/">Ask a Question</a> | 
						<a href="/">Sort by Date</a> | 
						<a href="/">Sort by Popularity</a>
					</span>
				</h3>
				<div class="question">
					<h5>I have a horses that do not like the flavor.  Are there any plans to bring this product in alternate flavors?</h5>
					<p>Asked by veterinarian in NJ | May 6th, 2014</p>
					<div class="answer">
						<p>That is a great question and it is a common topic. Unfortunately because it is an FDA approved product all changes to it including flavor must go through a rigorous testing procedure.  We are considering what flavors might be next but none are planned in the near future.</p>
						<p class="from">Answered by George Green, A&G Pharmaceuticals | May 6th, 2014 | <span> 2 Upvotes</span> | <a> Comment</a> | <a> Upvote This Answer</a></p>
					</div>
					<a class="button button-flat button-rounded button-tiny">Answer Question</a>
				</div>
				<div class="question noborder">
					<h5>I have noticed that if Equinzone is left out in the sun and heat it turns a light tan color. Does this affect its efficacy?</h5>
					<p>Asked by veterinarian in NJ | May 3rd, 2014</p>
					<div class="answer">
						<p>Great question!!  As with most pharmaceuticals, Equizone should be stored in a controlled temperature environment as excessive heat or cold can degrade the materials.  If it has turned color or has passed the expiration date we recommend discarding the unused portion. </p>
						<p class="from">Answered by George Green, A&G Pharmaceuticals | May 4th, 2014 | <span> 1 Upvote</span> | <a> Comment</a> | <a> Upvote This Answer</a></p>
					</div>
					<a class="button button-flat button-rounded button-tiny">Answer Question</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 related">
			<h4>Popular Alternatives</h4>
			{% for alt_product in products %}
				{% if alt_product != product %}
					<div class="product-preview-box-container">
						<a href='#'>
					  		<div class="product-preview-box">
					  			<div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/placeholder_pics/search/{{alt_product.id}}.jpg")'>
					  			</div>
					  			<div class="product-preview-info">
					  				<p class="title">{{alt_product.displayname}}</p>
					  				<div class="ratings">
					  					<div class="star blackstar star{{alt_product.averagerating|ratingstars}}"></div><span></span>
					  				</div>
					  				<div class="price">
					  					{{alt_product.details.msrp_lowprice|dollars}}<span>{{alt_product.details.lowprice|dollars}}</span>
					  				</div>
					  			</div>
					  		</div>
					  	</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
