{% extends 'base.html' %}
{% block headercss %}

<style>

.maincontainer {
	background: #fff;
	border:1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 4px #ccc;
	width: 1000px;
	margin: 50px auto
}
.maincontainer h3 {
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.question {
	margin: 40px 40px;
}
.question h4 {
	font-weight: 800;
	font-size: 15px;
	color: #333;
}
.question p {
	font-weight: 200;
}

</style>
{% endblock%}


{% block content %}
<div class="maincontainer">
	<div class="question">
		<h4>The page you are looking for cannot be found. We will get working on this right away.</h4>
	</div>


	
	
</div>


{% endblock %}

{% block jsblock %}
<script>
</script>
{% endblock %}