{% extends 'base.html' %}
{% block headertitle %}<title>MedBay | Account</title>{% endblock%}

{% block headercss %}
<link href="{{STATIC_URL}}css/account.css" rel="stylesheet" type="text/css" />
<style>
.pagecontainer {
	margin: 50px auto;
	max-width: 1000px;
}

.maincontent {
	border-radius: 3px;
	max-width: 800px;
	min-height: 250px;
	background: white;
	box-shadow: 0 0 3px #aaa;
}
.sidecontent ul {
	padding: 0;
	margin: 0;
	background: white;
	border-radius: 2px;
	border:1px solid #ddd;
	box-shadow: 0 0 4px #ccc;
}
.sidecontent ul li {
	list-style-type: none;
	height: 45px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	border-bottom:1px solid #ddd;
	padding-left: 20px;
	color: #444;
}

.sidecontent ul a:hover {
	color: black;
	cursor: pointer;
	background: #f5f5f5;
	text-decoration: none;
}
.sidecontent ul a .active {
	background: white;
	font-weight: 800;
	color: #000;
	box-shadow: 0 0 6px #ccc;
}
.sidecontent ul li h3 {
	font-size: 14px;
	display: inline-block;
	line-height: 20px; 
	margin: 0;
	padding: 0;
	margin-top: 12px;
}

.maincontent .title {
	margin: 0;
	padding: 0;
	font-size: 20px;
	padding-left: 20px;
	background: white;
	border-radius: 2px;
	margin-bottom: 10px;
	line-height: 45px;
	border-bottom:1px solid #ddd;
	text-align: left;
}
#nolistings {
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
	color: #aaa;
}
#listbutton {
	margin: 15px auto;
}
.listaction {
	width: 100%;
	margin-top: 20px;
}
</style>
{% block headersubcss %}
{% endblock %}
{% endblock %}

{% block jsblock %}

{% endblock %}

{% block content %}
<div class="pagecontainer row">
	<div class="sidecontent col-md-3 col-sm-3">
		<ul>
			<a href="#"><li class="{% block questions %}{% endblock %}"><h3>Questions <span class="label label-danger">3 Unanswered</span></h3></li></a>
			<a href="/saveditems"><li class="first {% block saveditems %}{% endblock %}"><h3>Saved Items{% if saveditemcount %} <span class="badge">{{ saveditemcount }}</span>{% endif %}</h3></li></a>
			<a href="/listeditems"><li class="{% block listeditems %}{% endblock %}"><h3>Active Items{% if listeditemcount %} <span class="badge">{{ listeditemcount }}</span>{% endif %}</span></h3></li></a>
			<a href="/accounthistory"><li class="{% block accounthistory %}{% endblock %}"><h3>Account History</li></a>
			<a href="/profile"><li class="{% block profile %}{% endblock %}"><h3>Profile</li></a>
			<a href="/usersettings"><li class="{% block settings %}{% endblock %}"><h3>Settings</h3></li></a>
		</ul>
		<a href='/listintro' class="listaction button button-rounded button-primary">List Equipment</a>
	</div>
	<div class="sidecontent col-md-9 col-sm-9">
		<h2 class="title">{% block maintitle %}{% endblock %}</h2>
		{% block maincontent %}
		<a class="btn btn-primary" id="listbutton" href="addproduct.html">List Your Equipment</a>
		{% endblock %}
	</div>

	<div class="clear"></div>
</div>
{% endblock %}