<!DOCTYPE html>
<html lang="en">
<head>

{% block headertitle %}<title></title>{% endblock%}
<meta name="description" content="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--CSS-->
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
{% block headercss %}{% endblock %}


</head>

<body>
{% block header %}
<div class="navbar">
  <div class="contain">
  	<!--Mobile navigation buttons and logo -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
		<span class="searchbutton">S</span>
	  </button>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/" alt="medbay">Devicerock</a>
	</div>
	
	<!--Menu items-->
	<div class="navbar-collapse collapse navbar-right">
	  <ul class="nav navbar-nav" id="menuitems">
		{% if user.is_authenticated %}
		<li><a href="/listproduct">List</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="/saveditems">Saved Items</a></li>
			  <li><a href="/listeditems">Your Listed Items</a></li>
			  <li><a href="/accounthistory">Account History</a></li>
			  <li><a href="/settings">Settings</a></li>
			  <li><a href="/profile">Profile</a></li>
			  <li><a href="/logout">Logout</a></li>
			</ul>
		</li>
		{% else %}
		<li><a href="/signup">Join</a></li>
		<li><a href="/login">Login</a></li>
		<li id="listequipment"><a href="/listproduct">List Equipment</a></li>
		{% endif %}
	  </ul>  
	</div>
	
	<div id="desktopsearchbar" class="desktopsearchbar navbar-center">
		<form id="searchform" class="customsearchbar" action="/customsearch" method="get">
			<input name="q" id="searchinput" autocomplete="off" class="form-control" type="text" placeholder="Search Equipment"></input>
			<button type="submit" class="btn">Go</button>
			<div class="clear"></div>
			<div id="autosuggest">
				<div class="section categoriesheader">
					Categories
				</div>
				<div id="categoriessection">
				</div>
				<div class="section productsheader">
					Products
				</div>
				<div id="productssection">
				</div>

			</div>
		</form>
	</div>
  </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
{% block footer %}
<div class="clear"></div>
<footer class="footer">
	<ul>
		<li><a href="/addproduct">List Your Equipment</a></li>
		<li class="dot"> &#8901; </li>
		<li><a href="#">Help</a></li>
		<li class="dot"> &#8901; </li>
		<li><a href="#">About</a></li>
		<li class="dot"> &#8901; </li>
		<li><a href="#">Terms</a></li>
		<li class="dot"> &#8901; </li>
		<li><a href="#">View Desktop Site</a></li>
	</ul>
</footer>
{% endblock %}



	<!--Javascript-->
	<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type="text/javascript" ></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="{{STATIC_URL}}js/csrf_alternate.js" type="text/javascript" ></script>
    <script>
    var autosuggest = true;
    var displayresults = [];
	var activeid = -1;
    var resultshandle = [];
    var searchtext = '';
    var autosuggestcall = function autosuggestcall() {
		$.ajax({
			url: '/autosuggest',
			type: 'GET',
			data: {"searchterm":$("#searchinput").val()},
			cache:true,
			dataType: 'json',
			success: function(response){
				if (response.length == 0) {
					$("#autosuggest").css('display','none');
				} else {
					resultshandle = [];
					activeid = -1;
					displayresults = response;
					$("#categoriessection").empty();
					$("#productssection").empty();
					$(".categoriesheader").css('display','none');
					$(".productsheader").css('display','none');
					$.each(displayresults, function( key, value ) {
						if (value['type'] == 'category') {
							var so = $("<a class='searchoption' href='"+value['link']+"'><div class='textitem'><p class='displaytext'>"+value['name']+"<span class='industry'>"+value['industry']+"</span></p></div></a>");
							$("#categoriessection").append(so);
							$(".categoriesheader").css('display','block');
							resultshandle.push(so);
						} else if (value['type'] == 'product'){
							var so = $("<a class='searchoption' href='"+value['link']+"'><div class='productitem'><img src='"+value['mainimage']+"'/><div class='producttext'><p class='displaytext' class='productname'>"+value['name']+"</p><p class='productsubtext'>"+value['category']+"</p></div><div class='clear'></div></div></a></div>");
							$("#productssection").append(so);
							resultshandle.push(so);
							$(".productsheader").css('display','block');
						}
					});
				}
			}
		});
		return
	}
    
    
    $(document).ready(function() {
    	$("#searchinput").focus(function() {
    		if ($("#searchinput").val().length > 0) {
    			//autosuggestcall();
    			$("#autosuggest").css("display","block");
    			autosuggest = true;
    		} else {
    			//autosuggest = false;
    		}
    	});
    	$("#searchinput").keyup(function(e) {
    		if ($("#searchinput").val().length > 0) {
    			$("#autosuggest").css("display","block");
    			if ($(e.target).attr("id") == "searchinput" && e.keyCode != 40 && e.keyCode !=38)  {
    				autosuggestcall();
    			}
    			autosuggest = true;
    		} else {
    			$("#autosuggest").css("display","none");
    			autosuggest = false;
    		}
    		if (e.keyCode != 40 && e.keyCode !=38) {
    			searchtext =  $("#searchinput").val();
    		}
    	});
    	$(document).click(function (e)
		{
			var container = $("#desktopsearchbar");

			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				$("#autosuggest").hide();
			}
		});
		$("#searchform").submit(function() {
			var active = $(".activesearchoption");
			if (active.length > 0) {
				window.location.href = $(active).attr("href")
				return false;
			} else {
				return true;
			}
		});
    });  
    $(document).keypress(function(e){
		if (e.keyCode == 40 && autosuggest==true) {
		   $(".searchoption").removeClass("activesearchoption");
		   activeid += 1;
		   if (activeid <= 0) {
		   	   $(resultshandle[0]).addClass("activesearchoption");
		   } else if (activeid >= resultshandle.length) {
		   	   $(resultshandle[activeid-1]).addClass("activesearchoption");
		   	   activeid -= 1;
		   	   return false;
		   } else {
		   		$(resultshandle[activeid]).addClass("activesearchoption");
		   }
		    $("#searchinput").val($(resultshandle[Math.max(0,activeid)]).find(".displaytext").text());
		   return false;
		} else if (e.keyCode == 38 && autosuggest==true) {
			activeid -= 1;
		   $(".searchoption").removeClass("activesearchoption");
		   if (activeid < 0) {
		   		activeid = -1;
		   		$("#searchinput").val(searchtext);
		   		return false;
		   } else {
		   		$(resultshandle[activeid]).addClass("activesearchoption");
		   }
		    $("#searchinput").val($(resultshandle[activeid]).find(".displaytext").text());
		   return false;
		}
	});
    </script>

    {% block jsblock %}{% endblock %}
    
</body>
</html>