{% extends 'product.html' %}

{% block buyingoptions %}active{% endblock %}

{%block lightbox %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js"></script>
<script>
$(document).ready(function() {
	$('.fancybox').fancybox();
	
	//Save Button Functionality
	$('.savebutton').click(function() {
		if ($(this).text() == 'Save') {
			var data = {'action':'save','id':$(this).val()}
		} else {
			var data = {'action':'delete','id':$(this).val()}
		}
		var savebutton = $(this);
		savebutton.css('display','none');
		$(this).parent().children(".saveloader").css('display','block');
		$.ajax({
            type : "POST",
            data : data,
            url : "/saveitem",
            success : function(data) {
            	savebutton.parent().children(".saveloader").css('display','none');
            	savebutton.css('display','inline-block');
            	if (savebutton.text() == "Save") {
            		savebutton.text("Saved");
            		savebutton.addClass("btn-custom-green");
            		savebutton.removeClass("btn-custom-large-gray");
            	} else {
            		savebutton.text("Save");
            		savebutton.removeClass("btn-custom-green");
            		savebutton.addClass("btn-custom-large-gray");
            	}
            }, 
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error saving product");
            }
        });
	});
});
</script>
{% endblock %}
{% block productmain %}
<div class="sellers">
	<div class="sellerhead">
		<p id="pricetr">Price</p>
		<p id="descriptiontr">Description</p>
		<p id="buytr">Buy Options</p>
	</div>
	{% for seller in sellers %}
	<div class="sellerdiv">
		<div class="pricediv">
		 	<h3>{{seller.price}}</h3>
		 	<h4 class="verifiedseller">Verified Seller</h4>
		 	<h4>Under Warranty</h4>
		</div>
		<div class="descriptiondiv">
			<h5> Used - <span>{{seller.condition}}</span></h5>
			<h6> Sold by <span>{{seller.user.company}}</span></h6>
			<p>{{seller.description}}</p>
			<div class="thumbnails">
				<p>
					{%for image in seller.pictures %}
						<a class="fancybox" href="{{image.photo.url}}" data-fancybox-group="gallery" title="Image provided by {{seller.user.company}}"><img src="{{image.photo.url}}" alt="" /></a>
					{% endfor %}
				</p>
			</div>
		</div>
		<div class="actiondiv">
			<a class="btn-custom-orange" href="#">Buy Now</a>
			<img class="saveloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>
			{%if seller.saved %}
			<button class="savebutton btn-custom btn-custom-green" value="{{seller.id}}">Saved</button>
			{% else %}
			<button class="savebutton btn-custom btn-custom-large-gray" value="{{seller.id}}">Save</button>
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
	{% endfor %}
</div>
{% endblock %}
