{% extends 'base.html' %}
{% block headertitle %}<title>MedBay | Search</title>{% endblock%}

{% block headercss %}
<link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productlist.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block jsblock %}
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="{{STATIC_URL}}js/jquery.formatCurrency-1.4.0.min.js"></script> 
<script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script> 
<script src="{{STATIC_URL}}js/typeahead.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/listproduct.js" type="text/javascript" ></script>
<script>
var pagevariables = {'id':{{item.id}},'name':'{{item.name}}','manufacturer':'{{item.manufacturer}}','category':'{{item.category}}','subcategory':'{{item.subcategory}}','serialno':'{{item.serialno}}','year':{{item.year}},'type':'{{item.type}}','contract':'{{item.contract}}','ownedlength':'','quality':{{item.condition}},'conditiondescription':"{{item.conditiondescription}}",'productdescription':'{{item.productdescription}}','pictureid':{{item.imageids}},'mainimageid':{% if item.mainimage %}{{item.mainimage.id}}{% else %}-1{% endif%},'shippingincluded':true,'price':0};
$(document).ready(function() {
	$('#quality_{{item.condition}}').trigger('click');
	if (pagevariables['pictureid'].length > 0) {
		$("#noimages").css('display',"none");
	} else {
		$("#noimages").css('display',"block");
	}
	{% for img in item.itemimage_set.all %}
		$("#imagepreview").append("<div class='imagepreviewcontainer'>{%if img.id == item.mainimage.id %}<h6 class='main'>Main Photo</h6>{% else %}<h6>Make Main Photo</h6>{% endif %}<div class='imagepreviewborder'><p class='delete'>&#10006;</p><img class='imagepreview' id='image_{{img.id}}' src='{{img.photo.url}}'/><div></div>");
	{% endfor %}
	pictureBinds();
});
</script>
{% endblock %}

{% block content %}
<div class="clear"></div>
{% include 'listbase.html' %}
{% endblock %}

