{% extends 'base.html' %}
{% block headercss %}

<style>

.maincontainer {
	background: #fff;
	border:1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 4px #ccc;
	width: 1000px;
	margin: 50px auto
}
.maincontainer h3 {
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.question {
	margin: 40px 40px;
}
.question h4 {
	font-weight: 800;
	font-size: 15px;
	color: #333;
}
.question p {
	font-weight: 200;
}

</style>
{% endblock%}


{% block content %}
<div class="maincontainer">
	<h3>Frequently Asked Questions</h3>
	<div class="question">
		<h4>Who can list a product on your service?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>Who can list a product on your service?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>Who can list a product on your service?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>
	<div class="question">
		<h4>Who can list a product on your service?</h4>
		<p>To list a product, you must be a certified veterinarian, distributor, supplier, or manufacturer. We vet our sellers
		to ensure they meet the standard requirements to be a seller on our service</p>
	</div>

	
	
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}