{% extends 'base.html' %}

{% block jsblock %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="https://raw.github.com/bestiejs/lodash/v1.1.1/dist/lodash.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/s3upload.js"></script>
<script>

</script>
{% endblock%}

{% block content %}
<input type="file" id="file" onchange="s3_upload();"/>
<p id="progress">Please select a file</p>
<div id="preview"><img src="{{STATIC_URL}}img/xmark.png"  /></div>
{% load thumbnail %}

{% for item in images %}
	<p>here</p>
	{% load thumbnail %}
		{% thumbnail item.photo "100x100" crop="center" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% endthumbnail %}
	<img src="{{im.photo.url}}" />
{% endfor %}
<form method="POST" action="/submit_form/">
    <input type="hidden" id="avatar_url" name="avatar_url" value="{{STATIC_URL}}img/xmark.png" />
    <input type="text" name="username" placeholder="Username" /><br />
    <input type="text" name="full_name" placeholder="Full name" /><br /><br />
    <input type="submit" value="Update profile" />
</form>

{% endblock%}