{% extends 'base.html' %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css" />
<style>
.navbar {
	padding-top: 10px;
}
.herobg {
	margin-top: 20px;
	overflow: visible;
}
.intro {
	width: 480px;
	float: left;
	text-align: left;
	opacity: 0;
	padding-left: 0px;
}
.intro h1 {
	margin-top: 30px;
	font-weight: 200;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-shadow: 0 0 10px #999;
}
.intro h3 {
	color: #444;
	text-shadow: 0 0 10px #bbb;
	font-weight: 200;
	line-height: 30px;
	padding: 0 20px 20px 22px;
}
.introimagecontainer {
	width: 520px;
	margin-top: 47px;
	float: left;
}
.introimagecontainer img{
	width: 520px;
}
.intro a {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
.intro a:hover {
	color: white;
	cursor: pointer;
}
.buybutton {
	margin-left: 20px;
	margin-right: 20px;
}
.categories {
	position:relative;
	z-index: 999;
	width: 420px;
	padding-left: 15px;
	padding-top: 10px;
	height: 220px;
	background: white;
	margin-top: -1px;
	margin-left: 21px;
	border-radius: 4px;
	box-shadow: 0 0 7px #444;
	border-top-left-radius: 0px;
	display: none;
}
.categories ul {
	width: 196px;
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
	float: left;
	margin-bottom: 0px;
}
.categories ul li {
}
.categories ul li a{
	padding: 0px;
	line-height: 40px;
	padding-left: 10px;
	margin: 3px;
	font-size: 16px;
	display: block;
	border-radius: 4px;
	transition: color .2s;
}
.categories ul li a:hover{
	color: black;
	background: #f6f6f6;
}
.intro .bbactive {
	background: white;
	position: relative;
	z-index: 1000;
	color: black;
	text-shadow: none;
	border:1px solid #ddd;
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-bottom: 20px;
	box-shadow: 0px -3px 3px #666;
}
.intro .bbactive:hover {
	color: black;
}
#closecategories {
	float: right;
	line-height: 15px;
	font-size: 13px;
	padding: 0;
	margin-right: 10px;
	color: #777;
}
#closecategories:hover {
	color: #777;
	text-decoration: underline;
}
</style>
{% endblock%}


{% block content %}

<div class="herobg">
	<div class="intro-container">
		<div class="intro">
			<h1>The veterinarian's equipment marketplace</h1>
			<h3>Buy and sell pre-owned devices and instruments. One vet to another.</h3>
			<a class="buybutton button button-rounded button-highlight">Buy Equipment</a>
			<a href='/listintro' class="button button-rounded button-primary">Sell Equipment</a>
			<div class="categories">
				<ul>
					<li><a href='/productsearch/veterinary/ultrasound'>Ultrasound</a></li>
					<li><a href='/productsearch/veterinary/sonograph'>Sonograph</a></li>
					<li><a href='/productsearch/veterinary/xray'>X-Ray</a></li>
					<li><a href='/productsearch/veterinary/radiology'>Radiology</a></li>
				</ul>
				<ul>
					<li><a href='/productsearch/veterinary/dental'>Dental</a></li>
					<li><a href='/productsearch/veterinary/laser'>Laser</a></li>
					<li><a href='/productsearch/veterinary/anesthesia'>Anesthesia</a></li>
					<li><a href='/productsearch/veterinary/all'>All categories. . . </a></li>
				</ul>
				<div class="clear"></div>
				<a id="closecategories">Close</a>
			</div>
		</div>
		<div class="introimagecontainer">
			<img src="{{STATIC_URL}}img/homeimg.png"/>
		</div>
	</div>
</div>

<div class="featuredcontainer">
	<div class="row featured">
	  <!-- <h2> Featured Equipment</h2> -->
	  	{%for item in featured %}
	    <div class="col-sm-6 col-md-4 product-box">
			<a href="/item/{{item.id}}/details"><div class="item">
				<div class="itemname">{{item.name}}</div>
				<div class="itemsoldby">{{item.user.company}}</div>
				<div class="itemimage">
					<div class="verticalaligner">
						{%if item.mainimage%}<img src="{{item.mainimage.photo.url}}"/>{% else %}<img src="http://www.colourbox.com/preview/2087895-978618-silhouette-of-microscope-isolated-illustration-on-white-background.jpg"/>{% endif %}
					</div>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">${{item.price}}</p>
						<p class="pricelabel">{{item.get_type_display}} &#8901; {{item.get_contract_display}}</p>
					</div>
				</div>
			</div></a>
	  	</div>
	  	{% endfor %}

	</div>
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$(".intro").animate({
		paddingLeft: '10px',
		opacity: 1
		}, 1000, function() {
	});
	$(".buybutton").click(function() {
		if (!($(this).hasClass("bbactive"))) {
			$(this).addClass("bbactive");
		}
		$(".categories").fadeIn();
	});
	$("#closecategories").click(function() {
		$(".buybutton").removeClass("bbactive");
		$(".categories").css("display","none");
	});

});
</script>
{% endblock %}