{% extends 'base.html' %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css" />
<style>
.intro{
}


</style>
{% endblock%}


{% block content %}

<div class="herobg">
	<div class="intro-container">
		<div class="intro">
			<h1>The veterinarian's equipment marketplace</h1>
			<h2>
				<a>Anesthesia</a>
				<a>Centrifuges</a>
				<a>Defibrillators</a>
				<a>Dental</a>
			</h2>
			<h2>
				<a>Electrosurgical</a>
				<a>Endoscopy</a>
				<a>Incubators</a>
				<a>Infusion Pumps</a>
			</h2>
			<h2>
				<a>Medical Gas</a>
				<a>Microscopes</a>
				<a>Ventilators</a>
				<a>Scales</a>
			</h2>
			<h2 id="nomargin">
				<a>Lasers</a>
				<a>Warming Units</a>
				<a>X-Ray Imaging</a>
				<a>Syringe Pumps</a>
			</h2>
		</div>
	</div>
</div>

<!-- 
<div class="container">
	<div class="row guarantee">
  		<div class="col-md-3 guaranteeimage"><img src="{{STATIC_URL}}img/guarantee.png"/></div>
  		<div class="col-md-9 guaranteetext"><p> We work directly with manufacturers and redistributors to guarantee that the equipment sold by Medbay is
		<span>warranted</span> to protect your investment. Enjoy the great savings on used equipment and never worry about the longevity of your equipment. </p></div>
	</div>
</div>
 -->

<div class="featuredcontainer">
	<div class="row featured">
	  <h2> Featured Equipment</h2>
	    <div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
	  	</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
	  	</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
	  	</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-6 col-md-4 product-box">
			<a href="#"><div class="item">
				<div class="itemname"> Portal X-Ray Dental System</div>
				<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
				<div class="itemimage">
					<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
				</div>
				<div class="price">
					<div class="pricebox">
						<p class="price">$24,300</p>
						<p class="pricelabel">MB Estimated Value</p>
					</div>
					<div class="pricebox pricebox2">
						<p class="price goodprice">$18,200</p>
						<p class="pricelabel">Current Listed Price</p>
					</div>
				</div>
			</div></a>
		</div>
	</div>
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$(".customsearchbar input").focus(function() {
		$(".customsearchbar button").addClass("blueborder");
	});
	$(".customsearchbar input").blur(function() {
		$(".customsearchbar button").removeClass("blueborder");
	});
	$(".intro h2").animate({
		marginTop: '20px',
		opacity: .8
		}, 600, function() {
			console.log("here");
	});
	$(".intro h1").animate({opacity: 1},800);
});
</script>
{% endblock %}