{% extends 'base.html' %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css" />


{% endblock%}


{% block content %}

<div class="herobg">
	<div class="intro-container">
		<div class="intro">
			<h1>Search thousands of used medical equipment at up to <span>90%</span> off the retail price</h1>
			<div class="action">
				<form action="/product">
					<select class="form-control">
						<option>Veterinary</option>
						<option>Dentistry</option>
						<option>Optometry</option>
						<option>Dermatology</option>
					</select>
					<button class="btn" href="#">Browse Listings</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row guarantee">
  		<div class="col-md-3 guaranteeimage"><img src="{{STATIC_URL}}img/guarantee.png"/></div>
  		<div class="col-md-9 guaranteetext"><p> We work directly with manufacturers and redistributors to guarantee that the equipment sold by Medbay is
		<span>warranted</span> to protect your investment. Enjoy the great savings on used equipment and never worry about the longevity of your equipment. </p></div>
	</div>
</div>

<div class="featuredcontainer">
	<div class="row featured">
	  <h2> Featured Equipment</h2>
	  <div class="col-sm-6 col-md-4 itemcontainer">
	  	<a href="#"><div class="item">
	  		<div class="itemname"> Portal X-Ray Dental System</div>
	  		<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
	  		<div class="itemimage">
	  			<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
	  		</div>
	  		<div class="price">
				<div class="pricebox">
					<p class="price">$24,300</p>
					<p class="pricelabel">MB Estimated Value</p>
				</div>
				<div class="pricebox pricebox2">
					<p class="price goodprice">$18,200</p>
					<p class="pricelabel">Current Listed Price</p>
				</div>
			</div>
	  	</div></a>
	  </div>
	  <div class="col-sm-6 col-md-4 itemcontainer">
	  	<a href="#"><div class="item">
	  		<div class="itemname"> Portal X-Ray Dental System</div>
	  		<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
	  		<div class="itemimage">
	  			<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
	  		</div>
	  		<div class="price">
				<div class="pricebox">
					<p class="price">$24,300</p>
					<p class="pricelabel">MB Estimated Value</p>
				</div>
				<div class="pricebox pricebox2">
					<p class="price goodprice">$18,200</p>
					<p class="pricelabel">Current Listed Price</p>
				</div>
			</div>
	  	</div></a>
	  </div>
	  <div class="col-sm-6 col-md-4 itemcontainer">
	  	<a href="#"><div class="item">
	  		<div class="itemname"> Portal X-Ray Dental System</div>
	  		<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
	  		<div class="itemimage">
	  			<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
	  		</div>
	  		<div class="price">
				<div class="pricebox">
					<p class="price">$24,300</p>
					<p class="pricelabel">MB Estimated Value</p>
				</div>
				<div class="pricebox pricebox2">
					<p class="price goodprice">$18,200</p>
					<p class="pricelabel">Current Listed Price</p>
				</div>
			</div>
	  	</div></a>

	  </div>
	</div>
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$(".customsearchbar input").focus(function() {
		$(".customsearchbar button").addClass("blueborder");
	});
	$(".customsearchbar input").blur(function() {
		$(".customsearchbar button").removeClass("blueborder");
	});
});
</script>
{% endblock %}