{% extends 'base.html' %}
{% block headertitle %}<title>MedBay | Search</title>{% endblock%}

{% block headercss %}
<style>
.addcontainer {
	width: 1020px;
	margin: 40px auto;
}
.introslide {
	text-align: center;
}
.introslide h2 {
	text-align: center;
	color: #555;
	padding-top: 20px;
	font-size: 36px;
	text-shadow: 0 0 1px #ccc;
}
.introslide h3 {
	text-align: center;
	font-weight: 200;
	color: #666;
}
.introslide h3 span {
	text-decoration: underline;
	font-weight: 800;
}
.introslide button {
	margin-top: 100px;
	margin: 0;
}
.slide {
	width: 480px;
	min-height: 600px;
	border:1px solid #ddd;
	box-shadow: 0 0 4px #aaa;
	background: white;
	margin: 0 10px;
	float: left;
}
.slide1 {
	width: 320px;
}
.slide2 {
	width: 320px;
}
.slide3 {
	width: 320px;
}
.slide-header {
	text-align: left;
	height: 50px;
	background: #f9f9f9;
	border-bottom:1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.slide-header p {
	padding: 10px;
	font-size: 15px;
	color: #777;
	font-weight: 200;
}
.slide-header span {
	background: #E09B06;
	text-shadow: 1px 1px 1px #999;
	color: white;
	border-radius: 20px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	font-size: 15px;
	font-weight: 800;
	margin-right: 10px;
	margin-left: 10px;
}

.slide-content {
	min-height: 330px;
	padding: 10px;
}
.slide-content input, .slide-content select {
	font-size: 13px;
}
.slide-content h3 {
	margin: 0;
	margin-top: 5px;
	padding-top: 12px;
	margin-bottom: 3px;
	font-size: 13px;
	color: #444;
}
.slide-content .borderheader {
	border-top: 1px solid #eee;
}
.slide-content p {
	margin: 0;
	font-weight: 200;
	line-height: 15px;
	color: #444;
	font-size: 11px;
}
.slide-content input,.slide-content select {
	margin-top: 4px;
	height: 26px;
	line-height: 20px;
	padding: 3px;
}
.slide-content textarea {
	height: 120px;
	position:relative;
	z-index: 100;
	line-height: 16px;
	font-size: 12px;
	padding: 3px;
}

/*Quality Box */
.qualitybox {
	width: 300px;
	margin: 7px auto;
	padding-bottom: 20px;
}
.qualitybox .qualitydescription {
	height: 70px;
	background: #f4f4f4;
	border:2px solid #ddd;
	border-radius: 6px;
	width: 100%;
	color: #555;
	font-size: 12px;
	font-weight: 200;
	padding: 5px 10px;
}
.qualitybox .qualitydescription p {
	font-size: 12px;
}
.qualitybox .qualitydescription span {
	font-weight: 800;
}
.qualitybox .downarrow {
	width: 30px;
	background-image: url("{{STATIC_URL}}img/downarrow.png");
	height: 14px;
	margin-left: 165px;
	margin-top: -2px;
	
}
.qualitybox .selectors {
	text-transform: uppercase;
}
.qualitybox .selectors .qualitynumber {
	height: 26px;
	width: 26px;
	padding: 0 5px;
	border-radius: 13px;
	line-height: 26px;
	text-align: center;
	color: white;
	font-weight: 800;
	margin-right: 25px;
	margin-top: 2px;
	float: left;
	font-size: 12px;
	opacity: .3;
}
.qualitybox .selectors .quality1 {background: #169E21;margin-left: 13px;}
.qualitybox .selectors .quality2 {background: #169E56;}
.qualitybox .selectors .quality3 {background: #169E7E;}
.qualitybox .selectors .quality4 {background: #169E9E; opacity:1;}
.qualitybox .selectors .quality5 {background: #16759E; margin-right: 0;}

.qualitybox .selectors .qualitynumber:hover {
	cursor: pointer;
	opacity: 1;
}
.servicecontract {
}
.productspec {
	margin-bottom: 3px;
}
.productspec input {
	height: 26px;
	line-height: 20px;
	padding: 3px;
}
.productspec-label {
	width: 130px;
	float: left;
}
.productspec-value {
	width: 130px;
	float: left;
	margin-left: 10px;
}
.productspec img {
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 6px;
	margin-left: 6px;
	opacity: .3;
}
.productspec img:hover {
	opacity: 1;
	cursor:pointer;
}
#addspec {
	padding: 2px 5px;
	font-size: 12px;
	width: 230px;
	margin-top: 5px;
	border:1px solid #ddd;
	color: #444;
	transition: background .2s;
}
#addspec:hover {
	background: #ddd;
}
/********************/
/** File Uploader ***/
/********************/
#fileupload {
	width: 100%;
	height: 40px;
	border:2px solid blue;
}
#currentimages p {
	font-size: 15px;
	font-weight: 200;
	color: #999;
	text-align: center;
	padding: 20px;
	margin-top: 60px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 5px 0 10px 0px;
}
.fileinput-button {
	background: #efefef;
	color: #333;
	font-size: 13px;
	border:1px solid #ddd;
	transition: background .3s;
}
.fileinput-button:hover, .fileinput-button:active {
	background: #ddd;
	border:1px solid #ddd;
	color: #333;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
#imageloadercontainer {
	float: right;
	margin-top: 12px;
	width: 30px;
}
#imgloader {
	display: none;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
#imagepreview {
	border:1px dotted #ccc;
	height: 130px;
	overflow: scroll;
	text-align: center;
}
#noimages {
	padding: 20px;
}
.imagepreview {
	max-width: 90px;
	max-height: 90px;
	float: left;
	margin: 5px;
}
.imagecontainer {
}
.smallinput {
	width: 230px;
}
#contracttext {
	text-align: center;
}
.pricing {
	padding: 10px 0 10px 0;
	margin: 10px auto 10px auto;
	background: #f4f4f4;
	border:1px dotted #ddd;
	text-align: center;
}
.suggestedprice h4 {
	color: green;
	font-size: 24px;
	font-weight: 200;
	line-height: 28px;
	padding: 0;
	margin: 0;
}
.suggestedprice p, .listprice p {
	color: #777;
	font-size: 12px;
	font-weight: 200;
}
.listprice {
	padding-top: 15px;
}
.listprice input {
	width: 70%;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
}
.postcontainer {
	text-align: center;
}
.checkbox {
	margin: 0 auto;
	line-height: 35px;
	margin-bottom: 10px;
	margin-left: 26px;
}
</style>
{% endblock %}

{% block jsblock %}
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script>
///***********************************************************************
///This script controls functionality to select the quality of the product
///***********************************************************************
$(document).ready(function() {
	var pagevariables = {'name':"",'manufacturer':"",'category':'','productdescription':"",'conditiondescription':"",'pictureid':[],'productpicid[]':[],'specs':'','quality':4,'contract':'','price':0};
	
    var currentvalue = "4";
	$(".qualitybox select").css("opacity",".4");
	var q1 = "<span>Parts Only</span><p>This equipment has missing parts or needs to be restored before use</p>";
	var q2 = "<span>Fairly Used</span><p>This item has normal wear and tear</p>";
	var q3 = "<span>Gently Used</span><p>This item has small signs of use, but it is fully functional</p>";
	var q4 = "<span>Refurbished</span><p>This item has been restored to manufacturer standards</p>";
	var q5 = "<span>New</span><p>This item has not been used</p>";
	$(".qualitydescription p").html(q4);
	var qualitydict = {"1":q1,"2":q2,"3":q3,"4":q4,"5":q5};
	$(".qualitynumber").click(function() {
		var handle = $(this);
		var value = $(handle).html();
		if (currentvalue != value) {
			currentvalue = value;
			//Change opacities of the numbers
			$(".qualitynumber").css("opacity",".3");
			handle.css("opacity","1");
			//Move the arrow
			var margintomove = "";
			console.log(value);
			if (value == 1) {margintomove = '12px'};
			if (value == 2) {margintomove = '63px'};
			if (value == 3) {margintomove = '114px'};
			if (value == 4) {margintomove = '165px'};
			if (value == 5) {margintomove = '216px'};
			pagevariables['quality'] = value;
			$(".downarrow").animate({"margin-left":margintomove},400);
			$(".qualitydescription p").fadeOut('fast',function() {
				$(".qualitydescription p").html(qualitydict[value]);
				$(".qualitydescription p").fadeIn();
			});
		}		
	});
	$("#fileupload").change(function() { 
		$("#imgloader").fadeIn('fast');
		$("#fileform").submit();
	});
	$('#fileform').ajaxForm(function(e) { 
		 $.each(e,function(index,value) {
			$("#imgloader").fadeOut('fast');
			$("#noimages").css('display','none');
			pagevariables['pictureid'].push(e[index][0]);
			console.log(pagevariables['pictureid']);
			$("#imagepreview").append("<img class='imagepreview' id='image "+e[index][0]+"' src='"+e[index][1]+"'/>");
		 });
	});

	$("#postitem").click(function() { 
	
		pagevariables['name'] = $("#inputname").val();
		pagevariables['manufacturer'] = $("#inputmanufacturer").val();
		pagevariables['category'] = $("#inputcategory").val();
		pagevariables['productdescription'] = $("#inputproductdescription").val();
		pagevariables['conditiondescription'] = $("#inputconditiondescription").val();
		pagevariables['price'] = parseInt($("#priceinput").val());
		pagevariables['contract'] = $("#inputcontract").val();
		var specs = $('.productspec');
		specstring = ''
		$.each(specs,function(index,value) {
			if ($(value).children('.productspec-label').val().length > 0 && $(value).children('.productspec-value').val().length > 0) {
				specstring += $(value).children('.productspec-label').val()+"!"+$(value).children('.productspec-value').val()+";";
			}
		});
		pagevariables['specs'] = specstring;
		$.ajax({
            type : "POST",
            data : pagevariables,
            url : "/postitem",
            success : function(data) {
            	console.log(data)
            	if (data == '100') {
                	window.location.href = "/listeditems";
                }
            }, 
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error posting product. Please try again later or email us so we can diagnose the problem");
            }
        });
	});
	
	enableSpecX();
	var count = 0;
	$("#addspec").click(function() {
		$('.speccontainer').append("<div class='productspec'><input type='text' class='productspec-label form-control' value='Weight'/><input type='text' class='productspec-value form-control'/><img src='{{STATIC_URL}}img/xmark.png'/><div class='clear'></div></div>");
		enableSpecX();
	});
});

var enableSpecX = function enableSpecx() {
	$(".productspec img").click(function() {
			$(this).parent().remove();
		});
}
var validate = function validate() {
	// var submittable = true;
// 	if ($("#inputname").val().length == 0) {
// 		if (!$("#inputname").hadClass('error')) {
// 			
// 		}
// 	}
	
}

</script>
{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="addcontainer">
	<!-- 
<div class="slide introslide">
		<h2>Veterinarians helping each other</h2>
		<h3>List a product in <span>under 60 seconds</span> and get top dollar for your equipment</h3>
		<button class="btn-custom btn-custom-orange">List Your Equipment</button>
	</div>
 -->
 	<div class="slide slide1">
		<div class="slide-header">
			<p><span>1</span>Describe Your Product</p>
		</div>
		<div class="slide-content">
			<h3>1. Product Name</h3>
			<input id="inputname" type="text" class="form-control smallinput"/>
			<h3>2. Device Type</h3>
			<select id="inputcategory" class="form-control smallinput">
				{% for cat in devicecategories %}
				<option value="{{cat.name}}">{{cat.displayname}}</option>
				{% endfor %}
			</select>
			<h3>3. Manufacturer</h3>
			<select id="inputmanufacturer" class="form-control smallinput">
				{% for man in manufacturers %}
				<option value="{{man.name}}">{{man.displayname}}</option>
				{% endfor %}
			</select>
			<h3>4. Product Description</h3>
			<textarea id="inputproductdescription" type="text" class="form-control" placeholder="Describe how the product was used, how long you've owned the product, and any replaced parts or product defects"></textarea>
			<h3>5. Product Condition</h3>
			<p>Describe how the product was used, how long you've owned the product, and any replaced parts or product defects</p>
			<textarea id="inputconditiondescription" type="text" class="form-control"></textarea>
		</div>

	</div>
	<div class="slide slide2">
		<div class="slide-header">
			<p><span>2</span>Images and Specs</p>
		</div>
		<div class="slide-content">
			<h3>6. Product Images</h3>
			<div class="imagecontainer">
				<span class="btn btn-success fileinput-button">
					<span>Select pictures to upload...</span>
					<!-- The file input field used as target for the file upload widget -->
					<form id="fileform" method="post" action="/imageupload">
						{% csrf_token %}
						<input id="fileupload" type="file" name="files" multiple>
					</form>
				</span>
				<div id="imageloadercontainer">
					<img id="imgloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>
				</div>
				<div class='clear'></div>
				<div id="imagepreview" class="itemview">
					<p id="noimages">Upload multiple photos at once to go along to show any product defects or damages</p>
				</div>
			</div>
			<h3 style="margin-top: 30px;">7. Product Specs</h3>
			<div class="speccontainer">
			<div class="productspec">
				<input type="text" class="productspec-label form-control" value="Weight"/>
				<input type="text" class="productspec-value form-control"/>
				<img src='{{STATIC_URL}}img/xmark.png'/>
				<div class="clear"></div>
			</div>
			</div>
			<button class="btn" id="addspec">Add another spec</button>
		</div>
	</div>
	<div class="slide slide3">
		<div class="slide-header">
			<p><span>3</span>Quality, Price, and List!</p>
		</div>
		<div class="slide-content">
			<h3>8. Product Quality</h3>
			<div class="qualitybox">
				<div class="qualitydescription">
					<p></p>
				</div>
				<div class="downarrow"></div>
				<div class="selectors">
					<div class="qualitynumber quality1">1</div>
					<div class="qualitynumber quality2">2</div>
					<div class="qualitynumber quality3">3</div>
					<div class="qualitynumber quality4">4</div>
					<div class="qualitynumber quality5">5</div>
				</div>
			</div>
			<h3 style="margin-top: 30px;">9. Service Contract</h3>
			<select id="inputcontract" class="form-control">
				<option>Not Included</option>
				<option>Will Acquire Upon Sale</option>
				<option>Included</option>
			</select>
			<p id="contracttext">Once a buyer purchases your item, you will acquire and pay for a tranferrable service contract</p>
			<h3>10. Price</h3>
			<div class="pricing">
				<div class="suggestedprice">
					<h4>$24,000 - $27,000</h4>
					<p> Suggested Price Range </p>
				</div>
				<div class="listprice">
					<span><input id="priceinput" type="number" step="1" class="form-control" placeholder="Ex: 20000" /></span>
					<p> Your Listing Price </p>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox">I agree to the <a href='/terms' target="_blank"> terms of selling</a>
				</label>
			</div>
			<div class="postcontainer">
				<button id="postitem" name='submit' value='submit' class="btn btn-custom-orange">Create Your Free Listing!</button>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}

