{% extends 'base.html' %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/product.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css" media="screen" />
<style>
#saveloader {
	display: none;
}
</style>
{% endblock%}


{% block content %}
<div class="topbarcontainer">
	<div class="topbar">
		<div class="topnavigation">
			<p class="backbutton-container"><a class="backbutton" href="/productsearch/{{industry.name}}/{{item.devicecategory.name}}">&#8592; View All {{industry.displayname}} {{item.devicecategory.displayname}}</a></p>
			<p class="breadcrumbs"><a href="/">Home</a> / <a href="/">{{industry.displayname}}</a> / <a href="/productsearch/{{industry.name}}/{{item.devicecategory.name}}">{{item.devicecategory.displayname}}</a> / {{item.name}}</p>
			<div class="clear"></div>
		</div>
		<div class="otherviewers">	
			<div class="savebutton">
				{% if userloggedin %}
					<a href="/edititem/{{item.id}}" class="editaction button button-rounded button-highlight">Edit</a>
				{% else %}
					<img id="saveloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>
					{% if saved %}
						<button id="save" class="button button-rounded button-royal">Saved</button>
					{% else %}
						<button id="save" class="button button-rounded">Save</button>
					{% endif %}
				{% endif %}
			</div>
			<p>This item was listed on <span>{{item.listeddate }}</p>
		</div>
		<h2>{{ item.name }}</h2>
		<h5>Sold by Colts Neck Equine</h5>
	</div>
<!-- 
	<div id="tabbar">
		<div class="tabbar">
			<a href="/product/{{product.id}}/details" class="detailstab {% block details %}{% endblock %}">Product Details</a>
			<a href="/product/{{product.id}}/buyingoptions" class="detailstab {% block buyingoptions %}{% endblock %}">Buying Options (4)</a>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
 -->
</div>

{% block productmain %}

{% endblock %}
{%endblock %}
{% block jsblock %}
<script src="{{STATIC_URL}}js/jquery.zoom.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/jquery.tinycarousel.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
	 $('#slider-code').tinycarousel({ 
	 	display: 2,
	 	duration: 500
	 });
	$(".thumbnail-container img").click(function() {
		$("#mainimage").attr("src",$(this).attr("data-original"));
		console.log($("#mainimage").css("width"));
	});
});
$(document).ready(function() {
	//Save Button Functionality
	$('#save').click(function() {
		if ($(this).text() == 'Save') {
			var data = {'action':'save','id':{{item.id}}};
			var action = 'save';
		} else {
			var data = {'action':'delete','id':{{item.id}}};
			var action = 'delete'
		}
		$(this).html('<img class="saveloader" src="{{STATIC_URL}}img/ajax-loader.gif"/>');
		savebutton = $(this);
		savebutton.prop("disabled",true);
		$.ajax({
            type : "POST",
            data : data,
            url : "/saveitem",
            success : function(data) {
            	if (data['status'] != '400'){
					savebutton.css('display','inline-block');
					if (action == "save") {
						savebutton.html("Saved");
						savebutton.addClass("button-royal");
					} else {
						savebutton.html("Save");
						savebutton.removeClass("button-royal");
					}
					savebutton.prop("disabled",false);
				} else {
					window.location.href = data['redirect'];
				}
            }, 
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error saving product");
            }
        });
	});
	
	//Buy Now Button
	$("#buynow").click(function() {
		$("#buynowcontainer").fadeIn('fast').css('display', 'table');
	});
	 $('#buynowcontainer').click(function (e) {
    		if (e.target.id == 'buynowbackalign') {
    			$('#buynowcontainer').fadeOut();
    		}
  	});
});
</script>
{% block lightbox %}
{% endblock %}
{% endblock %}