{% extends 'base.html' %}
{% block headercss %}
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/productitem.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/product.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css" media="screen" />
<style>

</style>
{% endblock%}


{% block content %}
<div class="topbarcontainer">
	<div class="topbar">
		<p class="backbutton-container"><a class="backbutton" href="/productsearch/{{industry.name}}/{{product.devicecategory.name}}">&#8592; View {{industry.displayname}} {{product.devicecategory.displayname}}</a></p>
		<p class="breadcrumbs"><a href="/">Home</a> / <a href="/productsearch/{{industry.name}}/all">{{industry.displayname}}</a> / <a href="/productsearch/{{industry.name}}/{{product.devicecategory.name}}">{{product.devicecategory.displayname}}</a> / <a href='#'>{{product.name}}</a></p>
		<div class="clear"></div>
		<h2>{{ product.name }}</h2>
		<div class="otherviewers"><span>14</span> other people have purchased this product</div>
	</div>
	<div id="tabbar">
		<div class="tabbar">
			<a href="/product/{{product.id}}/details" class="detailstab {% block details %}{% endblock %}">Product Details</a>
			<a href="/product/{{product.id}}/buyingoptions" class="detailstab {% block buyingoptions %}{% endblock %}">Buying Options (4)</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% block productmain %}

{% endblock %}
{%endblock %}
{% block jsblock %}
<script src="{{STATIC_URL}}js/jquery.zoom.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/jquery.tinycarousel.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
	 $('#slider-code').tinycarousel({ 
	 	display: 2,
	 	duration: 500
	 });
	//  $("#tabbar").sticky({topSpacing:0});
	 
	// $('#ex1').zoom();
	$(".thumbnail-container img").click(function() {
		$('#ex1').trigger('zoom.destroy'); // remove zoom
		$("#mainimage").attr("src",$(this).attr("src"));
// 		$("#mainimage").css("height", $(this).css("height"));
// 		$("#mainimage").css("width", $(this).css("width"));
		console.log($("#mainimage").css("width"));
		//if (parseInt($("#mainimage").css("height").split("p")[0]) > 400) {
			// $('#ex1').zoom();
	});
});
</script>
{% block lightbox %}
{% endblock %}
{% endblock %}