{% for product in products %}
<div class='resultitem'>
	<div class='imageviewer'></div>
	<div class='imgdiv'><img src='{{product.product.mainimage}}'/></div>
	<div class='pricediv'>
		<h6>pre-owned from</h6>
		<p>${{product.lowprice}}</p>
		<a class='btn-custom-orange' href="/product/{{product.product.id}}/details">Select</a>
	</div>
	<div class='textdiv'>
		<a href="/product/{{product.product.id}}/details"><h2>{{ product.product.name }}</h2></a>
		<h3>{{ product.product.manufacturer }}</h3>
		<h4><a>New (2) <span>$27,480</span></a></h4>
		<h4><a>Refurbished (1) <span>$20,120</span></a></h4>
		<h4><a>Preowned (4) <span>$14,300</span></a></h4>
		<div class='buttondiv'>
			<button class='btn-custom-gray infobutton detailsbutton'>Details</button>
			<button class='btn-custom-gray infobutton specsbutton'>Specs</button>
			<button class='btn-custom-gray infobutton sellersbutton'>Sellers</button>
		</div>
	</div>
	<div class='clear'></div>
	<div class='detailsdiv hidden previewdiv'>
		<div class='detailtext'>
			<p>{{product.product.description}}</p>
		</div>
		<div class='imagegallery'>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
			<div class='imagethumbnail'></div>
		</div>
		<div class='morediv'>
			<a href="/product/{{product.product.id}}/details"> Show all product details &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div class='specsdiv hidden previewdiv'>
		<div class="spectext">
			{% for spec in product.product.specifications %}
				<p><span>{{spec.1}}</span>{{spec.0}}</p>
			{% endfor $%}
		</div>
		<div class='morediv'>
			<a href="/product/{{product.product.id}}/details"> Show all product specifications &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div class='sellerdiv hidden previewdiv'>
		<table class="sellertable">
			{% for seller in product.items %}
				<tr>
					<td class='sellerprice'>${{seller.price}}</td>
					<td class='sellercompany'>{{seller.user.company}}</td>
					<td class='sellercondition'>{{seller.type | title}}</td>
					<td class='sellertype'><a href='/product/{{product.id}}/buyingoptions' class="">View Buying Options</a></td>
				</tr>
			{% endfor %}
		</table>
		<div class='morediv'>
			<a href="/product/{{product.product.id}}/buyingoptions"> Show all sellers &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div class='clear'></div>

</div>
{% endfor %}