{% extends 'product.html' %}

{% block details %}active{% endblock %}

{% block productmain %}

<div id="buynowcontainer">
	<div id="buynowbackalign">
		<div class="buynowbox">
			<div class="buyonline">
				<h3>Buy Online</h3>
			</div>
			<div class="buydirect">
				<h3>Buy Direct</h3>
			</div>
		</div>
	</div>
</div>
<div class="row product">
  <div class="col-xs-12 col-sm-8 col-md-8 mainproductcontainer">
  	<div class="mainproduct">
  		<div class="mainproduct-header">
  			<!-- 
<h6 class="star star4"></h6>
  			<h2>Portable 800Hz Digital X-Ray Machine</h2>
  			<h3>Made By: <a href='#'>Redtera Manufacturers</a></h3>
 -->
  			<div id="zoomcontainer">
				<div class='mainimage-div' id='ex1'>
					<div class="mainimage-align">
						<img id="mainimage" src="{{ item.mainimage.photo.url}}"alt="{{item.name}}"/>
					</div>
				</div>
 				<div class="thumbnails">
					{% for img in item.itemimage_set.all %}
						<div class="thumbnail-container"><img src="{{img.photo_small.url}}" data-original="{{img.photo.url}}"/></div>
					{% endfor %}
					{% for img in item.productimage_set.all %}
						<div class="thumbnail-container"><img src="{{img.photo_small.url}}" data-original="{{img.photo.url}}"/></div>
					{% endfor %}
 				</div>
  			</div>
  		</div>
  	</div>
  	
  	<div class="mainproduct productdetails">
  		<h2> Product Description</h2>
  		<p> {{item.productdescription}}</p>
  	</div>
  	<div class="mainproduct productdetails" id="features">
  		<h2> Product Condition</h2>
  		<p id="productfeatures">{{item.conditiondescription}}</p>
  	</div>
  	<div class="mainproduct productdetails">
  		<h2>Customer Who Viewed This Item Also Viewed</h2>
  		<div id="slider-code">
			<a class="buttons prev" href="#"> &lsaquo;</a>
			<div class="viewport">
				<ul class="overview">
				   {%for itm in related %}
					<li>
						<div class="product-box">
							<a href="/item/{{item.id}}/details"><div class="item">
								<div class="itemname">{{itm.name}}</div>
								<div class="itemsoldby">{{itm.user.company}}</div>
								<div class="itemimage">
									<div class="verticalaligner">
										{%if itm.mainimage%}<img src="{{itm.mainimage.photo.url}}"/>{% else %}<img src="http://www.colourbox.com/preview/2087895-978618-silhouette-of-microscope-isolated-illustration-on-white-background.jpg"/>{% endif %}
									</div>
								</div>
								<div class="price">
									<div class="pricebox">
										<p class="price">${{item.price}}</p>
										<p class="pricelabel">{{item.get_type_display}} &#8901; {{item.get_contract_display}}</p>
									</div>
								</div>
							</div></a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
    		<a class="buttons next" href="#">&rsaquo;</a>
		</div>
  		
  	</div>
    	
  </div>
  
 {%load humanize %}
  <div class="col-xs-12 col-sm-4 col-md-4 sideproductcontainer">
  	<div class="sideproduct actionbox">
  		<h2>Buy This Item</h2>  
  		<h3>${{item.price|floatformat|intcomma}}</h3>
  		<p>Service Contract will be acquired for free after the purchase is made. Not including shipping.</p>
  		<!-- 
<div class="retailprice">
  			<p id="here"><span class="condition">New (1)</span> <span class="price">$27,542</span></p>
  			<p><span class="condition">Refurbished (1)</span> <span class="price">$24,323</span></p>
  			<p class="noborder"><span class="condition">Pre-owned (0)</span> <span class="price">N/A</span></p>
  		</div>
 -->
  		<div class="actionbuttons">
  			<a id="buynow" class="button button-rounded button-action" href="#">Buy Now</a>
  		</div>
  	</div>
  	<div class="sideproduct" id="buyerprotect">
  		<img class="buyerbadge" src="{{STATIC_URL}}img/vetcoveprotected.png"/> 	
  		<h3>Buy With Confidence</h3>
  		<h4> We've got you covered</h4>
  		<div class="clear"></div>
  		<p>Every product on our system, regardless of warranty, comes with a 14 day product guarantee. If the product does not meet the specifications and condition described, you will receive a full refund. <a href="/buyerprotect" target="_blank">View All Details</a></p>
  	</div>
  	<div class="sideproduct" id="productspecs">
  		<h2>Seller Information</h2>
  		<p><span>Name</span>{{item.user.name}}</p>
  		<p><span>Type</span>{{item.user.businesstype | title}}</p>
  		<p><span>Company</span>{{item.user.company}}</p>
  		<p><span>Website</span>{{item.user.website}}</p>
  		<p><span>Location</span>{{item.user.city}}, {{item.user.state}}</p>
  	</div>
  	<div class="sideproduct" id="productspecs">
  		<h2>Product Information</h2>
		<p><span>Device Category</span>{{item.devicecategory}}</p>
		<p><span>Service Contract</span>{{item.get_contract_display}}</p>
		<p><span>Model Year</span>{{item.year}}</p>
		<p><span>Condition</span>{{item.condition}}</p>
		<p><span>Manufacturer</span>{{item.manufacturer}}</p>
  	</div>
  </div>
</div>
{% endblock %}
