{% extends 'product.html' %}

{% block details %}active{% endblock %}

{% block productmain %}
<div class="row product">
  <div class="col-xs-12 col-sm-8 col-md-8 mainproductcontainer">
  	<div class="mainproduct">
  		<div class="mainproduct-header">
  			<!-- 
<h6 class="star star4"></h6>
  			<h2>Portable 800Hz Digital X-Ray Machine</h2>
  			<h3>Made By: <a href='#'>Redtera Manufacturers</a></h3>
 -->
  			<div id="zoomcontainer">
				<span class='zoom' id='ex1'>
					<img id="mainimage" src='http://www.jacklmoore.com/img/daisy.jpg' alt='Daisy on the Ohoopee'/>
				</span>
 				<div class="thumbnails">
 					<div class="thumbnail-container"><img src="http://xraydiagcentre.com/images/xray-machine.jpg"/></div>
 					<div class="thumbnail-container"><img src="http://web.tradekorea.com/upload_file2/product/263/P00264263/cbe9caa5_6d72bce3_9d52_4e07_87d8_e511af0c6777.jpg"/></div>
 					<div class="thumbnail-container"><img src="http://xraydiagcentre.com/images/xray-machine.jpg"/></div>
 					<div class="thumbnail-container"><img src="http://xraydiagcentre.com/images/xray-machine.jpg"/></div>
 					<div class="thumbnail-container"><img src="http://xraydiagcentre.com/images/xray-machine.jpg"/></div>
 				</div>
  			</div>
  		</div>
  	</div>
  	
  	<div class="mainproduct productdetails">
  		<h2> Product Description</h2>
  		<p> {{item.productdescription}}</p>
  	</div>
  	<div class="mainproduct productdetails" id="features">
  		<h2> Product Condition</h2>
  		<p id="productfeatures">{{item.conditiondescription}}</p>
  	</div>
  	<div class="mainproduct productdetails">
  		<h2>Customer Who Viewed This Item Also Viewed</h2>
  		<div id="slider-code">
			<a class="buttons prev" href="#"> &lsaquo;</a>
			<div class="viewport">
				<ul class="overview">
					<li>
						<div class="product-box">
							<a href="#"><div class="item">
								<div class="itemname"> Portal X-Ray Dental System</div>
								<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
								<div class="itemimage">
									<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
								</div>
								<div class="price">
									<div class="pricebox">
										<p class="price">$24,300</p>
										<p class="pricelabel">MB Estimated Value</p>
									</div>
									<div class="pricebox pricebox2">
										<p class="price goodprice">$18,200</p>
										<p class="pricelabel">Current Listed Price</p>
									</div>
								</div>
							</div></a>
						</div>
					</li>
					<li>
						<div class="product-box">
							<a href="#"><div class="item">
								<div class="itemname"> Portal X-Ray Dental System</div>
								<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
								<div class="itemimage">
									<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
								</div>
								<div class="price">
									<div class="pricebox">
										<p class="price">$24,300</p>
										<p class="pricelabel">MB Estimated Value</p>
									</div>
									<div class="pricebox pricebox2">
										<p class="price goodprice">$18,200</p>
										<p class="pricelabel">Current Listed Price</p>
									</div>
								</div>
							</div></a>
						</div>
					</li>
					<li>
						<div class="product-box">
							<a href="#"><div class="item">
								<div class="itemname"> Portal X-Ray Dental System</div>
								<div class="itemsoldby">sold by Colts Neck Equine (NJ)</div>
								<div class="itemimage">
									<img src="{{STATIC_URL}}psd/dentisttemp.jpg"/>
								</div>
								<div class="price">
									<div class="pricebox">
										<p class="price">$24,300</p>
										<p class="pricelabel">MB Estimated Value</p>
									</div>
									<div class="pricebox pricebox2">
										<p class="price goodprice">$18,200</p>
										<p class="pricelabel">Current Listed Price</p>
									</div>
								</div>
							</div></a>
						</div>
					</li>
				</ul>
			</div>
    		<a class="buttons next" href="#">&rsaquo;</a>
		</div>
  		
  	</div>
    	
  </div>
  
  
  <div class="col-xs-12 col-sm-4 col-md-4 sideproductcontainer">
  	<div class="sideproduct actionbox">
  		<h2>Buy This Item</h2>  
  		<h3>$23,450</h3>
  		<p>Service Contract will be acquired for free after the purchase is made. Not including shipping.</p>
  		<!-- 
<div class="retailprice">
  			<p id="here"><span class="condition">New (1)</span> <span class="price">$27,542</span></p>
  			<p><span class="condition">Refurbished (1)</span> <span class="price">$24,323</span></p>
  			<p class="noborder"><span class="condition">Pre-owned (0)</span> <span class="price">N/A</span></p>
  		</div>
 -->
 		
  		<div class="actionbuttons">
  			<a class="btn-custom-orange" href="#">Buy Now</a>
  		</div>
  	</div>
  	<div class="sideproduct" id="buyerprotect">
  		<h2>Devicerock Buyer Protection </h2>  
  		<img class="buyerbadge" src="{{STATIC_URL}}img/blueshield.png"/> 	
  		<p> This product comes with a <span> 2 year refurbishment </span> from the manufacturer that covers software failure and a 1 year warranty on all parts</p>
  	</div>
  	<div class="sideproduct" id="productspecs">
  		<h2>Seller Information</h2>
  		<p><span>Name</span>{{item.user.name}}</p>
  		<p><span>Type</span>{{item.user.businesstype | title}}</p>
  		<p><span>Company</span>{{item.user.company}}</p>
  		<p><span>Website</span>{{item.user.website}}</p>
  		<p><span>Location</span>{{item.user.city}}, {{item.user.state}}</p>
  	</div>
  	<div class="sideproduct" id="productspecs">
  		<h2>Product Specs</h2>
  		{% for spec in specs %}
  			<p><span>{{spec.0}}</span>{{spec.1}}</p>
  		{% endfor $%}
  	</div>
  </div>
</div>
{% endblock %}
