{% extends 'account.html' %}

{% block saveditems %}active{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/readmore.min.js" type="text/javascript" ></script>
<script>

$('.textdescription').readmore({maxHeight: 46,moreLink: '<a href="#">See Full Description</a>'});
</script>
{% endblock %}
{% block maintitle %}Saved Items{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/search.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/profileitem.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block maincontent %}
		<p id="nolistings"> You do not have any items currently saved on MedBay</p>
		{%for item in items %}
  		<div class='resultitem'>
  			<div class='imgdiv'><img src='{{item.item.product.mainimage}}'/></div>
  			<div class='pricediv'>
  				<h6>pre-owned from</h6>
  				<p>${{item.item.price}}</p>
  				<a class='btn-custom-orange' href="#">Buy Now</a>
  			</div>
  			<div class='textdiv'>
  				<a href="/product/{{item.item.product.id}}/details"><h2>{{item.item.product.name}}</h2></a>
  				<p>Sold by: <span>{{item.user.company}}</span></p>
  				<h3 class="textdescription">{{item.item.description}}</h3>
  				<div class="actionbuttons">
					<a href="#" class="btn-custom-gray">Contact Seller</a>
					<a href="/product/{{item.item.product.id}}/buyingoptions" class="btn-custom-gray">Other Sellers</a>
					<a href="/product/{{item.item.product.id}}/details" class="btn-custom-gray">Product Details</a>
					<form action="/removeitem" method="POST">
						{% csrf_token %}
						<input name="productid" type="hidden" value="{{item.item.id}}"/>
						<button href="#" value="submit" name="submit" class="btn-custom-gray">Remove</button>
					</form>
				</div>
  			</div>
  			<div class='clear'></div>
  		</div>
  		{% endfor %}
  		
{% endblock %}