{% extends 'account.html' %}

{% block saveditems %}active{% endblock %}

{% block jsblock %}
<script src='{{STATIC_URL}}js/searchbox.js' type='text/javascript' ></script>
<script>
$(document).ready(function() {
	activateResultsBoxItems();
});
</script>
{% endblock %}
{% block maintitle %}Saved Items{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/search.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/profileitem.css" rel="stylesheet" type="text/css" />
<style>
	.resultitem {
		margin: 0px;
		border-radius: none;
		box-shadow: none;
		border:none;
		border-bottom:1px solid #eee;
	}
	.resultitem:hover {
		box-shadow: none;
	}
	.removebutton {
		float: right;
		border: none;
		height: 20px;
		color: #C22F25;
		background: #EFCBCB;
		font-size: 12px;
		font-weight: 800;
		padding: 0px 5px;
		line-height: 20px;
		display: none;
		margin-bottom: -20px;
		border-bottom-left-radius: 5px;
		opacity: .7;
	}
	.resultitem:hover .removebutton {
		display: block;
	}
	.removebutton:hover {
		opacity: 1;
		color: #C22F25;
	}
	#nolistings {
		display: block;
	}
		
</style>
{% endblock %}
{% block maincontent %}
	{% if items %}
		{% for item in items %}
		<div class='resultitem'>
			<form action="/removeitem" method="post">
				{% csrf_token %}
				<input type="hidden" name="itemid" value="{{item.id}}"/>
				<button value="submit" type="submit" class='removebutton'>Remove</button>
			</form>
			<div class="clear"></div>
			<div class='imageviewer'></div>
			<div class='imgdiv'><img src='{{item.mainimage.photo.url}}'/></div>
			<div class='pricediv'>
				<p>$14,300</p>
				<a class='btn-custom-orange' href="/item/{{item.id}}/details">Select</a>
			</div>
			<div class='textdiv'>
				<a href="/item/{{item.id}}/details"><h2>{{ item.name }}</h2></a>
				<h6 class="resulttag">
					{% if item.type == 'new' %}
					<span class="new">new</span>
					{% endif %} 
					{% if item.type == 'refurbished' %}
					<span class="refurbished">refurbished</span>
					{% endif %} 
					{% if item.type == 'preowned' %}
					<span class="preowned">preowned</span>
					{% endif %} 
					{% if item.verified %}
					<span class="verified">verified seller</span>
					{% endif %} 
					{% if item.contract == 'contractincluded' %}
					<span class="lightgreen">service contract</span>
					{% endif %} 
					{% if item.contract == 'contractoptional' %}
					<span class="lightred">service contract option</span>
					{% endif %} 
			
				</h6>
				<h4><a>Seller<span>{{ item.user.company }}</span></a></h4>
				<h4><a>Product Age<span>{{ item.age }}</span></a></h4>
				<h4><a>Condition<span>{{item.condition }}</span></a></h4>
				<div class='buttondiv'>
					<button class='btn-custom-gray infobutton detailsbutton'>Details</button>
					<button class='btn-custom-gray infobutton specsbutton'>Specs</button>
					<button class='btn-custom-gray infobutton conditionbutton'>Condition</button>
				</div>
			</div>
			<div class='clear'></div>
			<div class='detailsdiv hidden previewdiv'>
				<div class='detailtext'>
					<p>{{item.productdescription}}</p>
				</div>
				<div class='imagegallery'>
					<div class='imagethumbnail'></div>
					<div class='imagethumbnail'></div>
					<div class='imagethumbnail'></div>
					<div class='imagethumbnail'></div>
					<div class='imagethumbnail'></div>
					<div class='imagethumbnail'></div>

				</div>
				<div class='morediv'>
					<a href="/item/{{item.id}}/details"> Show all product details &#8594;</a>
					<button class='btn-custom-gray closebutton'>Close</button>
				</div>
			</div>
			<div class='specsdiv hidden previewdiv'>
				<div class="spectext">
					{% for spec in item.specifications %}
						<p><span>{{spec.1}}</span>{{spec.0}}</p>
					{% endfor $%}
				</div>
				<div class='morediv'>
					<a href="/item/{{item.id}}/details"> Show all product specifications &#8594;</a>
					<button class='btn-custom-gray closebutton'>Close</button>
				</div>
			</div>
			<div class='conditiondiv hidden previewdiv'>
				<p>{{ item.conditiondescription }}</p>
				<div class='morediv'>
					<a href="/item/{{item.id}}/buyingoptions"> View all condition details &#8594;</a>
					<button class='btn-custom-gray closebutton'>Close</button>
				</div>
			</div>
			<div class='clear'></div>

		</div>
		{% endfor %}
		{% else %}
			<p id="nolistings"> You do not have any items currently saved on MedBay</p>
		{% endif %}
  		
{% endblock %}