{% extends 'base.html' %}
{% block headercss %}
<link href='{{STATIC_URL}}css/base.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/productitem.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/jquery-ui-1.10.3.custom.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/search.css' rel='stylesheet' type='text/css' />

<style>
.catlink {
	display: block;
	padding-left: 3px;
	padding-right: 5px;
	font-size: 13px;
}
label .floatright {
	float: right;
}
.catlink:hover {
	background: #eee;
	text-decoration: none;
}
.noresults {
	opacity: .9;
	max-width: 230px;
}
#noresults {
	text-align: center;
	margin: 30px auto;
	padding: 0 40px;
}
#noresults p {
	font-size: 14px;
	font-weight: 200;
}
#noresults .noluck {
	font-size: 23px;
	font-weight: 200;
	padding-bottom: 15px;
}

</style>
{% endblock%}


{% block content %}

<div class='row searchcontainer'>
  <!--Filter Container -->
  <div class='col-xs-12 col-sm-3 filtercontainer'>
  	<div class='filterbox'>
  		<div class='filter-category notopborder'>
			<h2>Other {{ind | title}} Categories</h2>
			{% for cat in categories %} 
				{% if cat.totalunits > -1 %} 			
					<a class="catlink {% if category.name == cat.name %} active{% endif %}" href="/productsearch/{{ind}}/{{cat.name}}">{{cat.displayname}} <span>{{cat.totalunits}}</span></a>
				{% endif %}
			{% endfor %}
			{% for cat in categorieshidden %}  			
				<a class="catlink" href="/productsearch/{{ind}}/{{cat.name}}">{{cat.displayname}}</a>
			{% endfor %}
		</div>
		<div id='pricecategory' class='filter-category'>
  			<h2>Price Range</h2>
  			<div id='price-slider-container'>
  				<p id='lowprice'>$<span>{{pricelow}}</span></p>
  				<p id='highprice'>$<span>{{pricehigh}}</span></p>
  				<div class='clear'></div>
  				<div id='price-range' class='light-gradient'></div>
  			</div>
  		</div>
  		<div class='filter-category'>
  			<h2>Condition</h2>
  			<div class='checkbox'>
				<input id='new' type='checkbox' name='check' value='new' checked='checked'>
				<label for='new'>New</label>
				<input id='refurbished' type='checkbox' name='check' value='refurbished' checked='checked'>
				<label for='refurbished'>Refurbished</label>
				<input id='preowned' type='checkbox' name='check' value='preowned' checked='checked'>
				<label for='preowned'>Pre-Owned</label>
			</div>
  		</div>
  		<!-- 
<div class='filter-category'>
  			<h2>Service Contract</h2>
  			<div class='checkbox'>
				<input id='check1_1' type='checkbox' name='check' value='check1_1' checked='checked'>
				<label for='check1_1'>Included<span class="floatright">$24,321</span></label>
				<input id='check2_1' type='checkbox' name='check' value='check2_1' checked='checked'>
				<label for='check2_1'>Optional<span class="floatright">$22,321</span></label>
				<input id='check3_1' type='checkbox' name='check' value='check3_1' checked='checked'>
				<label for='check3_1'>Not Included<span class="floatright">$18,321</span></label>
			</div>
  		</div>
 -->
  		<!-- 
<div class='filter-category'>
  			<h2>Manufacturers</h2>
  			<div class='checkbox'>
				{% for man in manufacturer %}
					<input id='{{man.name}}' type='checkbox' name='check' value='check1_1' checked='checked'>
					<label for='{{man.name}}'>{{man.name}}</label>
				{% endfor %}
			</div>
  		</div>
  		
 -->
  		<!-- 
<div id='milecategory' class='filter-category'>
  			<h2>Distance</h2>
  			<select class='form-control'>
  				<option>Any Miles</option>
  				<option>500 Miles</option>
  				<option>250 Miles</option>
  				<option>100 Miles</option>
  				<option>50 Miles</option>
  				<option>25 Miles</option>
  			</select>
  			<p>from</p>
  			<input class='form-control' placeholder='Zipcode' type='number' maxlength='5'/>
  		</div>
 -->
  		
  	</div>
  </div>
  
  <!--Results Container -->
  <div class='col-xs-12 col-sm-9 resultscontainer'>
  	<div id='loadingoverlay'>
  		<div id='loaderdiv'>
  			<h3> Filtering search results . . .</h3>
  			<img src='{{STATIC_URL}}img/ajax-loader2.gif'/>
  		</div>
  	</div>
  	<div class='resultsbox resultsnav'>
  		<div class='' id='resultsparameter'>
  		Searching for {{ searchquery }}
  		</div>
  		<div id='sortby'>
  			<p> Sort By: </p>
  			<select class='form-control'>
  				<option> Relevance </option>
  				<option> Price </option>
  				<option> Best Deal </option>
  				<option> Most Viewed</option>
  				<option> Newest</option>
  			</select>
  		</div>
  		<div id='numberofresults'>2038 Results</div>
  		<img class='viewtypeimg' src='{{STATIC_URL}}img/listview.png'/>
  		<p> View By Product </p>
  		<img class='viewtypeimg' src='{{STATIC_URL}}img/gridview.png'/>
  		<p> View By Seller </p>
  		<div class='clear'></div>
  	</div>
  	
  	<div class='resultsbox' id='resultsbody'>
  		{% if products %}
  		{% for product in products %}
  		<div class='resultitem'>
  			<div class='imageviewer'></div>
  			<div class='imgdiv'><img src='{{product.mainimage}}'/></div>
  			<div class='pricediv'>
  				<h6>pre-owned from</h6>
  				<p>$14,300</p>
  				<a class='btn-custom-orange' href="/product/{{product.id}}/details">Select</a>
  			</div>
  			<div class='textdiv'>
  				<a href="/product/{{product.id}}/details"><h2>{{ product.name }}</h2></a>
  				<h3>{{ product.manufacturer }}</h3>
  				<h4><a>New (2) <span>$27,480</span></a></h4>
  				<h4><a>Refurbished (1) <span>$20,120</span></a></h4>
  				<h4><a>Preowned (4) <span>$14,300</span></a></h4>
  				<div class='buttondiv'>
  					<button class='btn-custom-gray infobutton detailsbutton'>Details</button>
  					<button class='btn-custom-gray infobutton specsbutton'>Specs</button>
  					<button class='btn-custom-gray infobutton sellersbutton'>Sellers</button>
  				</div>
  			</div>
  			<div class='clear'></div>
  			<div class='detailsdiv hidden previewdiv'>
  				<div class='detailtext'>
  					<p>{{product.description}}</p>
  				</div>
  				<div class='imagegallery'>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  					<div class='imagethumbnail'></div>
  				</div>
  				<div class='morediv'>
  					<a href="/product/{{product.id}}/details"> Show all product details &#8594;</a>
  					<button class='btn-custom-gray closebutton'>Close</button>
  				</div>
  			</div>
  			<div class='specsdiv hidden previewdiv'>
  				<div class="spectext">
  					{% for spec in product.specifications %}
						<p><span>{{spec.1}}</span>{{spec.0}}</p>
					{% endfor $%}
  				</div>
  				<div class='morediv'>
  					<a href="/product/{{product.id}}/details"> Show all product specifications &#8594;</a>
  					<button class='btn-custom-gray closebutton'>Close</button>
  				</div>
  			</div>
  			<div class='sellerdiv hidden previewdiv'>
  				<table class="sellertable">
				{% for seller in product.sellers %}
					<tr>
						<td class='sellerprice'>${{seller.price}}</td>
						<td class='sellercompany'>{{seller.user.company}}</td>
						<td class='sellercondition'>{{seller.type | title}}</td>
						<td class='sellertype'><a href='/product/{{product.id}}/buyingoptions' class="">View Buying Options</a></td>
					</tr>
				{% endfor %}
				</table>
  				<div class='morediv'>
  					<a href="/product/{{product.id}}/buyingoptions"> Show all sellers &#8594;</a>
  					<button class='btn-custom-gray closebutton'>Close</button>
  				</div>
  			</div>
  			<div class='clear'></div>

  		</div>
  		{% endfor %}
  		{% else %}
  			<div id="noresults">
				<p class="noluck">Sorry, we can't find anything that matches your search</p>
				<img class="noresults" src="{{STATIC_URL}}img/saddog.jpg"/>
				<p>Try changing your filters, or call us with what you want and we will let you know when one becomes available!</p>
  			</div>
  		{% endif %}
  	</div>
  	<div id='showmorebutton' class='resultsbox'>
  		<p>Show More Results</p>
  		<img src='{{STATIC_URL}}img/ajax-loader.gif'/>
  	</div>
  </div>
  	
</div>
{% endblock %}

{% block jsblock %}
<script src='{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js' type='text/javascript' ></script>

<script>
//*********************************************
//Global variable dictionary ******************
//*********************************************
var variables = {'category':'{{category.name}}','sortby':'relevance','pricelow':0,'pricehigh':100000,'new':true,'refurbished':true,'preowned':true};

//*********************************************
//*** Miscellaneous Page Functions ************
//*********************************************
$(document).ready(function(){
	activateResultsBoxItems();
	
	$("input").change(function() {
		var checkboxname = $(this).attr('id');
		variables[checkboxname] = ($(this).is(":checked")) ? true: false;
		update();
	});
	//The price filter functionality when it is toggled
	$(function() {
		$( '#price-range' ).slider({
			range: true,
			min: {{pricelow}},
			max: {{pricehigh}},
			step: 100,
			values: [ {{pricelow}}, {{pricehigh}} ],
			slide: function( event, ui ) {
				$( '#amount' ).val( '$' + ui.values[ 0 ] + ' - $' + ui.values[ 1 ] );
				var newhighvalue = ui.values[1].toString();
				var newlowvalue = ui.values[0].toString();
				if (newlowvalue.length > 3 ) {
					var newlowvalue = newlowvalue.splice( newlowvalue.length-3, 0, ',' );
				} 
				if (newhighvalue.length > 3) {
					var newhighvalue = newhighvalue.splice( newhighvalue.length-3, 0, ',' );
				}
				$('#lowprice span').html(newlowvalue);
				$('#highprice span').html(newhighvalue);
			},
			stop: function(event,ui ) {
				variables['pricelow'] = ui.values[ 0 ];
				variables['pricehigh'] = ui.values[ 1 ];
				update();
			}
			});
			$( '#amount' ).val( '$' + $( '#slider-range' ).slider( 'values', 0 ) +
			' - $' + $( '#slider-range' ).slider( 'values', 1 ) );
		});
	});

//Update function when a filter is called
var update = function loading() {
	$('#loadingoverlay').css('display','block');
	$.ajax({
		url: '/searchquery',
		type: 'GET',
		data: variables,
		cache:false,
		dataType: 'html',
		success: function(response){
			$('#loadingoverlay').css('display','none');
			$("#resultsbody").empty();
			$("#resultsbody").append(response);
			activateResultsBoxItems();
		}
	});
}


//*********************************************
//*** Product Box Generator *******************
//*********************************************


// We must rebind all the actions when results are added to the page
var activateResultsBoxItems = function activateResultsBoxItems() {	
	//When user clicks for more information
	$('.infobutton').click(function() {
		togglebuttons($(this));
	});
	
	//When user closes the more information
	$('.closebutton').click(function() {
		$(this).parent().parent().addClass('hidden');
		var buttons = $(this).parent().parent().parent().children('div.textdiv').children('div.buttondiv').children();
		for (var b=0; b < buttons.length; b++) {
				$(buttons[b]).removeClass('activeinfo');
			}
	});
	//When a user clicks on an image
	$('.imgdiv img').click(function() {
		togglebuttons($($(this).parent().parent().children('div.textdiv').children('div.buttondiv').children()[0]));
	});
	
	//When a user hovers over a thumbnail
	$('.imagethumbnail').hover(function() {
		$(this).parent().parent().parent().children('div.imageviewer').css('display','block');
	}, function() {
		$(this).parent().parent().parent().children('div.imageviewer').css('display','none');
	});
};

//Functionality for the show more buttons
var togglebuttons = function togglebutton(handler) {
	var buttons = handler.parent().children();
		if (!(handler.hasClass('activeinfo'))) {
			for (var b=0; b < buttons.length; b++) {
				$(buttons[b]).removeClass('activeinfo');
				handler.addClass('activeinfo');
			}
			var buttons = handler.parent().parent().parent().children('div.previewdiv');
			for (var i=0; i < buttons.length; i++) {
				if (!($(buttons[i]).hasClass("hidden"))) {
					$(buttons[i]).addClass("hidden");
				}
			};
			if ($(handler).text() == 'Details') {
				handler.parent().parent().parent().children('div.detailsdiv').removeClass('hidden');
			} else if ($(handler).text() == 'Specs') {
				handler.parent().parent().parent().children('div.specsdiv').removeClass('hidden');
			} else if ($(handler).text() == 'Sellers') {
				handler.parent().parent().parent().children('div.sellerdiv').removeClass('hidden');
			} 
		}
}

//*********************************************
//*** Helper Functions ************************
//*********************************************

//Used by the slider to convert a number back to an integer
String.prototype.splice = function( idx, rem, s ) {
    return (this.slice(0,idx) + s + this.slice(idx + Math.abs(rem)));
};
//*********************************************
//*** Unused Functions ************************
//*********************************************
	//When the show more button is pressed, load in more products
	// $('#showmorebutton').click(function() {
// 		$('#showmorebutton p').css('display','none');
// 		$('#showmorebutton img').css('display','block');
// 		$.ajax({
// 			url: '/searchquery',
// 			type: 'GET',
// 			data: variables,
// 			cache: false,
// 			dataType: 'json',
// 			success: function(response){
// 				$.each(response, function( key, pd) {
// 					generateProduct(pd['name'],pd['manufacturer'],pd['description'],pd['lowprice']);
// 					console.log("Generating more products");
// 				});
// 				$('#showmorebutton p').css('display','block');
// 				$('#showmorebutton img').css('display','none');
// 			}
// 		});
// 	});
</script>
{% endblock %}