
/**********************************/
/******* General Formatting *******/
/**********************************/

body {
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
	line-height: 1.5;
	background: #f4f4f4;
	background-image: url("../img/fabric_plaid.png");
}
.shadowcontainer {
	box-shadow: 0 0 10px #ccc;
}
.clear {
	clear: both;
}
.contain {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0;
}
a {
	outline: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	outline: none;
}

/**********************************/
/****** Navigation Bar ************/
/**********************************/


.navbar {
	border-radius: 0px;
	margin: 0;
	height: 50px;
	background: #fff;
	box-shadow: 0 0 10px #aaa;
	/* background-image: url("../img/fabric_plaid_dark.png"); */
	border:none;
	/* border-bottom: 1px solid #eee; */
	/* border-bottom: 1px solid #666; */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 20%, #EFEFEF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 20%, #EFEFEF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 20%, #EFEFEF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(0.2, #FFFFFF), color-stop(1, #EFEFEF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 20%, #EFEFEF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 20%, #EFEFEF 100%);
}
.navbar-center form input {
	width: 100%;
}
#menuitems li a {
	transition: color .2s;
	letter-spacing: .2px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7B858F;
	margin: 12px 0;
	padding: 3px 10px;
	border-radius: 4px;
	font-size: 12px;
	transition: color .2s;
	border:1px solid transparent;
	text-shadow: 0 1px 1px #fff;
	
}
#menuitems li a:hover {
	color: #3D4247;
	background: none;
}
#menuitems li a:focus {
	background: none;
}
#menuitems .caret {
	border-top-color: #7B858F;
}
#menuitems li a:hover .caret {
	border-top-color:#3D4247;
} 
#menuitems #listequipment a{
	background: #e4e4e4;
	border:1px solid #ccc;
	margin-left: 5px;
}
#menuitems #listequipment a:hover {
	background: #dedede;
}
.searchbutton {
	color: white;
	margin: 0;
	padding: 0;
}

#mobilesearch-container {
	padding: 15px;
}

#desktopsearchbar {
	padding-top: 10px;
	margin: 0 auto;
	width: 35%;
	max-width: 650px;
}
.navbar-brand {
	font-weight: 800;
	margin-left: 10px;
	color: #7B858F;
	transition: color .2s;
}
.navbar-brand:hover {
	color: #535A61;
}
.customsearchbar form {
	height: 32px;
	padding: 0;
	margin: 0;
}
.customsearchbar input {
	height: 30px;
	padding-bottom: 5px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	width: 100%;
	float: left;
	border-right: none;
	margin: 0;
	padding-right: 45px;
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F4F4F4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #F4F4F4 100%);
}
.form-control::-moz-placeholder {
	color: #444;
}
.customsearchbar input:hover {
	
}
.customsearchbar input:focus {
	background: white;
}
.customsearchbar button {
	float: left;
	height: 30px;
	width: 40px;
	margin-left: -40px;
	border-radius: 0px;
	border:1px solid #ccc;
	background: #f4f4f4;
	color: #777;
	font-size: 12px;
	line-height: 15px;
	font-weight: 800;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: background .2s;
}
.customsearchbar .blueborder {
	outline: 0;
	border-top:1px solid #66afe9;
	border-right:1px solid #66afe9;
	border-bottom:1px solid #66afe9;
	border-left: 1px solid #66afe9;
}
	
.customsearchbar button:hover {
	background: #ddd;
}

#autosuggest {
	background: white;
	width: 360px;
	z-index: 999;
	position: absolute;
	margin-top: -9px;
	border:1px solid #ccc;
	display:block;
}

/**********************************/
/******  Footer *******************/
/**********************************/

footer {
	box-shadow: inset 0 3px 3px #ccc;
	background: #f4f4f4;
	padding-bottom: 0px;
}
footer ul{
	list-style-type: none;
	text-align: center;
	margin: 0 auto 0px auto;
}
footer ul li {
	display: inline-block;
	padding: 0 3px;
	line-height: 40px;
	margin: 4px 0;
}
footer ul li a {
	color: #999;
	font-size: 12px;
	font-weight: 200;
	transition: color .15s;
}
footer ul li a:hover {
	color: #333;
}	
@media (max-width: 768px) {
	footer ul .dot{
		display: none;
	}
	footer ul li a {
		display: block;
		padding: 6px 0;
	}
	footer ul li {
		display: block;
	}
}


/**********************************/
/******  Stars  *******************/
/**********************************/
.star {
	height: 16px;
	width: 85px;
	overflow: hidden;
	background-image: url("../img/blackstars.png");
}

.star4 {
	background-position: -17px 0;
}
.star3 {
	background-position: -34px 0;
}
.star2 {
	background-position: -51px 0;
}
.star1 {
	background-position: -68px 0;
}


/**********************************/
/******  Autosuggest ***************/
/**********************************/

#autosuggest {
	box-shadow: 0 3px 7px #bbb;
}
#autosuggest a {
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	border: none;
}
#autosuggest a:hover {
	text-decoration: none;
	background: #f6f6f6;
	outline: none;
}
#autosuggest a:active {
	background: #ddd;
}
#autosuggest .section {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding-left: 12px;
	font-weight: 700;
	color: #444;
	border-bottom:1px solid #eee;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F9), color-stop(1, #EDEDED));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEDED 100%);
}
#autosuggest .textitem {
	height: 30px;
	padding-left: 12px;
	line-height: 30px;
	border-bottom:1px solid #eee;
	color: #444;
	font-size: 13px;
	transition: background: .15s;
}

#autosuggest .matchingtext {
	font-weight: 800;
}
#autosuggest .industry {
	color: #aaa;
}
#autosuggest .productitem {
	height: 50px;
	padding: 0 5px 5px 5px;
	border-bottom:1px solid #eee;
}
#autosuggest .productitem img {
	max-width: 60px;
	max-height: 45px;
	border-radius: 3px;
	box-shadow: 0 0 3px #fff;
	float: right;
	margin-top: 2px;
}

#autosuggest .producttext {
	float: left;
	width: 260px;
	margin-right: 10px;
	margin-left: 7px;
	padding: 0;
}
#autosuggest .producttext p {
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;
	line-height: 17px;
}
#autosuggest .producttext .displaytext {
	margin-top: 8px;
}
#autosuggest .producttext .productsubtext {
	font-size: 11px;
	color: #666;
}
#autosuggest .activesearchoption {
	background: #f6f6f6;
}
#autosuggest {
	display: none;
}


/**********************************/
/******  Buttons ******************/
/**********************************/
.btn-standard {
	padding: 8px 20px;
	border-radius: 3px;
	background: #FFC508;
	transition: background .2s;
	color: white;
	font-weight: 800;
	border:1px solid #CC8C14;
	 	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFC219 0%, #EBB607 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFC219 0%, #EBB607 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFC219 0%, #EBB607 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFC219), color-stop(1, #EBB607));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFC219 0%, #EBB607 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFC219 0%, #EBB607 100%);
	
}
.btn-standard:hover {
	background: orange;
}
.btn-custom {
	display: block;
	outline: none;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background-color:#f6b33d;
	border-radius: 6px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color: white;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	line-height:25px;
	padding: 4px 15px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #cd8a15;
}

.btn-custom-orange {
	display: block;
	outline: none;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	border-radius: 6px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color: white;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	line-height:25px;
	padding: 4px 15px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #cd8a15;
}
.btn-custom-orange:hover {
	color: white; 
	background-image: -ms-linear-gradient(top left, #E3A538 5%, #E09B06 100%);
	background-image: -moz-linear-gradient(top left, #E3A538 5%, #E09B06 100%);
	background-image: -o-linear-gradient(top left, #E3A538 5%, #E09B06 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.05, #E3A538), color-stop(1, #E09B06));
	background-image: -webkit-linear-gradient(top left, #E3A538 5%, #E09B06 100%);
	background-image: linear-gradient(to bottom right, #E3A538 5%, #E09B06 100%);
	background-color:#d29105;
}
.btn-custom-orange:active {
	box-shadow: none;
	background:#E09B06;
	color: white;
}
.btn-custom-orange:focus {
	color: white;
	text-decoration: none;
}
.btn-custom-gray {
	display: block;
	outline: none;
	box-shadow:inset 0px 1px 0px 0px #fff;	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #F5F5F5), color-stop(1, #D1D1D1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F5F5F5 5%, #D1D1D1 100%);
	border-radius: 6px;
	text-indent:0;
	border:1px solid #ddd;
	display:inline-block;
	font-style:normal;
	line-height:20px;
	font-size: 12px;
	padding: 4px 9px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #eee;
}
.btn-custom-gray:hover {
	box-shadow: none;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3E3E3), color-stop(1, #D9D9D9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #E3E3E3 0%, #D9D9D9 100%);
}
.btn-custom-large-gray {
	outline: none;
	text-shadow: 0 0 3px #fff;
	color: #666;
	border:1px solid #ccc;
	box-shadow:inset 0px 1px 0px 0px #fff;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F6F6F6 50%, #D2D2D2 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F6F6F6 50%, #D2D2D2 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F6F6F6 50%, #D2D2D2 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #F6F6F6), color-stop(1, #D2D2D2));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F6F6F6 50%, #D2D2D2 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F6F6F6 50%, #D2D2D2 100%);
}
.btn-custom-large-gray:hover {
	background-image: -ms-linear-gradient(bottom, #F6F6F6 50%, #D2D2D2 100%); 
	background-image: -moz-linear-gradient(bottom, #F6F6F6 50%, #D2D2D2 100%); 
	background-image: -o-linear-gradient(bottom, #F6F6F6 50%, #D2D2D2 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #F6F6F6), color-stop(1, #D2D2D2));
	background-image: -webkit-linear-gradient(bottom, #F6F6F6 50%, #D2D2D2 100%);
	background-image: linear-gradient(to top, #F6F6F6 50%, #D2D2D2 100%);
}
.btn-custom-green {
	border:1px solid #278715;
	box-shadow:inset 0px 1px 0px 0px #84BF92;
	background-image: -ms-linear-gradient(top, #14BF08 0%, #227512 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #14BF08 0%, #227512 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #14BF08 0%, #227512 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #14BF08), color-stop(1, #227512));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #14BF08 0%, #227512 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #14BF08 0%, #227512 100%);
}
