
/**********************************/
/******* General Formatting *******/
/**********************************/

/* Disabling Responsive */
body {
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
	line-height: 1.5;
	background: #f4f4f4;
	background-image: url("../img/fabric_plaid.png");
/* 	min-width: 1000px; */
}
.shadowcontainer {
	box-shadow: 0 0 10px #ccc;
}
.clear {
	clear: both;
}
.contain {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0;
}
a {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a:active{
	outline: none;
}
button:hover, a:hover {
	cursor: pointer;
}
/** Removes image outline **/
input::-moz-focus-inner { 
  border: 0; 
}

.covebox {
	border:1px solid #ddd;
	background: white;
	box-shadow: 0 0px 3px #ccc;
}
.row {
	margin: 0;
}
.sidecontent-title {
	margin: 0;
	padding: 0;
	padding: 3px 0 3px 10px;
	color: #333;
	text-shadow: 0 0 1px #fff;
	font-weight: bold;
	letter-spacing: .2px;
	font-size: 14px;
	background-image: -ms-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -o-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FBFBFB), color-stop(1, #E1E1E1)); 
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #ddd 100%);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom:1px solid #ccc;
}
.error-format {
	display: inline-block;
	color: #D90000;
	padding: 5px 12px;
	margin: 15px;
	background: #FFF2F2;
	border:1px solid red;
	border-radius: 4px;
	box-shadow: 0 0 2px red;
}

/**********************************/
/******  Footer *******************/
/**********************************/

footer {
	padding-bottom: 0px;
}
footer ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0 auto 0px auto;
}
footer p {
	text-align: center;
	color: #999;
	font-weight: 200;
	font-size: 12px;
}
footer ul li {
	display: inline-block;
	padding: 0 3px;
	line-height: 40px;
	margin: 4px 0;
}
footer ul li a {
	color: #999;
	font-size: 13px;
	font-weight: 200;
	transition: color .15s;
}
footer ul li a:hover {
	color: #333;
}	
@media (max-width: 768px) {
	footer ul .dot{
		display: none;
	}
	footer ul li a {
		display: block;
		font-weight: 500;
		font-size: 15px;
		padding: 6px 0;
	}
	footer ul li {
		display: block;
	}
}


/**********************************/
/******  Stars  *******************/
/**********************************/
.star {
	height: 16px;
	width: 85px;
	overflow: hidden;
	background-image: url("../img/blackstars.png");
}

.star4 {
	background-position: -17px 0;
}
.star3 {
	background-position: -34px 0;
}
.star2 {
	background-position: -51px 0;
}
.star1 {
	background-position: -68px 0;
}

/**********************************/
/****** Top Navigation ************/
/**********************************/


	/***********************************/
	/* Recorrecting the navigation bar */
	/***********************************/
	.navigation-container .navbar {
		max-width: 1000px;
		margin: 0 auto;
		background: none;
		border:none;
		min-height: 30px;
		padding: 0;
	}
	.navigation-container .navbar-nav > li > a {
		padding: 0;
	}
	.navigation-container .navbar-default ul {
		background: white;
		padding: 2px 3px;
		border: 1px solid #DDDDDD;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		box-shadow: 0 0 2px #CCCCCC;
		margin-top: 0;
	}
	.navigation-container .navbar-default .navbar-nav > li > a {
		border: 1px solid rgba(0, 0, 0, 0);
		color: #555555;
		display: block;
		font-weight: 200;
		padding: 1px 15px;
	}
	.navigation-container .navbar-default .navbar-nav > li > a:active {
		border: 1px solid #ddd;
	}
	.navigation-container .navbar-default .navbar-nav > li > a:hover {
		background: none repeat scroll 0 0 #F4F4F4;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		color: #000000;
	}
	.navigation-container .navbar-brand {
		padding: 0;
		width: 180px;
	}
	.navigation-container .navbar-nav > li > .dropdown-menu {
		border-top: 1px solid #fff;
		box-shadow: 0 2px 2px #CCCCCC;
	}
	.navigation-container .navbar-nav > li > .dropdown-menu li a {
		padding: 5px 10px;
		font-weight: 200;
		font-size: 13px;
	}
	.navigation-container .shoppingcart-image img {
		width: 20px;
	}
	.navigation-container .viewcart {
		padding: 5px 15px;
	}
	/* Move the image inline with the searchbar*/
	.navigation-container .navbar-brand img {
		margin-top: 15px;
		width: 180px;
		margin-bottom: -50px;
	}
	/***********************************/
	/* Search and browse row formatting*/
	/***********************************/
	.navigation-container .searchrow-container {
	}
	.navigation-container .searchrow {
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 3px;
		position: relative;
		padding-left: 200px;
	}
	.navigation-container .searchbar-row {
		padding: 0;
	}
	.navigation-container #searchform {
	}
	.navigation-container #searchform table {
		width: 100%;
	}
	.navigation-container .searchbutton {
		width: 30px;
	}
	.navigation-container .searchbutton button {
		text-align: center;
		padding: 0 10px;
	}
	.navigation-container #searchinput {
		width: 100%;
	}
	.navigation-container #autosuggest {
		position: absolute;
		z-index: 9999;
		width: 80%;
		background: white;
	}
	/***********************************/
	/* Browse by category formatting ***/
	/***********************************/
	.navigation-container .shopbycategory-container {
		padding: 0;
		position: static;
		display:inline-block;
	}
	.navigation-container .shopbycategory {
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 3px;
		line-height: 12px;
		display:inline-block;
	}
	
	.navigation-container .shopbycategory p {
		font-size: 12px;
		font-weight: 200;
		padding: 0;
		margin: 0;
	}
	.navigation-container .shopbycategory-container .shopbycategory-button:hover {
		text-decoration:underline;
		cursor:pointer
	}
	
	.navigation-container .shopbycategory-container .shopbycategory-button {
		border:1px solid transparent;
		padding: 5px;
		z-index: 300;
		position:relative;
	}
	.navigation-container .shopbycategory-container .shopbycategory-button-active {
		text-decoration:none;
		background: white;
		border:1px solid #ddd;
		border-bottom: 1px solid #fff;
		z-index: 300;
		
	}
	.navigation-container .shopbycategory-container .shopbycategory-button-active:hover {
		text-decoration:none;
	}
	.navigation-container .shopbycategory .category {
		font-weight: 800;
	}
	.navigation-container .browse-categories {
		max-width: 700px;
		left: 0;
		margin-top: -2px;
		width: 100%;
		padding: 10px;
		background: white;
		border-radius: 3px;
		border:1px solid #ddd;
		position: absolute;
		z-index: 299;
		display: none;
		border-top-right-radius: 0px;
	}
	.navigation-container .browse-categories .grouping {
		margin: 5px 0;
	}
	.navigation-container .browse-categories h6 {
		font-size: 14px;
		font-weight: bold;
	}
	.navigation-container .browse-categories a {
		display: block;
		font-size: 12px;
		line-height: 24px;
		color: #555555;
	}
	.navigation-container .browse-categories a:hover {
		text-decoration: underline;
		color: #428BCA;
	}
	.navigation-container .browse-categories .category-footer {
		border-top:1px solid #eee;
		margin-top: 5px;
		padding: 5px 0 0 0;
	}
	.navigation-container .browse-categories .category-footer .seeall {
		float: right;
		margin-right:10px;
	}
	/***********************************/
	/* Miscellaneous *******************/
	/***********************************/
	.navigation-container .sc-count {
		background: none repeat scroll 0 0 #00A0C9;
		border-radius: 8px;
		box-shadow: 0 0 2px #FFFFFF;
		color: #FFFFFF;
		display: inline-block;
		line-height: 15px;
		font-size: 10px;
		font-weight: 800;
		height: 16px;
		margin-left: -5px;
		margin-right: 5px;
		text-align: center;
		vertical-align: top;
		width: 16px;
	}
	.navigation-container .question-count {
		background: #A447CC;
		margin-left: 2px;
	}
	.navigation-container .notification-count {
		background: #54B85B;
		margin-left: 2px;
	}
	.navigation-container .whiteborder {
		border-top: 1px solid #ddd;
		border-bottom:1px solid #fcfcfc;
		height: 1px;
		margin: 2px auto 0 auto;
		width: 100%;
		max-width: 1000px;
	}
	.navigation-container .navbar-toggle {
		background: white;
	}
	.navigation-container .mobile-visible {
		display: none;
	}
	
	/* Cart Styling */
	.navigation-container .cart-image-container {
	padding: 0;
	}
	.navigation-container .cart-image {
		width: 100%;
		padding: 0;
	}
	.navigation-container .cart-price {
		color: #888;
		font-weight: 200;
	}
	.navigation-container .cart-price span {
		font-weight: 400;
	}
	.navigation-container .viewcart {
		margin: 5px;
		color: white;
	}
	.navigation-container .dropdown-menu .cart-dropdown-item {
		padding: 10px;
		width: 400px;
		border-bottom:1px solid #ddd;
	}
	.navigation-container  .dropdown-menu > li > .cart-dropdown-item:hover {
		background: #fafafa;
		color: #333;
	}
	.navigation-container .dropdown-menu > li > .viewcart:hover {
	}
	.navigation-container .navbar-nav > .cart-dropdown > .dropdown-menu {
		padding: 0;
	}
	.navigation-container .cart-information p {
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.navigation-container .dropdown-menu .cart-dropdown .row div {
		padding: 5px;
	}

	@media (max-width: 1000px) {
		.navigation-container {
			padding: 0 10px;
		}
		.navigation-container .searchbar-row {
		}
	}
	@media (max-width: 767px) {	
		.hide-search {
			display: none;
		}
		.navigation-container .navbar {
			padding: 5px 0px;
		}
		.navigation-container .searchrow {
			padding-left: 0;
		}
		.navigation-container .navbar-toggle {
			margin-right: 0px;
		}
		.navigation-container .navbar-brand {
			margin-left: 5px;
			margin-top: 5px;
		}
		.navigation-container .navbar-default ul {
			border-radius: 0px;
		}
		.navigation-container .navbar-default .navbar-nav > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
			font-weight: 500;
		}
		.navigation-container .navbar-nav > li > .dropdown-menu {
			box-shadow: none;
			width: 100%;
			max-width: 100%;
		}
		.navbar-default .navbar-toggle {
			height: 40px;
			padding: 0 10px;
		}
		.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
			background: #fff;
		}
		.navigation-container .dropdown-menu .cart-dropdown-item {
			width: 100%;
		}
		.navigation-container .navbar-brand img {
			margin-top: 0px;
			margin-bottom: 0px;
			width: 120px;
		}
		.navigation-container #searchform {
			margin-left: 0px
		}
		.navigation-container #autosuggest {
			width: 100%;
			left: 0;
		}
		.navigation-container .navbar-default .navbar-nav > li {
			clear:both;
		}
		.navigation-container .shopbycategory {
			display: none;
		}
		.navigation-container .whiteborder {
			margin-top: 4px;
		}
		.navigation-container .mobile-visible {
			display: inline-block;
		}
		.navigation-container .shopbycategory .caret {
			display: inline-block;
		}
		.navigation-container .browse-categories {
			margin-top: 25px;
		}
	}

/**********************************/
/******  Autosuggest ***************/
/**********************************/

#autosuggest {
	box-shadow: 0 3px 7px #bbb;
}
#autosuggest a {
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	border: none;
}
#autosuggest a:hover {
	text-decoration: none;
	background: #f6f6f6;
	outline: none;
}
#autosuggest a:active {
	background: #ddd;
}
#autosuggest .section {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding-left: 12px;
	font-weight: 700;
	color: #444;
	border-bottom:1px solid #eee;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F9), color-stop(1, #EDEDED));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEDED 100%);
}
#autosuggest .textitem {
	height: 30px;
	padding-left: 12px;
	line-height: 30px;
	border-bottom:1px solid #eee;
	color: #444;
	font-size: 13px;
	transition: background: .15s;
}

#autosuggest .matchingtext {
	font-weight: 800;
}
#autosuggest .industry {
	color: #aaa;
}
#autosuggest .productitem {
	height: 50px;
	padding: 0 5px 5px 5px;
	border-bottom:1px solid #eee;
}
#autosuggest .productitem img {
	max-width: 60px;
	max-height: 45px;
	border-radius: 3px;
	box-shadow: 0 0 3px #fff;
	float: right;
	margin-top: 2px;
}

#autosuggest .producttext {
	float: left;
	width: 260px;
	margin-right: 10px;
	margin-left: 7px;
	padding: 0;
}
#autosuggest .producttext p {
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;
	line-height: 17px;
}
#autosuggest .producttext .displaytext {
	margin-top: 8px;
}
#autosuggest .producttext .productsubtext {
	font-size: 11px;
	color: #666;
}
#autosuggest .activesearchoption {
	background: #f6f6f6;
}
#autosuggest {
	display: none;
}


/**********************************/
/******  Buttons ******************/
/**********************************/
.btn-custom-gray {
	display: block;
	outline: none;
	box-shadow:inset 0px 1px 0px 0px #fff;	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #F5F5F5), color-stop(1, #D1D1D1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F5F5F5 5%, #D1D1D1 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F5F5F5 5%, #D1D1D1 100%);
	border-radius: 6px;
	text-indent:0;
	border:1px solid #ddd;
	display:inline-block;
	font-style:normal;
	line-height:20px;
	font-size: 12px;
	padding: 4px 9px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #eee;
}
.btn-custom-gray:hover {
	box-shadow: none;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3E3E3), color-stop(1, #D9D9D9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #E3E3E3 0%, #D9D9D9 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #E3E3E3 0%, #D9D9D9 100%);
}