
/*************************/
/****Cart Item Formatting */
/*************************/
.cart-item {
	margin-bottom: 10px;
	position:relative;
	padding-bottom: 20px;
}
.cart-item div {
	padding: 0;
}
.cart-item .item-information {
	padding: 0;
	position:relative;
}
.cart-item .item-information form {
	display:inline-block;
}
.cart-item .item-information button {
	border: none;
	background: none;
	padding: 0;
	font-weight: 13px;
	color: #888;
	font-weight: 200;
}
.cart-item .item-information h6 {
	margin-top: 20px;
	font-size: 15px;
}
.cart-item .item-information p {
	margin: 0;
	padding-bottom: 5px;
	font-size: 13px;
	font-weight: 200;
}

.cart-item .item-information span a {
	font-size: 13px;
	color: #555;
}
.cart-item .item-information .quantity-form  {
	display:inline-block;
	margin-left: 10px;
}
.cart-item .item-information .item-quantity {
	display:inline-block;
}
.cart-item .item-image img {
	max-width: 100%;
	padding: 20px;
}
.cart-item .item-price p {
	text-align: center;
	margin-top: 15px;
	font-size: 17px;
	font-weight: 800;
}

.cart-item .delete-item:hover,.move-to-saved:hover {
	cursor:pointer;
	text-decoration: underline;
}

.cart-item .otherbuyers {
	color: red;
	font-weight: 200;
}
.cart-item .item-actions {
	display: block;
}

.noitems p {
	text-align: center;
	padding-top: 90px;
	font-weight: 200;
	font-size: 16px;
}