/***** Formatting for validated forms on the checkout pages ******/

.checkoutform-container .form-group {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0;
}

.checkoutform-container .form-group label {
	font-weight: 200;
	margin: 0;
	padding: 0;
}
.checkoutform-container input, .checkoutform-container select {
	margin-bottom: 0px;
	vertical-align: bottom;
}
.checkoutform-container button {
	margin-top: 15px;
}

.checkoutform-container .form-group table {
	width: 100%;
	margin-bottom: 10px;
}
.checkoutform-container .short-table .form-input {
	width: 200px;
}

.checkoutform-container .form-input {
	max-width: 200px;
	
}
.checkoutform-container .form-img {
	width: 30px;
	padding-left: 10px;
}
.checkoutform-container .form-img img {
	width: 20px;
	vertical-align: top;
}
.checkoutform-container .has-error {
	border:1px solid red;
}

/* Error formatting */
.outcome-block {
	text-align: center;
	margin: 0 auto;
}
