/**********************************/
/******* Landing Page *************/
/**********************************/

.herobg {
	background: url("../img/operatingroom.png") no-repeat top center / cover;
	height: 480px;
	width: 100%;
	opacity: 1;
	overflow: auto;
}


/**********************************/
/******* Introduction *************/
/**********************************/

.intro-container {
	max-width: 1000px;
	margin: 0 auto;
}
.intro {
	max-width: 1000px;
	margin-top: 150px;
	margin: 50px auto 20px auto;
	text-align: left;	
	text-align: center;
}
.intro h1 {
	font-weight: 900;
	/* box-shadow: 0 0 2px #fff; */
	margin-top: 0px;
	padding: 20px;
	margin-bottom: 15px;
	opacity: 0;
	border-radius: 4px;
	font-size: 42px;
	color: black;
	text-shadow: 0 0 8px #ddd;
}
.intro h2 {
	opacity: 0;
	font-weight: 200;
	box-shadow: 0 0 2px #fff;
	margin-top: 0;
	padding: 20px;
	margin-bottom: 15px;
	background: black;
	opacity: .7;
	font-size: 20px;
	line-height: 50px;
	border-radius: 4px;
	color: white;
	width: 200px;
	float: left;
	margin-right: 66px;
}
#nomargin {
	margin-right: 0px;
}
.intro h2 a {
	display: block;
	color: white;
}
.intro h2 a:hover {
	text-decoration: underline;
	cursor:pointer;
}
.intro h1 span {
	font-weight: 800;
}

@media (max-width: 768px) {
	.intro{
		margin-left: auto;
		margin-right: auto;
		
		float: none;
	}
	.intro h1 {
		text-align: center;
	}
	.intro button {
		margin: 0 auto;
	}
}


/**********************************/
/****** Guarantee Section *********/
/**********************************/

.guarantee {
	margin: 90px auto;
	max-width: 1000px;
}
.guaranteetext {
	margin-top: 15px;
	color: #777;
	line-height: 26px;
	font-size: 16px;
	font-weight: 200;
}
.guaranteetext span {
	font-weight: 800;
}
.guaranteeimage {
	text-align: center;
	opacity: .5;
}
.guaranteeimage img {
	width: 200px;
}

/**********************************/
/****** Featured Products *********/
/**********************************/

.featuredcontainer {
	padding: 30px 0 60px 0;
	background: white;
}
.featured {	
	min-height: 400px;
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
}
.featured h2 {
	margin-left: 20px;
	color: #bbb;
	text-shadow: 0 0 1px #ddd;
	opacity: .4;
	text-align: left;
}
