/**************************/
/* Layout formatting ******/
/**************************/


.product {
	margin: 0 auto;
	max-width: 1000px;
	font-family: Arial,sans-serif;
}
.sellers {
	max-width: 1000px;
	border:1px solid #ddd;
	background: white;
	margin: 20px auto;
}
.mainproductcontainer, .sideproductcontainer {
	padding: 5px;
}
.topbarcontainer {
	padding: 25px 0px 0px 0px;
	background: white;
	margin-bottom: 20px;
	box-shadow: 0 3px 3px #ddd;
}
.mainproductcontainer .mainproduct {
	margin: 0px;
	border:1px solid #ddd;
	background: white;
	box-shadow: 0 0px 3px #ccc;
	
}
.sideproductcontainer .sideproduct {
	border:1px solid #ddd;
	background: white;
	margin: 0px;
	margin-bottom: 10px;
	box-shadow: 0 0px 3px #ccc;
}


/**************************/
/* TopBar ******/
/**************************/

.topbar {
	margin: 0 auto;
	width: 990px;
	padding: 0 3px;
	text-align: left;
}
.topbar .topnavigation {
	border-bottom:1px solid #eee;
	margin-bottom: 15px;
}
.topbar .backbutton-container{
	padding: 0;
	margin: 0;
}
.topbar .backbutton-container a {
	padding: 0;
	margin: 0;
	font-weight: 200;
	line-height: 13px;
	float: left;
	margin-top: 2px;
}
.topbar .breadcrumbs {
	font-weight: 200;
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
	line-height: 13px;
	float: right;
}
.topbar h2 {
	margin-top: 0px;
	padding-top: 10px;
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: 800;
	width: 600px;
	
}
.topbar h5 {
	text-align: left;
	display:inline-block;
	color: #555;
	font-weight: 200;
	font-size: 15px;
}

.tabbar {
	width: 990px;
	margin: 0 auto;
	text-align: left;
}
.tabbar a {
	display: block;
	font-weight: 800;
	color: #428BCA;
	text-decoration: none;
	padding: 0px 0px 3px 0px;
	font-size: 14px;
	border-bottom:3px solid transparent;
	background: white;
	transition: background .2s;
	margin:0px 25px 10px 0;
}
.tabbar a:hover {
	color: black;
	cursor: pointer;
}
#tabbar .borderbottom {
	clear:both;
	height:1px;
	background: #ddd;
	width: 100%;
}
#tabbar {
	z-index: 9999;
	padding-top: 10px;
	text-align: center;
	background: white;
	width: 100%;
	border-bottom:1px solid #ddd;
}
.tabbar .active {
	border-bottom: 3px solid orange;
	color: black;
}
.tabbar .active:hover {
	border-bottom: 3px solid orange;
	color: black;
}
.backbutton {
	text-align: left;
	font-size: 13px;
	line-height: 13px;
	transition: background .2s;
}
.backbutton-container {
	float: left;
}
.backbutton:hover {
}

.otherviewers {
	float: right;
	padding: 0px 0px 0 10px;
	border-radius: 4px;
	color: #777;
	float: right;
	text-align: right;
	font-weight: 200;
	font-size: 13px;
}
.otherviewers .savebutton {
	display:block;
	text-align: right;
}
#save, .editaction {
	display:inline-block;
	margin: 5px 0;
}
.otherviewers span {
	font-weight: 800;
	color: #333;
}
/**************************/
/* Action Box *************/
/**************************/

.actionbox {	
	text-align: center;
	padding: 14px 0;
}
.actionbox h2 {
	margin: 0;
}
.actionbox h3 {
	margin: 20px 0 15px 0;
	font-size: 35px;
	color: green;
	font-weight: 800;
}
.actionbox p {
	font-weight: 200;
	font-size: 12px;
	color: #777;
	padding: 0 20px;
}
.actionbox .actionbtn {
	background: #DBAE27;
	transition: background .2s;
	margin: 0 5px;
}
.actionbox .actionsave {
	background: #3B9C85;
	color: white;
}
.actionbox .actionbtn:hover {
	background: #B58E19;
}
.actionbox .actionsave:hover {
	background: #296E5D;
}
.actionbox .actionbtn a {
	color: white;
}
.actionbuttons {
	width: 270px;
	margin: 0 auto 15px auto;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.actionbuttons a:hover {
	text-decoration: none;
	cursor:pointer;
}

.retailprice {
	width: 240px;
	text-align: left;
	margin: 0 auto;
	margin: 15px auto;
	color: #999;
	font-weight: 200;
}
.retailprice p {
	padding: 5px 0;
	margin: 0;
	border-bottom:1px dotted #ddd;
}
.retailprice .condition {
	font-size: 13px;
	line-height: 13px;
	margin-top: 10px;
}

.retailprice .price {
	font-size: 18px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	float: right;
	color: green;
	font-weight: 800;
}
.retailprice .noborder {
	border:none;
}
/***************************/
/* Main Product Box *******/
/**************************/
.star {
	float: right;
	margin-top: 7px;
}

.product .mainproduct {
	padding: 20px;
	margin-bottom: 10px;
}
.mainproduct h2 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 22px;
}
.mainproduct h3 {
	font-size: 15px;
	font-weight: 200;
	margin: 5px 0;
	color: #999;
}
#zoomcontainer {
	text-align: center;
	margin: 0px 0;
}

#ex1 {
}
.mainproductcontainer .imageproduct {
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFFFFF 50%, #F4F4F4 100%);
}
/* 
#mainimage {
	max-width: 620px;
	max-height: 398px;
	box-shadow: 0 0 3px #ccc;
}
.mainimage-div {
	height: 400px;
	width: 620px;
	position:absolute;
	display:inline-table;
	text-align: center;
}
.mainimage-align {
	vertical-align: middle;
	height: 398px;
	width: 618px;
	text-align: center;
	display: table-cell;
}
.mainimage-align img {
	border:2px solid #ddd;
}
 */
.mainimage-div {
	height: 400px;
	width: 100%;
	text-align: center;
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
}


.thumbnails {
	text-align: center;
}
.thumbnail-container {
	display: inline-block;
}
.thumbnail-container img {
	max-height: 80px;
	max-width: 80px;
	border:1px solid #ddd;
	opacity: .8;
}
.thumbnail-container img:hover {
	opacity: 1;
	cursor: pointer;
}
.zoom img::selection { background-color: transparent; }

/**************************/
/* Product Specs **********/
/**************************/

#productspecs {
	padding: 0 20px 20px 20px;
}
.sideproduct h2{
	font-size: 14px;
	color: #ccc;
	text-align: center;
}
#productspecs p {
	border-bottom: 1px dotted #eee;
	width: 280px;
	margin: 0 auto;
	text-align: right;
	padding: 2px 0;
	color: #555;
	font-weight: 600;
}
#productspecs p span {
	float: left;
	text-align: left;
	color:#888;
	font-weight: 200;
}

/**************************/
/* Product Details ********/
/**************************/

.productdetails h2 {
	font-size: 18px;
	color: #ccc;
	padding-bottom: 10px;
}
.productdetails p {
	line-height: 20px;
	font-size: 13px;
	color: #222;
	font-weight: 400;
}

/**************************/
/* Product Condition ******/
/**************************/

#productcondition {
	padding: 0px 20px;
	text-align: center;
}
#productcondition h3{
	font-size: 18px;
	color: #2589B0;
	margin: 0;
	font-weight: 800;
}
#productcondition h4{
	font-size: 14px;
	color: #333;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 0;
	padding-bottom: 25px;
}

/**************************/
/* Buyer Guarantee ********/
/**************************/

#buyerprotect {
	padding: 0 20px;
	padding-top: 25px;
	text-align: center;
}
.buyerbadge {
	max-width: 100px;
	max-height: 100px;
	float: right;
	margin-left: 3px;
}
#buyerprotect p {
	padding: 15px 0 15px 0;
	line-height: 15px;
	font-size: 11px;
	color: #333;
	font-weight: 400;
	margin-bottom: 0;
}
#buyerprotect h3 {
	font-size: 16px;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 12px;
	font-weight: 800;
	color: #1966B3;
}
#buyerprotect h4 {
	font-size: 13px;
	font-weight: 200;
	margin-top: 5px;
}
#buyerprotect a:hover {
	text-decoration: underline;
}



/*************************************/
/* Product-box (reduce to 270px) *****/
/*************************************/

.product-box .item {
	float: left;
	width: 270px;
	
}
.product-box .itemimage {
	width: 268px;
}
.product-box .itemimage .verticalaligner {
	width: 268px;
}
.product-box .itemimage .verticalaligner img {
	max-width: 268px;
}
/**************************/
/* Buy Now ****************/
/**************************/
#buynowcontainer {
	position:absolute;
	top: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	min-height: 40px;
	min-width: 40px;
	position:fixed;
	/* display: table; */
	display: none;
    text-align: center;
}
#buynowbackalign {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	background: url("../img/blacktransparency.png");
}
.buynowbox {
	width: 600px;
	margin: 0 auto;
	min-height: 350px;
	border-radius: 6px;
	border:3px solid #fff;
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #DDDDDD 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #DDDDDD 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(0.8, #EFEFEF), color-stop(1, #DDDDDD));
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #DDDDDD 100%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #EFEFEF 80%, #DDDDDD 100%);
}
.buynowbox textarea {
	width: 95%;
	margin: 0 auto;
	min-height: 200px;
	resize: vertical;
}
.buynowbox button, .buynowbox a {
	margin: 10px 0;
}
.buynowbox a:hover {
	cursor: pointer;
}
.buynowbox h4 {
	font-weight: 400px;
	color: #444;
	margin-top: 20px;
	font-size: 18px;
}
.buynowbox p {
	font-size: 12px;
}
.buyonline {
	width: 300px;
	height: 380px;
	border-right:2px solid #ddd;
	float: left;
}
.buydirect {
	width: 290px;
	height: 380px;
	height: 100%;
	float: left;
}
#successbox {
	padding-top: 70px;
	display: none;
}
#successbox h5 {
	padding: 10px 40px;
	line-height: 24px;
	font-weight: 200;
}

/**************************/
/* Questions * *** ********/
/**************************/
.question h5 {
	font-weight: 800;
}
.question p {
	font-weight: 200;
	color: #666;
}
.question h5 span {
	font-weight: 200;
	font-size: 10px;
}
.questionbox .askquestion {
	right: 30px;
	font-size: 13px;
}
.questionbox a:hover, .questionbox button:hover {
	cursor: pointer;
}
.question {
	padding: 5px 0 10px 0;
	margin: 15px 0;
	border-bottom: 1px solid #eee;
}
.questionbox .askquestionactive {
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #eee;
	box-shadow: none;
	
}
#newquestion {
	background: #eee;
	border-radius: 4px;
	border-top-left-radius: 0px;
	margin-top: -1px;
	border:1px solid #ddd;
	padding: 10px;
	display: none;
}
#newquestion textarea {
	width: 100%;
	resize:vertical;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#newquestion submitquestion {

}

#notyetanswered {
	font-style: italic;
	color: #aaa;
}
.deletequestion {
	color: #428BCA;
}
.deletequestion:hover {
	cursor: pointer;
	text-decoration: underline;
}
#noquestions {
	margin: 15px 0;
	font-style: italic;
}

/**************************/
/* Slider Code *** ********/
/**************************/
#slider-code { height: 385px; overflow:hidden; width: 635px;margin-left: -10px}
#slider-code .viewport {float: left; width: 560px; height: 380px; overflow: hidden; position: relative; }
#slider-code .buttons { 
	display: block; 
	margin: 150px 10px 0 0; 
	float: left;
	font-size: 60px;
	font-family: "arial";
	outline: none;
	color: #777;
	transition: color .2s;
 }
 #slider-code .buttons:active {
 	outline: none;
 }
 #slider-code .buttons:hover {
 	text-decoration: none;
 	color: #333;
 }
#slider-code .next { margin: 150px 0 0 10px; }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 0 14px 0 0; padding: 1px; height: 355px; width: 272px;}
                    