.addcontainer {
	width: 1000px;
	margin: 40px auto;
	box-shadow: 0 0 4px #aaa;
}
.introslide {
	text-align: center;
}
.introslide h2 {
	text-align: center;
	color: #555;
	padding-top: 20px;
	font-size: 36px;
	text-shadow: 0 0 1px #ccc;
}
.introslide h3 {
	text-align: center;
	font-weight: 200;
	color: #666;
}
.introslide h3 span {
	text-decoration: underline;
	font-weight: 800;
}
.introslide button {
	margin-top: 100px;
	margin: 0;
}
.slide {
	width: 1000px;
	border:1px solid #ddd;
	background: white;
	margin: 0 auto;
}
.slide-header {
	text-align: left;
	padding-left: 12px;
	height: 50px;
	background: #f9f9f9;
	background: url('../img/bluebg.png');
	background-repeat:no-repeat;
	background-size:1000px 60px;

}
.slide-header p {
	padding: 10px;
	font-size: 15px;
	color: white;
	font-weight: 500;
}
.slide-header span {
	background: #EDAA2D;
	text-shadow: 1px 1px 1px #999;
	color: white;
	border-radius: 20px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	font-size: 15px;
	font-weight: 800;
	margin-right: 10px;
	margin-left: 10px;
	opacity: 1;
}

.slide-content {
	padding: 20px 30px;
}

.slide-content input, .slide-content select {
	font-size: 13px;
}
.slide-content h3 {
	margin: 0;
	margin-top: 5px;
	padding-top: 12px;
	margin-bottom: 6px;
	font-size: 13px;
	color: #444;
}
.slide-content h3 span {
	font-size: 12px;
	color: #aaa;
	font-weight: 200;
}
.slide-content .borderheader {
	border-top: 1px solid #eee;
}
.slide-content textarea {
	height: 150px;
	resize: vertical;
}
.slide-content p {
	margin: 0;
	font-weight: 200;
	line-height: 15px;
	color: #444;
	font-size: 11px;
}
.subtext {
	padding: 4px 0;
	font-size: 12px;
}
.slide-content input,.slide-content select {
	height: 26px;
	line-height: 20px;
	padding: 3px;
}

.productcategory .floatinput {
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-bottom: 40px;
}

/*Quality Box */
.qualitybox {
	margin: 7px auto 7px auto;
	padding-bottom: 20px;
}
.qualitybox .qualitydescription {
	height: 70px;
	background: #f4f4f4;
	border:2px solid #ddd;
	border-radius: 6px;
	width: 100%;
	color: #555;
	font-size: 12px;
	font-weight: 200;
	padding: 5px 10px;
	position: relative;
	z-index: 0;
}
.qualitybox .qualitydescription p {
	font-size: 12px;
}
.qualitybox .qualitydescription span {
	font-weight: 800;
}
.qualitybox .downarrow {
	width: 30px;
	background-image: url("../img/uparrow.png");
	height: 14px;
	margin-left: 503px;
	margin-bottom: -2px;
	position: relative;
	z-index: 10;
	
}
.qualitybox .selectors {
	text-transform: uppercase;
}
.qualitybox .selectors .qualitynumber {
	height: 26px;
	padding: 0 10px;
	width: 100px;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	color: white;
	font-weight: 800;
	margin-right: 25px;
	margin-top: 10px;
	float: left;
	font-size: 12px;
	opacity: .3;
}
.qualitybox .selectors .quality1 {background: #169E21;margin-left: 95px;}
.qualitybox .selectors .quality2 {background: #169E56;}
.qualitybox .selectors .quality3 {background: #169E7E;}
.qualitybox .selectors .quality4 {background: #169E9E; opacity:1;}
.qualitybox .selectors .quality5 {background: #16759E}
.qualitybox .selectors .quality6 {background: #16759E; margin-right: 0;}

.qualitybox .selectors .qualitynumber:hover {
	cursor: pointer;
	opacity: 1;
}
.tos {	
	height: 150px;
	overflow: scroll;
	border:1px solid #ddd;
	padding: 10px;
	font-size: 12px;
	border-radius: 4px;
}

#postitem {
	margin: 20px 0px;
}
.radio, .checkbox {
	line-height: 31px;
}
.pricecontainer {
	background: #f4f4f4;
	padding: 15px;
	width: 500px;
	border:1px solid #ddd;
	
}
.listprice span {
	float: left;
	width: 13px;
	margin-top: 10px;
	line-height: 30px;
	font-weight: 800;
	font-size: 16px;
	color: #555;
	
}
.listprice input {
	float: left;
	padding-left: 10px;
	width: 150px;
	font-weight: 800;
	letter-spacing: .3px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.listprice p {
	clear: both;
	padding-top: 3px;
	padding-left: 0px;
}
/********************/
/** File Uploader ***/
/********************/
#fileupload {
	width: 100%;
	height: 40px;
	border:2px solid blue;
}
#currentimages p {
	font-size: 15px;
	font-weight: 200;
	color: #999;
	text-align: center;
	padding: 20px;
	margin-top: 60px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 5px 0 10px 0px;
}
.fileinput-button {
	background: #efefef;
	color: #333;
	font-size: 13px;
	border:1px solid #ddd;
	transition: background .3s;
}
.fileinput-button:hover, .fileinput-button:active {
	background: #ddd;
	border:1px solid #ddd;
	color: #333;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
#imageloadercontainer {
	float: left;
	margin-left: 20px;
	margin-top: 12px;
	width: 720px;
}
#imageloadercontainer .progress {
	height: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: none;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
#imagepreview {
	border:1px dotted #ccc;
	min-height: 185px;
	overflow: scroll;
	text-align: center;
	padding: 5px;
}
#noimages {
	padding: 20px;
}
.imagepreviewcontainer {
	width: 120px;
	height: 160px;
	margin: 0 20px 20px 20px;
	text-align: center;
	position: relative;
	float: left;
}
.imagepreviewborder {
	height: 120px;
	text-align: center;
	display: table;
	position: relative;
	clear:both;
	margin: 0 auto;
}
.imagepreviewcontainer .delete {
	float:right;
	z-index: 100;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -10px;
	right: 0;
	position: relative;
	color: white;
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #555;
	opacity: .8;
}	

.imagepreviewcontainer h6 {
	font-size: 10px;
	font-weight: 400;
	display: inline-block;
	padding: 3px 5px;
	background: #eee;
	border-radius: 4px;
	margin-bottom: 9px;
}
.imagepreviewcontainer h6:hover {
	background: #ddd;
	cursor: pointer;
}
.imagepreviewcontainer .main {
	background: green;
	color: white;
}
.imagepreviewcontainer .main:hover {
	background: green;
}
.imagepreviewcontainer p:hover {
	cursor: pointer;
	background: black;
	opacity: 1;
}
.container {

	border:1px solid red;
}
.imagepreview {
	max-width: 118px;
	max-height: 118px;
	position:relative;
	z-index: 0;
	border:1px solid #ccc;
}
.clearinput {
	clear: both;
}
.clearinput select{
	width: 300px;
	float: left;
}
.clearinput input {
	width: 300px;
}
#warrantydescribe {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
	line-height: 27px;
	
}
#dateacquired {
	display: none;
}
#inputname {
	width: 320px;
}
.twitter-typeahead .tt-dropdown-menu {
	background: white;
	border:1px solid #ccc;
	border-radius: 3px;
	width: 200px;
	font-size: 13px;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion p {
	font-size: 13px;
	padding: 0 4px;
	line-height: 20px;
}
.twitter-typeahead .tt-dropdown-menu .tt-is-under-cursor {
	background: #eee;
}