#nolistings {
	display: none;
}
.actionbuttons {
	text-align: left;
	margin-top: 15px;
}
.actionbuttons a {
	color: #333;
	font-size: 11px;
	margin-right: 5px;
	padding: 2px 6px;
}
.actionbuttons a:hover {
	text-decoration: none;
}
.resultitem .textdiv {
	width: 420px;
}

.resultitem .textdiv a h2 {
	color: #333;
	margin: 0;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	border-bottom: none;
	margin-bottom: 5px;
}
.resultitem .textdiv p {
	text-align: left;
	font-weight: 200;
	font-size: 12px;
}
.resultitem .textdiv p span {
	font-weight: 800;
}
.resultitem .textdiv h3 {
	text-align: left;
	font-weight: 400;
	min-height: 44px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}
.readmore-js-toggle {
	text-align: left;
	font-size: 12px;
}
