/**********************************/
/******Page Layout ****************/
/**********************************/

.searchcontainer {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;	
}
.resultscontainer {
	padding: 0 3px;
}
#resultcontainer {
	background: none;
}
#resultsbody {	
	background: none;
}
#noresults {
	background: white;
}
.filterbox {
	margin: 0;
	padding: 0;
	background: #fff;
	background: #fafafa;
	margin-bottom: 10px;
	border-radius: 2px;
}

.resultsbox {
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 0;
}

/**********************************/
/******Results Nav Bar ************/
/**********************************/
.resultsnav {
	padding-top: 5px;
}
.resultsnav p {
	display: inline-block;
	font-weight: 200;
	font-size: 12px;
	padding-left: 10px;
}
#sortby {
	float: right;
}
#sortby p {
	float: left;
	line-height: 40px;
	font-size: 12px;
	padding-right: 8px;
	margin-bottom: 0px;
	font-weight: 200;
}
#sortby select {
	width: 150px;
	height: 30px;
	margin: 5px 15px 0 0;
	float: left;
	line-height: 30px;
	padding: 4px;
	background: #f4f4f4;
}
#numberofresults {
	line-height: 30px;
	height: 30px;
	margin-top: 5px;
	padding: 0 15px;
	font-weight: bold;
	border-right:1px solid #efefef;
	display: inline-block;
}
#related-results {
	margin: 5px 15px;
	border-top:1px solid #eee;
	padding: 5px 0;
	font-weight: 200;
	font-size: 13px;
}
#related-results a {
	padding: 0 1px;
}
#related-results a:hover {
	text-decoration: underline;
}
#related-results a span {
	color: #aaa;
	font-size: 12px;
}

#resultsparameter {
	border-bottom: 1px solid #eee;
	padding:5px 10px;
	margin: 0 5px 5px 5px;
	line-height:20px;
}
#resultsparameter {
	font-weight: 200;
}

/**********************************/
/******Results Body ***************/
/**********************************/


.showmorebutton {
	text-align: center;
	font-size: 13px;
	border-radius: 3px;
	margin: 5px 0 25px 0;
	display: none;
	padding: 10px;
	color: #428BCA;	
	height: 45px;
	transition: color .2s, background .1s;
}
.showmorebutton p {
	padding: 0;
	margin: 0;
}
.showmorebutton:hover {
	box-shadow: 0 0 4px #999;
	background: #f4f4f4;
	cursor: pointer;
	color: black;
}
.showmorebutton img {
	display: none;
	margin: 0 auto;
}

/**********************************/
/*****Filter Box ******************/
/**********************************/

/*******General *******/
.filterbox{
	box-shadow: 0 0 4px #ccc;
}
.filter-category {
	padding: 10px 10px 20px 10px;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #fff;
}

.filter-category h2 {
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	font-size: 13px;
	color: #008DB2;
	text-shadow: 0 0 2px #fff;
	font-weight: bold;
}
.catlink {
	clear: both;
	color: #444;
}
.catlink span {
	float: right;
	color: #aaa;
}
.filter-category .active, .filter-category .active:hover {
	background: #aaa;
	color: white;
	border-radius: 2px;
	box-shadow: 0 0 6px #fff;
}
.filter-category .active span, .filter-category .active:hover span {
	color: white;
}

/*******Checkbox Formatting *******/

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
.wrapper {
	width: 500px;
	margin: 50px auto;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #fff;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .2), 0px 1px 0px 0px rgba(255, 255, 255, .3);
}

.radio label:before {
	border-radius: 8px;
}
.checkbox {
	padding: 0;
	margin: 0;
	margin-left: 2px;
}
.checkbox label {
	display: block;
	margin-right: 0;
}
.checkbox label span {
	float:right;
}
.checkbox label:hover {
	background: #f2f2f2;
}
.checkbox label:before {
    border-radius: 3px;
    border:1px solid #aaa;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #555;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #555;
	text-align: center;
    line-height: 15px;
}

/*****End of checkbox formatting ******/


/*******Distance Filter *********/

#milecategory h2 {	
	margin-bottom: 15px;
}
#milecategory select {
	margin-left: 0px;
	max-width: 130px;
	height: 30px;
	display: inline-block;
	padding: 3px 4px;
	background: #fcfcfc;
}
#milecategory p {
	display: inline-block;
	padding-left: 7px;
	color: #777;
	font-size: 12px;
}
#milecategory input {
	margin-left: 0px;
	margin-top: 3px;
	background: #fcfcfc;
	max-width: 170px;
	text-align: center;
}
.notopborder {
	border-top: none;
}
/******* Price Filter *******/

#price-slider-container {
	margin-right: 15px;
	margin-left: 15px;
}
#price-slider-container #lowprice {
	float: left;
	margin-left: -5px;
}
#price-slider-container #highprice {
	float: right;
	margin-right -5px;
}

 .ui-slider-range {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFBFBF), color-stop(1, #919191));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #BFBFBF 0%, #919191 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #BFBFBF 0%, #919191 100%);
}	

/******Light Gradient *************/
#price-range {
width:100%;
height:10px;
background:#aaa;
position:relative;
margin:0;
padding: 0;
}
 
#price-range  .ui-slider-handle {
width:24px;
height:24px;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
border: none;
background:url("../img/slider/slider-button.png");
}
#price-range  .ui-slider-handle:hover {	
	cursor:pointer;
	background:url("../img/slider/slider-button-dark.png");
}
#price-range .ui-widget-header {
background:url("../img/slider/fill.png") no-repeat left;
height:8px;
left:1px;
top:0px;
position:absolute;
}
 
#price-range a {
outline:none;
-moz-outline-style:none;
}

/*******Navigation Tree *********/

#treeflow {
	font-size: 12px;
	padding: 0px 0 10px 15px;
}
#treeflow a {
	display: block;
}
#treeflow #industrytree {
	margin-left: 15px;
}
#treeflow #devicecategorytree {
	margin-left: 30px;
}
#treeflow #deviceitemstree {
	margin-left: 45px;
}


/**********************************/
/*****Result Item *****************/
/**********************************/
#resultsbody {
	box-shadow: none;
	border: none;
}

.resultitem {
	padding: 10px;
	padding-bottom: 20px;
	margin:5px 0 10px 0;
}
.resultitem .row {
	margin-left: 0px;
	margin-right: 0px;
}
.resultitem:hover {
	box-shadow: 0 0 4px #999;
}
.resultitem:active {
	outline: none;
}
/* Main text div */
.resultitem .textdiv {
	padding: 0;
	margin: 0;
	padding: 0 10px;
}
.resultitem .textdiv .itemname {
	font-size: 16px;
	min-height: 18px;
}
.resultitem .textdiv .itemname:hover {
	cursor:pointer;
	color: #2A6496;
	font-size: 16px;
	min-height: 18px;
	overflow: hidden;
}

.resultitem .textdiv h3 {
	padding: 0;
	margin: 3px 0 10px 0;
	font-size: 12px;
	font-weight: 200;
}

.resultitem .textdiv h4 {
	font-size: 12px;
	display: block;
	padding: 5px 0px;
	margin: 0;
	line-height: 13px;
	border-bottom: 1px dotted #bbb;
}

.resultitem .textdiv h4 span {
	color: #4EA3BF;
	font-weight: 200;
	float: right;
}
.resultitem .textdiv h4 {
	display: block;
	color: #333;
	font-weight: 400;
}
.resulttag {
	min-height: 20px;
}
.resulttag span {
	display: inline-block;
	padding: 4px 8px;
	font-size: 10px;
	letter-spacing: .2px;
	font-weight: 400;
	text-shadow: 0 1px 1px #fff;
	margin: 5px 0;
	border-radius: 5px;
	background: #C2DAED;
	color: #3F7DB0;
	line-height: 10px;
	text-transform: uppercase;
}
.resulttag .preowned {
	background: #C2DAED;
	color: #3F7DB0;
}
.resulttag .new {
	background: #C0E0BC;
	color: #5D9157;
}
.resulttag .refurbished {
	background: #EED8F2;
	color: #7F2691;
}
.resulttag .verified {
	background: #F2D577;
	color: #8F6511;
}
.resulttag .lightred {
	background: #F2C9CF;
	color: #B52639;
}
.resulttag .lightgreen {
	background: #EDEFB3;
	color: #6F8C12;
}
.resulttag .lightorange {
	background: #FFE9C4;
	color: #B3852B;
}
.resulttag .buyonline {
	background: #E6F5F3;
	color: #1062DE;
}


/* Price Div */

.resultitem .pricediv {
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 35px;
	text-align: center;
	vertical-align: top;
}
.resultitem .pricediv a, .resultitem .pricediv button {
	width: 80px;
	padding-left: 0px;
	padding-right: 0px;
}
.resultitem .pricediv button {
	margin-top: 10px;
}
.resultitem .pricediv p {
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-bottom: 0px;
}
.resultitem .pricediv .msrp_price {
	color: #999;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 200;
	padding-bottom: 15px;
}
/*Image Div */

.resultitem .imgdiv {
	text-align: center;
	border:1px solid transparent;
}
.resultitem .imgdiv img {
	max-width:100%;
	max-height: 175px;
	margin-top: 15px;
}

/* Button Div */
.resultitem .buttondiv {
	margin-top: 20px;
}
.resultitem .infobutton {
	color: #333;
	font-size: 12px;
	padding: 0px 8px;
	line-height: 20px;
	margin-right: 12px;
}
.resultitem .infobutton:hover {
	cursor:pointer;
}
.resultitem .activeinfo {
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
	padding-bottom: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: white;
	position: relative;
	z-index: 199;
}
.activeinfo:hover {
	background: #fff;
}

/* Preview elements */
.previewdiv {
	padding: 0px;
	margin: -1px 10px 0 10px;
	z-index: 0;
	border-top: 1px solid #ddd;
}
.specsdiv {
	padding-top: 20px;
}
.specsdiv p {
	width: 100%;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	border-bottom:1px dotted #aaa;
	float: left;
	color: #888;
	font-weight: 200;
}
.specsdiv p span {
	float: right;
	color: #333;
	font-weight: 400;
}


.detailsdiv p, .conditiondiv p {
	font-size:13px;
	line-height: 20px;
	padding: 20px;
	height: 160px;
	overflow:hidden;
}


.morediv {
	clear: both;
	margin-top: 10px;
	height: 30px;
}
.morediv a {
	text-align: left;
	display: block;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.morediv a:hover {
	text-decoration: underline;
}
.morediv .closebutton {
	float: right;
	margin-right: 10px;
}
.previewdiv {
	display: none;
}
.visible {
	display: block;
}
.whitefade {
	height: 30px;
	margin-top: -33px;
	position:relative;
	background-image:url("../img/whitefade.png");
}

/**********************************/
/*****Loading Overlay ************/
/**********************************/

#loadingoverlay {
	position:absolute;
	z-index: 9998;
	display: none;
	width: 99%;
	margin-right: 5px;
	height: 100%;
	background-image: url("../img/whitetransparency.png");
}
#loaderdiv {
	width: 350px;
	height: 160px;
	margin-left: 200px;
	position: fixed;
	z-index: 9999;
	margin-top: 170px;
	background-image: url("../img/blacktransparency.png");
	border-radius: 6px;
	text-align: center;
}
#loaderdiv h3 {
	margin-top: 40px;
	margin-bottom: 20px;
	color: white;
	font-size: 18px;
}
#removeform {
	display: none;
}
.mobile-select {
	display: none;
}
/**********************************/
/*****Mobile Alterations **********/
/**********************************/
.sortbyfilters {
	display: none;
}
.sortbyfilters:hover {
	text-decoration: underline;
	cursor: pointer;
}
@media(max-width: 767px) {
	.sidecontent-title {
		font-size: 16px;
	}
	.sortbyfilters {
		display: block;
		float: right;
		font-size: 16px;
		font-weight: 400;
		margin-right: 10px;
	}
	.filter-category {
		display: none;
	}
	.resultsbox {
		margin-left: 10px;
		margin-right: 10px;
	}
	.resultitem {
		padding: 0;
	}
	.resultitem .pricediv {
		margin-top: 0px;
		padding: 10px 15px;
		min-height: 50px;
	}
	.resultitem .pricediv p {
		float: left;
	}
	.resultitem .pricediv a {
		float: right;
	}
	.mobile-select {
		margin-top: 20px;
	}
	.resultitem .textdiv .itemname, .resultitem .textdiv h6, .resultitem .textdiv .buttondiv {
		text-align: center;
	}
	.resultitem .textdiv {
		padding: 0 20px;
	}
	.mobile-select {
		display:block;
		border-top: 1px solid #ddd;
	}
	.pricediv {
		background: #f2f2f2;
		border-bottom:1px solid #ddd;
	}
	.msrp_price {
		margin-left: 10px;
		margin-top: 5px;
	}
	.resultitem .infobutton {
		padding-left: 5px;
		padding-right: 5px;
	}
	
}
	
