{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Credits Earned</title>{% endblock%}
{% block bonus %}active{% endblock %}
{% load dollars %}
{% block jsblock %}
{% endblock %}
{% block maintitle %}Credits Available: {{user.basicuser.credits|dollars}}{% endblock %}
{% block headersubcss %}
<style>
.bonus-container {
	padding: 0px;
	margin-bottom: 20px;
}
.bonus-container h4 {
	padding-bottom: 10px;
}
.bonus-row {
	padding: 20px;
}
.bonus-row table {
	width: 100%;
	font-weight: 200;
}
.bonus-row table td {
	padding: 7px 0px;
}
.bonus-row tr {
	font-size: 13px;
}
.bonus-row .expiration {
	font-size: 11px;
	font-weight: 200;
	color: #777;
	vertical-align: bottom;
	text-align: right;
}
.bonus-row .discount {
	font-weight: 800;
	font-size: 15px;
	text-align: right;
	vertical-align: bottom;
}
.bonus-row .total {
	background: #DFF0D8;
	font-weight: 800;
}
.bonus-row h5 {
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.disclaimer p {
	font-size: 12px;
	color: #777;
	padding: 10px 40px 0 40px;
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.nobonus {
	text-align: center;
	padding: 40px;
	font-weight: 200;
}
</style>
{% endblock %}
{% block maincontent %}
	<div class="covebox bonus-container">
		<h4 class="maincontent-title">Credits Earned: {{credits.credits_earned|dollars}}</h4>
		<div class="bonus-row">
			{% if credits.credit_list %}
			<table class="table table-striped">
				<thead>
					<th>Type</th>
					<th>Description</th>
					<th>Date</th>
					<th class="align-right">Amount</th>
				</thead>
				<tbody>
					{% for ab in credits.credit_list %}
					<tr>
						<td class="type">
							{% if ab.0 == 'referral' %}
								Referral
							{% elif ab.0 == 'sold' %}
								Sale 
							{% elif ab.0 == 'feedback' %}
								Feedback
							{% elif ab.0 == 'welcome' %}
								Friend Welcome Credit
							{% endif %}
						</td>
						<td>
							{% if ab.0 == 'referral' %}
								{{ab.1.name}}
							{% elif ab.0 == 'sold' %}
								{{ab.1.item_name}} ({{ab.1.quantity}})
							{% elif ab.0 == 'welcome' %}
								Referred by {{ab.1.name}}
							{% endif %}
						</td>
						<td>{{ab.3|date:"F jS, Y"}}</td>
						<td class="discount">{{ab.2|dollars}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="nobonus">You do not currently have any credits</p>
			{% endif %}
			<div class="disclaimer">
				<p>VetCove reserves the right to remove credits after <strong>one year</strong> of inactivity.</p>
			</div>
		</div>
	</div>
	<div class="covebox bonus-container">
		<h4 class="maincontent-title">Credits Used: {{credits.credits_used|dollars}}</h4>
		<div class="bonus-row">
			{% if credits.used_credit_list %}
			<table class="table table-striped">
				<thead>
					<th>Order</th>
					<th>Items</th>
					<th>Date</th>
					<th class="align-right">Credits Used</th>
				</thead>
				<tbody>
					{% for order in credits.used_credit_list %}
					<tr>
						<td><a href="/account/buyhistory">#000{{order.id}}</a></td>
						<td>
							{% for pi in order.purchaseditem_set.all %}
								{{pi.item_name}} ({{pi.quantity}}){% if not forloop.last %},{% endif %}
							{% endfor %}
						</td>
						<td>{{order.purchase_date|date:"F jS, Y"}}</td>
						<td class="discount align-right">{{order.credits|dollars}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="nobonus">You have not used credits on any purchases</p>
			{% endif %}
		</div>
	</div>
	<div class="covebox bonus-container">
		<h4 class="maincontent-title">Pending Referrals</h4>
		<div class="bonus-row">
			{% if credits.pending_credit_list %}
			<table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
				</thead>
				<tbody>
					{% for ab in credits.pending_credit_list %}
					<tr>
						<td>{{ab.1.name}}</td>
						<td>{{ab.1.email}}</td>
						<td>Signed Up</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="nobonus">You do not currently have any pending referral invites</p>
			{% endif %}
		</div>
	</div>

  		
{% endblock %}