{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Bonuses</title>{% endblock%}
{% block bonus %}active{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/bootstrap-tagsinput.js" type="text/javascript" ></script>
<script type="text/javascript">
//Used to make every space a new tag
$(document).ready(function () {
	$('.bootstrap-tagsinput').on('input', function() {
    	redrawContacts(false);
	});
	$('#referral-form').submit(function() {
    	redrawContacts(true);
    	return true;
	});
});

var redrawContacts = function(combined) {
	var value = String($("#emails").tagsinput("items"));
	if (combined) {
		var value = String($("#emails").tagsinput("items"))+","+$('.bootstrap-tagsinput input').val();
		$('.bootstrap-tagsinput input').val("");
		console.log("col");
	}
	var value = value.split(/,| /);
	$('#emails').tagsinput('removeAll');
	for (var itm=0;itm<value.length;itm++) {
		$("#emails").tagsinput('add', value[itm]);
	}
}
</script>
{% endblock %}
{% block maintitle %}Refer Friends{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<style>
.bonus-container {
	padding: 40px 20px;
}
.bonus-title {
	margin: 0px 30px 25px 30px;
	padding-bottom: 25px;
	text-align: center;
}
.bonus-title h4 {
	font-size: 30px;
	font-weight: 200;
	line-height: 40px;
}
.bootstrap-tagsinput {
	width: 100%;
	min-height: 100px;
}
.bootstrap-tagsinput .tag {
	font-size: 13px;
	line-height: 25px;
}
.bootstrap-tagsinput input {
	min-width: 150px;
}
.referral-link {
	border-top:1px solid #eee;
	margin-top: 35px;
	padding-top: 20px;
}
.disclaimer p {
	font-size: 12px;
	color: #777;
	padding: 40px 40px 0 40px;
	text-align: center;
}
</style>
{% endblock %}
{% block maincontent %}
	<div class="maincontent-container covebox bonus-container">
		<div class="bonus-title">
			<h4>Save up to 3% off <strong> every purchase</strong> by inviting your friends and colleagues</h4>
		</div>
		{% if not success %}
		<div class="referral-option row">
			<form id="referral-form" method="POST" action="/account/referralform">{% csrf_token %}
				<p>For every friend that sells or buys on VetCove, you earn an additional .25% off every purchase (limit 3%)</p>
    			<input id="emails" type="text" value="" name="emails" data-role="tagsinput" placeholder="Add Email Addresses" />
				<button class="button button-rounded button-action">Send Email</button>
			</form>
		</div>
		{% else %}
		<div class="referral-option row">
			<h5>We have sent the invites.</h5>
			<p>For every referral that signs up and makes a purchase or a sale, you earn an additional .25% off <strong>every</strong> purchase, up to 3% total!</p>
		</div>
		{% endif %}
		<div class="referral-option referral-link row">
			<p>More ways to share:</p>
			<p>Referral Link: <strong>www.vetcove.com/referral/{{user.basicuser.referral_id}}</strong></p>
		</div>
		<div class="disclaimer">
			<p>You can see which friends have made purchased or sold items on VetCove in your <a href="/account/bonushistory">current bonuses</a></p>
		</div>
	</div>
  		
{% endblock %}