{% extends 'general/information/info_base.html' %}
{% block headertitle %}VetCove | Fees{% endblock%}
{% block css_block %}
<style>
.mainbar .infobox {
	padding: 20px;
}
.mainbar .question {
	margin: 20px 0 40px 0;
}

</style>
{% endblock %}


{% block info_content %}
<div class="vetbox headerbox">
	<h3>Fees and Pricing</h3>
</div>
<div class="vetbox infobox">
	<div class="question">
		<p>We charge a small commission to suppliers who sell on our platform. We will <strong>never charge veterinarians to use our service</strong>.</p>
	</div>
	<div class="question">
		<h4>Seller Payout</h4>
		<p> + Item Purchase Price</p>
		<p> - Item Commission Fee</p>
		<p> - Processing Fees (Includes Credit Card Processing, and Bank Account Deposits and Credits)</p>
		<p> -------------------------- </p>
		<p> = Amount Seller receives</p>
	</div>
	<div class="question">
		<h4>Commission Fees</h4>
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th> Item Category </th>
		  		<th class="centered">Commission Fee Percentage</th>
		  		<th class="centered"></th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<td>Used Equipment (Vet to Vet)</td>
		  		<td class="centered">FREE</td>
		  		<td class="centered"> &#x2713;</td>
		  	</tr>
		  	<tr>
		  		<td>Used Equipment (General)</td>
		  		<td class="centered">5%</td>
		  		<td class="centered"> &#x2713;</td>
		  	</tr>
		  	<tr>
		  		<td>New Equipment (Vet to Vet)</td>
		  		<td class="centered">FREE</td>
		  		<td class="centered"> &#x2713;</td>
		  	</tr>
		  	<tr>
		  		<td>Generic Medications</td>
		  		<td class="centered">5%</td>
		  		<td class="centered"> &#x2713;</td>
		  	</tr>
		  	<tr>
		  		<td>Brand Label Medications</td>
		  		<td class="centered">3%</td>
		  		<td class="centered"> &#x2713;</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
	<div class="question">
		<h4>Pricing Items</h4>
		<p>VetCove does not allow items to be purchased online in excess of $15,000. Any items listed for larger than
		that amount may only be available for offline viewing and transactions. If you are listing large valued items,
		please contact us directly at info@vetcove.com.</p>
	</p>
	</div>
	

{% endblock %}

{% block jsblock %}

{% endblock %}