{% extends 'account/pages/credits/base.html' %}
{% block headertitle %}Credits History{% endblock %}
{% block account_title %}Your Credits History{% endblock %}
{% block credits_content %}
<table class="table credits-earned-table">
	<thead>
		<th>Date</th>
		<th>Type</th>
		<th>Description</th>
		<th class="amount-th">Credits</th>
	</thead>
	<tbody>
		<tr class="spend">
			<td>May 15th, 2014</td>
			<td>Reward</td>
			<td>3 $15 GiftCards to Starbucks</td>
			<td class="amount red-amount">-450</td>
		</tr>
		<tr>
			<td>May 14, 2014</td>
			<td>Goal Reached</td>
			<td>You completed the VetCove survey</td>
			<td class="amount">100</td>
		</tr>
		<tr>
			<td>May 6th, 2014</td>
			<td>Goal Reached</td>
			<td>You wrote 8 product reviews</td>
			<td class="amount">100</td>
		</tr>
		<tr>
			<td>April 30th, 2014</td>
			<td>Goal Reached</td>
			<td>You spent $2,000 in the month of April</td>
			<td class="amount">300</td>
		</tr>
	</tbody>
</table>
{% endblock %}