{% extends 'base/base.html' %}
{% block css %}
<style>
.content {
	margin: 0;
	padding: 0;
}
.vetbox {
	background: #fff;
}
.hero {
	height: 350px;
	background-image: url("{{STATIC_URL}}img/corporate/man_pill.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 20px;
	font-family: proxima-nova,sans-serif;
	text-align: center;
	border-bottom:1px solid #777;
}
.hero h1 {
	font-weight: 200;
	margin-top: 40px;
	font-size: 40px;
}
.hero h2 {
	font-size: 18px;
	color: #444;
}
.feature-container {
	background: #fff;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 1px solid #ddd;
}
.feature {
	padding: 20px 20px;
	margin: 0 auto;
	max-width: 1100px;
}
.feature img {
	max-width: 100%;
}
.feature .feature-text {
	padding: 30px;
	margin-top: 30px;
	font-family: proxima-nova,sans-serif;
}
.feature .feature-text h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 14px;
    color: #00A3EF;
    text-transform: uppercase;
}
.feature .feature-text h4 {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.feature .feature-text p {
	color: #555;
	font-size: 15px;
}
.feature2 {
	background: #eee;
	padding-bottom: 30px;
}
.feature3 .feature{
	padding-bottom: 0px;
}
#man_panel {
	margin-top: 75px;
}
</style>
{% endblock %}


{% block js %}
<script>
$(document).ready(function(){
});
</script>
{% endblock %}


{% block content %}
<div class="hero">
	<h1>Seperate your products from the competition</h1>
	<h2>Find the resources to more effectively connect with veterinarians with a new way to advertise products</h2>
</div>
<div class="feature-container">
	<div class="feature row">
		<div class="col-md-5">
			<div class="feature-text">
				<h3>Advanced Targeting</h3>
				<h4>Segment deals and offers</h4>
				<p>Improve abandoned carts and gain a leg up on competition by offering deals and specials based on the previous purchase habits of the veterinarian.</p>
			</div>
		</div>
		<div class="col-md-7">
			<img src='{{STATIC_URL}}img/corporate/man_panel.png' id="man_panel"/>
		</div>
	</div>
</div>
<div class="feature-container feature2">
	<div class="feature row">
		<div class="col-md-5 col-md-push-7">
			<div class="feature-text">
				<h3>Engaged Veterinarians</h3>
				<h4>Communicate with your Vets</h4>
				<p>Answer popular questions about your products, giving vets a great source to learn and feel confident in their purchases.</p>
			</div>
		</div>
		<div class="col-md-7 col-md-pull-5">
			<img src='{{STATIC_URL}}img/corporate/question_pic.png'/>
		</div>
	</div>
</div>
<div class="feature-container feature3">
	<div class="feature row">
		<div class="col-md-5">
			<div class="feature-text">
				<h3>Online Direct Shipping Platform</h3>
				<h4>Direct Ship Large Orders</h4>
				<p>For manufacturers who sell direct to veterinarians, we take care of maximizing your online presence, payment, invoices, even veterinary license validation. All that's left to do is fulfill the order! We work tirelessly improves the online purchase experience, so you can focus on making the best products. </p>
			</div>
		</div>
		<div class="col-md-7">
			<img src='{{STATIC_URL}}img/corporate/packing_boxes.jpg'/>
		</div>
	</div>
</div>
{% endblock %}
