{% load dollars %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block headertitle %}VetCove | Deals on used veterinary medical equipment and pharmaceuticals{% endblock%}</title>

<!-- Meta Information -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="width=800, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:title" content="VetCove" />
<meta property="og:description" content="Deals on used veterinary pharmaceuticals, vaccines, compounders, and medical equipment" />
<meta property="og:image" content="{{STATIC_URL}}img/dog_walk.png" />

<!--CSS-->
<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon32.png">
<link href="{{STATIC_URL}}css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/plugins/font-awesome.min.css">

{% block main_css %}
<link href="{{STATIC_URL}}css/plugins/jquery.sidr.dark.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/plugins/buttons.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/general/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/navbar/sidenav.css">
{% if seller %}
<link href="{{STATIC_URL}}css/navbar/sidenav.css" rel="stylesheet" type="text/css" />
{% endif %}
{% endblock %}
{% block css %}{% endblock %}
</head>
<body>
{% block body_content %}
<div class="body-container">
	<header class="header">
		<div class="mainheader">
			<div class="left-header mainheader-div">
				<!-- <a id="simple-menu" href="#sidr">
					<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="sr-only">Menu</span>
	        	</a> -->
				<div class="header-logo">
					<a href='/'><img id="main-logo" src="{{STATIC_URL}}img/logo/paw_logo_beta.png" alt="VetCove"/></a>
				</div>
			</div>
			<!-- <div class="right-header mainheader-div">
				<ul>
					{% if user.is_staff %}
					<li><a class="" href="/staff/overview">Staff Portal</a></li>
					{% endif %}

					<li><a href='/login'>Today's Deal</a></li>
					<li><a href='/login'>Freebies</a></li>
					<li><a href='/sell'>New Items</a></li>
					<li><a href='/sell'>Sell</a></li>
					<li><a href='/faq'>Help</a></li>

					{% if user.is_authenticated %}
						<li><a href='/account/credits'>Credits<span class="label label-success">{{user.basicuser.credits|dollars}}</span></a></li>
			        {% endif %}
				</ul>
			</div> -->
			<div class="selections">
				<a href='/dashboard' class="col12-8 first {% if dashboard %}active{% endif %}">
					<div class="item">
						<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png")'></div>
						<p>Dashboard</p>
					</div>
				</a>
				<a href='/deals' class="col12-8 {% if browse_deals %}active{% endif %}">
					<div class="item">
						<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -21px 0'></div>
						<p>Promotions</p>
					</div>
				</a>
				<a href='/trending' class="col12-8{% if browse_trending %} active{% endif %}">
					<div class="item">
						<div class="img">
							<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -42px 0' ></div>
						</div>
						<p>Browse</p>
					</div>
				</a>
				<a href='/new' class="col12-8 {% if browse_new %} active{% endif %}">
					<div class="item">
						<div class="img">
							<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -63px 0'></div>
						</div>
						<p>Rewards</p>
					</div>
				</a>
				<a href='/recent' class="col12-8 {% if browse_recent %} active{% endif %}">
					<div class="item">
						<div class="img">
							<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -84px 0' ></div>
						</div>
						<p>Community</p>
					</div>
				</a>
				<a href='/recent' class="col12-8 last{% if browse_recent %} active{% endif %}">
					<div class="item">
						<div class="img">
							<div class="item-image" style='background-image:url("{{STATIC_URL}}img/misc/topicons.png");background-position: -105px 0' ></div>
						</div>
						<p>Marketplace</p>
					</div>
				</a>
			</div>
		</div>
		{% block secondheader %}
		<div class="dynamic-row">
			<div class="fixed element noborder custom-dropdown category-div">
				<div class="element-relative">
					<a class="bar">
						<div class="inlined two-row">
							<!-- <p>Browse by</p> -->
							<p>Categories <b class="caret"></b></p>
						</div>
					</a>
					<div class="category-box dropdown-box">
						<div class="category-menu">
							<ul id="category-menu-ul">
								{% for category in categories %}
									<li><a data-name="{{category}}" class="category-menu-item">{{category}}<span> &rsaquo; </span></a></li>
								{% endfor %}
								<li><a href='/categories' class="full-directory">See Full Directory</a></li>
							</ul>
						</div>
						<div class="category-content">
							<div id="menu-{{category}}" class="category-info">
								<h1>Dentistry</h1>
								<div class="category-info-box">
									<ul class="reformat">
									  <li><a href='#'>Aloe</a></li>
									  <li>Bergamot</li>
									  <li>Calendula</li>
									  <li>Damiana</li>
									  <li>Elderflower</li>
									  <li>Feverfew</li>
									  <li>Ginger</li>
									  <li>Hops</li>
									</ul>
								</div>
							</div>
							<div id="menu-diagnosticexams" class="category-info">
								<h1>Diagnostic Exams</h1>
							</div>
							<div id="menu-diagnostics" class="category-info">
								<h1>Diagnostics</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="variable element noborder">
				<div class="element-relative">
					<table id="search-table">
						<tr>
							<td><input class="form-control" id="searchinput" autocomplete="off" placeholder="Search Equipment and Supplies. . ."/><span id="search-exit">&#10006;</span></td>
							<td class="button-td"><button class="button button-rounded">Go</button></td>
						</tr>
					</table>
					<div id="autosuggest" >
						<div class="section categoriesheader">
							Categories
						</div>
						<div id="categoriessection" class="section-content">
						</div>
						<div class="section productsheader">
							Products
						</div>
						<div id="productssection" class="section-content">
						</div>
						<div class="section manufacturerheader">
							Manufacturers
						</div>
						<div id="manufacturerssection" class="section-content">
						</div>
					</div>
				</div>
			</div>
			<div class="fixed element">
				<div class="element-relative">
					<a href="#" class="bar">
						<div class="inlined two-row">
							<p><span class="glyphicon glyphicon-record"></span> Credits <span class="label label-success">240</span> <b class="caret"></b></p>
						</div>
					</a>
					<div class="dropdown-box">
						<p class="balance"><strong>Credit Balance: 240 credits</strong></p>
						<a class="" href="#">Earn More Credits</a>
						<a class="" href="#">Redeem Your Credits</a>
						<a class="" href="#">View Credits History</a>
					</div>
				</div>
			</div>
			<div class="fixed element">
				<div class="element-relative">
					<a href="#" class="bar">
						<div class="inlined two-row">
							<p><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="label label-success">2</span> <b class="caret"></b></p>
						</div>
					</a>
					<div class="dropdown-box product-dropdown">
						<div class="product-item">
							<div class="product-item-image product-item-div">
								<img src='{{STATIC_URL}}img/noimage/noimage_75x100.jpg'>
							</div>
							<div class="product-item-info product-item-div">
								<p class="product-item-name">Salix Solution 5% Injectable with salin compund and </p>
								<p class="product-item-details">Quantity: 2 | $12.23</p>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item-image product-item-div">
								<img src='{{STATIC_URL}}img/noimage/noimage_75x100.jpg'>
							</div>
							<div class="product-item-info product-item-div">
								<p class="product-item-name">Salix  </p>
								<p class="product-item-details">$12.23</p>
							</div>
						</div>
						<div class="cart-button">
							<a href="/cart" class="button button-rounded button-primary">View Cart and Checkout <span class="glyphicon glyphicon-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="fixed element">
				<div class="element-relative">
					<a href="#" class="bar">
						<div class="inlined two-row">
							<p><span class="glyphicon glyphicon-flag"></span> Updates <span class="label label-success">2</span> <b class="caret"></b></p>
						</div>
					</a>
					<div class="dropdown-box">
						<a class="" href="#">Your Subscriptions</a>
						<a class="" href="#">Your Orders</a>
						<a class="" href="#">Your Wishlist</a>
					</div>
				</div>
			</div>
			<div class="fixed element noborder">
				<div class="element-relative">
					<a href="#" class="bar">
						<div class="inlined two-row">
							<p><span class="glyphicon glyphicon-cog"></span> Account <b class="caret"></b></p>
						</div>
					</a>
					<div class="dropdown-box account-dropdown">
					{% if not basicuser %}
						<a href='/signin' class="button button-rounded button-primary">Sign In</a>
						<p class="newcustomer">New Customer? <a href='/signup'>Sign Up Here</a></p>
						<div class="divider"></div>
					{% endif %}
						<a class="" href="/account/profile">Your Account</a>
						<a class="" href="#">Your Subscriptions</a>
						<a class="" href="#">Your Orders</a>
						<a class="" href="#">Your Wishlist</a>
						<a class="" href="#">Your Rebate Programs</a>
						<div class="divider"></div>
						<a class="" href="#">Your Questions</a>
						<a class="" href="/account/reviews">Your Reviews</a>
						<div class="divider"></div>
						<a class="" href="/logout">Not {{basicuser.clinic}}? Sign Out</a>
					</div>
				</div>
			</div>
		</div>
		<div class="subheader row">
			<div class="col-12-10 custom-dropdown category-div">
				<a class="categories subheader-option two-rows">
					<p class="first">Browse by</p>
					<p>Category <b class="caret"></b></p>
				</a>
				<div class="category-box dropdown-box">
					<div class="category-menu">
						<ul id="category-menu-ul">
							{% for category in categories %}
								<li><a data-name="{{category}}" class="category-menu-item">{{category}}<span> &rsaquo; </span></a></li>
							{% endfor %}
							<li><a href='/categories' class="full-directory">See Full Directory</a></li>
						</ul>
					</div>
					<div class="category-content">
						<div id="menu-{{category}}" class="category-info">
							<h1>Dentistry</h1>
							<div class="category-info-box">
								<ul class="reformat">
								  <li><a href='#'>Aloe</a></li>
								  <li>Bergamot</li>
								  <li>Calendula</li>
								  <li>Damiana</li>
								  <li>Elderflower</li>
								  <li>Feverfew</li>
								  <li>Ginger</li>
								  <li>Hops</li>
								</ul>
							</div>
						</div>
						<div id="menu-diagnosticexams" class="category-info">
							<h1>Diagnostic Exams</h1>
						</div>
						<div id="menu-diagnostics" class="category-info">
							<h1>Diagnostics</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="searchbar">
				<form id="searchform">
					<table>
						<tr>
							<td class="searchinput-td">
								<input type="text" id="searchinput" autocomplete="off" placeholder="Search Equipment and Supplies. . ." class="form-control">
								<span id="search-exit">&#10006;</span>
							</td>
							<td class="searchbutton-td">
								<button class="button">Go</button>
							</td>
						</tr>
					</table>
				</form>
				<div id="autosuggest" >
					<div class="section categoriesheader">
						Categories
					</div>
					<div id="categoriessection" class="section-content">
					</div>
					<div class="section productsheader">
						Products
					</div>
					<div id="productssection" class="section-content">
					</div>
					<div class="section manufacturerheader">
						Manufacturers
					</div>
					<div id="manufacturerssection" class="section-content">
					</div>
				</div>
			</div>
			<div class="col-12-10 custom-dropdown">
				<a href='#' class="subheader-option two-rows account">
					<p class="first">{% if not basicuser %}Hello. Sign in.{% else %}Your{% endif %}</p>
					<p>Account<b class="caret"></b></p>
				</a>
				<div class="dropdown-box account-dropdown">
				{% if not basicuser %}
					<a href='/signin' class="button button-rounded button-primary">Sign In</a>
					<p class="newcustomer">New Customer? <a href='/signup'>Sign Up Here</a></p>
					<div class="divider"></div>
				{% endif %}
					<a class="" href="/account/profile">Your Account</a>
					<a class="" href="#">Your Subscriptions</a>
					<a class="" href="#">Your Orders</a>
					<a class="" href="#">Your Wishlist</a>
					<a class="" href="#">Your Rebate Programs</a>
					<div class="divider"></div>
					<a class="" href="#">Your Questions</a>
					<a class="" href="/account/reviews">Your Reviews</a>
					<div class="divider"></div>
					<a class="" href="/logout">Not {{basicuser.clinic}}? Sign Out</a>
				</div>
			</div>
			<div class="col-12-10 custom-dropdown">
				<a href='#' class="subheader-option two-rows account">
					<p class="first">Your</p>
					<p>Saved<b class="caret"></b></p>
				</a>
				<div class="dropdown-box product-dropdown">
					<div class="product-item">
						<div class="product-item-image product-item-div">
							<img src='{{STATIC_URL}}/img/noimage_75x100.jpg'>
						</div>
						<div class="product-item-info product-item-div">
							<p class="product-item-name">Salix Solution 5% Injectable with salin compund and </p>
							<p class="product-item-details">Quantity: 2</p>
							<p class="product-item-details">$12.23 ( at $12.13 each)</p>
						</div>
					</div>
					<div class="product-item">
						<div class="product-item-image product-item-div">
							<img src='{{STATIC_URL}}/img/noimage_75x100.jpg'>
						</div>
						<div class="product-item-info product-item-div">
							<p class="product-item-name">Salix  </p>
							<p class="product-item-details">$12.23</p>
						</div>
					</div>
					<div class="cart-button">
						<a href="/cart" class="button button-rounded button-action">View All Saved (2) <span class="glyphicon glyphicon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<div class="col-12-10 custom-dropdown">
				<a  href='#' class="subheader-option">
					<p>Cart <span class="glyphicon glyphicon-shopping-cart"></span><span class="notification-count green-count">2</span><b class="caret"></b></p>
				</a>
				<div class="dropdown-box product-dropdown">
					<div class="product-item">
						<div class="product-item-image product-item-div">
							<img src='{{STATIC_URL}}/img/noimage_75x100.jpg'>
						</div>
						<div class="product-item-info product-item-div">
							<p class="product-item-name">Salix Solution 5% Injectable with salin compund and </p>
							<p class="product-item-details">Quantity: 2</p>
							<p class="product-item-details">$12.23 ( at $12.13 each)</p>
						</div>
					</div>
					<div class="product-item">
						<div class="product-item-image product-item-div">
							<img src='{{STATIC_URL}}/img/noimage_75x100.jpg'>
						</div>
						<div class="product-item-info product-item-div">
							<p class="product-item-name">Salix  </p>
							<p class="product-item-details">$12.23</p>
						</div>
					</div>
					<div class="product-item">
						<div class="product-item-image product-item-div">
							<img src='{{STATIC_URL}}/img/noimage_75x100.jpg'>
						</div>
						<div class="product-item-info product-item-div">
							<p class="product-item-name">Salix Solution 5% Injectable with salin compund and </p>
							<p class="product-item-details">$12.23 (4x at $12.13 each)</p>
						</div>
					</div>
					<div class="cart-button">
						<a href="/cart" class="button button-rounded button-primary">View Cart (2) <span class="glyphicon glyphicon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<div class="col-12-10 custom-dropdown">
				<a href='#' class="subheader-option">
					<p>Updates<span class="notification-count red-count">2</span><b class="caret"></b></p>
				</a>
				<div class="dropdown-box account-dropdown">
					<a class="" href="#">Recently Ordered Items</a>
					<a class="" href="#">Recently Viewed Items</a>
					<a class="" href="#">QuickLists</a>
					<a class="" href="#">Subscriptions</a>
				</div>
			</div>
		</div>
		{% endblock %}
		{% block thirdheader %}
		<div class="thirdheader row">
			<div class="col-12-10">
				<a href='#' class="noleftborder">Alarms</a>
			</div>
			<div class="col-12-10">
				<a href='#' class="noleftborder">Alarms</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Absorbents</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Vaccines</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Endoscopy</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Suture Needles</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Staplers</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Ultrasounds</a>
			</div>
			<div class="col-12-10">
				<a href='#'>Syringes</a>
			</div>
			<div class="col-12-10">
				<a href='#'  class="norightborder">Cotton Swabs</a>
			</div>
		</div>
		{% endblock %}
		{% if seller %}
			{% include 'sellerportal/navbar.html' %}
		{% endif %}
		<div id="sidr">
			<div id="mobile-searchbar">
				<form class="form form-inline">
					<input type="text" class="form-control" placeholder="Search. . .">
				</form>
				<div class="search-cancel">&#10006;</div>
			</div>
			<div id="sidr-searchresults">
			</div>
			<div class="sidr-menu">
				<h3>Buying</h3>
				<a href='#'>My VetCove</a>
				<a href='#'>Shop</a>
				<a href='#'>Sell</a>
				<a href='#'>Deals</a>
				<a href='#'>Wishlist</a>
				<h3>Selling</h3>
				<a href='#'>My VetCove</a>
				<a href='#'>Shop</a>
				<a href='#'>Sell</a>
				<a href='#'>Deals</a>
				<a href='#'>Wishlist</a>
				<h3>Account</h3>
				<a href='#'>My VetCove</a>
				<a href='#'>Shop</a>
				<a href='#'>Sell</a>
				<a href='#'>Deals</a>
				<a href='#'>Wishlist</a>
			</div>
		</div>
	</header>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

	<footer class="footer">
		<img id="footer-shadow" src="{{STATIC_URL}}img/misc/shadow.png"/>
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-6">
				<h3>Browsing</h3>
				<ul>
					<li><a href='/categories'>Categories</a></li>
					<li><a href='/dashboard'>Dashboard</a></li>
					<li><a href='/promotions'>Promotions</a></li>
					<li><a href='/trending'>Trending</a></li>
					<li><a href='/recent'>Recently Viewed</a></li>
					<li><a href='/'>Rewards</a></li>
					<li><a href='#'>Redeem Credits</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6">
				<h3>General</h3>
				<ul>
					<li><a href='/sitemap'>Site Map</a></li>
					<li><a href='/manufacturer'>FAQ</a></li>
					<li><a href='/tos'>Legal</a></li>
				</ul>
				<h3>Partners</h3>
				<ul>
					<li><a href='/sitemap'>Manufacturers</a></li>
					<li><a href='/manufacturer'>Suppliers</a></li>
					<li><a href='/tos'>Clinics</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6">
				<h3>Account</h3>
				<ul>
					<li><a href='#'>Order History</a></li>
					<li><a href='#'>Returns</a></li>
					<li><a href='#'>Analytics</a></li>
					<li><a href='#'>Payments</a></li>
					<li><a href='#'>Settings</a></li>
					<li><a href='#'>Profile</a></li>
					<li><a href='/help'>Help</a></li>
					<li><a href='/contact'>Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6">
				<h3>Community</h3>
				<ul>
					<li><a href='#'>Questions</a></li>
					<li><a href='#'>Reviews</a></li>
					<li><a href='#'>Referrals</a></li>
				</ul>
				<h3>Company</h3>
				<ul>
					<li><a href='http://blog.vetcove.com'>Blog</a></li>
					<li><a href='/about'>Team</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 contact-col">
				<h3>Contact Information</h3>
				<ul>
					<li>10 Pacer Court, Colts Neck NJ</li>
					<li>(732) 938-4240</li>
					<li>info@vetcove.com</li>
				</ul>
				<div class='socialcontainer'>
					<a href='https://twitter.com/vetcove'><div class="twitter-hover social-slide"></div></a>
					<a href='https://www.facebook.com/vetcove'><div class="facebook-hover social-slide"></div></a>
					<a href='http://www.linkedin.com'><div class="linkedin-hover social-slide"></div></a>
					<a href='https://angel.co'><div class="angellist-hover social-slide"></div></a>
				</div>
			</div>
		</div>
		<div class="row copyright-row">
			<p>VetCove is the leading platform for <a href='#'>veterinary pharmaceuticals</a> | <a href='#'>discount medications</a> | <a href='#'>medical equipment</a> | <a href='#'>pharmaceuticals</a> | <a href='#'>supply ordering</a> | <a href='#'>cheap supplies</a></p>
			<p> Copyright 2014. All rights reserved</p>
		</div>
	</footer>
	<a href="#" class="back-to-top">Back to Top</a>

</div>
{% endblock %}<!-- End of block-content -->


<!--Javascript-->
<script type="text/javascript">  
var noImageURL = '{{STATIC_URL}}img/noimage/noimage.jpg';
</script>
<script src="{{STATIC_URL}}js/plugins/jquery-2.1.1.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/plugins/bootstrap/bootstrap.min.js" type="text/javascript" ></script>
{% block main_js %}
<script src="{{STATIC_URL}}js/plugins/jquery.menu-aim.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/django/csrf_alternate.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/plugins/jquery.sidr.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/plugins/hoverIntent.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/basic/autosuggest.js" type="text/javascript" ></script>

<script>
	//*************************************************
	//************** Same Height **********************
	//*************************************************
	var same_height = $('.same-height');
	$.each(same_height,function(index,value){
		var data_height = $(value).attr('data-height');
		var max_height = 0;
		$.each(same_height,function(index,newvalue){
			if ($(newvalue).attr('data-height') == data_height){
				max_height = Math.max(max_height+10,parseInt($(newvalue).height()));
			}
		});
		$(value).css('height',max_height);
	});


	//*************************************************
	//************** Side Menu ************************
	//*************************************************
	$(document).ready(function() {
		//$('#simple-menu').sidr();
		$(window).resize(function(handler) {
			if ($(this).width() > 767) {
				$.sidr('close', 'sidr');
			}
		});
	});

	//*************************************************
	//************ Mobile Search Bar ******************
	//*************************************************
	$(document).ready(function() {
		$("#mobile-searchbar input").focus(function() {
			console.log("SUP");
			$("#sidr").css('width','100%');
			$(".sidr-menu").css('display','none');
			$("#mobile-searchbar .search-cancel").css('display','block');
			$("#sidr-searchresults").css('display','block');
		});
		$("#mobile-searchbar .search-cancel").click(function() {
			$("#sidr").css('width','260px');
			$(".sidr-menu").css('display','block');
			$("#mobile-searchbar .search-cancel").css('display','none');
			$("#sidr-searchresults").css('display','none');
			$("#mobile-searchbar input").val('');
		});
	});

	//*************************************************
	//************** Categories ***********************
	//*************************************************
	$(document).ready(function() {
		$(".dynamic-row .element-relative a").click(function(){
			activatingDropdown($(this));
		});

		$(".dynamic-row .element-relative").hoverIntent(function(){
			activatingDropdown($(this).children("a"));
		},function() {
			box = $(this).children(".dropdown-box");
			link = $(this).children("a");
			$(box).css('display','none');
			$(link).removeClass("active");
			$(".category-box .category-menu-item").removeClass('active');
		});
		//Displays the subcategories on the category select
		$(".category-box .category-menu-item").click(function(){
			// Display appropriate subcategory
			var data_name = $(this).attr("data-name");
			$(".category-info").css('display','none');
			$("#menu-"+data_name).css('display','block');
			
			// Add active to category-menu-item
			$(".category-box .category-menu-item").removeClass('active');
			$(this).addClass("active");
		});
	 });

	function activatingDropdown(handle) {
		box = $(handle).parent().children(".dropdown-box");
		link = $(handle);
		$(box).css('display','block');
		$(link).addClass("active");
	}

	//*************************************************
	//********** Scroll to Top ************************
	//*************************************************
	$(document).ready(function() {
	    var offset = 220;
	    var duration = 500;
	    $(window).scroll(function() {
	        if ($(this).scrollTop() > offset) {
	            $('.back-to-top').fadeIn(duration);
	        } else {
	            $('.back-to-top').fadeOut(duration);
	        }
	    });
	    
	    $('.back-to-top').click(function(event) {
	        event.preventDefault();
	        $('html, body').animate({scrollTop: 0}, duration);
	        return false;
	    });
	});

	// *************************************************
	// ********** Menu-Aim *****************************
	//*************************************************
	$(document).ready(function(){
		$(function(){
			$("#category-menu-ul").menuAim({
				activate: function(handle){
					// Display appropriate subcategory
					var data_name = $(handle).children('a').attr("data-name");
					$(".category-info").css('display','none');
					$("#menu-"+data_name).css('display','block');
					// Add active to category-menu-item
					$(".category-box .category-menu-item").removeClass('activate');
					$(handle).children('a').addClass("activate");
				},  // fired on row activation
				deactivate: function(handle){
					//DEACTIVATE FUNCTION
				}  // fired on row deactivation
			});
		});
	});
</script>
{% endblock %}


 <script>
// 	   //Google Analytics Code
// 	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
// 	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
// 	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
// 	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

// 	  ga('create', 'UA-45863765-1', 'vetcove.com');
// 	  ga('send', 'pageview');
 </script>
{% block js %}{% endblock %}
   
</body>
</html>