{% extends 'checkout/checkout_base.html' %}

{% block signin_check %}&#x2713;{% endblock %}
{% block shipping_check %}&#x2713;{% endblock %}

{% block paymentactive %}active{% endblock %}

{% block checkout_nav %}<p class="topnav"><a class="returnbutton button button-tiny" href="/checkout/shipping/{{checkout.id}}">&#8592; Return To Shipping</a>{% if checkout.state >= 3 %}<a class="continuebutton button button-tiny" href="/checkout/review/{{checkout.id}}">Continue to Review &#8594;</a>{% endif %}</p>{% endblock %}

{% block customcss %}
<link href="{{STATIC_URL}}css/cc_form.css" rel="stylesheet" type="text/css" />
<style>
.checkoutcol {
	padding-bottom: 40px;
}
.newpaymentcol {
	border-left:1px solid #eee;
}
.deletepayment {
	width: 182px;
	margin-top: 10px;
}

.newccform .reviewmessage {
	font-weight: 200;
	margin-top: 5px;
}
.error-div {
	text-align: center;
	margin-top: 15px;
}
.error-format {
	display: none;
}
.payment-button {
	font-size: 13px;
}
#bankaccount table {
	max-width: 600px;
	width: 100%;
}
#bankaccount label {
	font-weight: 200;
}
.check-container {
	display: none;
	padding: 20px 0px;
	font-weight: 200;
	font-size: 13px;
}
.check-container ul {
	list-style-type: none;
}
</style>
{% endblock %}

{% block customjs %}
<script type="text/javascript" src="{{STATIC_URL}}js/balanced.js"></script>
<script type="text/javascript">
	var marketplaceUri = '/v1/marketplaces/{{BALANCED_MARKETPLACE_ID}}';
	//BALANCED_CC GLOBAL VARIABLES
	var responseTarget_cc = "/checkout/addcard/{{checkout.id}}";
	var success_redirect_cc = "/checkout/review/{{checkout.id}}";
	var balanced_cc_button_text = "Use This Card";
	//BALANCED_BA GLOBAL VARIABLES
	var responseTarget_ba = '/checkout/addbankaccount/{{checkout.id}}';
	var success_redirect_ba = "/checkout/review/{{checkout.id}}";
	var balanced_ba_button_text = "Use This Bank Account";
	
	$(document).ready(function() {
		$('.show-cc').click(function() {
			$(".payment-button").removeClass('button-primary');
			$(this).addClass('button-primary');
			$('.check-container').css('display','none');
			$('.cc-container').css('display','block');
		});
		$('.show-check').click(function() {
			$(".payment-button").removeClass('button-primary');
			$(this).addClass('button-primary');
			$('.cc-container').css('display','none');
			$('.check-container').css('display','block');
		});
	});
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_cc.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_ba.js"></script>
{% endblock %}


{% block checkoutcontent %}
<div class="checkout-container">
	<h3>Payment<img class="balanced-image" src="{{STATIC_URL}}img/balanced-image.png"/></h3>
	<div class="row">
		<div class="checkoutcol col-md-6 col-sm-6 col-xs-12">
			<h4>Saved Payment Options</h4>
			{% for payment in user.basicuser.payment_set.all %}
				{% if payment.balancedcard %}
				<div class="information-block">
					<h5>Credit / Debit Card</h5>
					<p><span>Company: </span>{{payment.balancedcard.brand}}</p>
					<p><span>Card: </span> * * * * * * * * {{payment.balancedcard.last_four}}</p>
					<p><span>Expires On: </span>{{payment.balancedcard.expiration_month}}/{{payment.balancedcard.expiration_year}}</p>
					<form action="/checkout/usepayment/{{checkout.id}}/{{payment.id}}" method="POST">
					{% csrf_token %}
					<button class="information-select button button-action button-rounded" value="submit">Use This Card</button>
					</form>
					<form action="/checkout/deletepayment/{{checkout.id}}/{{payment.id}}" method="POST">
					{% csrf_token %}
					<input type="hidden" value="{{checkout.id}}" name="checkout_id">
					<input type="hidden" value="{{payment.balancedcard.id}}" name="payment_id">
					<button value="submit" class="deletepayment button button-rounded button-tiny" value="submit">Delete</button>	
					</form>
				</div>
				{% endif %}
			{% endfor %}
			{% if not payment_methods %}
				<p class="none-saved"> You do not currently have any saved payment methods </p>
			{% endif %}
		</div>
		<div class="checkoutcol newpaymentcol col-md-6 col-sm-6 col-xs-12">
			<h4>Enter New Payment Method</h4>
			<!-- <button class="populate">populate</button> -->
			<button class="payment-button show-cc button button-rounded button-tiny button-primary">Pay by Card</button>
			<button class="payment-button show-check button button-rounded button-tiny">Pay by Check / Direct Wire</button>
			<div class="cc-container">
				{% include 'account/cc_form.html' %}
			</div>
			<div class="check-container">
				<p>We are currently experimenting with offering different types of payment methods. If you have a large purchase and you would rather pay by bank check or a direct wire transfer, please contact us at 732-598-6434 and we will guide you through the steps to complete your purchase.</p>
			</div>
 		
		</div>
	</div>

</div>
{% endblock %}