{% extends 'checkout/checkout_base.html' %}

{% block signin_check %}&#x2713;{% endblock %}
{% block shipping_check %}&#x2713;{% endblock %}
{% block payment_check %}&#x2713;{% endblock %}

{% block checkout_nav %}<p class="topnav"><a class="returnbutton button button-tiny" href="/checkout/payment/{{checkout.id}}">&#8592; Return To Payment</a></p>{% endblock %}


{% block reviewactive %}active{% endblock %}

{% block customcss %}
<link href="{{STATIC_URL}}css/cartitem.css" rel="stylesheet" type="text/css" />
<style>
.review-block {
	margin: 0 0 40px 0;
}
.review-block h4 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.review-block h4 a {
	float: right;
	font-size: 13px;
	color: #666;
	font-weight: 200;
	line-height: 30px;
}
.review-block p {
	margin: 2px 0;
	font-size: 13px;
}
.review-block h4 a:hover {
	color: #428BCA;
}
.purchase-block {
	text-align: right;
	margin-bottom: 10px;
}
.review-block-shipping {
	padding-left: 0px;
}
.
@media (max-width: 768px) {
	.review-block h4 {
		text-align: left;
	}
	.purchase-block {
		text-align: center;
	}
}

/*Update cart formatting */
.cart-item {
	border: none;
	border-bottom:1px solid #eee;
	box-shadow: none;
}
.last-cart-item {
	border-bottom: none;
}
.item-actions {
	display: block;
}
.item-actions form {
	display: inline-block;
}
.item-actions form button {
	border:none;
	background: none;
	font-size: 13px;
	color: #555;
	padding:0;
	font-weight: 200;
}
.item-actions form button:hover {
	text-decoration: underline;
}
.cart-item .item-quantity { 
	display:inline-block;
}
.cart-item .quantity-form {
	display:inline-block;
	margin-left: 10px;
}
.disabled {
	opacity: .4;
}
</style>
{% endblock %}

{% block customjs %}
<script>
$(document).ready(function() {
	$(".item-quantity").change(function() {
		$(this).parent().submit();	
	});

	$('.completepurchase').click(function() {
		$(".completepurchase").text("Processing. . .");
		$(".completepurchase").addClass("disabled");
	});
	var enabled = true;
	$('#completepurchase').submit(function() {
		if (enabled) {
			enabled = false;
			return true;
		} else {
			return false;
		}
	});
});

</script>
{% endblock %}



{% block checkoutcontent %}
{% load humanize %}
{% load phonenumber %}
<div class="checkout-container">
	<h3>Review Purchase</h3>
	<div class="checkoutcol">
		{% if error %}
		<div class="error-div">
			<p class="error-format">{{error}}</p>
		</div>
		{% endif %}
		<div class="review-block">
			<h4>Item Details</h4>
			{% if checkout.cartitem_set.all %}
			{% for checkoutcartitem in checkout.cartitem_set.all %}
				<div class="covebox cart-item {% if forloop.last %}last-cart-item{% endif %}" id="cart-item-{{cartitem.item.id}}">
					<div class="row">
						<div class="item-image col-md-3 col-sm-3 col-xs-12">
							<img src="{%if cartitem.item.mainimage %}{{cartitem.item.mainimage.photo_medium.url}}{% else %}{{STATIC_URL}}img/noimage.jpg{% endif %}" alt="{{cartitem.item.name}}"/>		
						</div>
						<div class="item-information col-md-7 col-sm-7 col-xs-12">
							<h6><a target="_blank" href="/item/{{checkoutcartitem.item.id}}/details">{{checkoutcartitem.item.name}}</a></h6>
							<p>Sold by: {{checkoutcartitem.item.user.company}} ({{checkoutcartitem.item.user.city}}, {{checkoutcartitem.item.user.state}} {{checkoutcartitem.item.user.zipcode}})</p>
							<p class="item-quantity">Quantity: <span class="quantity">
									{% load get_range %}
									{% if checkoutcartitem.item.quantity > 1 %}
										<form class="quantity-form" action="/checkoutchangequantity/{{checkout.id}}" method="POST">
										{% csrf_token %}
										<select name="item-quantity" class="item-quantity" data-checkoutitemid='{{checkoutcartitem.id}}'>
										{% for i in checkoutcartitem.item.quantity|get_range %}
											{% if i > 0 %}
												<option value="{{i}}" {% if i == checkoutcartitem.quantity %}selected{% endif%}>{{i}}</option>
											{% endif %}
										{% endfor %}
										</select>
										<input type="hidden" value="{{checkoutcartitem.id}}" name="checkoutitemid">
										</form>
									{% else %}
										1
									{% endif %}

							</span></p>
							{% if checkoutcartitem.numbercarts %}<p class="otherbuyers">{{checkoutcartitem.numbercarts}} other {%if checkoutcartitem.numbercarts == 1 %}person has{% else %}people have{% endif %} this item in their cart</p>{% endif %}
							<span class="item-actions">
								<form action="/checkoutmovetosaved/{{checkout.id}}" method="POST">
									{% csrf_token %}
									<input type="hidden" value="{{checkoutcartitem.id}}" name="checkoutitemid">
									<button value="submit" name="submit">Moved To Wish List</button> 
								</form>
								&sdot;
								<form action="/checkoutdeleteitem/{{checkout.id}}" method="POST">
									{% csrf_token %}
									<input type="hidden" value="{{checkoutcartitem.id}}" name="checkoutitemid">
									<button value="submit" name="submit">Delete</button> 
								</form>
							</span>
						</div>
						<div class="item-price col-md-2 col-sm-2 col-xs-12">
							<p>${{checkoutcartitem.item.price|floatformat|intcomma}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			{% else %}
				<p class="incomplete-data">Your cart is empty. If you had items in your cart, they may no longer be
				active or they may have been purchased by someone else. We apologize for the inconvenience.</p>		
			{% endif %}
		</div>
		<div class="row">
			<div class="review-block review-block-shipping col-md-6 col-sm-6 col-xs-12">
				<h4>Shipping Information<a href="/checkout/shipping/{{checkout.id}}" class="change">change</a></h4>
				{% if checkout.shipping_address %}
					<p>{{checkout.shipping_address.name}}</p>
					<p>{{checkout.shipping_address.address_one}}</p>
					{% if checkout.shipping_address.address_two %}<p>{{checkout.shipping_address.address_two}}</p>{% endif %}
					<p>{{checkout.shipping_address.city}}, {{checkout.shipping_address.state}} {{checkout.shipping_address.zipcode}}</span>
					<p>{{checkout.shipping_address.phonenumber|phonenumber}}</p>
				{% else %}
					<p class="incomplete-data">Shipping Address has not yet been added</p>
				{% endif %}
			</div>
			<div class="review-block review-block-billing col-md-6 col-sm-6 col-xs-12">
				<h4>Billing Information<a href="/checkout/payment/{{checkout.id}}" class="change">change</a></h4>
				{% if checkout.payment_method == 'card' %}
					<p>Debit / Credit Card</p>
					<p>{{checkout.cc_payment.brand}} Card</p>
					<p>* * * * * * * * {{checkout.cc_payment.last_four}}</p>
					<p>Expires: {{checkout.cc_payment.expiration_month}}/{{checkout.cc_payment.expiration_year}}</p>
				{% elif checkout.payment_method == 'bank' %}
					<p>Bank Account</p>
					<p>{{checkout.ba_payment.name}}</p>
					<p>{{checkout.ba_payment.bank_name}}</p>
					<p>{{checkout.ba_payment.account_number}}</p>
				{% else %}
					<p class="incomplete-data">Payment Information has not yet been entered</p>
				{% endif %}
			</div>
		</div>
		{% if checkout.cartitem_set.all %}
		<div class="purchase-block">
			<form id="checkoutpurchase" action="/checkoutpurchase/{{checkout.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="completepurchase button button-highlight button-rounded">Complete Purchase</button>
			</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}