{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Checkout</title>{% endblock%}

{% block headercss %}
<style>
/*** General Checkout Formatting **/
.listcontainer {
	max-width: 1000px;
	margin: 0px auto 50px auto;
	padding-top: 0px;
}
@media (max-width: 1000px) {
	.listcontainer {
		max-width: 1000px;
		margin: 0px 10px 50px 10px;
		padding-top: 0px;
	}
}
.listbox h3 {
	margin-top: 0;
	color: #888;
	letter-spacing: .5px;
	font-weight: 800;
	background: #f2f2f2;
	border-bottom:1px solid #ddd;
	padding: 15px 0px 15px 20px;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
}
.listbox {
	padding: 0px;
}
.listbox .listbar {
	border-bottom:1px solid #ddd;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.listbox .liststep {
	text-align: center;
	padding: 0px;
}
.listbox .liststep a {
	border:1px solid #ddd;
	background: white;
	display: block;
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	opacity: .5;
	color: #444;
	box-shadow: inset 0 0 1px #666;
	font-weight: 200;
	font-size: 13px;
}
.listbox .liststep .active {
	opacity: 1;
	color: white;
	background: #6B9C00;
	background-image: -ms-linear-gradient(top, #8FC800 0%, #6B9C00 100%);
	background-image: -moz-linear-gradient(top, #8FC800 0%, #6B9C00 100%);
	background-image: -o-linear-gradient(top, #8FC800 0%, #6B9C00 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8FC800), color-stop(1, #6B9C00));
	background-image: -webkit-linear-gradient(top, #8FC800 0%, #6B9C00 100%);
	background-image: linear-gradient(to bottom, #8FC800 0%, #6B9C00 100%);
}
.listbox .liststep span {
	margin-right: 5px;
	font-size: 15px;
	background: #eee;
	color: #00B318;
}
.listbox .listnav {
	margin: 30px 35px;
}
.listbox .listnav a {
	font-size: 13px;
	float: right;
}
.listbox .listnav a:hover {
	cursor: pointer;
}
.listbox .listnav .backbutton {
	float: left;
}
.listbox .listnav .saveandcontinue {
	margin-left: 10px;
}
.formcontent {
	text-align: left;
	padding: 0 20px;
}

.listcontainer .checkout_nav {
	text-align: left;
	height: 40px;
}
.listcontainer .topnav .returnbutton {
	float: left;
}
.listcontainer .topnav .continuebutton {
	float: right;
}

.formerror {
	border:1px solid red;
	box-shadow: 0 0 2px red;
}

/* Information blocks */
.information-block {
	margin-bottom: 50px;
}
.information-block form {
	display: inline-block;
}

.information-block h5 {
	font-size: 16px;
}
.information-block p {
	line-height: 15px;
	font-weight: 200;
	font-size: 13px;
	color: #444;
	margin: 8px 0;
}
.information-block a:hover {
	cursor: pointer;
}
.information-select {	
	display:block;
	width: 182px;
	margin-top: 15px;
}
.editinformation, .deleteinformation {
	margin-top: 8px;
	width: 85px;
	margin-right: 8px;
}
.informationform button {
	margin-top: 10px;
}

.contentrow {
	padding-right: 10px;
	padding-left: 0px;
	margin-bottom: 10px;
}

/* Summary block */
.summary {
	font-size: 13px;
	padding: 0 0 40px 0;
}
.summary-block {
	padding: 0 20px;
}

.summary h5 {
margin-top: 35px;
border-bottom: 1px solid #ddd;
padding-bottom:10px;
}
.summary p {
font-size: 12px;
margin: 0;
}
/** Responsive formatting **/
 @media (max-width: 768px) {
	.information-block, .summary {
		text-align: center;
	}
	.information-select {
		margin: 0 auto;
	}
	.checkoutcol h4 {
		text-align: center;
	}
	.contentrow {
		padding-right: 0px;
	}
}
.checkoutcol {
	min-height: 300px;
	padding: 0px 30px 20px 20px;
	margin-top: 30px;
}
.checkoutcol h4 {
	font-size: 20px;
	color: #333;
	margin-bottom: 20px;
}
@media (max-width: 768px) {
	.checkoutcol {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
 .item-summary {
 	padding: 7px 0;
 }	
.incomplete-data {
	font-weight: 200;
	color: #999;
}
.none-saved {
	color: #999;
	font-style: italic;
	font-weight: 200;
}
.summary-block .checkout-total {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding: 10px 2px 10px 2px;
	border-radius: 3px;
	font-size: 14px;
}
.summary-block .checkout-total span {
	float: right;
	font-weight: 800;
}
.error-div {
	text-align: center;
}
.strong {
	font-weight: 800;
}
</style>
{% block customcss %}{% endblock %}
{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/ajaxform.js" type="text/javascript" ></script>
<script>

var nextstep = "{% block nextpage %}{% endblock%}";
var complete = false;
$(document).ready(function() {
	$('.saveandcontinue').click(function() {
		$("#submitcode").val(600);
		{% if logistics %}
		$("#inputpriceval").val(parseInt($("#inputprice").asNumber()));
		{% endif %}
		$("#listform").submit();
	});
	$('.saveandstay').click(function() {
		$("#submitcode").val(700);
		{% if logistics %}
		$("#inputpriceval").val(parseInt($("#inputprice").asNumber()));
		{% endif %}
		$("#listform").submit();
	});
	$('#listform').ajaxForm(function(e) {
		//Codes 700: saved, stay on page
		//Codes 600: saved, move to next page
		//Codes 500: Error saving product
		if (e == 700) {
			$(".saved").fadeIn('fast');
			setTimeout(function() {
				  $(".saved").fadeOut('slow');
			}, 2000);
		} else if (e == 600) {
			if (validateInputs()) {
				window.location.href = nextstep;
			} else {
				$("#errorbar").css('display','block');
			}	
		} else {
			$(".errorsaving").fadeIn('fast');
			setTimeout(function() {
				  $(".errorsaving").fadeOut('slow');
			}, 2000);
		}
		$("input").blur(function() {
			validateInputs();
		});
		$("textarea").blur(function() {
			validateInputs();
		});
		$("select").change(function() {
			validateInputs();
		});
  	}); 
});

var removeError = function removeError(handle) {
	$(handle).removeClass("formerror")
	var header = $(handle).parent().children('h5');
	$(header).removeClass("header_error")
}
var addError = function addError(handle) {
	if (!($(handle).hasClass("formerror"))) {
		$(handle).addClass("formerror");
	}
	var header = $(handle).parent().children('h5');
	if (!($(header).hasClass("header_error"))) {
		$(header).addClass("header_error");
	}	submittable = false;
}
</script>
{% block customjs %}{% endblock %}
{% endblock %}
{% block content %}
{% load zipcodify %}
{% load phonenumber %}
{% load dollars %}
<div class="listcontainer">
	<div class="checkout_nav">
		{% block checkout_nav %}{% endblock %}
	</div>
	<div class="listbox">
		<div class="listbar covebox">
			<div class="col-md-3 col-sm-3 col-xs-6 liststep">
				<a class="{% block signinactive %}{% endblock%}"><span class="badge">{% block signin_check%}1{% endblock %}</span>Sign In</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 liststep">
				<a class="{% block shippingactive %}{% endblock%}"><span class="badge">{% block shipping_check %}2{% endblock %}</span>Shipping</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 liststep">
				<a class="{% block paymentactive %}{% endblock%}"><span class="badge">{% block payment_check %}3{% endblock %}</span>Payment</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 liststep">
				<a class="{% block reviewactive %}{% endblock%}"><span class="badge">{% block review_check %}4{% endblock %}</span>Review</a>
			</div>
			<div class="clear"></div>
		</div>

		<div class="listcontent">
			<div class="row">
				<div class="contentrow {% if not checkout_verify %}col-md-9 col-sm-9 col-xs-12{% else %}col-md-12 col-sm-12 col-xs-12{% endif %}">
					<div class="covebox">
						{% block checkoutcontent %}

						{% endblock %}
					</div>
				</div>
				{% if not checkout_verify %}
				<div class="covebox col-md-3 col-sm-3 col-xs-12 summary">
					<h3>Overview</h3>
					<div class="summary-block">
						<h5>Items ({{checkout.numberitems}})</h5>
						{% for checkoutcartitem in checkout.cartitem_set.all %}
							<div class="item-summary">
								<p>{{checkoutcartitem.item.name}}</p>
								<p><span>Sold by: </span>{{checkoutcartitem.item.user.company}}</p>
								<p><span>Quantity: </span>{{checkoutcartitem.quantity}}</p>
								<p><span>Price: </span>{{checkoutcartitem.item.price|dollars}}</p>
							</div>
						{% endfor %}
						<h6 class="checkout-total">Total:<span>{{checkout.total|dollars}}</span></h6>
					</div>
					
					<div class="summary-block">
						<h5>Shipping Address</h5>
						{% if checkout.shipping_address %}
						<p>{{checkout.shipping_address.name}}</p>
						<p>{{checkout.shipping_address.address_one}}</p>
						{% if checkout.shipping_address.address_two %}<p>{{checkout.shipping_address.address_two}}</p>{% endif %}
						<p>{{checkout.shipping_address.city}}, {{checkout.shipping_address.state}} {{checkout.shipping_address.zipcode}}</span>
						<p>{{checkout.shipping_address.phonenumber|phonenumber}}</p>
						{% else %}
						<p class="incomplete-data">Shipping Address has not yet been added</p>
						{% endif %}
					</div>
					
					<div class="summary-block">
						<h5>Payment Information</h5>
						{% if checkout.payment_method == 'card' %}
						<p class="strong">Debit / Credit Card</p>
						<p>{{checkout.cc_payment.brand}}</p>
						<p>********{{checkout.cc_payment.last_four}}</p>
						<p>Expires: {{checkout.cc_payment.expiration_month}}/{{checkout.cc_payment.expiration_year}}</p>
						{% elif checkout.payment_method == 'bank' %}
						<p class="strong">Bank Account</p>
						<p>{{checkout.ba_payment.name}}</p>
						<p>{{checkout.ba_payment.bank_name}}</p>
						<p>{{checkout.ba_payment.account_number}}</p>
						{% else %}
						<p class="incomplete-data">Payment Information has not yet been entered</p>
						{% endif %}
					</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	
</div>

{% endblock %}


