{% extends 'checkout/checkout_base.html' %}

{% block signinactive %}active{% endblock%}

{% block checkout_nav %}{% endblock %}

{% block customcss %}
<style>
.contentrow {
	padding-right: 0;
}
.signupcol {
	border-left:1px solid #eee;
}
.logincol h4 {
	font-size: 20px;
	color: #333;
	margin-bottom: 20px;
}
.logincol .checkoutloginform {

}
.logincol form p {
	font-weight: 200;
	margin-bottom: 0;
	margin-top: 0px;
}
.logincol form input,.logincol form select {
	margin-bottom: 10px;
}
.logincol .forgotpassword {
	display: block;
	font-weight: 200;
	font-size: 12px;
	padding:5px 0;
	text-align: right;
}
.logincol .submitbutton {
	margin-top: 40px;
}

.signupcontainer h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 40px 0 20px 0;
}
.signupform {
	display: none;
	margin-bottom: 20px;
}
#sellinformation {
	font-size: 11px;
	margin-bottom: 10px;
}
.signupform .form-group label {
	font-weight: 200;
	margin: 0;
	padding: 0;
}
.signupform .form-group {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0;
}
.signupbutton:hover {
	cursor:pointer;
}
#signup-submit-button {
	margin-top: 15px;
}
.companyextra {	
	display: none;
}
.outcome-block {
	text-align: center;
	margin: 0 auto;
}
.checkouterror {
	display: inline-block;
	color: red;
	font-size: 200;
	padding: 5px 12px;
	margin-top: 5px;
	background: #FFF2F2;
	font-weight: 200;
	border:1px solid red;
	border-radius: 4px;
}
</style>
{% endblock %}

{% block customjs %}
<script>
$(document).ready(function() {
	$(".signupbutton").click(function() {
		$(".signupintro").fadeOut('fast',function() {
			$('.signupform').fadeIn();
		});
	});
	$("#businesstype").change(function() {
		$(this).val() != 'Individual' ? $(".companyextra").fadeIn() : $(".companyextra").fadeOut();
	});
});
</script>
{% endblock %}



{% block checkoutcontent %}
<div class="checkout-container">
	<h3>Verify Account</h3>
	    {% if error %}
	    	<div class="outcome-block">
	    		<p class="checkouterror">
					{% if error %}
						{{error}}
					{% endif %}
				</p>
			</div>
		{% endif %}
		
	<div class="row">
		<div class="logincol col-md-6 col-sm-6 col-xs-12">
			<h4>Login</h4>
			<form class="checkoutloginform" action="/checkoutlogin" method="post">
				{% csrf_token %}
				<p>Email</p>
				<input name="email" class="form-control" type="email" placeholder="ex. joedoe@gmail.com">
				<p>Password</p>
				<input name="password" class="form-control" type="password">
				<a class="forgotpassword" href="{% url "password_reset_recover" %}">Forgot Password?</a>
				<button class="button button-action button-rounded" value="submit">Login</button>
				<div class="clear"></div>
			</form>
		</div>
		<div class="logincol signupcol col-md-6 col-sm-6 col-xs-12">
			<h4>Sign Up</h4>
			<div class='signupcontainer'>
				<div class="signupintro">
					<h5>You will need to have an account to checkout. Sign up in less than 60 seconds</h5>
					<a class="button button-action button-rounded signupbutton" value="submit">Sign Up</a>
				</div>
				<form class="signupform" action="newuserform" method="post">
		  		{% csrf_token %}
		  		<p id="sellinformation">*We NEVER sell or distribute personably identifiable information</p>
		  		<div class="form-group">
					<label for="companyname">Business Type *</label>
					<select class="form-control" name="businesstype" id="businesstype">
						<option>Select primary business type. . . </option>
						<option>Private Practice</option>
						<option>Individual</option>
						<option>Refurbisher</option>
						<option>Supplier</option>
						<option>Manufacturer</option>
						<option>Other</option>
					</select>
				  </div>
				  <div class="form-group companyextra">
					<label for="street1">Company *</label>
					<input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name" />
				  </div>
				  <div class="form-group companyextra">
					<label for="contactperson">Company Website URL</label>
					<input type="text" class="form-control" name="website" id="website" placeholder="Enter Company Website URL" />
				  </div>
				  <div class="form-group">
					 <label for="companyname">Name *</label>
					 <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" />
				  </div>
				  <div class="form-group">
					<label for="street2">Email *</label>
					<input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
				  </div>
				  <div class="form-group">
					<label for="city">Address *</label>
					<input type="text" class="form-control" id="address" name="address" placeholder="Enter Company Address" />
				  </div>
				  <div class="form-group">
					<label for="zipcode">Zipcode *</label>
					<input style="width: 190px" type="number" name="zipcode" class="form-control" id="zipcode" maxlength="5" placeholder="Enter Zipcode" />
				  </div>
				   <div class="form-group">
					<label for="state">City *</label>
					<input style="width: 190px" type="city" name="city" class="form-control" id="city"  placeholder="Enter City" />
				  </div>
				  <div class="form-group">
					<label for="state">State *</label>
					<select style="width: 100px" class="form-control" name="state" id="state" />
					</select>
				  </div>
				   <div class="form-group">
					<label for="customersupportphone">Telephone *</label>
					<input type="text" class="form-control phonenumber" name="phonenumber" maxlength="12" id="phonenumber" placeholder="Enter Phone Number" />
				  </div>
				  <div class="form-group">
					<label for="customersupportphone">Password *</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" />
					<p id="passwordtext"></p>
				  </div>
		  
				  <button type="submit" id="signup-submit-button" value="submit" class="button button-action button-rounded">Create Account</button>
			</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}