{% extends 'checkout/checkout_base.html' %}

{% block signin_check %}&#x2713;{% endblock %}

{% block shippingactive %}active{% endblock %}

{% block checkout_nav %}<p class="topnav"><a class="returnbutton button button-tiny" href="/cart">&#8592; Return To Shopping Cart</a>{% if checkout.state >= 2 %}<a class="continuebutton button button-tiny" href="/checkout/payment/{{checkout.id}}">Continue to Payment &#8594;</a>{% endif %}</p>{% endblock %}


{% block customcss %}
<link href="{{STATIC_URL}}css/checkoutform.css" rel="stylesheet" type="text/css" />
<style>
.newaddresscol {
	border-left:1px solid #eee;
}
.shipping-not-required {
	text-align: center;
	padding: 20px;
}
</style>
{% endblock %}

{% block customjs %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
</script>
<script src="{{STATIC_URL}}js/address.js" type="text/javascript" ></script>
{% endblock %}
{% block checkoutcontent %}
{% load zipcodify %}
{% load phonenumber %}
<div class="checkout-container">
	<h3>Shipping</h3>
	<div class="row">
		{% if checkout.shippingAddressRequired %}
		<div class="checkoutcol col-md-6 col-sm-6 col-xs-12">
			<h4>Saved Shipping Addresses</h4>
			{% if user.basicuser.address_set.all %}
				{% for address in user.basicuser.address_set.all %}
				<div class="information-block">
					<h5 class="address_name">{{address.name}}</h5>
					<p class="address_one">{{address.address_one}}</p>
					{% if address.address_two %}<p class="address_two">{{address.address_two}}</p>{% endif %}
					<p><span class="address_city">{{address.city}}</span>, <span class="address_state">{{address.state}}</span> <span class="address_zipcode">{{address.zipcode|zipcodify }}</span></p>
					<p class="address_phonenumber">{{address.phonenumber|phonenumber}}</p>
					<form action="/useaddress" method="POST">
					{% csrf_token %}
					<input type="hidden" value="{{checkout.id}}" name="checkout_id">
					<input type="hidden" value="{{address.id}}" name="address_id">
					<button href="/useaddress/{{checkout.id}}/{{address.id}}" class="information-select button button-action button-rounded" value="submit">Ship to this Address</button>
					</form>
					<div class="clear"></div>
					{% if not user.basicuser.payout_method.checkaddress.address == address %}
					<form action="/deleteaddress" method="POST">
					{% csrf_token %}
					<input type="hidden" value="{{checkout.id}}" name="checkout_id">
					<input type="hidden" value="{{address.id}}" name="address_id">
					<button href="/deleteaddress" class="deleteinformation button button-rounded button-tiny" value="submit">Delete</button>
					</form>
					{% endif %}
					
					<button class="editinformation button button-rounded button-tiny" value="submit">Edit</button>	
				</div>
				{% endfor %}
			{% else %}
				<p class="none-saved"> You do not currently have any saved shipping addresses</p>
			{% endif %}
		</div>
		<div class="checkoutcol newaddresscol col-md-6 col-sm-6 col-xs-12">
			<h4>Enter New Shipping Address</h4>
			<div class="checkoutform-container">
			    {% include 'general/address.html' %}
			 </div>
		</div>
		{% else %}
		<div class="shipping-not-required">
			<p> All of the items you purchased are for local pick-up only, so no shipping address in required. Make sure you are able to pick up these items in a timely manner from the zipcode provided by the seller.<p>
			<a class="button button-rounded button-action" href="/checkout/payment/{{checkout.id}}">Continue to Payment</a>
		</div>
		{% endif %}
	</div>

</div>
{% endblock %}