{% extends 'checkout/checkout_base.html' %}

{% block signinactive %}active{% endblock%}

{% block checkout_nav %}{% endblock %}

{% block customcss %}
<link href="{{STATIC_URL}}css/checkoutform.css" rel="stylesheet" type="text/css" />
<style>
.contentrow {
	padding-right: 0;
}
.signupcol {
	border-left:1px solid #eee;
}

.checkoutcol form p {
	font-weight: 200;
	margin-bottom: 0;
	margin-top: 0px;
}
.checkoutloginform input {
	margin-bottom: 10px;
}

.checkoutcol .forgotpassword {
	display: inline-block;
	font-weight: 200;
	font-size: 12px;
	margin-top: 5px;
	padding:5px 0;
	float: right;
}
.checkoutcol .submitbutton {
	margin-top: 40px;
}

.signupcontainer h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 40px 0 20px 0;
}
.signupform {
	display: none;
	margin-bottom: 20px;
}
#sellinformation {
	font-size: 11px;
	margin-bottom: 10px;
}
.signupbutton:hover {
	cursor:pointer;
}
.companyextra {	
	display: none;
}
#passwordtext, #formemailtext {
	margin-left: 5px;
	color: #D90000;
	line-height: 14px;
}
.rememberme {
	display:inline-block;
}
</style>
{% endblock %}

{% block customjs %}
<script>
$(document).ready(function() {
	$(".signupbutton").click(function() {
		$(".signupintro").fadeOut('fast',function() {
			$('.signupform').fadeIn();
		});
	});
});
</script>
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
</script>
<script src="{{STATIC_URL}}js/signup.js" type="text/javascript" ></script>
{% endblock %}



{% block checkoutcontent %}
<div class="checkout-container">
	<h3>Verify Account</h3>
	    {% if error %}
	    	<div class="outcome-block">
	    		<p class="error-format">
					{% if error %}
						{{error}}
					{% endif %}
				</p>
			</div>
		{% endif %}
		
	<div class="row">
		<div class="checkoutcol col-md-6 col-sm-6 col-xs-12">
			<h4>Login</h4>
			<form class="checkoutloginform" action="/checkoutlogin" method="post">
				{% csrf_token %}
				<p>Email</p>
				<input name="email" class="form-control" type="email" placeholder="ex. joedoe@gmail.com">
				<p>Password</p>
				<input name="password" class="form-control" type="password">
				<span>
					{% if not user.basicuser %}
					<div class="checkbox rememberme">
						<label>
							<input type="checkbox" name="rememberme"> Remember me
						</label>
					</div>
					{% endif %}
					<a class="forgotpassword" href="{% url "password_reset_recover" %}">Forgot Password?</a>

				</span>
				<div class="clear"></div>
				<button class="button button-action button-rounded" value="submit">Login</button>
				<div class="clear"></div>
			</form>
		</div>
		<div class="checkoutcol signupcol col-md-6 col-sm-6 col-xs-12">
			<h4>Sign Up</h4>
			<div class='signupcontainer'>
				<div class="signupintro">
					<h5>You will need to have an account to checkout. Sign up in less than 20 seconds</h5>
					<a class="button button-action button-rounded signupbutton" value="submit">Sign Up</a>
				</div>
				<div class="checkoutform-container">
				{% include 'account/signup_base.html' %}
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}