{% extends 'base/base.html' %}
{% block headertitle %}VetCove Reviews{% endblock %}
{% block css %}
<style>
.content {
	margin: 0;
	padding: 0;
	background: #fff;
}
.account-table {
	width: 100%;
}
.account-table td{
	vertical-align: top;
}
.side-container-td {
	width: 180px;
	background-image: -moz-linear-gradient(left, #FFFFFF 0%, #F4F4F4 90%, #EEEEEE 95%, #DDDDDD 100%);
}
.side-container {
	width: 100%;
	display:inline-block;
	position:relative;
	margin-right: -5px;
	padding: 20px 0px 20px 30px;
	z-index: 1;
	vertical-align: top;
}
.side-container h3 {
	font-size: 14px;
	opacity: 1;
	font-weight: 800;
	color: #aaa;
	margin: 10px 10px 0px 0px;
	padding-bottom: 5px;
}
.side-container-item {
	display:block;
	font-size: 14px;
	color: #555;
	padding: 2px 10px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border:1px solid transparent;
}
.side-container-item:hover {
	text-decoration: none;
	cursor:pointer;
	border-right:none;
}
.side-container-item:not(.active):hover {
	background-image: url("{{STATIC_URL}}img/transparency/whitetransparency2.png");
	border-color: #ddd;
}
.side-container-item.active {
	background:white;
	border:1px solid #ddd;
	border-right: none;
	color: #000;

}
.main-container {
	display:inline-block;
	width: 100%;
	position:relative;
	z-index: 0;
	margin-left: -2px;
	vertical-align: top;
	background: #fff;
	min-height: 600px;
	padding: 10px 20px 30px 20px;
}
.main-container .title {
	border-bottom:1px solid #eee;
	padding: 10px;
	margin: 0 10px 30px 10px;
	font-weight:bold;
}
.main-container .title .title-links {
	float: right;
	color: #ccc;
	font-size: 13px;
	margin-top: 17px;
	font-weight: normal;
	letter-spacing: .2px;
}
.main-container .title .title-links a {
	margin: 0 2px 0 2px;
}
.main-container .title .title-links a:hover {
	text-decoration: underline;
}
.sidebox {
	box-shadow: 0 0 12px rgba(0,0,0,.1) inset;
	padding: 10px;
	margin-bottom: 20px;
	border:1px solid #e2e2e2;
}
.sidebox h3 {
	font-size: 15px;
	text-align: center;
	margin: 0 0 15px 0;
}
}

/* Tab Formatting */
.account-tabs-navigation {
	padding: 0;
	position:relative;
	z-index: 1;
}
.account-tab {
	background: #f6f6f6;
	color: #333;
	z-index: 1;
	position:relative;
	font-weight: 400;
	font-size: 14px;
	padding: 5px 5px;
	text-align: center;
	border:1px solid #ccc;
	margin-bottom: -1px;
}
.account-tab.active {
	background: #fff;
	border:1px solid #ccc;
	border-bottom: 1px solid transparent;
}
.account-tab:not(.active):hover {
	cursor:pointer;
	background: #e6e6e6;
	border:1px solid #dfdfdf;
	border-bottom:1px solid #ddd;
}
.account-tab-content {
	position:relative;
	z-index:0;
	margin-top: 0px;
	padding: 10px;
}
.account-tab-div {
	display:none;
}
.account-tab-div h3 {
	border-bottom:1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.account-tab-div.first {
	display:block;
}

</style>
{% block account_css %}{% endblock %}
{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
	$('.account-tab').click(function() {
		href = $(this).attr("data-href");
		$(".account-tab-div").css('display','none');
		$(href).css('display','block');
		$('.account-tab').removeClass('active');
		$(this).addClass('active');
	})


});
</script>
{% block account_js %}{% endblock %}
{% endblock %}
{% block thirdheader %}{% endblock %}
{% block content %}
<div class="account-container">
	<table class="account-table">
		<tr>
			<td class="side-container-td">
				<div class="side-container">
					<h3>Buying</h3>
						<a href='/account/orders' class="side-container-item{% if account_orders %} active {% endif %}">Order History</a>
						<a href='/account/returns' class="side-container-item{% if account_returns %} active {% endif %}">Returns</a>
						<a href='/account/analytics' class="side-container-item{% if account_analytics %} active {% endif %}">Analytics</a>
					<h3>Community</h3>
					<a href='/account/questions' class="side-container-item{% if account_questions %} active {% endif %}">Questions <span class="badge">2</span></a>
					<a href='/account/reviews' class="side-container-item{% if account_reviews %} active {% endif %}">Reviews</a>
					<a href='/account/referrals' class="side-container-item{% if account_referrals %} active {% endif %}">Referrals</a>
					<h3>Selling</h3>
					<a href='/account/sell' class="side-container-item{% if account_sell %} active {% endif %}">Sell on VetCove</a>
					<!-- <a class="side-container-item">Listings</a>
					<a class="side-container-item">Seller Questions</a> -->
					<h3>Account</h3>
					<a href='/account/payments' class="side-container-item{% if account_payments %} active {% endif %}">Payments</a>
					<a href='/account/settings' class="side-container-item{% if account_settings %} active {% endif %}">Settings</a>
					<a href='/account/profile' class="side-container-item{% if account_profile %} active {% endif %}">Profile</a>
				</div>
			</td>
			<td>
				<div class="main-container">
					{% block title-container %}
						<h2 class="title">
							{% block account_title %} Your Account {% endblock %}
							{% block title-links %}{% endblock %}
						</h2>
					{% endblock %}
					{% block account_content %}{% endblock %}
				</div>
			</td>
		</tr>
	</table>
</div>



{% endblock %}

