{% extends 'account/pages/base.html' %}
{% block headertitle %}Returns{% endblock %}
{% block account_title %}Returns{% endblock %}
{% block account_css %}
<style>

</style>
{% endblock %}
{% block account_js %}
<script>

</script>
{% endblock %}
{% block account_content %}
<div class="row">
	<div class="col-md-12">
		<div class="account-tabs">
			<div class="account-tabs-navigation row">
				<div class="col-md-4">
					<div class="active account-tab" data-href='#account-tab-1'>
						Start A New Return
					</div>
				</div>
				<div class="col-md-4">
					<div class="account-tab" data-href='#account-tab-2'>
						How Returns Work
					</div>
				</div>
				<div class="col-md-4">
					<div class="account-tab" data-href='#account-tab-3'>
						How Returns Work
					</div>
				</div>
			</div>
			<div class="account-tab-content">
				<div class="account-tab-div first" id="account-tab-1">
					<h3>Start A New Return</h3>
					<p> Create A Review</p>
				</div>
				<div class="account-tab-div" id="account-tab-2">
					<h3>Review Your Recently Purchased Items</h3>
					<p>We only allow. . . </p>
				</div>
				<div class="account-tab-div" id="account-tab-3">
					<h3>How Returns Work</h3>
					<p>We only allow. . . </p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
