{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Account</title>{% endblock%}

{% block headercss %}
<link href="{{STATIC_URL}}css/account.css" rel="stylesheet" type="text/css" />
{% block headersubcss %}
{% endblock %}
{% endblock %}

{% block jsblock %}

{% endblock %}

{% block content %}
<div class="pagecontainer row">
	{% block server_message %}
	
	{% endblock %}
	<div class="sidecontent col-md-3 col-sm-3">
		<div class="covebox admin-section">
			<h4 class="sidecontent-title">General</h4>
			<ul>
				<a href="/account/bonus"><li class="{% block bonus %}{% endblock %}"><h3>Save More<span class="badge greenbadge">2% Bonus</span></h3></li></a>
				<a href="/account/notifications"><li class="{% block notifications %}{% endblock %}"><h3>Notifications{% if notifications %} <span class="badge redbadge">{{ notifications.count }}</span>{% endif %}</h3></li></a>
			</ul>
		</div>
		<div class="covebox admin-section">
			<h4 class="sidecontent-title"> Buying Equipment</h4>
			<ul>
				<a href="/account/buyerquestions"><li class="{% block buyquestions %}{% endblock %}"><h3>Questions I've Asked{% if user.basicuser.askedQuestionCount %} <span class="badge">{{ user.basicuser.askedQuestionCount }}</span>{% endif %}</h3></li></a>
				<a href="/account/wishlist"><li class="{% block wishlist %}{% endblock %}"><h3>Wish List{% if user.basicuser.wishlist %} <span class="badge">{{ user.basicuser.wishlist }}</span>{% endif %}</h3></li></a>
				<a href="/account/buyhistory"><li class="{% block buyhistory %}{% endblock %}"><h3>Purchase History {% if user.basicuser.buyhistory %} <span class="badge">{{ user.basicuser.buyhistory }}</span>{% endif %}</h3></li></a>
				<a href="/account/contactmessages"><li class="{% block contactmessages %}{% endblock %}"><h3>Contact Seller Messages</h3></li></a>
			</ul>
		</div>
		<div class="covebox admin-section">
			<h4 class="sidecontent-title"> Selling Equipment</h4>
			<ul>
				<a href="/account/sellerquestions"><li class="{% block sellquestions %}{% endblock %}"><h3>Questions To Answer {% if user.basicuser.unansweredQuestionCount %} <span class="badge red-badge">{{user.basicuser.unansweredQuestionCount}}</span>{% endif %}</h3></li></a>
				<a href="/account/listings/all"><li class="{% if listingtype == 'all' %}active{% endif %}"><h3>All Listings{% if user.basicuser.listedItemCount.all %} ({{ user.basicuser.listedItemCount.all }}){% endif %}</h3></li></a>
				<a href="/account/listings/active"><li class="suboption {% if listingtype == 'active' %}active{% endif %}"><h3>Active Listings{% if user.basicuser.listedItemCount.active %} ({{ user.basicuser.listedItemCount.active }}){% endif %}</h3></li></a>
				<a href="/account/listings/incomplete"><li class="suboption {% if listingtype == 'incomplete' %}active{% endif %}"><h3>Incomplete Listings{% if user.basicuser.listedItemCount.incomplete %} ({{ user.basicuser.listedItemCount.incomplete }}){% endif %}</h3></li></a>
				<a href="/account/listings/inactive"><li class="suboption {% if listingtype == 'inactive' %}active{% endif %}"><h3>Inactive Listings{% if user.basicuser.listedItemCount.inactive %} ({{ user.basicuser.listedItemCount.inactive }}){% endif %}</h3></li></a>
				<a href="/account/sellhistory"><li class="{% block sellhistory %}{% endblock %}"><h3>Selling History {% if user.basicuser.sellhistory %} <span class="badge">{{ user.basicuser.sellhistory }}</span>{% endif %}</h3></li></a>	
				<a href="/account/payouthistory"><li class="{% block payouthistory %}{% endblock %}"><h3>Payout History</h3></li></a>	
			</ul>
		</div>
		<div class="covebox admin-section">
			<h4 class="sidecontent-title">Account</h4>
			<ul>
				<a href="/account/payment"><li class="{% block payment %}{% endblock %}"><h3>Payment Information</li></a>
				<a href="/account/profile"><li class="{% block profile %}{% endblock %}"><h3>Profile</li></a>
				<a href="/account/usersettings"><li class="{% block settings %}{% endblock %}"><h3>Settings</h3></li></a>
			</ul>
		</div>
		<a href='/listintro' class="listaction button button-rounded">List Equipment</a>
	</div>
	<div class="maincontent col-md-9 col-sm-9">
		{% block accountnav %}{% endblock %}
		<h2 class="title covebox">{% block maintitle %}{% endblock %}{% block rightitle %}{% endblock %}</h2>
		{% block maincontent %}



		{% endblock %}
	</div>

	<div class="clear"></div>
</div>
{% endblock %}