{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Cart</title>{% endblock%}
{% block headercss %}
<link href="{{STATIC_URL}}css/cartitem.css" rel="stylesheet" type="text/css" />
<style>

.maincontainer {
	max-width: 1000px;
	margin: 30px auto
}
.maincontainer .cart-header {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.maincontainer .cart-header h3 {
	margin-top: 20px;
	padding: 0 20px;
	margin-bottom: 0px;
}
.maincontainer .cart-header span {
	font-weight: 800;
}
.item-summary {
	padding-left: 0px;
	padding-right: 10px;
}
.maincontainer .cart-header .cart-actions {
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	padding-left 25px;
	font-size: 13px;
	margin-left: 10px;
}
.maincontainer .cart-header .cart-actions a{
	font-size: 13px;
}

.welcome-message {
	padding: 5px 0 0px 20px;
	margin: 0;
	font-size: 13px;
	font-weight: 200;
}
.welcome-message a:hover {
	text-decoration:underline;
}
.maincontainer h3 {
	display: block;
	padding-left: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-top: 0px;
}

.item-information h6:hover {
	text-decoration: underline;
}
/*Sidebar order summary */
.cart-summary {
	padding: 10px 10px 20px 10px;
}
.cart-summary h6 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.cart-summary p {
	font-size: 13px;
	margin: 3px 0;
	
}
.cart-summary .total {
	padding-top: 5px;
	border-top:2px solid #eee;
	font-weight: bold;
}
.cart-summary p span {
	float: right;
}
.cart-summary .proceedtocheckout {
	font-size: 13px;
	width: 100%;
	margin-top: 20px;
}
#itemcount {
	float: none;
}

/*If no items */
.noitems {
	min-height: 200px;
	{% if itemcount %}
	display: none;
	{% endif %}
}
.cart-item .item-information .not-available {
	font-weight: 800;
	color: red;
}
</style>
{% endblock%}


{% block content %}
{% load dollars %}
{% load zipcodify %}
<div class="maincontainer">
	<div class="cart-header covebox">
		<div class="cart-actions">
			<a class="button-small button button-rounded" href="/productsearch/veterinary/all/all">Continue Shopping</a>
		</div>
		<h3>You have <span class="itemcount">{{cart_items_count}}</span> item{% if cart_items_count != 1 %}s{% endif %} in your shopping cart</h3>
		<p class="welcome-message">{% if not user.basicuser %}Save your cart items for later by <a href="/login">logging In</a>{% endif %}</p>
	</div>
	<div class="row">
		<div class="item-summary col-md-9 col-sm-9 col-xs-12">
			{% for cartitem in shoppingcart.cartitem_set.all %}
			<div class="covebox cart-item" id="cart-item-{{cartitem.item.id}}">
				<div class="row">
					<div class="item-image col-md-3 col-sm-3 col-xs-12">
						<img src="{%if cartitem.item.mainimage %}{{cartitem.item.mainimage.photo_medium.url}}{% else %}{{STATIC_URL}}img/noimage.jpg{% endif %}" alt="{{cartitem.item.name}}"/>		
					</div>
					<div class="item-information col-md-7 col-sm-7 col-xs-12">
						<h6><a href="/item/{{cartitem.item.id}}/details">{{cartitem.item.name}}</a></h6>
						<p>Sold by: {{cartitem.item.user.businesstype|title}} {% if cartitem.item.user.city %}in {{cartitem.item.user.city}}, {{cartitem.item.user.state}}{% else %} in zipcode {{cartitem.item.user.zipcode|zipcodify}}{% endif %}</p>
						{% if cartitem.item.liststatus == "active" %}
						<p class="item-quantity">Quantity: <span class="quantity">
								{% load get_range %}
								{% if cartitem.item.item_handle.quantity > 1 %}
								<form class="quantity-form" action="/updatecart/quantity/{{cartitem.id}}" method="POST">
									{% csrf_token %}
									<select name="quantity" class="item-quantity" data-itemid='{{cartitem.item.id}}' data-item-handle='#cart-item-{{cartitem.item.id}}'>
									{% for i in cartitem.item.item_handle.quantity|get_range %}
										{% if i > 0 %}
											<option value="{{i}}" {% if i == cartitem.quantity %}selected{% endif%}>{{i}}</option>
										{% endif %}
									{% endfor %}
									</select>
								</form>
								{% else %}
									1
								{% endif %}
						</span></p>				
						{% endif %}
						{% if cartitem.item.liststatus != "active" %}
							<p class="not-available"> This item is no longer available. This item has been taken down or been purchased.</p>
						{% else %}
							{% if cartitem.numbercarts %}<p class="otherbuyers">{{cartitem.numbercarts}} other {%if cartitem.numbercarts == 1 %}person has{% else %}people have{% endif %} this item in their shopping cart</p>{% endif %}	
							{% if not cartitem.item.shippingincluded %}
							<p class="not-available">Note: You must pick up this item from {% if item.user.city and item.user.state %}{{item.user.city}}, {{item.user.state}}{% else %}zipcode {{item.user.zipcode|zipcodify}}{% endif %}</p>
							{% endif %}
						{% endif %}
						<span class="item-actions">
							{% if cartitem.item.liststatus == "active" %}
							<form action="/updatecart/wishlist/{{cartitem.id}}" method="POST">
								{% csrf_token %}
								<button name="submit" value="submit" class="move-to-saved">Move to Wish List</button> 
							</form>
							&sdot; 
							{% endif %}
							<form action="/updatecart/delete/{{cartitem.id}}" method="POST">
								{% csrf_token %}
								<button class="delete-item" >Delete Item</button>
							</form>
						</span>
					</div>
					<div class="item-price col-md-2 col-sm-2 col-xs-12">
						<p>{{cartitem.amount|dollars}}</p>
						<p class="quantity-unitprice">at {{cartitem.item.price|dollars}} each</p>
						<p class="msrp_price">MSRP: {{cartitem.item.msrp_price|dollars}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="covebox noitems">
				<p>You do not currently have any items in your cart</p>
			</div>
			
		</div>
		<div class="covebox cart-summary col-md-3 col-sm-3 col-xs-12">
			<h6> Order Summary</h6>
			<p>Items (<span id="itemcount" class="itemcount">{{cart_items_count}}</span>):<span class="totalprice">{{shoppingcart.summary.subtotal|dollars}}</span></p>
			{% if user.basicuser %}<p>VetCove Credit: <span>-{{shoppingcart.summary.credits|dollars}}</span></p>{% endif %}
			<p class="total">Total:<span class="totalprice">{{shoppingcart.summary.total|dollars}}</span></p>
			{% if cart_items_count %}
			<a class="button-small button button-rounded button-action proceedtocheckout" href="/checkout/verify">Proceed To Checkout</a>
			{% endif %}
		</div>
		
	</div>
</div>


{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {

	$('.quantity-form select').change(function() {
		$(this).parent().submit();
	});
});
</script>
{% endblock %}