{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Interested Buyers</title>{% endblock%}
{% load dollars %}
{% block headercss %}
<link href="{{STATIC_URL}}css/cc_form.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/payment_methods.css" rel="stylesheet" type="text/css" />
<style>
.pagecontainer {
	max-width: 1000px;
	margin: 40px auto;
}
.gateway {
	padding: 20px;
	margin-bottom: 30px;
}
.gateway-header h3 {
	text-align: center;
	padding-bottom: 20px;
	border-bottom:1px solid #eee;
}
.gateway-header h3 span {
	font-size: 20px;
	border-radius: 20px;
}
.gateway-row h5 {
	margin-bottom: 20px;
	font-size: 16px;
}
.gateway-body {
	margin-bottom: 35px;
}
.gateway-body p {
	font-weight: 400;
	font-size: 13px;
	padding: 5px 15px;
}
.gateway-body p span {
	font-weight: 800;
}
.payment-row {
	border-right:1px solid #ddd;
}
.total-row p span {
	float: right;
}
.total-row h5 {
	margin-bottom: 5px;
}
.total-row .subheader {
	font-size: 12px;
	font-weight: 200;
	margin-bottom: 25px;
}
.total-row .commission-total {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	font-weight: 800;
}
#bankaccount table {
	max-width: 600px;
	width: 100%;
}
#bankaccount label {
	font-weight: 200;
}
.ba-container {
	display: none;
}
.gateform {
	text-align: right;
}
.add-payment-container {
	display: none;
	margin-top: 20px;
	background: #f6f6f6;
	padding: 20px;
	border:1px solid #ddd;
	border-radius: 4px;
}
.error-block {
	display: block;
}
.gateway-body p .underline {
	text-decoration: underline;
	font-weight: normal;
}
.div-error {
	margin-top: 0px;
}
{% if not payment_methods %}
.add-payment-container {
	display: block;
}
{% endif %}
</style>

{% endblock %}

{% block jsblock %}
<script type="text/javascript" src="{{STATIC_URL}}js/balanced.js"></script>
<script type="text/javascript">
var marketplaceUri = '/v1/marketplaces/TEST-MP49EIrAntwbE1iYZDuZWtjo';
//BALANCED_CC GLOBAL VARIABLES
var responseTarget_cc = "/account/newcard_chargecommission/{{item.id}}";
var success_redirect_cc = "/account/messages/{{item.id}}";
var balanced_cc_button_text = "Authorize Charge and View Buyer Contact Information";
//BALANCED_BA GLOBAL VARIABLES
var responseTarget_ba = "/account/newbank_chargecommission/{{item.id}}";
var success_redirect_ba = "/account/messages/{{item.id}}";
var balanced_ba_button_text = "Authorize Charge and View Buyer Contact Information";

$(document).ready(function() {
	$('.show-cc').click(function() {
		$(".payment-button").removeClass('button-primary');
		$(this).addClass('button-primary');
		$('.ba-container').css('display','none');
		$('.cc-container').css('display','block');
	});
	$('.add-payment').click(function() {
		$('.add-payment-container').fadeIn();
	});
	$('.use-payment-button').click(function() {
		$(this).text("Processing. . . ");
		$(this).css("opacity",".4");
		$(this).removeClass("button-action");
	});
});
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_cc.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_ba.js"></script>
{% endblock %}

{% block content %}
<div class="pagecontainer row covebox">
	<div class="gateway">
		{% if error %}
		<div class="error-format error-block">
			There was an error attempting to charge your card. Please try again or use a different payment method
		</div>
		{% endif %}
		<div class="gateway-header">
			<h3>You have <span class="badge">1</span> buyer who would like to buy or schedule a viewing</h3>
		</div>
		<div class="row gateway-body">
			<p>Congratulations on attracting buyers with serious intent to purchase your item! By proceeding with this step, you will be able to freely contact all interested buyers to arrange for viewings and/or purchase outside of VetCove.
			In order to ensure that all VetCove items slated for offline sale are accounted for, we require a valid credit card to assess a fully refundable VetCove selling fee.  Once this fee is assessed, you will be provided with the complete business and contact information for all current and future prospective buyers until your item is sold.</p>
			<p>If you are unable to sell your item in <span class="underline">ninety</span> days, we will refund <strong>100% of the assessed fees directly to the credit card or bank account</strong> from which it was charged.  If and when your item does get sold successfully, we would appreciate you marking the item as sold in your VetCove account.  We value your honesty that makes offline transactions possible, and appreciate your understanding in allowing us continue to serve the veterinary community. </p>
			<p>Please note that if you proceed, you will still be able to authorize buyers to pay you online through VetCove.  If you choose to do so, 100% of the purchase price will be passed through to you, as the VetCove Seller fees will have already been paid.  You will also be eligible for VetCove Seller Protection by choosing to use VetCove to complete the payment transaction.</p>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12 payment-row">
				<div class="gateway-row">
					<h5>Refundable Commission Payment</h5>
					<div class="paymentbox">
						{% include 'account/payment_methods.html'%}
					</div>
					{% if payment_methods %}
					<button class="add-payment button button-rounded">Enter a New Credit Card</button>
					{% endif %}
					<div class="add-payment-container">
						<div class="cc-container">
							{% include 'account/cc_form.html'%}
						</div>
					</div>
				</div>
			</div>
			{% load multiply %}
			<div class="col-md-4 col-sm-4 col-xs-12 total-row">
				<div class="gateway-row">
					<h5>Refundable Commission Fee</h5>
					<p class="subheader">* The commission fee is {{commission_percent|multiply:100}}% of the list price, based on our <a target="_blank" href="/commission">commission structure</a>, charged once and fully refundable if your item does not sell.</p>
					<p>Commission Fee ({{commission_percent|multiply:100}}%)<span>{{standard_commission|dollars}}</span></p>
					{% if item.promo_code %}
					<p>Promo Code ({{item.promo_code.details}})<span>-{{discount|dollars}}</span></p>
					{% endif %}
					<p class="commission-total">Total:<span>{{net_commission|dollars}}</span></p>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}