{% extends 'account/account.html' %}

{% block listeditems %}active{% endblock %}

{% block maintitle %}Listed Items{% endblock %}
{% block headersubcss %}

<style>

.listeditem {
	width: 100%:
	border:1px solid red;
	margin: 10px 0;
	border-radius: 2px;
	padding: 20px;
}
.listeditem h3 {
	margin: 0px;
	font-size: 17px;
	color: #333;
}
.listeditem h4 {
	font-weight: 200;
	font-size: 16px;
	margin: 0;
	padding: 8px 0;
}
.listeditem h4 span {
	font-weight: 800;
	color: green;
}
.listeditem .actions a {
	margin: 0 0 15px 0;
	width: 100%;
	font-size: 13px;
}
.listeditem .stats {
	margin-top: 10px;
}
.listeditem .stats div {
	text-align: center;
}
.listeditem .stats .statbox h5 {
	font-size: 60px;
	color: #2397BA;
	font-weight: 200;
	margin: 0;
}
.listeditem .stats .statbox p {
	font-size: 13px;
	font-weight: 200;
	color: #333;
}
</style>
{% endblock %}

{% block jsblock %}

{% endblock %}

{% block maincontent %}
	<div class="listeditem covebox">
		<div class="row">
			<div class="col-md-9 col-sm-9">
				<h3>Pulsair Veterinary Ultrasound</h3>
				<h4>Status: <span>Active</span></h4>
				<div class="row stats">
					<div class="col-md-3 col-sm-3 col-xs-6 statbox">
						<h5>0</h5>
						<p>Unanswered Questions</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 statbox">
						<h5>3</h5>
						<p>People Saved This Item</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 statbox">
						<h5>13</h5>
						<p>Days Listed</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 statbox">
						<h5>24</h5>
						<p>People Viewed This Item</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 actions">
				<a class="button button-rounded button-small">View Listing</a>
				<a class="button button-rounded button-small">Edit Listing</a>
				<a class="button button-rounded button-small">Answer Questions</a>
				<a class="button button-rounded button-small">Mark as Sold</a>
			</div>
			
		</div>
	</div>
	{% if not items %}
		
	{% else %}
		<p id="nolistings" style="display:block"> You do not have any items currently listed with MedBay</p>
	{% endif %}
{% endblock %}