{% extends 'base.html' %}
{% block headertitle %}<title>MedBay | Search</title>{% endblock%}

{% block headercss %}
	<link href="{{STATIC_URL}}css/login.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block jsblock %}
<script>

</script>
{% endblock %}

{% block content %}
<div class="clear"></div>

<div class="logincontainer">
	<div class="login">
		<div class="loginheader">
			<h1>Log In</h1>
			<h2>Don't have an account? <a href="signup"> Signup here</a></h2>
		</div>
		{% if action %}<p class="errormessage">
			{% if action == 'question' %}You must be logged in to ask a question {% endif %}
			{% if action == 'save' %}You must be logged in to save an item {% endif %}
			{% if action == 'contactseller' %}You must be logged in to contact the seller{% endif %}
		</p>{% endif %}
		<p>{{ outcome }}</p>
		{% if next %}
		<form class="loginform" action="/lgnrequest/?next={{next}}" method="post" >
		{%else%}
		<form class="loginform" action="lgnrequest" method="post">
		{% endif %}
			{% csrf_token %}
			<p>Email</p>
			<input name="email" class="form-control" type="email" placeholder="ex. joedoe@gmail.com">
			<p>Password</p>
			<input name="password" class="form-control" type="password">
			<a class="forgotpassword" href="{% url "password_reset_recover" %}">Forgot Password?</a>
			<button class="btn" value="submit">Login</button>
			<div class="clear"></div>
		</form>
	</div>
</div>
{% endblock %}