{% for payment in user.basicuser.payment_set.all %}
{% if payment.balancedcard %}
<div class="payment-method">
	<div class="row payment-description">
		<div class="payment-type col-md-7 col-sm-7 col-xs-12">
			<p><span>{{payment.balancedcard.brand}} Card</span><p>
		</div>
		<div class="payment-info col-md-5 col-sm-5 col-xs-12">
			<p>********{{payment.balancedcard.last_four}} <span>(Expires {{payment.balancedcard.expiration_month}}/{{payment.balancedcard.expiration_year}})</span></p>
		</div>
	</div>
	{% if not gate %}
	<div class="row payment-actions">	
		{% if user.basicuser.payment_method == payment %}
			<button value="submit" name="submit" class="button button-rounded button-action button-tiny">Default For Paying Commission Fees</button>
		{% else %}
		<form action="/account/makedefaultpayment/{{payment.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="button button-rounded button-tiny">Make Default For Paying Commission Fees</button>
		</form>
		{% endif %}
		</form>
		<form action="/account/deletepayment/{{payment.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="button button-rounded button-tiny">Delete</button>
		</form>
	</div>
	{% else %}
		<form class="gateform" action="/gatepayment/card/{{payment.balancedcard.id}}/{{item.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="use-payment-button button button-rounded button-action button-tiny">Pay With This Card</button>
		</form>
	{% endif %}
</div>

{% elif payment.balancedbankaccount %}

<div class="payment-method">
	<div class="row payment-description">
		<div class="payment-type col-md-7 col-sm-7 col-xs-12">
			<p><span>{{payment.balancedbankaccount.bank_name | title}} Account</span><p>
		</div>
		<div class="payment-info col-md-5 col-sm-5 col-xs-12">
			<p>{{payment.balancedbankaccount.name}} &sdot; <span>{{payment.balancedbankaccount.account_number}}</span></p>
		</div>
	</div>
	{% if not gate %}
	<div class="row payment-actions">
		{% if user.basicuser.payout_method == payment %}	
			<button class="button button-rounded button-tiny button-primary">Seller payouts will be credited to this account</button>
		{% else %}
			<form action="/account/makedefaultpayout/{{payment.id}}" method="POST">
				{% csrf_token %}
				<button value="submit" name="submit" class="button button-rounded button-tiny">Use this account to receive seller payouts</button>
			</form>
		{% endif %}
		
		</form>
		<form action="/account/deletepayment/{{payment.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="button button-rounded button-tiny">Delete</button>
		</form>
	</div>
	{% else %}
		<form class="gateform" action="/gatepayment/bank/{{payment.balancedbankaccount.id}}/{{item.id}}" method="POST">
			{% csrf_token %}
			<button value="submit" name="submit" class="use-payment-button button button-rounded button-action button-tiny">Pay With This Bank Account</button>
		</form>
	{% endif %}
</div>

{% endif %}

{% endfor %}