{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Payment</title>{% endblock%}
{% block payment %}active{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/address.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced.js"></script>
<script type="text/javascript">
var marketplaceUri = '/v1/marketplaces/TEST-MP49EIrAntwbE1iYZDuZWtjo';
//BALANCED_CC GLOBAL VARIABLES
var responseTarget_cc = "/account/addcreditcard";
var success_redirect_cc = "/account/payment";
var balanced_cc_button_text = "Add This Card";
//BALANCED_BA GLOBAL VARIABLES
var responseTarget_ba = '/account/addbankaccount';
var success_redirect_ba = "/account/payment";
var balanced_ba_button_text = "Add Bank Account";
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_cc.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_ba.js"></script>
<script>
//Functionality of payment method 
$(document).ready(function() {
	
	//Toggle displays of the two payout methods, credit card
	$(".button-payment").click(function() {
		$(".button-payment").removeClass('button-payment-glow');
		$(".button-payment").removeClass('button-primary');
		if (!($(this).hasClass('payment-button-glow'))) {
			$(this).addClass('payment-button-glow');
		};
		if (!($(this).hasClass('button-primary'))) {
			$(this).addClass('button-primary');
		};
		$(".payment-add").css('display','none');
		if ($(this).attr('id') == "newbankaccount-button") {
			$(".payment-ba").css('display','block');
		} else if ($(this).attr('id') == "newcreditcard-button") {
			$(".payment-cc").css('display','block');
		} 
	});
	$(".payment-cancel").click(function() {
		$(".button-payment").removeClass('button-payment-glow');
		$(".button-payment").removeClass('button-primary');
		$(".payment-add").css('display','none');
	});
	$(".address-cancel").click(function() {
		$(".payment-address-new-form").css('display','none');
		$(".payment-address-div").css('display','block');
		$(".payment-address-new-button").css('display','block');
	});
	$(".payment-address-new-button button").click(function() {
		$(".payment-address-new-button").css('display','none');
		$(".payment-address-div").css('display','none');
		$(".payment-address-new-form").css('display','block');
	});
	
	$('.mailchecks').prop('checked',{% if user.basicuser.payout_method.checkaddress %}true{%else%}false{% endif %});
	$('.mailchecks').click(function() {
		if ($(this).is(':checked')) {
			$('#payment-address-container').css('display','block');
			console.log('asol');
		} else {
			$('#payment-address-container').css('display','none');
		}
	});
});
</script>
{% endblock %}
{% block maintitle %}Payment{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/checkoutform.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/cc_form.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/payment_methods.css" rel="stylesheet" type="text/css" />

<style>

.paymentbox-container {
	margin-bottom: 15px;
}
.paymentbox {
	padding: 0px 30px 0 30px;
}
.paymentbox div {
	padding-left: 0;
	padding-right: 0;
}

/* Current payment formatting */
.paymentbox .payment-current {
	padding: 10px 0px 10px 0px;
}
.paymentbox .payment-current h5 {
	margin-top: 20px;
}
.paymentbox .payment-current p {
	font-weight: 200;
	padding-bottom: 0;
	margin: 0;
	font-size: 13px;
}

/* New payment buttons */
.paymentbox .payment-new {
	border-top: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px 0 0 0;
}
.paymentbox .payment-new .button-payment-glow {
	box-shadow: 0 0 5px #00B5E5;
}

/* Credit card and bank account add */
.paymentbox .payment-add {
	margin: 10px 0px 20px 0px;
	display: none;
}
.paymentbox .payment-add table {
	width: 100%;
	max-width: 500px;
}
.paymentbox .payment-add .explain {
	margin: 0;
}
.paymentbox .payment-add .payment-cancel-a {
	margin-top: 15px;
}
.paymentbox .payment-add .payment-cancel:hover {
	cursor: pointer;
}


/* Supplementary cc form formatting */
.cc_form .form-group {	
	margin-bottom: 15px;
}
.cc_form .expiration-row div {
	padding-bottom: 0;
}

/* Formatting when submitting new bank account */
#ba-submit img {
	display: none;
}

/* Error formatting */
.div-error{
	margin-top: 30px;
}
.error-format {
	display: none;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

.payment-actions {
	margin-left: 15px;
	text-align: right;
}
.payment-actions form {
	display: inline-block;
}


.hide-div {
	display: none;
}
.alert-nopayment {
	margin: 20px 20px 0 20px;
}
</style>
{% endblock %}
{% block maincontent %}
{% load phonenumber %}
{% load zipcodify %}
	<div class="covebox paymentbox-container">
		<h4 class="maincontent-title">Paying Out and Receiving Payments<img class="balanced-image" src="{{STATIC_URL}}img/balanced-image.png"/></h4>
		{% if user.basicuser.payout_method == 'none' %}
		<div class="alert alert-danger alert-nopayment">
			<strong>No Payment Method Set</strong>
			<p>In order to receive payments from items you sell on VetCove, you must set a payout method. You can either
			enter a bank account and receive a direct deposit, or enter a mailing address and receive a check by mail</p>
		</div>
		{% endif %}
		
		<div class="paymentbox">
			<div class="payment-current">
				<h5>Payments on VetCove</h5>
				<p>On VetCove, you can buy items with a credit card or a bank account. To receive payments as a seller,
				you can receive a check by mail or we can make a direct deposit right into your bank account.</p>	
				<h5>Receiving Payment Method: 
					<strong>
					{% if user.basicuser.payout_method.checkaddress %}
						Check By Mail
					{% elif  user.basicuser.payout_method.balancedbankaccount %}
						Direct Deposit to Bank Account
					{% else %}
					 	No Payout Method Set
					{% endif %}
					</strong>
				</h5>
				<div class="payment-address">	
					<form class="address-toggle">
						<div class="checkbox">
							<label>
								<input class="mailchecks" type="checkbox" {% if user.basicuser.payout_method.checkaddress %}checked="checked"{% endif %}> I'd rather receive payments from sales via check by mail
							</label>
						</div>
					</form>	
					<div id="payment-address-container" class="{% if not user.basicuser.payout_method.checkaddress %}hide-div{% endif %}">
					
						{% for payment in user.basicuser.payment_set.all %}
							{% if payment.checkaddress %} 
								<div class="payment-method">
									<div class="row payment-description">
										<div class="payment-type col-md-8 col-sm-8 col-xs-12">
											<p><span>Check By Direct Mail</span><p>
										</div>
										<div class="payment-info col-md-4 col-sm-4 col-xs-12">
											<p>{{payment.checkaddress.address.name}}
											<p>{{payment.checkaddress.address.address_one}}</p>
											{% if payment.checkaddress.address.address_two %}<p>{{payment.checkaddress.address.address_two}}</p>{% endif %}
											<p>{{payment.checkaddress.address.city}}, {{payment.checkaddress.address.state}} {{payment.checkaddress.address.zipcode|zipcodify}}</p>
											<p>{{payment.checkaddress.address.phonenumber|phonenumber}}</p>
										</div>
									</div>
									{% if not gate %}
									<div class="row payment-actions">
										{% if user.basicuser.payout_method == payment %}	
											<button class="button button-rounded button-tiny button-primary">Payouts will be sent to this address</button>
										{% else %}
											<form action="/account/makedefaultpayout/{{payment.id}}" method="POST">
												{% csrf_token %}
												<button value="submit" name="submit" class="button button-rounded button-tiny">Send payouts to this address</button>
											</form>
										{% endif %}
										</form>
										<form action="/account/deletepayment/{{payment.id}}" method="POST">
											{% csrf_token %}
											<button value="submit" name="submit" class="button button-rounded button-tiny">Delete this Address</button>
										</form>
									</div>
									{% else %}
										<form class="gateform" action="/gatepayment/bank/{{payment.balancedbankaccount.id}}/{{item.id}}" method="POST">
											{% csrf_token %}
											<button value="submit" name="submit" class="use-payment-button button button-rounded button-action button-tiny">Pay With This Bank Account</button>
										</form>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}

						<div class="row payment-address-new-button">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<button class="button button-tiny button-rounded">{% if user.basicuser.address_set.all %}or {% endif %}Enter a New Mailing Address</button>
							</div>
						</div>
						<div class="row payment-address-new-form">
							<p class="address-description">Enter a new mailing address to receive checks from sales on VetCove</p>
							{% include 'general/address.html' %}
						</div>
					</div>
				</div>
			</div>
			<div class="payment-cards">
				<h5>Current Cards and Bank Accounts</h5>
				{% include 'account/payment_methods.html' %}
			</div>
			<div class='payment-new'>
				<button id="newcreditcard-button" class="button button-rounded button-payment button-cc-payment">Add a New Credit Card</button> 
				<button id="newbankaccount-button" class="button button-rounded button-payment button-ba-payment">Add a New Bank Account</button> 
			</div>
			<div class="payment-add checkoutform-container payment-cc">
				<p class="explain">Sellers getting paid through direct deposit to a bank account are paid every Monday at 5pm after a minimum 14 days after the sale.</p>
				<button class="populate">Populate</button>
				{% include 'account/cc_form.html' %}
			</div>
			<div class="payment-add checkoutform-container payment-ba">
				<p class="explain">Please check your bank websites for the routing number used specifically for ACH or electronic deposits. Some large banks, particularly Bank Of America, may have different routing numbers for checks and direct deposits.
				Note that wire transfer numbers are NOT the same as the routing number, and they are NOT the same as the bank account number.
				Payments might be delayed by up to (3) three to (5) five business days if incorrect information is provided</p>
				{% include 'account/ba_form.html' %}
				
			</div>
		</div> <!-- end paymentbox -->
	</div>
  		
{% endblock %}