{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Payment</title>{% endblock%}
{% block payment %}active{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/address.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced.js"></script>
<script type="text/javascript">
//BALANCED_CC GLOBAL VARIABLES
var responseTarget = "/account/addcreditcard";
var success_redirect = "/account/payment";
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/balanced_cc.js"></script>
<script>
//Functionality of payment method 
$(document).ready(function() {
	//Toggle displays of the two payout methods, credit card
	$(".button-payment").click(function() {
		$(".button-payment").removeClass('button-payment-glow');
		$(".button-payment").removeClass('button-primary');
		if (!($(this).hasClass('payment-button-glow'))) {
			$(this).addClass('payment-button-glow');
		};
		if (!($(this).hasClass('button-primary'))) {
			$(this).addClass('button-primary');
		};
		$(".payment-add").css('display','none');
		if ($(this).attr('id') == "newbankaccount-button") {
			$(".payment-ba").css('display','block');
		} else if ($(this).attr('id') == "newcreditcard-button") {
			$(".payment-cc").css('display','block');
		} else if ($(this).attr('id') == "newmailingaddress-button") {
			$(".payment-address").css('display','block');
		}
	});
	$(".payment-cancel").click(function() {
		$(".button-payment").removeClass('button-payment-glow');
		$(".button-payment").removeClass('button-primary');
		$(".payment-add").css('display','none');
	});
});

var balanced_submittable = true //Toggles if form is submittable
$(document).ready(function() {	
	var responseTarget = '/addbankaccount';
	var marketplaceUri = '/v1/marketplaces/TEST-MP49EIrAntwbE1iYZDuZWtjo';
    balanced.init(marketplaceUri);
    
	$('#ba-submit').click(function (e) { 
		e.preventDefault();
		if (balanced_submittable){
			Balanced_BA_Disable();
			var payload = {
				name: $('#ba-name').val(),
				account_number: $('#ba-number').val(),
				routing_number: $('#ba-routing').val()
			};

			// Tokenize bank account
			balanced.bankAccount.create(payload, function (response) {
				console.log(response);
				switch (response.status) {
				 case 201:
					$.post(responseTarget, {
						name: response.data.name,
						bank_code: response.data.bank_code,
						account_number:response.data.account_number,
						bank_name: response.data.bank_name,
						fingerprint: response.data.fingerprint,
						uri: response.data.uri
					}, function (r) {
						if (r['status'] == 201) {
							window.location.href = '/account/payment';
						} else {
							displayError("We experienced a problem with our servers. We will fix the problem shortly");
						 	Balanced_BA_Enable();
						}
					}).fail( function(xhr, textStatus, errorThrown) {
						 displayError("We experienced a problem with our servers. We will fix the problem shortly");
						 Balanced_BA_Enable();
					});
					break;
				 case 400:
					 // Missing Field, display appropriate error message
					 displayError("Failed to authorize your bank account. Please double check your name, account and routing number");
					 Balanced_BA_Enable();
					 break;
				 case 402:
					 //Failed to tokenize card
					 displayError("Failed to authorize your bank account. Please double check your account and routing number");
					 Balanced_BA_Enable();
					 break;
				 case 404:
					 // Your marketplace URI is incorrect
					 displayError("We are having technical hiccups with our marketplace URI");
					 Balanced_BA_Enable();
					 break;
				 case 500:
					 // Balanced did something bad, please retry the request
					 Balanced_BA_Enable();
					 break;
				 }
			});
		}
	});
	$('#populate').click(function () {
        $('#ba-name').val('John Hancock');
        $('#ba-routing').val('021000021');
        $('#ba-number').val('9900000004');
    });
});

function displayError(error) {
	$(".error-format").text(error);
	$('.error-format').css('display','block');
}
function Balanced_BA_Disable() {
	balanced_submittable = false;
	$("#ba-submit span").text("Processing. . .");
	$("#ba-submit img").css('display','inline-block');
	if (!($("#ba-submit").hasClass("disabled"))) {
		$("#ba-submit").addClass("disabled");
	}
}
function Balanced_BA_Enable() {
	balanced_submittable = true;
	$("#ba-submit span").text("Use This Card");
	$("#ba-submit img").css('display','none');
	$("#ba-submit").removeClass("disabled");
}
</script>
{% endblock %}
{% block maintitle %}Payment{% endblock %}
{% block headersubcss %}
<link href="{{STATIC_URL}}css/checkoutform.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/cc_form.css" rel="stylesheet" type="text/css" />
<style>
.maincontent-title {
	color: #888;
	letter-spacing: .5px;
	font-weight: 800;
	background: #f2f2f2;
	border-bottom:1px solid #ddd;
	margin: 0;
	line-height: 32px;
	padding: 10px 0px 10px 20px;
	margin-bottom: 0px;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
}

.paymentbox-container {
	margin-bottom: 15px;
}
.paymentbox {
	padding: 20px 20px 0 20px;
}
.paymentbox .payment-current h5 {
	padding: 0px 20px 0 20px;
}
.paymentbox .payment-current p {
	font-weight: 200;
	padding: 0 20px;
	margin: 0;
}
.paymentbox .payment-new {
	border-top: 1px solid #ddd;
	margin: 20px;
	padding: 20px 0 0 0;
}
.paymentbox .payment-new .button-payment-glow {
	box-shadow: 0 0 5px #00B5E5;
}

.paymentbox .payment-add {
	margin: 10px 20px 20px 20px;
	display: none;
}
.paymentbox .payment-add table {
	width: 100%;
	max-width: 500px;
}
.paymentbox .payment-add .explain {
	margin: 0;
}
.paymentbox .payment-add .payment-cancel-a {
	margin-top: 15px;
}
.paymentbox .payment-add .payment-cancel:hover {
	cursor: pointer;
}
/*Credit card formatting */
.paymentbox .payment-cards{
	margin: 20px;
}
.creditcard {
	border:1px solid #ccc;
	background: #f6f6f6;
	padding: 10px 3px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.creditcard span {
	font-size: 12px;
	font-weight: 200;
}
.creditcard p {
	margin: 0;
}
.creditcard .creditcard-action {
	text-align: right;
}
.creditcard .creditcard-action form {
	display: inline-block;
}
.cc_form .form-group {	
	margin-bottom: 15px;
}
.cc_form .expiration-row div {
	padding-bottom: 0;
}

/* Formatting when submitting new bank account */
#ba-submit img {
	display: none;
}

/* Error formatting */
.div-error{
	margin-top: 30px;
}
.error-format {
	display: none;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

</style>
{% endblock %}
{% block maincontent %}
	<div class="covebox paymentbox-container">
		<h4 class="maincontent-title">Paying Sellers and VetCove Seller Fees<img class="balanced-image" src="{{STATIC_URL}}img/balanced-image.png"/></h4>
		<div class="paymentbox">
			<div class="payment-current">
				<h5>Default Credit Card: {% if user.basicuser.default_cc %}Active{% else %}None{% endif %}</h5>
				<p>You will still have the option which payment method to use when you check out. The default
				credit card is used exclusively when a seller is charged commission for items that are sold
				offline</p>		
			</div>
			<div class="payment-cards">
				{% for card in user.basicuser.balancedcard_set.all %}
					<div class="creditcard row">
					<div class="col-md-3 col-sm-3 col-xs-12"><p>{{card.brand}}</div>
					<div class="col-md-4 col-sm-5 col-xs-12">********{{card.last_four}} <span>(Expires {{card.expiration_month}}/{{card.expiration_year}})</span></div>
					<div class="col-md-5 col-sm-4 col-xs-12 creditcard-action">
						{% if user.basicuser.default_cc == card %}
							<button value="submit" name="submit" class="button button-rounded button-action button-tiny">Default Credit Card</button>
						{% else %}
						<form action="/account/defaultcreditcard/{{card.id}}" method="POST">
							{% csrf_token %}
							<button value="submit" name="submit" class="button button-rounded button-tiny">Make Default</button>
						</form>
						{% endif %}
						</form>
						<form action="/account/deletecreditcard/{{card.id}}" method="POST">
							{% csrf_token %}
							<button value="submit" name="submit" class="button button-rounded button-tiny">Delete</button>
						</form>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class='payment-new'>
				<button id="newcreditcard-button" class="button button-rounded button-payment button-cc-payment">Add a New Credit Card</button> 
			</div>
			<div class="payment-add checkoutform-container payment-cc">
				<p class="explain">Sellers getting paid through direct deposit to a bank account are paid every Monday at 5pm after a minimum 14 days after the sale.</p>
				<button id="populate">Populate</button>
				<div class="div-error">
					<div class="error-format"></div>
				</div>
				{% include 'account/cc_form.html' %}
			</div>
		</div> <!-- end paymentbox -->
	</div>
	<div class="covebox paymentbox-container">
		<h4 class="maincontent-title">Receiving Payments<img class="balanced-image" src="{{STATIC_URL}}img/balanced-image.png"/></h4>
		<div class="paymentbox">
			<div class="payment-current">
			{% if user.basicuser.payment_method == 'directdeposit' %}
				<h5>Default Payout Method: Bank Account Direct Deposit</h5>
				<p>{{user.basicuser.bankaccount.name}}</p>
				<p>{{user.basicuser.bankaccount.bank_name}}</p>
				<p>{{user.basicuser.bankaccount.account_number}}</p>
			{% elif user.basicuser.payment_method == 'check' %}
				<h5> Current Payout Method: Check by Mail</h5>
				<p>{{user.basicuser.checkaddress.name}}</p>
				<p>{{user.basicuser.checkaddress.address_one}}</p>
				<p>{{user.basicuser.checkaddress.address_two}}</p>
				<p>{{user.basicuser.checkaddress.city}}, {{user.basicuser.checkaddress.state}} {{user.basicuser.checkaddress.zipcode}}</p>
			{% else %}
				<h5> Current Payout Method: None</h5>
			{% endif %}
			</div>
			<div class="payment-new">
				<button id="newbankaccount-button" class="button button-rounded button-payment">Receive Payments By Direct Deposit ( *recommended )</button>
				<button id="newmailingaddress-button" class="button button-rounded button-payment">Receive Payments By Check</button>
			</div>
			<div class="payment-add checkoutform-container payment-address">
				<p class="explain">By choosing to be paid out through check by mail, we will assess a $5 service and processing fee, and we will 
				not mail a check until your payout exceeds $50. Checks are mailed the first monday of every month.</p>
				{% include 'general/address.html' %}
			</div>
			<div class="payment-add checkoutform-container payment-ba">
				<p class="explain">Sellers getting paid through direct deposit to a bank account are paid every Monday at 5pm after a minimum 14 days after the sale.</p>
				<button id="populate">Populate</button>
				<div class="div-error">
					<div class="error-format"></div>
				</div>
				<form id="bankaccount">
					<div class="form-group">
						<label for="companyname">Account Holder's Name</label>
						<table>
							<tr>
								<td class="form-input"><input type="text" class="form-control" id="ba-name" name="account_name" placeholder="John Doe"></td>
								<td class="form-img"><img src="{{STATIC_URL}}img/blank.png"/></td>
							</tr>
						</table>
					</div>
					<div class="form-group">
						<label for="companyname">Bank Account Number</label>
						<table>
							<tr>
								<td class="form-input"><input type="text" class="form-control" id="ba-number" name="bank_account_number" placeholder="32221847314"></td>
								<td class="form-img"><img src="{{STATIC_URL}}img/blank.png"/></td>
							</tr>
						</table>
					</div>
					<div class="form-group">
						<label for="companyname">Routing Number</label>
						<table>
							<tr>
								<td class="form-input"><input type="text" class="form-control" id="ba-routing" name="routing_number" placeholder="8887776665555"></td>
								<td class="form-img"><img src="{{STATIC_URL}}img/blank.png"/></td>
							</tr>
						</table>
					</div>
					<button id="ba-submit" class="button button-action button-rounded"><img src="{{STATIC_URL}}img/ajax-loader.gif"/><span>Set as Bank Account</span></button>
					<button class="button button-rounded payment-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
  		
{% endblock %}