{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Profile</title>{% endblock%}
{% block headersubcss %}
<style>
.profilediv {
	margin: 20px;
	
}
.profile-info {
	margin-bottom: 15px;
}
.profileitem {
	padding: 20px;
}
.profileitem .row {
	border-bottom:1px dotted #ccc;
	padding: 5px 0;
	line-height: 30px;
}
.profileitem .row .category-label {
	font-weight: 200;
}
.profileitem .row .category-input input,.profileitem .row .category-input select {
	max-width: 300px;
	display:none;
}
.profileitem .row .category-input button {
	display: none;
}
.profileitem .row .category-input a {
	display:none;
}
.profileitem .row .category-input h6 {
	display:none;
	color: red;
	font-weight: 800;
}
.profileitem .row p {
	margin: 0;
}
.error {
	color: red;
	font-weight: 800;
	text-align: center;
}
.success {
	text-align: center;
	font-weight: 800;
}
.profileitem .noborder {
	border:none;
}
.addressbox {
	padding: 20px;
}
.maincontent-title span {
	float: right;
	margin-right: 15px;
	font-size: 13px;
}
.maincontent-title span:hover {
	cursor: pointer;
}
.editable .placeholder {
	color: #aaa;
	font-style:italic;
}
#default-address {
	padding: 0px 10px 0px 10px;
	font-weight: 200;
	color: #555;
	height: 39px;
}
#default-address a:hover {
	text-decoration: underline;	
}
.password-information .row .category-input input {
	display:block;
}
.password-information .row .category-input button {
	display:block;
}
.password-information .error {
	text-align: center;
	display: none;
}
</style>
{% endblock %}
{% block jsblock %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script type="text/javascript" src="{{STATIC_URL}}js/address.js"></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
var states = ['AK',"AL","AR","AS","AZ","CA","CO","CT","DC","DE","FL","GA","GU","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MH","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","PR","PW","RI","SC","SD","TN","TX","UT","VA","VI","VT","WA","WI","WV","WY"];
$(document).ready(function() {
	var inputs = $(".uservalue p");
	$(".edit").click(function() {
		$(this).prev().children('p').css("display","none");
		$(this).prev().children('form').css("display","inline-block");
		$(this).prev().children("form").children(".forminput").val($(this).prev().children('p').text());
	});
	$(".cancel").click(function() {
		$(this).parent().css("display","none");
		$(this).parent().prev().css("display","inline-block");
		return false;
	});
	$("#si-phonenumber").mask("(999) 999-9999");
	//Populate the state field
	for (var i=0; i < states.length; i++) {
		$("#state").append("<option value="+states[i]+">"+states[i]+"</option>");
	}
	$(".address-cancel").click(function() {
		$(".payment-address-new-form").css('display','none');
		$(".payment-address-div").css('display','block');
		$(".payment-address-new-button").css('display','block');
	});
	$(".payment-address-new-button button").click(function() {
		$(".payment-address-new-button").css('display','none');
		$(".payment-address-new-form").css('display','block');
	});
	$(".form-edit").click(function() {
		grouping = $(this).attr('data-block');
		$(grouping+" input").css("display","block");
		$(grouping+" select").css("display","block");
		$(grouping+" button").css("display","inline-block");
		$(grouping+" a").css("display","inline-block");
		$(grouping+" .editable").css("display","none");
	});
	$(".form-cancel").click(function() {
		grouping = $(this).attr('data-block');
		$(grouping+" input").css("display","none");
		$(grouping+" select").css("display","none");
		$(grouping+" button").css("display","none");
		$(grouping+" h6").css("display","none");
		$(grouping+" .editable").css("display","block");
		$(grouping+" a").css("display","none");
	});
	$("#gi-zipcode").keyup(function() {
		$(this).val($(this).val().replace(/\D/g,''));
	});
	$("#gi-form").submit(function() {
		submittable = true;
		if ($("#gi-name").val().length < 3) {
			addError($("#gi-name"));
			submittable = false;
		}
		if (!(isEmail($("#gi-email").val()))) {
			addError($("#gi-email"));
			submittable = false;
		}
		if ($("#gi-zipcode").val().length != 5) {
			addError($("#gi-zipcode"));
			submittable = false;
		}
		if (submittable) {return true}
		return false
	});
	$("#password-form").submit(function() {
		error = $(".password-information .error");
		op = $("#old-password").val();
		np = $("#new-password").val();
		if (np == op) {
			$(error).text("New password must be different from old password");
			$(error).css('display','block');
			return false;
		}
		else if (np.length < 6) {
			$(error).text("New Password must be at least 6 characters");
			$(error).css('display','block');
			return false;
		}
		return true;
		
	});
});

function isEmail(email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  return emailReg.test(email);
}

function addError(handle) {
	$(handle).css('border','1px solid red');
	$(handle).next().css('display','block');
}
</script>
{% endblock %}
{% block profile %}active{% endblock %}

{% block maintitle %}Profile{% endblock %}

{% block server_message %}
	{% if error == "password" %}
	<div class="error alert alert-danger">Password failed to reset. Please make sure you entered your old password correctly</div>
	{% elif error == "name" %}
		<div class="error alert alert-danger">Your name is too short. Please enter your full name</div>
	{% elif error == "city" %}
		<div class="error alert alert-danger">City is invalid. City field must be at least 3 characters</div>
	{% elif error == "zipcode" %}
		<div class="error alert alert-danger">Invalid zipcode. Zipcode must be an integer of length 5</div>
	{% elif error == "address" %}
		<div class="error alert alert-danger">Your address is too short. Please try again.</div>
	{% elif error == "phonenumber" %}
		<div class="error alert alert-danger">Invalid phone number. Phone number must follow the format (xxx) xxx - xxxx</div>
	{% endif %}
	{% if success == "password" %}
		<div class="success alert alert-success">You have successfully reset your password</div>
	{% endif %}
{% endblock %}

{% block maincontent %}
{% load zipcodify %}
{% load phonenumber %}
<div class="maincontent-container">
	<div class="profile-info covebox">
		<h4 class="maincontent-title">General Information<span data-block=".general-information" class="form-edit button button-small button-rounded button-primary">Edit</span></h4>
		<div class="profileitem general-information">
			<form id="gi-form" action="/account/updategeneral" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Name
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{{basicuser.name}}</p>
						<input id="gi-name" type="text" name="name" class="form-control" value="{{basicuser.name}}">
						<h6>Name must be at least 3 characters</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Login Email
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p>{{user.username}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Contact Email
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{{basicuser.email}}</p>
						<input id="gi-email" type="email" required name="email" class="form-control" value="{{basicuser.email}}">
						<h6>Not A Valid Email Address</h6>
					</div>
				</div>
				<div class="row noborder">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Zipcode
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{{basicuser.zipcode|zipcodify}}</p>
						<input id="gi-zipcode" length="5" type="text" name="zipcode" class="form-control" value="{{basicuser.zipcode|zipcodify}}">
						<h6>Zipcode must be a 5 digits</h6>
					</div>
				</div>
				<div class="row noborder">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label"></div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<button type="submit" class="button button-tiny button-rounded button-action" value="submit">Update Information</button>
						<a data-block=".general-information" class="form-cancel button button-rounded button-tiny">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="profile-info covebox paymentbox">
		<h4 class="maincontent-title">Addresses</h4>
		<div id="payment-address-container" class="addressbox">
			<div class="payment-address-div row">
				{% for address in user.basicuser.address_set.all %}
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="address-box">
						<p>{{address.name}}</p>
						<p>{{address.address_one}}</p>
						{% if address.address_two %}<p>{{address.address_two}}</p>{% endif %}
						<p>{{address.city}}, {{address.state}} {{address.zipcode|zipcodify}}</p>
						<p>{{address.phonenumber|phonenumber}}</p>
						{% if user.basicuser.payout_method.checkaddress and user.basicuser.payout_method.checkaddress.address == address %}
						<p id="default-address">This is your default payout mailing address. You can update your <a href="/account/payment">payment preferences here</a></p>
						{% else %}
						<form action="/account/deletemailingaddress/{{address.id}}" method="POST">
							{% csrf_token %}
							<input type="hidden" value="true" name="profile">
							<button class="button button-tiny button-rounded">Delete Address</button>
						</form>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row payment-address-new-button">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button class="button button-primary button-rounded">Enter a New Address</button>
				</div>
			</div>
			<div class="row payment-address-new-form">
				<p> Enter a new address below:</p>
				{% include 'general/address.html' %}
			</div>
		</div>
		
	</div>
	<div class="profile-info covebox">
		<h4 class="maincontent-title">Additional Information (for Sellers) <span data-block=".seller-information" class="form-edit button button-small button-rounded button-primary">Edit</span></h4>
		<div class="profileitem seller-information">
			<form id="si-form" action="/account/updateseller" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Business Type
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{% if basicuser.businesstype %}{{basicuser.businesstype}}{% else %}<span class="placeholder">None entered</span>{% endif %}</p>
						<select id="si-business" name="business" class="form-control">
							<option>Individual</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Company Name
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{% if basicuser.company %}{{basicuser.company}}{% else %}<span class="placeholder">None entered</span>{% endif %}</p>
						<input id="si-company" required type="text" name="company" class="form-control" value="{% if basicuser.company %}{{basicuser.company}}{% endif %}"  placeholder="i.e. Wildwood Equine">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Website
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{% if basicuser.website %}{{basicuser.website}}{% else %}<span class="placeholder">None entered</span>{% endif %}</p>
						<input id="si-website" type="text" name="website" class="form-control" value="{% if basicuser.website %}{{basicuser.website}}{% endif %}" placeholder="i.e. www.wildwoodequine.com">
						<h6>Not A Valid Email Address</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Phone Number
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p class="editable">{% if basicuser.phonenumber %}{{basicuser.phonenumber|phonenumber}}{% else %}<span class="placeholder">None entered</span>{% endif %}</p>
						<input id="si-phonenumber" required type="text" name="phonenumber" class="form-control" value="{% if basicuser.phonenumber %}{{basicuser.phonenumber|phonenumber}}{% endif %}"  placeholder="i.e. (732) 431-1231">
						<h6>Zipcode must be a 5 digits</h6>
					</div>
				</div>
				<div class="row noborder">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						VetCove Verified
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<p>{% if basicuser.verified %}Yes{% else %}Not Yet. Please call us at 732-598-6434 to become verified{% endif %}</p>
					</div>
				</div>
				<div class="row noborder">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label"></div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<button type="submit" class="button button-tiny button-rounded button-action" value="submit">Update Information</button>
						<a data-block=".seller-information" class="form-cancel button button-rounded button-tiny">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="profile-info covebox">
		<h4 class="maincontent-title">Password</h4>
		<div class="profileitem password-information">
			<p class="error">Passwords do not match</p>
			<form id="password-form" action="/account/updatepassword" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						Old Password
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<input id="old-password" required type="password" name="oldpassword" class="form-control" value=""  placeholder="Old Password">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label">
						New Password
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<input id="new-password" required type="password" name="newpassword" class="form-control" value="" placeholder="New Password">
					</div>
				</div>
				<div class="row noborder">
					<div class="col-md-3 col-sm-3 col-xs-3 category-label"></div>
					<div class="col-md-9 col-sm-9 col-xs-9 category-input">
						<button type="submit" class="button button-tiny button-rounded button-action" value="submit">Update Password</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}