{% extends 'account/account.html' %}
{% block headertitle %}<title>VetCove | Settings</title>{% endblock%}
{% block settings %}active{% endblock %}

{% block maintitle %}Settings{% endblock %}

{% block headersubcss %}
<style>
.maincontent-container {
	padding: 20px;
	padding-top: 0px;
}
h4 {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 10px;
}
.settingsform {
	text-align: left;
}
.delete-button {
}
.deleteaccount {
	text-align: left;
}
.deleteaccount a {
	display: inline-block;
	margin-bottom: 40px;
}
#delete-form {
	display:none;
}

</style>
{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function() {
	$("#newsletter").change(function() {
		$("#newsletter-form").submit();
	});
	$('.delete-button').click(function() {
		$("#delete-form").fadeIn();
		$('.delete-button').css('display','none');
	})
});
</script>
{% endblock %}
{% block maincontent %}
<div class="maincontent-container covebox">
	<h4> Notifications </h4>
		<form id="newsletter-form" class="settingsform" method="POST" action="/account/updatesettings/newsletter">
			{% csrf_token %}
			<div class="checkbox">
				<label>
					<input type="checkbox" id="newsletter" name="newsletter" {% if user.basicuser.newsletter %}checked{% endif %}> Receive weekly emails with specials and promotions
				</label>
			</div>
		</form>
	<h4> Account </h4>
		<button class="delete-button button button-rounded button-caution">Delete Account</button>
		<form id="delete-form" class="settingsform" method="POST" action="/account/updatesettings/delete">
			{% csrf_token %}
			<p>Are you sure you want to disable your account? You will need to contact VetCove directly if you would like to reactivate this account </p>
			<button value="submit" name="submit" class="button button-caution button-rounded">Confirm Delete Account</button>
		</form>
</div>

{% endblock %}