{% extends 'base.html' %}
{% block headertitle %}<title>MedBay | Search</title>{% endblock%}

{% block headercss %}
	<link href="{{STATIC_URL}}css/login.css" rel="stylesheet" type="text/css" />
<style>
.form-control{
	width: 300px;
}
.signupform {
	text-align: left;
	width: 600px;
	margin: 40px 20px;
	float: left;
}
.signuptextdiv {
	float: left;
	text-align: left;
	width: 300px;
	margin-top: 40px;
	margin: 30px 0px;
	height: 550px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(left center, circle closest-corner, #F2F2F2 0%, #FFFFFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(left center, circle closest-corner, #F2F2F2 0%, #FFFFFF 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(left center, circle closest-corner, #F2F2F2 0%, #FFFFFF 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(radial, left center, 0, left center, 140, color-stop(0, #F2F2F2), color-stop(1, #FFFFFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(left center, circle closest-corner, #F2F2F2 0%, #FFFFFF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle closest-corner at left center, #F2F2F2 0%, #FFFFFF 100%);
}
.signuptextdiv h2 {
	font-size: 15px;
	border-bottom: 1px solid #eee; 
}
.signuptextdiv h3 {
	font-size: 14px;
	font-weight: 800;
	color: #333;
	margin-top: 30px;
}
.signuptextdiv h3 span {
	width: 26px;
	display: inline-block;
	height: 26px;
	color: white;
	background: #ED821F;
	text-align: center;
	line-height: 26px;
	border-radius: 13px;
	margin-right: 10px;
}
.signuptextdiv p {
	color: #555;
	font-size: 13px;
	font-weight: 200;
}
	
.form-group input, .form-group select {
	display: inline;
}
.form-group label {
	width: 140px;
	text-align: right;
	color: #777;
	font-weight: 200;
	line-height: 13px;
	padding-bottom: 3px;
	margin-right: 15px;
}
.form-group img {
	display: inline;
	width: 20px;
	height:20px;
	margin-left: 10px;
}
.form-group p {
	display:inline;
}
.signupform button {
	margin-left: 160px;
}
#passwordtext {
	margin-top: 10px;
	color: #D90000;
}
</style>
{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var formelements = {'businesstype':false,'name':false,'company':false,'email':false,'address':false,'zipcode':false,'city':false,'state':true,'website':false,'phonenumber':false, 'password':false};
var states = ['AK',"AL","AR","AS","AZ","CA","CO","CT","DC","DE","FL","GA","GU","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MH","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","PR","PW","RI","SC","SD","TN","TX","UT","VA","VI","VT","WA","WI","WV","WY"];

function isEmail(email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  console.log(emailReg.test(email));
  return emailReg.test(email);
}

$(document).ready(function() {
	$(".phonenumber").mask("(999) 999-9999");
	$("#zipcode").mask("99999",{placeholder:" "});
	$("input").blur(function() {
		validateinput($(this));
	});
	$("input").keypress(function() {
		validateinput($(this));
	});
	$("select").change(function() {
		validateinput($(this));
	});
	for (var i=0; i < states.length; i++) {
		$("#state").append("<option>"+states[i]+"</option>");
	}
	$("#submitbutton").attr("disabled","disabled");
});


//Updates the css taking in a dictionary
var updateformcss = function updateformcss(handler) {
	var value = formelements[$(handler).attr('id')];
	var index = $(handler).attr('id');
	if (!(value)) {
			if (!($("#"+index).parent().hasClass("has-error"))) {
				$("#"+index).parent().addClass("has-error");
			}
			$("#"+index).parent().children("img").attr("src","{{STATIC_URL}}img/xmark.png");

		} else if (value=='clear') {
			$("#"+index).parent().children("img").attr("src","");
		} else {
			if ($("#"+index).parent().hasClass("has-error")) {
				$("#"+index).parent().removeClass("has-error");
			}
			$("#"+index).parent().children("img").attr("src","{{STATIC_URL}}img/checkmark.png");
		}
}

//Takes in a list of inputs to verify
var validateinput = function validateinput(handler) {
	if ($(handler).attr('id') =='businesstype') {
		formelements['businesstype'] = true;
	}
	if ($(handler).attr('id') =='name') {
		var validated = ($("#name").val().length < 1) ? false : true;
		formelements['name'] = validated;
	}
	if ($(handler).attr('id') =='company') {
		var validated = ($("#company").val().length < 1) ? false : true;
		formelements['company'] = validated;
	}
	if ($(handler).attr('id') =='email') {
		formelements['email'] = (isEmail($("#email").val()) && $("#email").val().length >0);
	}
	if ($(handler).attr('id') =='address') {
		var validated = ($("#address").val().length < 5) ? false : true;
		formelements['address'] = validated;
	}
	if ($(handler).attr('id') =='city') {
		var validated = ($("#city").val().length < 3) ? false : true;
		formelements['city'] = validated;
	}
	if ($(handler).attr('id') =='state') {
		formelements['state'] = true;
	}
	if ($(handler).attr('id') =='zipcode') {
		var validated = ($("#zipcode").val().length == 5) ? true : false;
		formelements['zipcode'] = validated;
	}
	if ($(handler).attr('id') =='website') {
		formelements['website'] = true;
	}
	if ($(handler).attr('id') =='phonenumber') {
		var validated = ($("#phonenumber").val().length == 14) ? true : false;
		formelements['phonenumber'] = validated;
	}
	if ($(handler).attr('id') =='password') {
		if ($("#password").val().length < 3) {
			$("#passwordtext").html("Very Weak");
			formelements['password'] = false;
		} else if ($("#password").val().length < 6) {
			$("#passwordtext").html("Weak");
			formelements['password'] = false;
		} else {
			$("#passwordtext").html("");
			formelements['password'] = true;
		}
	}
	updateformcss(handler);
	
	var submittable = true;
	$.each(formelements, function(index,value) {
		if (value == false) {
			submittable = false;
		}
	});
	if (submittable == true) {
		$("#submitbutton").removeAttr("disabled");
	} else {
		$("#submitbutton").attr("disabled","disabled");
	}
}


</script>
{% endblock %}

{% block content %}
<div class="clear"></div>

<div class="logincontainer">
	<div class="login">
		<div class="loginheader">
			<h1>Sign Up</h1>
			<h2>Already have an account? <a href="login"> Log In here</a></h2>
		</div>
		
		<form class="signupform" action="newuserform" method="post">
		  {% csrf_token %}
		  <div class="form-group">
			<label for="companyname">Business Type *</label>
			<select style="width: 300px" class="form-control" name="businesstype" id="businesstype">
				<option>Select primary business type. . . </option>
				<option>Private Practice</option>
				<option>Individual</option>
				<option>Refurbisher</option>
				<option>Supplier</option>
				<option>Manufacturer</option>
				<option>Other</option>
			</select>
			<img src=""/>
		  </div>
		  <div class="form-group">
			 <label for="companyname">Name *</label>
				 <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" />
				<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="street1">Company *</label>
			<input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name" />
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="street2">Email *</label>
			<input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="city">Address *</label>
			<input type="text" class="form-control" id="address" name="address" placeholder="Enter Company Address" />
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="zipcode">Zipcode *</label>
			<input style="width: 190px" type="number" name="zipcode" class="form-control" id="zipcode" maxlength="5" placeholder="Enter Zipcode" />
			<img src=""/>
		  </div>
		   <div class="form-group">
			<label for="state">City *</label>
			<input style="width: 190px" type="city" name="city" class="form-control" id="city"  placeholder="Enter City" />
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="state">State *</label>
			<select style="width: 100px" class="form-control" name="state" id="state" />
			</select>
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="contactperson">Website URL</label>
			<input type="text" class="form-control" name="website" id="website" placeholder="Enter Company Website URL" />
			<img src=""/>
		  </div>
		   <div class="form-group">
			<label for="customersupportphone">Telephone *</label>
			<input type="text" class="form-control phonenumber" name="phonenumber" maxlength="12" id="phonenumber" placeholder="Enter Phone Number" />
			<img src=""/>
		  </div>
		  <div class="form-group">
			<label for="customersupportphone">Password *</label>
			<input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" />
			<img src=""/>
			<p id="passwordtext"></p>
		  </div>
		  
  		  <button type="submit" id="submitbutton" value="submit" class="btn btn-primary">Join VetCove</button>
	</form>

		<div class="signuptextdiv">
			<h2> Why should you sign up?</h2>
			<h3> <span>1</span>It's free to list!</h3>
			<p>List all of your equipment for free. We only take a commission if you
			successfully sell your equipment</p>
			<h3> <span>2</span>Ask questions to sellers</h3>
			<p> Signing up lets you save items to view later, create price alerts when a product
			you may want changes prices, and ask questions about products you're interested in </p>
			<h3><span>3</span>Track products</h3>
			<p>You can save equipment you want to keep an on, and get alerted if its price changes
			or a new piece of equipment gets listed</p>
		
		
		</div>

		<div class="clear"></div>

	</div>
</div>
{% endblock %}





















