{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | Signup</title>{% endblock%}

{% block headercss %}
	<link href="{{STATIC_URL}}css/login.css" rel="stylesheet" type="text/css" />
<style>


</style>
{% endblock %}

{% block jsblock %}
<script src="{{STATIC_URL}}js/maskedinput.js" type="text/javascript" ></script>
<script>
var x_mark_src = "{{STATIC_URL}}img/xmark.png";
var check_mark_src = "{{STATIC_URL}}img/checkmark.png";
var blank_src = "{{STATIC_URL}}img/blank.png";
var loading_src = "{{STATIC_URL}}img/ajax-loader2.gif";
</script>
<script src="{{STATIC_URL}}js/signup.js" type="text/javascript" ></script>

{% endblock %}

{% block content %}
<div class="clear"></div>

<div class="logincontainer">
	<div class="login">
		<div class="loginheader">
			<h1>Sign Up</h1>
			<h2>Already have an account? <a href="login"> Log In here</a></h2>
		</div>
		
		<div class="row">
			<div class="col-md-7 col-sm-9 col-xs-12 formrow">
				{% if error %}
				<p id="signuperror">{% if error == 'email' %}This email is already in use{% endif %}</p>
				{% endif %}
				{% include 'account/signup_base.html' %}
			</div>
			<div class="col-md-5 col-sm-3 col-xs-12">
				<div class="signuptextdiv">
					<h2>Why should you sign up?</h2>
					<h3> <span>1</span>It's free to list!</h3>
					<p>List all of your equipment for free. We only take a commission if you
					successfully sell your equipment</p>
					<h3> <span>2</span>Ask questions to sellers</h3>
					<p> Signing up lets you save items to view later, create price alerts when a product
					you may want changes prices, and ask questions about products you're interested in </p>
					<h3><span>3</span>Track products</h3>
					<p>You can save equipment you want to keep an on, and get alerted if its price changes
					or a new piece of equipment gets listed</p>
				</div>
			</div>
		
		
		</div>

		<div class="clear"></div>

	</div>
</div>
{% endblock %}





















