{% extends 'base/base.html' %}
{% load dollars %}{% load zipcodify %}{% load rating %}
{% block css %}
<link href="{{STATIC_URL}}css/basic/productpreview.css" rel="stylesheet" type="text/css" />
<style>
.company-header {
  margin: 10px 15px 10px 15px;
  padding: 20px;
}
.company-header table {
  width: 100%;
}
.company-header table td {
  vertical-align: top;
}
.company-header h3 {
  margin-top: 5px;
  letter-spacing: .2px
}
.company-header .image-td {
  width: 110px;
}
.company-header .image {
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.2) inset;
  margin-right: 10px;
  border-radius: 3px;
}
.company-header img {
  display:inline-block;
  max-width: 100px;
  max-height: 100px;
}
.company-header h4 {
  margin: 0 0 10px 0;
  font-weight: normal;
  color: #999;
  line-height: 16px;
  font-size: 13px;
}
.company-header .rating {
  color: #999;
  font-size: 12px;
}
.company-header .rating p {
  margin-left: 5px;
  padding-top: 1px;
  display:inline-block;
  vertical-align: top;
  font-size: 11px;
  color: #aaa;
}
.company-header .star {
  display:inline-block;
}
.company-header .name {
  display:inline-block;
  vertical-align: top;
  background: red;
}
.company-header .favorite {
  margin-top: 5px;
  text-align: right;
  width: 200px;
}
.company-header .favorite button {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  border:1px solid #ddd;
}
.company-side-container {
  padding-left: 0px;
}
.company-main {
  padding: 20px;
  margin-bottom: 50px;
}
.company-side {
  padding: 20px;
}
.company-side .section {
  padding-bottom:10px;
  margin-bottom: 10px;
  border-bottom:1px solid #eee;
}
.company-side .section.noborder {
  border:none;
}
.company-side .section h6 {
  font-weight: bold;
  font-size: 12px;
}
.company-side .section p {
  font-size: 12px;
  margin-bottom:5px;
}
.company-side .section a {
  font-size: 12px;
  display:inline-block;
  clear:both;
}
.company-side .section.action p {
  color: #aaa;
}
.company-side .section.stats span{
  float: right;
}
.company-side .social-icon {
  color: #999;
  margin-right: 3px;
}
.company-side .social-icon .fa-facebook-square {
  color: #3B5998;
}
.company-side .social-icon .fa-twitter-square {
  color: #55ACEE;
}
.company-side .social-icon .fa-linkedin-square {
  color: #007BB6;
}
.company-side .social-icon .fa-youtube-square {
  color: #c82a2a;
}
.search {
  border-bottom:1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.company-search {
  width: 100%;
}
.company-search input {
  max-width: 400px;
}
.company-search .search-button{
  margin-left: -5px;
  box-shadow:none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.company-search button.active {
  background:#ddd;
  color: #777;
  box-shadow: 0 2px 4px rgba(0,0,0,.4) inset;
}
.company-search .sort {
  text-align: right;
  color: #aaa;
}
.company-search .sort .light {
  font-size: 12px;
  margin-left: 5px;
}
.company-search .sort select {
  margin-right: 5px;
  font-size: 13px;
}
.sort .button {
  margin-right: 5px;
  font-size: 10px;
  padding: 0 10px;
}
/*Products */
.product-row a {
  width: 25%;
  float: left;
}
}
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $('#favorite').tooltip({}) 
  $('#favorite').click(function(){
    $('#favorite').tooltip('hide');
  })
})
</script>
{% endblock %}
{% block content %}

<div class="vetbox company-header">
  <table>
    <tr>
      <td class="image-td">
        <div class="image">
          <img src='{{STATIC_URL}}img/placeholder_pics/company/1.png'>
        </div>
      </td>
      <td>
          <h3>{{manufacturer.displayname}}</h3>
          <h4>{{manufacturer.description}}</h4>
          <div class="rating"><div class="star star45"></div><p>(Average Product Rating)</p></div>
      </td>
      <td class="favorite">
        <button id="favorite" type="button" class="button button-rounded button-flat" data-toggle="tooltip" data-placement="left" title="Adding a company to your favorites can give you special promotions, and have their products become more prevelant when you browse and search for products"><span class="glyphicon glyphicon-star"></span> Add to Favorites</button>
      </td>
    </tr>
  </table>
</div>
<div class="row">
  <div class="col-sm-9 col-md-10 company-main-container">
    <div class="vetbox company-main">
       <div class="search">
          <table class="company-search">
            <td><input type="text" class="form-control" placeholder="Search Zoetis Products"></td>
            <td><button value="submit" class="search-button button button-rounded"><span class="glyphicon glyphicon-search"></span></button></td>
            <td class="sort">
               <button class="active button button-rounded"><span class="glyphicon glyphicon-th"></span></button>
              <button class="button button-rounded"><span class="glyphicon glyphicon-align-justify"></span></button>
             | <span class="light">Sort By:</span>
              <select>
                <option>Most Popular</option>
                <option>Highest Rated</option>
                <option>Newest</option>
              </select> 
             </td>
          </table>
      </div>
      <div class="product-row">
        {% for product in products %}
        <a href='/product/{{product.name}}'>
          <div class="product-preview-box">
            <div class="product-preview-image" style='background-image:url("{{STATIC_URL}}img/placeholder_pics/search/{{product.id}}.jpg")'>
            </div>
            <div class="product-preview-info">
              <p class="title">{{product.displayname}}</p>
              <div class="ratings">
                <div class="star blackstar star{{product.averagerating|ratingstars}}""></div><span>(8)</span>
              </div>
              <div class="price">
                $17.31<span>$14.22</span>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-2 company-side-container">
     <div class="vetbox company-side">
       <div class="section action">
           <p><span class="glyphicon glyphicon-edit"></span> <a href='#'>Give Feedback</a></p>
           <p><span class="glyphicon glyphicon-tasks"></span> <a href='#'>Review This Company</a></p>
           <p><span class="glyphicon glyphicon-flag"></span> <a href='#'>Report Product Error</a></p>
        </div>
         <div class="section">
           <h6>Contact Information</h6>
           <p>Mike Jenkins</p>
           <p>mike@zoetis.com</p>
           <p>(323) 323 3232</p>
        </div>
        <div class="section">
          <h6>Website</h6>
           <a href='#'>www.zoetis.com</a>
        </div>
        <div class="section stats">
          <h6>Selling Statistics</h6>
          <p>VetCove Activity<span>Excellent</p>
          <p>Products Listed<span>3</p>
          <p>Customet Satisfaction<span>81%</p>
        </div>
        <div class="section social noborder">
          <a href='#' class="social-icon"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href='#' class="social-icon"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href='#' class="social-icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href='#' class="social-icon"><i class="fa fa-youtube-square fa-2x"></i></a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
