{% load dollars %}
{% load humanize %}
<div id="resultcontainer">
{% for item in items %}

<div class="resultitem covebox">
	<div class="row">
			<div class='col-md-2 col-sm-2 col-xs-12 pricediv'>
				<p>{{item.price|dollars}}</p>
				<p class="msrp_price">{{item.msrp_price|dollars}}</p>
				<a class='button button-rounded button-primary' href="/item/{{item.id}}/details">View</a>
				{% if wishlist %}
					<form action="/removeitem" method="POST">
						{% csrf_token %}
						<input type="hidden" name="itemid" value="{{item.id}}">
						<button value="submit" name="submit" class='button button-tiny button-rounded button-caution'>Remove</button>
					</form>
				{% endif %}
			</div>
			<div class='col-md-4 col-md-push-6 col-sm-4 col-sm-push-6 col-xs-12 imgdiv'>	
				<img src="{%if item.mainimage %}{{item.mainimage.photo_medium.url}}{% else %}{{STATIC_URL}}img/noimage.jpg{% endif %}" alt="{{item.name}}"/>		
			</div>
			
			<div class='textdiv col-md-6 col-md-pull-4 col-sm-6 col-sm-pull-4 col-xs-12'>
				<a href="/item/{{item.id}}/details"><h2 class="itemname">{{ item.name }}</h2></a>
				<h6 class="resulttag"> 
					{% if item.user.verified %}<span class="verified">verified seller</span>{% endif %} 
					{% if item.offlineviewing %}<span class="lightorange">view in person</span>{% endif %} 
					{% if not item.offlineviewing %}<span class="buyonline">buy online</span>{% endif %} 
					{% if item.conditiontype == 'refurbished' %}<span class="refurbished">refurbished</span>{% endif %} 
					{% if item.conditiontype == 'preowned' %}<span class="preowned">preowned</span>{% endif %} 
					{% if item.conditiontype == 'new' %}<span class="verified">new</span>{% endif %} 
					{% if item.contract == 'warranty' %}<span class="lightgreen">warranty</span>{% endif %}
					{% if item.contract == 'servicecontract' %}<span class="lightred">service contract</span>{% endif %} 
		
				</h6>
				{% load multiply %}
				<h4><a>Percent off MSRP<span><strong>{{ item.price|dividepercent:item.msrp_price }}</strong></span></a></h4>
				<h4><a>Location<span>{% if item.user.city %}{{item.user.city}}, {{item.user.state}}{% else %}Zipcode: {{item.user.zipcode}}{%endif %}{% if item.distance or item.distance == 0%}{% if item.distance != -1 %} ( ~{{item.distance |intcomma}} miles away ){% endif %}{% endif %}</span></a></h4>
				<h4><a>List Date<span>{{item.creation_date}}</span></a></h4>
				<div class='buttondiv'>
					<button class='btn-custom-gray infobutton detailsbutton' data-ref="#moredetails_{{item.id}}">Details</button>
					<button class='btn-custom-gray infobutton specsbutton' data-ref="#quickfacts_{{item.id}}">Quick Facts</button>
					
					<button class='btn-custom-gray infobutton conditionbutton' data-ref="#morecondition_{{item.id}}">Condition</button>
				</div>
			</div>
 		</div>
	<div id="quickfacts_{{item.id}}" class='specsdiv previewdiv row'>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p>Category<span>{{item.subcategory}}</span></p>
			<p>Contract<span>{{item.get_contract_display}}</span></p>
			<p>Manufacturer<span>{{item.manufacturer}}</span></p>
			<p>Model Year<span>{{item.modelyear}}</span></p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p>Shipping Included<span>{{item.shippingincluded|yesno:"Included,Not Included"}}</span></p>
			<p>Offline Viewing<span>{{item.offlineviewing|yesno:"Yes,No"}}</span></p>
			<p>Original Owner<span>{{item.originalowner|yesno:"Yes,No"}}</span></p>
			<p>Verified Seller<span>{{item.user.verified|yesno:"Yes,No"}}</span></p>
		</div>
		<div class="clear"></div>
		<div class='morediv'>
			<a href="/item/{{item.id}}/details"> Show all product specifications &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div id="moredetails_{{item.id}}" class='detailsdiv previewdiv row'>
		{% if item.productdescription %}
			<p>{{ item.productdescription }}</p>
		{% else %}
			<p class="thin">The seller has not provided a product description for this item</p>
		{% endif %}
		<div class='morediv'>
			<a href="/item/{{item.id}}/details"> Show all product specifications &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div id="morecondition_{{item.id}}" class='conditiondiv previewdiv row'>
		{% if item.conditiondescription %}
			<p>{{ item.conditiondescription }}</p>
		{% else %}
			<p class="thin">The seller has not provided a condition description for this item</p>
		{% endif %}
		<div class='morediv'>
			<a href="/item/{{item.id}}/details"> Show all product specifications &#8594;</a>
			<button class='btn-custom-gray closebutton'>Close</button>
		</div>
	</div>
	<div class="mobile-select">
		<div class='col-md-2 col-sm-2 col-xs-12 pricediv'>
			<p>{{item.price|dollars}}</p>
			<a class='button button-rounded button-primary' href="/item/{{item.id}}/details">View</a>
			{% if savedpage %}
				<form action="/removeitem" method="POST">
					{% csrf_token %}
					<input type="hidden" name="itemid" value="{{item.id}}">
					<button value="submit" name="submit" class='button button-tiny button-rounded button-caution'>Remove</button>
				</form>
			{% endif %}
		</div>
	</div>
</div>

{% endfor %}
</div>