{% extends 'base/base.html' %}
{% load dollars %}{% load zipcodify %}
{% block css %}
<link href='{{STATIC_URL}}css/pages/search.css' rel='stylesheet' type='text/css' />
<style>
.content {
  margin: 0;
  padding: 20px 0;
}
.vetbox {
	background: #fff;
  box-shadow: none;
}
.star {
	display:inline-block;
	margin-bottom: 2px;
	vertical-align: middle;
}
{% if products %}
#noresults {
  display:none;
}
{% endif %}
.change-quantity {
  display:inline-block;
}
.change-quantity .float {
  float: left;
}
.quantity-box {
  overflow: auto;
}
.quantity-box div {
  float: left;
}
.quantity-box .quantity-change {
  font-size: 12px;
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
  border-radius: 3px;
  border:1px solid #ccc;
  line-height: 24px;
  height: 24px;
  margin: 0px 0;
  padding: 0 4px;
}
.quantity-box .quantity-plus {
  color: #2b7f3f;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.quantity-box .quantity-minus {
  color: #a83030;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.quantity-box .quantity-change:hover {
  cursor:pointer;
  background:#eee;
}
.quantity-box .quantity-change:active {
  background: #ccc;
}
.quantity-box input {
  width: 35px;
  background: #f9f9f9;
  border-right: none;
  border-left:none;
  text-align: center;
  border-radius: 0px;
  margin: 0px 0px 0px 0;
  float: left;
  padding: 2px;
  height: 24px;
}
.addtocart-button {
  margin-left: 8px;
}

.quantity-button button {
  border-radius: 3px;
}
.remove-button {
  display:none;
}


</style>
{% endblock %}


{% block js %}
<script>
//Quantity Box Functionality
$(document).ready(function(){
  $('.quantity-box .quantity-change').click(function() {
    var input = $(this).parent().children('input')
    if ($(this).hasClass('quantity-minus')) {
      input.val(Math.max(1,input.val()-1))
    } else {
      input.val(parseInt(input.val())+1)
    }
  });
  $('.addtocart-button button').click(function() {
    var obj = $(this).parent().parent();
    var input =  $(obj).find('input').val();
    $(obj).find('.remove-button button span').text(input);
    $(obj).children('.addtocart-button').css('display','none');
    $(obj).children('.quantity-box').css('display','none');
    $(obj).children('.remove-button').css('display','block');
  });
 $('.remove-button button').click(function(){
    var obj = $(this).parent().parent();
    $(obj).children('.remove-button').css('display','none');
    $(obj).children('.quantity-box').css('display','block');
    $(obj).children('.addtocart-button').css('display','block');
 });
});
//Information Tag Tooltips
$(document).ready(function(){
  $('.resulttag p').tooltip({
    delay: { show: 300, hide: 10 },

  });
});
//More information
$(document).ready(function(){
  $('.infobutton').click(function (){
    $('.previewdiv').css('display','none');
    var data = $(this).attr('data-ref');
    $(data).css('display','block');
    $('.infobutton').removeClass('active');
    $(this).addClass('active');
  });
  $('.closebutton').click(function(){
    $('.previewdiv').css('display','none');
    $('.infobutton').removeClass('active');
  })
});
</script>
{% endblock %}



{% block content %}
<div class='row'>
  <!--Filter Container -->
  <div class='col-xs-12 col-sm-3 col-md-3 filter-row'>
	<div class='filterbox vetbox'>

		<!-- Category Filter -->
	<!-- 	<div class='filter-departments filter-category notopborder'>
			<h2>Categories</h2>
      {% for child_category in child_categories %}
        {% if child_category != category %}
			     <a href="/category/{{child_category.name}}" class='sub-category'>{{child_category.displayname}} <span>{{category.totalunits}}</span></a>
			 {% endif %}
      {% endfor %}
		</div> -->

	
  	<!-- Discount Filter -->
  		<div class='filter-category'>
  			<h2>Discount</h2>
  			<div class='checkbox'>
          <input id="discount_50" type="radio" value="30" name="discount"><label for="discount_50">50% or more<span>32</span></label>
          <input id="discount_25" type="radio" value="25" name="discount"><label for="discount_25">25% or more<span>141</span></label>
          <input id="discount_10" type="radio" value="10" name="discount"><label for="discount_10">10% or more<span>182</span></label>
  	  		<input id="discount_0" type="radio" value="0" name="discount" checked><label for="discount_0">No Discount Filters<span>231</span></label>
  			</div>
  		</div>

		<!-- Condition Filter -->
  		<div class='filter-category filter-rating'>
  			<h2>Average Vet Rating</h2>
  			<div class='checkbox'>
          <input type="radio" value="5" name="stars" id="radio_stars_5"><label for="radio_stars_5"><div class="star star50"></div><span> & up</span><span class="count">28</span></label>
          <input type="radio" value="4" name="stars" id="radio_stars_4"><label for="radio_stars_4"><div class="star star40"></div><span> & up</span><span class="count">64</span></label>
          <input type="radio" value="3" name="stars" id="radio_stars_3"><label for="radio_stars_3"><div class="star star30"></div><span> & up</span><span class="count">83</span></label>
          <input type="radio" value="2" name="stars" id="radio_stars_2"><label for="radio_stars_2"><div class="star star20"></div><span> & up</span><span class="count">120</span></label>
          <input type="radio" value="1" name="stars" id="radio_stars_1" checked="checked"><label for="radio_stars_1"><div class="star star10"></div><span> & up</span><span class="count">224</span></label>
  			</div>
  		</div>
		
		<!-- Price Filter -->
		 <!--  {% if items|length > 1 %}
		  <div id='pricecategory' class='filter-category'>
  			<h2>Price Range</h2>
  			<div id='price-slider-container'>
  				{% load humanize %}
  				<p id='lowprice'><span>{{lowprice| dollars}}</span></p>
  				<p id='highprice'><span>{{highprice | dollars}}</span></p>
  				<div class='clear'></div>
  				<div id='price-range' class='light-gradient'></div>
  			</div>
  		</div>
  		{% endif %} -->

  		<!-- Condition Filter -->
  		<!-- <div class='filter-category'>
  			<h2>Condition</h2>
  			<div class='checkbox'>
				<input class="checkboxitem" data-category="conditiontype" data-value="new" id='new' type='checkbox' name='check' value='new' checked='checked'>
				<label for='new'>New<span>0</span></label>
				<input class="checkboxitem" data-category="conditiontype" data-value="refurbished" id='refurbished' type='checkbox' name='check' value='refurbished' checked='checked'>
				<label for='refurbished'>Refurbished<span>0</span></label>
				<input class="checkboxitem" data-category="conditiontype" data-value="preowned"  id='preowned' type='checkbox' name='check' value='preowned' checked='checked'>
				<label for='preowned'>Pre-Owned<span>0</span></label>
			</div>
  		</div> -->

  		<!-- Manufacturer Filter -->
  		<div class='filter-category'>
  			<h2>Manufacturer</h2>
  			<div class='checkbox'>
          {% for manufacturer in manufacturers %}
  				<input class="checkbox_manufacturer" id='manufacturer_{{manufacturer}}' type='checkbox' name='{{manufacturer}}'>
  				<label for='manufacturer_{{manufacturer}}'>Zoetis<span>12</span></label>
          <label for='manufacturer_{{manufacturer}}'>Bayer<span>8</span></label>
          <label for='manufacturer_{{manufacturer}}'>Merck<span>6</span></label>
          <label for='manufacturer_{{manufacturer}}'>Luitpold<span>4</span></label>

          {% endfor %}
  			</div>
  		</div>

  		<!-- Warranty Filter -->
  		<!-- <div class='filter-category'>
  			<h2>Service Contract & Warranty</h2>
  			<div class='checkbox'>
				<input class="checkboxitem" id='warranty' data-category="contract" data-value="warranty" type='checkbox' value='new' checked='checked'>
				<label for='warranty'>Warranty<span>0</span></label>
				<input class="checkboxitem" id='servicecontract' data-category="contract" data-value="servicecontract" type='checkbox' value='refurbished' checked='checked'>
				<label for='servicecontract'>Service Contract<span>0</span></label>
				<input class="checkboxitem" id='none' data-category="contract" data-value="none" type='checkbox' value='preowned' checked='checked'>
				<label for='none'>None<span>0</span></label>
			</div>
  		</div> -->

  		<!-- Distance Filter -->
  		<!-- <div id='milecategory' class='filter-category'>
  			<h2>Distance</h2>
  			<select class='form-control' id="distance-select">
  				<option value="-1">Any Distance</option>
  				<option value="500">500 Miles</option>
  				<option value="250">250 Miles</option>
  				<option value="100">100 Miles</option>
  				<option value="50">50 Miles</option>
  				<option value="25">25 Miles</option>
  			</select>
  			<p>from</p>
  			<input id="zipcode-input" onkeyup="this.value=this.value.replace(/[^\d]/,'')" class='form-control' placeholder='Zipcode' type='text' maxlength='5' value="{% if zipcode %}{{zipcode|zipcodify}}{% endif %}"/>
  		</div>		 -->
  	</div>
  </div>
  
  <!--Results Container -->
  <div class='col-xs-12 col-sm-9 result-row'>
  	<div class='resultsbox vetbox'>
  		<!-- Loading Overlay-->
  		<div id='loadingoverlay'>
	  		<div id='loaderdiv'>
	  			<h3> Updating Search Results. . .</h3>
	  			<img src='{{STATIC_URL}}img/ajax-loader2.gif' alt="Loading. . . "/>
	  		</div>
	  	</div>

  		<div id='sortby'>
  			<p> Sort By: </p>
  			<select id="sortby-select" class='form-control'>
  				<option value="relevance"> Relevance</option>
  				<option value="price-high"> Price: Highest First</option>
  				<option value="price-low">Price: Lowest First</option>
  				<option value="distance">Distance: Nearest First</option>
  				<option value="mostrecent">Time: Newly Listed First</option>
  				<option value="leastrecent">Time: Oldest Listed First</option>
  				<option value="msrp-discount">Percent off MSRP: Highest First</option>
  			</select>
  		</div>
  		<div id='numberofresults'>{{ resultcount }} Results</div>
       <div class="viewtype">
        <div class="viewtype-item">
          <span class="glyphicon glyphicon-th"></span> Grid View
        </div>
        <div class="viewtype-item viewtype-item-2 active">
          <span class="glyphicon glyphicon-th-list"></span> List View
        </div>
      </div>
  		<p id="searchquery">Searching for Bute</p>
  		<div class='clear'></div>
  		{% if relatedItems %}
  		<div id="related-results">
  		<span>Related results: </span>
			{% for relateditem in relatedItems %}
				{% if relateditem.type == 'category' %}
					<a href="/productsearch/{{ind.name}}/{{relateditem.obj.name}}/all">{{relateditem.obj.displayname}} ({{relateditem.obj.totalunits}})</a>
				{% else %}
					<a href="/productsearch/{{ind.name}}/all/{{relateditem.obj.name}}">{{relateditem.obj.displayname}} ({{relateditem.obj.totalunits}})</a>
				{% endif %}
				{% if not forloop.last %},{% endif %}
			{% endfor %}
  		</div>
  		{% endif %}
  	</div>
  	
  	<div class='resultsbox' id='resultsbody'>
  		{% include 'search/productitem.html' %}
		<div id="noresults" class="resultitem vetbox">
			<p class="noluck">Sorry, we can't find anything that matches your search</p>
			<img class="noresults" src="{{STATIC_URL}}img/dogs/saddog.jpg" alt=""/>
			<p>Try changing your filters, or let us know what you want and we will let you know when it is available!</p>
		</div>
		<div class='showmorebutton resultsbox vetbox'>
			<p>Show More Results</p>
			<img src='{{STATIC_URL}}img/ajax-loader.gif' alt="Loading. . ."/>
		</div>
  	</div>
  </div>
  	
</div>
{% endblock %}
