{% extends 'base.html' %}
{% block headertitle %}<title>VetCove | {% if custom %}{% if searchquery %}{{searchquery}}{% else %}Search{% endif %}{% elif subcategoryname != 'all'%}{{ subcategoryname }}{% else %}{{ categoryname }}{% endif %}</title>{% endblock%}
{% block searchvalue %}{% if custom %}{{searchquery}}{% elif subcategoryname != 'all'%}{{ subcategoryname }}{% else %}{{ categoryname }}{% endif %}{% endblock %}
{% block headercss %}
<link href='{{STATIC_URL}}css/base.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/productitem.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/jquery-ui-1.10.3.custom.css' rel='stylesheet' type='text/css' />
<link href='{{STATIC_URL}}css/search.css' rel='stylesheet' type='text/css' />

<style>
.catlink {
	display: block;
	padding-left: 3px;
	padding-right: 5px;
	font-size: 13px;
}
label .floatright {
	float: right;
}
.catlink:hover {
	background: #eee;
	text-decoration: none;
}
.noresults {
	opacity: .9;
	max-width: 230px;
}
#noresults {
	text-align: center;
	margin: 10px auto;
	padding: 30px 40px;
	{% if items %}
	display: none;
	{% endif %}
}
#noresults p {
	font-size: 14px;
	font-weight: 200;
}
#noresults .noluck {
	font-size: 23px;
	font-weight: 200;
	padding-bottom: 15px;
}
/***If more than 10 items, display the showmore button**/
{% if more %}
.showmorebutton {
	display: block;
}
{% endif %}
.cat-hidden {
	display:none;
}
.seeall {
	display:none;
	color: #2BB4EF;
	font-size: 13px;
	padding-left: 3px;
	margin: 0;
}
.seeall:hover {
	text-decoration: underline;
	color: #27A5DB;
	cursor: pointer;
}
.nobottomborder {
	border-bottom: none;
}
.filter-category a {
	font-size: 12px;
	color: #;
	display: block;
}
.filter-category a:hover {
	text-decoration: underline;
}
.filter-category .tree-all {
	margin-left: 0px;
}
.filter-category .subtree {
	margin-left: 10px;
}
.filter-category .subsubtree {
	margin-left: 25px;
}
.filter-category .tree-active {
	background: none;
	font-weight: bold;
	color: #666;
}
.filter-category .tree-active:hover {
	text-decoration: none;
}
.filter-category span {
	tex
}
</style>
{% endblock%}

{% block content %}
{% load dollars %}
<div class='row searchcontainer'>
  <!--Filter Container -->
  <div class='col-xs-12 col-sm-3 filtercontainer'>
	<div class='filterbox covebox'>
		<h4 class="sidecontent-title">Filters <span class="sortbyfilters"> Sort By Filters<b class="caret"></b></span></h4>
		{% if not custom %}
		<div class='filter-category notopborder'>
			<h2>Categories</h2>
			<a href="/shop" class="tree-all">&lsaquo; All Items</a>
			{% if not category %}
				<a href="/productsearch/veterinary/{{subcategory.maincategory.name}}/all" class="subtree">&lsaquo; {{subcategory.maincategory.displayname}} <span>({{category.totalunits}})</span></a>
			{% elif not subcategory %}
				<a class="subtree tree-active">{{category.displayname}} <span>({{category.totalunits}})</span></a>
			{% else %}
				<a href="/productsearch/veterinary/{{category.name}}/all" class="subtree"> &lsaquo; {{category.displayname}} <span>({{category.totalunits}})</span></a>
			{% endif%}
			{% for subcat in category.subcategory_set.all|dictsort:"totalunits" reversed %} 
				{% if subcat.totalunits > 0 %}
					{% if subcat == subcategory %}
					<a class="subsubtree tree-active">{{subcat.displayname}} <span>({{subcat.totalunits}})</span></a>
					{% else %}
					<a href="/productsearch/veterinary/{% if not category %}{{subcat.maincategory.name}}{% else %}{{category.name}}{% endif %}/{{subcat.name}}" class="subsubtree">{{subcat.displayname}} <span>({{subcat.totalunits}})</span></a>
					{% endif %}
				{% endif %}
			{% endfor %}
			<p class="seeall">Show All Categories</p>
		</div>
		{% endif %}
		{% if items|length > 1 %}
		<div id='pricecategory' class='filter-category'>
  			<h2>Price Range</h2>
  			<div id='price-slider-container'>
  				{% load humanize %}
  				<p id='lowprice'><span>{{pricerange.0 | dollars}}</span></p>
  				<p id='highprice'><span>{{pricerange.1 | dollars}}</span></p>
  				<div class='clear'></div>
  				<div id='price-range' class='light-gradient'></div>
  			</div>
  		</div>
  		{% endif %}
  		<div class='filter-category'>
  			<h2>Condition</h2>
  			<div class='checkbox'>
				<input class="checkboxitem" data-category="conditiontype" data-value="new" id='new' type='checkbox' name='check' value='new' checked='checked'>
				<label for='new'>New<span>0</span></label>
				<input class="checkboxitem" data-category="conditiontype" data-value="refurbished" id='refurbished' type='checkbox' name='check' value='refurbished' checked='checked'>
				<label for='refurbished'>Refurbished<span>0</span></label>
				<input class="checkboxitem" data-category="conditiontype" data-value="preowned"  id='preowned' type='checkbox' name='check' value='preowned' checked='checked'>
				<label for='preowned'>Pre-Owned<span>0</span></label>
			</div>
  		</div>
  		<div class='filter-category'>
  			<h2>Service Contract & Warranty</h2>
  			<div class='checkbox'>
				<input class="checkboxitem" id='warranty' data-category="contract" data-value="warranty" type='checkbox' value='new' checked='checked'>
				<label for='warranty'>Warranty<span>0</span></label>
				<input class="checkboxitem" id='servicecontract' data-category="contract" data-value="servicecontract" type='checkbox' value='refurbished' checked='checked'>
				<label for='servicecontract'>Service Contract<span>0</span></label>
				<input class="checkboxitem" id='none' data-category="contract" data-value="none" type='checkbox' value='preowned' checked='checked'>
				<label for='none'>None<span>0</span></label>
			</div>
  		</div>
  		<div id='milecategory' class='filter-category'>
  			<h2>Distance</h2>
  			<select class='form-control' id="distance-select">
  				<option value="-1">Any Distance</option>
  				<option value="500">500 Miles</option>
  				<option value="250">250 Miles</option>
  				<option value="100">100 Miles</option>
  				<option value="50">50 Miles</option>
  				<option value="25">25 Miles</option>
  			</select>
  			<p>from</p>
  			<input id="zipcode-input" onkeyup="this.value=this.value.replace(/[^\d]/,'')" class='form-control' placeholder='Zipcode' type='number' maxlength='5' value="{% if zipcode %}{{zipcode}}{% endif %}"/>
  		</div>		
  	</div>
  </div>
  
  <!--Results Container -->
  <div class='col-xs-12 col-sm-9 resultscontainer'>
  	<div id='loadingoverlay'>
  		<div id='loaderdiv'>
  			<h3> Updating Search Results. . .</h3>
  			<img src='{{STATIC_URL}}img/ajax-loader2.gif' alt="Loading. . . "/>
  		</div>
  	</div>
  	<div class='resultsbox resultsnav covebox'>
  		<div id='sortby'>
  			<p> Sort By: </p>
  			<select id="sortby-select" class='form-control'>
  				<option value="relevance"> Relevance</option>
  				<option value="price-high"> Price: Highest First</option>
  				<option value="price-low">Price: Lowest First</option>
  				<option value="distance">Distance: Nearest First</option>
  				<option value="mostrecent">Time: Newly Listed First</option>
  				<option value="leastrecent">Time: Oldest Listed First</option>
  				<option value="msrp-discount">Percent off MSRP: Highest First</option>
  			</select>
  		</div>
  		<div id='numberofresults'>{{ resultcount }} Results</div>
  		{% if custom %}
  			<p>Searching for {% if searchquery %}{{searchquery}}{% else %}all items{% endif %}</p>
  		{% else %}
  			<p>Searching for {% if subcategoryname != 'all'%}{{ subcategoryname }}{% else %}{{ categoryname }}{% endif %}</p>
  		{% endif %}
  		<div class='clear'></div>
  		{% if relatedItems %}
  		<div id="related-results">
  		<span>Related results: </span>
			{% for relateditem in relatedItems %}
				{% if relateditem.type == 'category' %}
					<a href="/productsearch/{{ind.name}}/{{relateditem.obj.name}}/all">{{relateditem.obj.displayname}} ({{relateditem.obj.totalunits}})</a>
				{% else %}
					<a href="/productsearch/{{ind.name}}/all/{{relateditem.obj.name}}">{{relateditem.obj.displayname}} ({{relateditem.obj.totalunits}})</a>
				{% endif %}
				{% if not forloop.last %},{% endif %}
			{% endfor %}
  		</div>
  		{% endif %}
  	</div>
  	
  	<div class='resultsbox' id='resultsbody'>
  		{% include 'search/productsearchitem.html' %}
		<div id="noresults" class="resultitem covebox">
			<p class="noluck">Sorry, we can't find anything that matches your search</p>
			<img class="noresults" src="{{STATIC_URL}}img/saddog.jpg" alt=""/>
			<p>Try changing your filters, or call us with what you want and we will let you know when one becomes available!</p>
		</div>
		<div class='showmorebutton resultsbox covebox'>
			<p>Show More Results</p>
			<img src='{{STATIC_URL}}img/ajax-loader.gif' alt="Loading. . ."/>
		</div>
  	</div>
  </div>
  	
</div>
{% endblock %}

{% block jsblock %}
<script src='{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js' type='text/javascript' ></script>
<script src='{{STATIC_URL}}js/searchbox.js' type='text/javascript' ></script>

<script>
//*********************************************
//Global variable dictionary ******************
//*********************************************
var variables = {
	'custom':{% if custom %}true{% else %}false{% endif %},
	'sort':'',
	'query':'{{searchquery}}',
	'zipcode':'{{zipcode}}',
	'distance':-1,'page':0,
	'subcategory':'{% if subcategory %}{{subcategory.name}}{% else %}all{% endif %}',
	'category':'{% if category %}{{category.name}}{% else %}all{% endif %}',
	'sortby':'price',
	'pricelow':0,
	'pricehigh':10000000,
	'conditiontype':['new','refurbished','preowned'],
	'contract':['none','servicecontract','warranty']
};

//*********************************************
//*** Miscellaneous Page Functions ************
//*********************************************			
$(document).ready(function(){
	// put focus into the search bar
	var val = $("#searchinput").val()
	$("#searchinput").val('');
	$("#searchinput").focus();
	$("#searchinput").val(val);
	//Start with everything checked
	$('.checkboxitem').prop('checked',true);
	//Set sorting to price
	$("#sortby-select").val("relevance");
	//Initial distance value to -1
	$("#distance-select").val(-1);
	//Activate boxes
	activateResultsBoxItems();
	
	//This function updates the variables when a checkbox is clicked
	$(".checkboxitem").change(function() {
		var topic = $(this).attr('data-category');
		var checked = $(this).is(":checked") ? true: false;
		var value = $(this).attr('data-value');
		var val_index = variables[topic].indexOf(value)
		if (val_index >= 0 && checked ==false) {
			variables[topic].splice(val_index,1);
		}
		else if (val_index < 0 && checked ==true) {
			variables[topic].push(value);
		}
		update();
		
	});
	
	//Update the distance parameter
	$('#distance-select').change(function() {
		variables['distance'] = $(this).val();	
		update();
	});
	
	//Update the zipcode parameter
	$('#zipcode-input').blur(function() {
		if ($(this).val().length == 5) {
			variables['zipcode'] = $(this).val();
			update();
		} else {
			$(this).val("");
		}
	});
	
	//Update the sorting parameter
	$('#sortby-select').change(function() {
		variables['sort'] = $(this).val();
		variables['page'] = 0;
		update();
	});
	
	//Show more button functionality
	$('.showmorebutton').click(function() {
		$('.showmorebutton p').css('display','none');
		$('.showmorebutton img').css('display','block');
		variables['page'] = variables['page']+1;
		update();
	});
	
	//The price filter functionality when it is toggled
	$(function() {
		console.log("{{pricerange.0}}");
		$( '#price-range' ).slider({
			range: true,
			min: parseInt({{pricerange.0}}),
			max: parseInt({{pricerange.1}}),
			step: 100,
			values: [parseInt({{pricerange.0}}),parseInt({{pricerange.1}})],
			slide: function( event, ui ) {
				$( '#amount' ).val( '$' + ui.values[ 0 ] + ' - $' + ui.values[ 1 ] );
				var newhighvalue = (ui.values[1]/100).toFixed(2).toString();
				var newlowvalue = (ui.values[0]/100).toFixed(2).toString();
				if (newlowvalue.length > 6 ) {
					var newlowvalue = newlowvalue.splice( newlowvalue.length-6, 0, ',' );
				} 
				if (newhighvalue.length > 6) {
					var newhighvalue = newhighvalue.splice( newhighvalue.length-6, 0, ',' );
				}
				$('#lowprice span').html("$"+newlowvalue);
				$('#highprice span').html("$"+newhighvalue);
			},
			stop: function(event,ui ) {
				variables['pricelow'] = ui.values[ 0 ];
				variables['pricehigh'] = ui.values[ 1 ];
				variables['page'] = 0;
				update();
			}
			});
			$( '#amount' ).val( '$' + $( '#slider-range' ).slider( 'values', 0 ) +
			' - $' + $( '#slider-range' ).slider( 'values', 1 ) );
		});
		
		//Mobile javascript
		$('.sortbyfilters').click(function() {
			if ($('.filter-category').is(":visible")) {
				$('.sortbyfilters').html("Show Filters");
			} else {
				$('.sortbyfilters').text("Hide Filters");
			}
			$('.filter-category').slideToggle();
		});
	});

//Update function when a filter is called
var update = function loading() {
	if (variables['page'] == 0) {
		$('#loadingoverlay').css('display','block');
	}
	$.ajax({
		url: '/searchquery',
		type: 'GET',
		data: variables,
		cache: false,
		dataType: 'json',
		success: function(response){
			$('#loadingoverlay').css('display','none');
			$('.showmorebutton p').css('display','block');
			$('.showmorebutton img').css('display','none');
			//If a new search, empty results
			if (variables['page'] == 0) {
				$("#resultcontainer").empty();
			}
			$("#resultcontainer").append(response['result']);
			if ($('.resultitem').length <= 1) {
				$("#noresults").css('display','block');
			} else {
				$("#noresults").css('display','none');
			}
			if (response['more'] == true) {
				$('.showmorebutton').css('display','block');
			} else {
				$('.showmorebutton').css('display','none');
			}
			$("#numberofresults").html(response['resultscount']+" Results");
			activateResultsBoxItems();
		}
	});
}


//*********************************************
//*** Helper Functions ************************
//*********************************************

//Used by the slider to convert a number back to an integer
String.prototype.splice = function( idx, rem, s ) {
    return (this.slice(0,idx) + s + this.slice(idx + Math.abs(rem)));
};
//*********************************************
//*** Unused Functions ************************
//*********************************************

</script>
{% endblock %}